importComponent('checkbox')

.spectrum-Checkbox {
  @extends $spectrum-checkbox
}

.spectrum-Checkbox-checkmark {
  @extends $spectrum-checkbox-checkmark
}

.spectrum-Checkbox-input {
  @extends $spectrum-checkbox-input

  &:checked + .spectrum-Checkbox-checkmark {
    @extends $spectrum-checkbox--checked-checkmark
  }
}

.spectrum-Checkbox[indeterminate] .spectrum-Checkbox-checkmark {
  @extends $spectrum-checkbox--indeterminate-checkmark
}

.spectrum-Checkbox-description {
  @extends $spectrum-checkbox-description
}

@import 'light.styl'
@import 'dark.styl'
