.spectrum-Checkbox-description {
  spectrum-checkbox-description()
}

.spectrum-Checkbox-checkmark {
  spectrum-checkbox-checkmark()
}

.spectrum-Checkbox-input {
  &:checked + .spectrum-Radio-checkmark {
    spectrum-checkbox--checked-checkmark()
  }

  &:focus + .spectrum-Checkbox-checkmark {
    spectrum-checkbox--focus-checkmark()
  }
}

.spectrum-Checkbox {
  &:hover {
    .spectrum-Checkbox-checkmark {
      spectrum-checkbox--hover-checkmark()
    }
  }

  &:active {
    .spectrum-Checkbox-checkmark {
      spectrum-checkbox--active-checkmark()
    }
  }

  &:disabled,
  &.is-disabled {
    .spectrum-Checkbox-checkmark {
      spectrum-checkbox--disabled-checkmark()
    }

    .spectrum-Checkbox-description {
      spectrum-checkbox--disabled-description()
    }
  }
}
