@require '../commons'

$spectrum-dialog-title--error {
  color: $spectrum-color-dialog-header-error
}

$spectrum-dialog-typeIcon--error {
  color: $spectrum-color-dialog-icon-error
}

$spectrum-dialog-title--warning {
  color: $spectrum-color-dialog-header-warning
}

$spectrum-dialog-typeIcon--warning {
  color: $spectrum-color-dialog-icon-warning
}

$spectrum-dialog-title--success {
  color: $spectrum-color-dialog-header-success
}

$spectrum-dialog-typeIcon--success {
  color: $spectrum-color-dialog-icon-success
}

$spectrum-dialog-title--info {
  color: $spectrum-color-dialog-header-info
}

$spectrum-dialog-typeIcon--info {
  color: $spectrum-color-dialog-icon-info
}


$spectrum-dialog {
  background: $spectrum-color-modal-overlay-background
}

$spectrum-dialog-wrapper {
  background: $spectrum-color-dialog-background
}

$spectrum-dialog-header {
  background: $spectrum-color-dialog-background

  &:after {
    background: $spectrum-color-dialog-popover-border
  }
}

$spectrum-dialog-footer {
  background: $spectrum-color-dialog-background
}
