/* these comments can be included in the output css, for us they are used by
   topdoc to generate the documentation we publish...

   you can probably ignore them unless you want to generate documentation
   or you want to help fix our documentation :)

   note:
     the '!'' tells stylus to preserve the comment into output css
     the 'topdoc' let's topdoc know it should parse the comment for YAML
*/

/*! topdoc
  name: Tooltip - Default
  description: A Spectrum tooltip
  markup: |
    <span class="spectrum-Tooltip spectrum-Tooltip--is-open">
      <span class="spectrum-Tooltip-content">Normal Tooltip<div class="spectrum-Tooltip-tip"></div></span>
    </span>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Tooltip - Success
  description: A Spectrum tooltip
  markup: |
    <span class="spectrum-Tooltip spectrum-Tooltip--success spectrum-Tooltip--is-open">
      <span class="spectrum-Tooltip-content">Success Tooltip<div class="spectrum-Tooltip-tip"></div></span>
    </span>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Tooltip - Info / Help
  description: A Spectrum tooltip
  markup: |
    <span class="spectrum-Tooltip spectrum-Tooltip--info spectrum-Tooltip--is-open">
      <span class="spectrum-Tooltip-content">Info Tooltip<div class="spectrum-Tooltip-tip"></div></span>
    </span>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Tooltip - Error
  description: A Spectrum tooltip
  markup: |
    <span class="spectrum-Tooltip spectrum-Tooltip--error spectrum-Tooltip--is-open">
      <span class="spectrum-Tooltip-content">Error Tooltip<div class="spectrum-Tooltip-tip"></div></span>
    </span>
  tags:
    - desktop
    - light
    - mobile
    - button
*/


/*! topdoc
  name: Tooltip - Links
  description: A Spectrum tooltip
  markup: |
    <span class="spectrum-Tooltip spectrum-Tooltip--is-open">
      <span class="spectrum-Tooltip-content"><a href="#" class="spectrum-Link spectrum-Link--subtle">Link to</a><div class="spectrum-Tooltip-tip"></div></span>
    </span>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Tooltip - Icons
  description: A Spectrum tooltip
  markup: |
    <span class="spectrum-Tooltip spectrum-Tooltip--is-open">
      <span class="spectrum-Tooltip-content">
        <span class="spectrum-Icon spectrum-Icon--sizeXS spectrum-Icon--Note spectrum-Tooltip-typeIcon"></span>&nbsp;Normal<div class="spectrum-Tooltip-tip"></div>
      </span>
    </span>
    <br>
    <span class="spectrum-Tooltip spectrum-Tooltip--success spectrum-Tooltip--is-open">
      <span class="spectrum-Tooltip-content">
        <span class="spectrum-Icon spectrum-Icon--sizeXS spectrum-Icon--Check-Circle spectrum-Tooltip-typeIcon"></span>&nbsp;Success<div class="spectrum-Tooltip-tip"></div>
      </span>
    </span>
    <br>
    <span class="spectrum-Tooltip spectrum-Tooltip--info spectrum-Tooltip--is-open">
      <span class="spectrum-Tooltip-content">
        <span class="spectrum-Icon spectrum-Icon--sizeXS spectrum-Icon--Info-Circle spectrum-Tooltip-typeIcon"></span>&nbsp;Info<div class="spectrum-Tooltip-tip"></div>
      </span>
    </span>
    <br>
    <span class="spectrum-Tooltip spectrum-Tooltip--error spectrum-Tooltip--is-open">
      <span class="spectrum-Tooltip-content">
        <span class="spectrum-Icon spectrum-Icon--sizeXS spectrum-Icon--Alert spectrum-Tooltip-typeIcon"></span>&nbsp;Info<div class="spectrum-Tooltip-tip"></div>
      </span>
    </span>
  tags:
    - desktop
    - light
    - mobile
    - button
*/


/*! topdoc
  name: Tooltip - Demo Button
  description: A Spectrum tooltip
  markup: |
    <div class="spectrum-Tooltip-hover" style="margin: 15px">
        Tooltip Demo Bottom
        <span class="spectrum-Tooltip spectrum-Tooltip--bottom">
            <span class="spectrum-Tooltip-content">Tooltip Bottom<div class="spectrum-Tooltip-tip"></div></span>
        </span>
    </div>
    <br>
    <div class="spectrum-Tooltip-hover" style="margin: 15px">
        Tooltip Demo Left
        <span class="spectrum-Tooltip spectrum-Tooltip--left">
            <span class="spectrum-Tooltip-content">Tooltip Left<div class="spectrum-Tooltip-tip"></div></span>
        </span>
    </div>
    <br>
    <div class="spectrum-Tooltip-hover" style="margin: 15px">
        Tooltip Demo Right
        <span class="spectrum-Tooltip spectrum-Tooltip--right">
            <span class="spectrum-Tooltip-content">Tooltip Right<div class="spectrum-Tooltip-tip"></div></span>
        </span>
    </div>
    <br>
    <div class="spectrum-Tooltip-hover" style="margin: 15px">
        Tooltip Demo Top
        <span class="spectrum-Tooltip spectrum-Tooltip--top">
            <span class="spectrum-Tooltip-content">Tooltip Top<div class="spectrum-Tooltip-tip"></div></span>
        </span>
    </div>

  tags:
    - desktop
    - light
    - mobile
    - button
*/



