@import '../commons/index.css';

:root {
  --spectrum-field-min-width: 100px;
  --spectrum-field-label-margin: 0 0 6px;
  --spectrum-field-label-left-margin: 10px 5px 6px 0;
}

/* topdoc
{{ fieldlabel/fieldlabel.yml }}
*/
.spectrum-FieldLabel {
  display: block;

  min-width: var(--spectrum-field-min-width);

  margin: var(--spectrum-field-label-margin);

  font-size: var(--spectrum-font-size-text-label);
  line-height: var(--spectrum-line-height-text-label);

  vertical-align: top;

  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-smoothing: subpixel-antialiased;
}

/* topdoc
{{ fieldlabel/fieldlabel-left.yml }}
*/
.spectrum-FieldLabel--left {
  display: inline-block;
  margin: var(--spectrum-field-label-left-margin);
}
