.spectrum-ToggleSwitch-switch {
  /* :before is used for the track of the switch */
  &::before {
    background-color: var(--spectrum-switch-track-color-default);
  }

  /* :after is used for the handle of the switch */
  &::after {
    background-color: var(--spectrum-switch-handle-background-color-default);
    border-color: var(--spectrum-switch-handle-border-color-default);
  }
}

.spectrum-ToggleSwitch-input {
  &:checked + .spectrum-ToggleSwitch-switch {
    &::before {
      background-color: var(--spectrum-switch-track-color-selected);
    }

    &::after {
      border-color: var(--spectrum-switch-handle-border-color-selected);
    }
  }

  &:focus-ring {
    & + .spectrum-ToggleSwitch-switch {
      &::after {
        border-color: var(--spectrum-switch-handle-border-color-key-focus);
        box-shadow: 0 0 0 1px var(--spectrum-switch-handle-border-color-key-focus);
      }
    }

    &:checked + .spectrum-ToggleSwitch-switch {
      &::before {
        background-color: var(--spectrum-switch-track-color-default);
      }
    }

    & ~ .spectrum-ToggleSwitch-label {
      color: var(--spectrum-switch-text-color-key-focus);
    }
  }
}

.spectrum-ToggleSwitch {
  &:hover {
    .spectrum-ToggleSwitch-input {
      & + .spectrum-ToggleSwitch-switch {
        &::after {
          border-color: var(--spectrum-switch-handle-border-color-hover);
          box-shadow: none;
        }
      }

      &:checked:enabled + .spectrum-ToggleSwitch-switch {
        &::before {
          background-color: var(--spectrum-switch-track-color-selected-hover);
        }
        &::after {
          border-color: var(--spectrum-switch-handle-border-color-selected-hover);
        }
      }

      & ~ .spectrum-ToggleSwitch-label {
        color: var(--spectrum-switch-text-color-hover);
      }
    }
  }

  &:active {
    .spectrum-ToggleSwitch-input {
      & + .spectrum-ToggleSwitch-switch {
        &::after {
          border-color: var(--spectrum-switch-handle-border-color-down);
        }
      }

      &:checked:enabled + .spectrum-ToggleSwitch-switch {
        &::before {
          background-color: var(--spectrum-switch-track-color-selected-down);
        }
        &::after {
          border-color: var(--spectrum-switch-handle-border-color-selected-down);
        }
      }

      & ~ .spectrum-ToggleSwitch-label {
        color: var(--spectrum-switch-text-color-down);
      }
    }
  }

  .spectrum-ToggleSwitch-input {
    &:disabled {
      & ~ .spectrum-ToggleSwitch-label {
        color: var(--spectrum-switch-text-color-disabled);
      }

      & + .spectrum-ToggleSwitch-switch {
        &::before {
          background-color: var(--spectrum-switch-track-color-disabled);
        }

        &::after {
          border-color: var(--spectrum-switch-handle-border-color-disabled);
        }
      }

      &:checked + .spectrum-ToggleSwitch-switch {
        &::before {
          background-color: var(--spectrum-switch-track-color-disabled-selected);
        }
      }
    }
  }
}


.spectrum-ToggleSwitch--ab {
  .spectrum-ToggleSwitch-input {
    & {
      &:checked + .spectrum-ToggleSwitch-switch {
        &::before {
          background-color: var(--spectrum-switch-track-color-default);
        }
      }
    }

    &:checked + .spectrum-ToggleSwitch-switch {
      &::after {
        /* Don't be blue */
        border-color: var(--spectrum-switch-handle-border-color-default);
      }
    }

    &:focus-ring {
      &:checked + .spectrum-ToggleSwitch-switch {
        &::before {
          background-color: var(--spectrum-switch-track-color-default);
        }
        &::after {
          border-color: var(--spectrum-switch-handle-border-color-key-focus);
        }
      }
    }

    &:disabled {
      &:checked + .spectrum-ToggleSwitch-switch {
        &::before {
          background-color: var(--spectrum-switch-track-color-disabled);
        }
      }

      & + .spectrum-ToggleSwitch-switch {
        &::before {
          background-color: var(--spectrum-switch-track-color-disabled);
        }

        &::after {
          border-color: var(--spectrum-switch-handle-border-color-disabled);
        }
      }
    }
  }

  &:hover {
    .spectrum-ToggleSwitch-input {
      &:checked:enabled + .spectrum-ToggleSwitch-switch {
        &::before {
          background-color: var(--spectrum-switch-track-color-default);
        }
        &::after {
          border-color: var(--spectrum-switch-handle-border-color-hover);
        }
      }
    }
  }

  &:active {
    .spectrum-ToggleSwitch-input {
      &:checked:enabled + .spectrum-ToggleSwitch-switch {
        &::before {
          background-color: var(--spectrum-switch-track-color-default);
        }
        &::after {
          border-color: var(--spectrum-switch-handle-border-color-down);
        }
      }
    }
  }
}
