/* these comments can be included in the output css, for us they are used by
   topdoc to generate the documentation we publish...

   you can probably ignore them unless you want to generate documentation
   or you want to help fix our documentation :)

   note:
     the '!'' tells stylus to preserve the comment into output css
     the 'topdoc' let's topdoc know it should parse the comment for YAML
*/

/*! topdoc
  name: Progress - Small
  description: A Spectrum 'small' progress (normal & indeterminate)
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup: |
    <div style="width: 200px; height: 25px; padding-top: 10px;">
      <div class="spectrum-Progress spectrum-Progress--noLabel spectrum-Progress--small" value="50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        <div class="spectrum-Progress-bar">
          <div class="spectrum-Progress-status" handle="status" style="width: 50%;"></div>
        </div>
        <div class="spectrum-Progress-label" hidden=""></div>
      </div>
    </div>
    <div style="width: 200px; height: 25px; padding-top: 10px;">
      <div class="spectrum-Progress spectrum-Progress--bottomLabel spectrum-Progress--small spectrum-Progress--indeterminate" value="50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        <div class="spectrum-Progress-bar">
          <div class="spectrum-Progress-status" handle="status" style="width: 0%;"></div>
        </div>
        <div class="spectrum-Progress-label">indeterminate</div>
      </div>
    </div>
  tags:
    - desktop
    - light
    - mobile
    - button
*/


/*! topdoc
  name: Progress - Medium
  description: A Spectrum 'medium' progress (normal & indeterminate)
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup: |
    <div style="width: 200px; height: 25px; padding-top: 10px;">
      <div class="spectrum-Progress spectrum-Progress--noLabel spectrum-Progress--medium" value="50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        <div class="spectrum-Progress-bar">
          <div class="spectrum-Progress-status" handle="status" style="width: 50%;"></div>
        </div>
        <div class="spectrum-Progress-label" hidden=""></div>
      </div>
    </div>
    <div style="width: 200px; height: 25px; padding-top: 10px;">
      <div class="spectrum-Progress spectrum-Progress--bottomLabel spectrum-Progress--medium spectrum-Progress--indeterminate" value="50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        <div class="spectrum-Progress-bar">
          <div class="spectrum-Progress-status" handle="status" style="width: 0%;"></div>
        </div>
        <div class="spectrum-Progress-label">indeterminate</div>
      </div>
    </div>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Progress - Large
  description: A Spectrum 'large' progress (normal & indeterminate)
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup: |
    <div style="width: 200px; height: 25px; padding-top: 10px;">
      <div class="spectrum-Progress spectrum-Progress--noLabel spectrum-Progress--large" value="50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        <div class="spectrum-Progress-bar">
          <div class="spectrum-Progress-status" handle="status" style="width: 50%;"></div>
        </div>
        <div class="spectrum-Progress-label" hidden=""></div>
      </div>
    </div>
    <div style="width: 200px; height: 25px; padding-top: 10px;">
      <div class="spectrum-Progress spectrum-Progress--bottomLabel spectrum-Progress--large spectrum-Progress--indeterminate" value="50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        <div class="spectrum-Progress-bar">
          <div class="spectrum-Progress-status" handle="status" style="width: 0%;"></div>
        </div>
        <div class="spectrum-Progress-label">indeterminate</div>
      </div>
    </div>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Progress - With Label
  description: A Spectrum 'Medium' progress with a label (left, bottom & right)
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup: |
    <div style="width: 200px; height: 25px; padding-top: 10px;">
      <div class="spectrum-Progress spectrum-Progress--leftLabel spectrum-Progress--medium" value="50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        <div class="spectrum-Progress-label">left label</div>
        <div class="spectrum-Progress-bar">
          <div class="spectrum-Progress-status" handle="status" style="width: 50%;"></div>
        </div>
      </div>
    </div>
    <div style="width: 200px; height: 25px; padding-top: 10px;">
      <div class="spectrum-Progress spectrum-Progress--bottomLabel spectrum-Progress--medium" value="50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        <div class="spectrum-Progress-bar">
          <div class="spectrum-Progress-status" handle="status" style="width: 50%;"></div>
        </div>
        <div class="spectrum-Progress-label">bottom label</div>
      </div>
    </div>
    <div style="width: 200px; height: 25px; padding-top: 10px;">
      <div class="spectrum-Progress spectrum-Progress--rightLabel spectrum-Progress--medium" value="50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        <div class=" spectrum-Progress-bar">
          <div class=" spectrum-Progress-status" handle="status" style="width: 50%;"></div>
        </div>
        <div class="spectrum-Progress-label">right label</div>
      </div>
    </div>
  tags:
    - desktop
    - light
    - mobile
    - button
*/



