@import '../commons/index.css';

/* topdoc
{{ select/select-default.yml }}
*/
.spectrum-Select {
  position: relative;
  box-sizing: border-box;
  transition: border-color var(--spectrum-transition-time);
  border-radius: var(--spectrum-border-radius);
  font-size: var(--spectrum-select-font-size-default);
  cursor: pointer;
  display: inline-block;

  .spectrum-Flyout {
    opacity: 0;
    pointer-events: none;
    margin-top:var(--spectrum-select-margin-default);
    transition: opacity var(--spectrum-transition-time), transform var(--spectrum-transition-time);
  }

  &.is-disabled {
    border-width: 0;

    .spectrum-Select-trigger {
      border-width: 0;
      cursor: default;
    }
  }

  &.is-open {
    transition: border-color var(--spectrum-transition-time);

    .spectrum-Select-trigger {
      transition: background-color var(--spectrum-transition-time);
      border: 1px solid;
    }

    .spectrum-Flyout {
      opacity: 1;
      transform: translateY(4px); /*needed for the proper spectrum transition*/
      pointer-events: all;
      position: absolute;
    }
  }
}

.spectrum-Select-trigger {
  width: 100%;
  font-style: italic;
  height: var(--spectrum-select-height-default);
  border: 1px solid;
  border-radius: var(--spectrum-border-radius);
  outline: none;
  margin: 0;
  cursor: pointer;
  padding: 0 var(--spectrum-select-padding-default);
  font-family: inherit;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color var(--spectrum-transition-time);
}

.spectrum-Select-options {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.spectrum-Select-option {
  position: relative;

  padding: 0 var(--spectrum-select-padding-default);
  height: var(--spectrum-select-height-default);
  display: flex;
  align-items: center;

  &.is-selected {
    &::after {
      position: absolute;
      right: var(--spectrum-select-padding-default);
      top: 11px;
      width: var(--spectrum-select-check-icon-width-default);
      height: var(--spectrum-select-check-icon-height-default);
      background-repeat: no-repeat;
      background-size: var(--spectrum-select-check-icon-width-default) var(--spectrum-select-check-icon-height-default);
      opacity: 1;
      content: '';
    }
  }
}

.spectrum-Select-open-icon {
  position: relative;
  width: 18px;
  height: 18px;
  margin-left: 4px; /* to create a gap between label and icon in quiet mode */
  margin-right: 8px; /* to create a gap between icons */

  &::after {
    position: absolute;
    top: 6px;
    left: 6px;
    width: var(--spectrum-select-chevron-icon-width-default);
    height: var(--spectrum-select-chevron-icon-height-default);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    content: '';
  }
}

/* topdoc
{{ select/select-quiet.yml }}
*/