/* these comments can be included in the output css, for us they are used by
   topdoc to generate the documentation we publish...

   you can probably ignore them unless you want to generate documentation
   or you want to help fix our documentation :)

   note:
     the '!'' tells stylus to preserve the comment into output css
     the 'topdoc' let's topdoc know it should parse the comment for YAML
*/

/*! topdoc
  name: Text Field - Default
  description: A Spectrum text field
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup: |
    <input type="text" placeholder="Enter your name" name="field" value="" class="spectrum-Textfield">
    <input type="text" placeholder="Enter your name" name="field" value="" class="spectrum-Textfield" disabled>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Text Field - Quiet
  description: A Spectrum text field - quiet
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup: |
    <input type="text" placeholder="Enter your name" name="field" value="" class="spectrum-Textfield spectrum-Textfield--quiet">
    <input type="text" placeholder="Enter your name" name="field" value="" class="spectrum-Textfield spectrum-Textfield--quiet" disabled>
  tags:
    - desktop
    - light
    - mobile
    - button
*/


/*! topdoc
  name: Text Area - Default
  description: A Spectrum text area - (a multiline text field)
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup: |
    <textarea placeholder="Enter your name" name="field" value="" class="spectrum-Textfield spectrum-Textfield--multiline"></textarea>
    <textarea placeholder="Enter your name" name="field" value="" class="spectrum-Textfield spectrum-Textfield--multiline" disabled></textarea>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Text Area - Quiet
  description: A Spectrum text area - quiet
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup: |
    <textarea placeholder="Enter your name" name="field" value="" class="spectrum-Textfield spectrum-Textfield--multiline spectrum-Textfield--quiet"></textarea>
    <textarea placeholder="Enter your name" name="field" value="" class="spectrum-Textfield spectrum-Textfield--multiline spectrum-Textfield--quiet" disabled></textarea>
  tags:
    - desktop
    - light
    - mobile
    - button
*/
