@require '../commons'

spectrum-textfield--hovered() {
  &::placeholder {
    color: $spectrum-color-input-placeholder-hover
  }
}

spectrum-textfield--focused() {
  border-color: $spectrum-color-input-border-focus;
  box-shadow: 0 0 0 1*$px $spectrum-color-input-border-focus;
}

spectrum-textfield--disabled() {
  background-color: $spectrum-color-input-background-disabled;
  border-color: $spectrum-color-input-border-disabled;
  color: $spectrum-color-input-text-disabled;

  /* For safari mobile browser */
  -webkit-text-fill-color: $spectrum-color-input-text-disabled;

  &::placeholder {
    color: $spectrum-color-input-placeholder-disabled
  }
}

spectrum-textfield--invalid() {
  border-color: $spectrum-color-input-border-invalid;

  &:focus { /* might break things due to pre-defined focus */
    box-shadow: 0 0 0 1*$px $spectrum-color-input-border-invalid;
  }
}

spectrum-textfield() {
  border-color: $spectrum-color-input-border;
  background-color: $spectrum-color-input-background;
  color: $spectrum-color-input-text;

  &::placeholder {
    color: $spectrum-color-input-placeholder
  }

  &:hover {
    spectrum-textfield--hovered()
  }

  &:focus {
    spectrum-textfield--focused()
  }

  &:disabled {
    spectrum-textfield--disabled()
  }

  &:invalid {
    spectrum-textfield--invalid()
  }
}

spectrum-textfield--quiet--focus() {
  box-shadow: 0 1*$px 0 $spectrum-color-input-border-focus;
}

spectrum-textfield--quiet--disabled() {
  border-color:  $spectrum-color-input-border-disabled-quiet;
  background-color: transparent;
}

spectrum-textfield--quiet--invalid() {
  border-color: $spectrum-color-input-border-invalid;

  &:focus {
    box-shadow: 0 1*$px 0 $spectrum-color-input-border-invalid;
  }
}

spectrum-textfield--quiet() {
  background-color: transparent;
  border-color: $spectrum-color-input-border;
  color: $spectrum-color-input-text;

  &:focus {
    spectrum-textfield--quiet--focus()
  }

  &:disabled {
    spectrum-textfield--quiet--disabled()
  }

  &:invalid {
    spectrum-textfield--quiet--invalid()
  }
}
