@import list-mixin

/*
 List
 ------------

    <div class="topcoat-list__container">
      <h3 class="topcoat-list__header">Category</h3>
      <ul class="topcoat-list">
        <li class="topcoat-list__item">
          Item
        </li>
        <li class="topcoat-list__item">
          Item
        </li>
        <li class="topcoat-list__item">
          Item
        </li>
      </ul>
    </div>

*/

.topcoat-list__container
  list-container()
  border-top var-border-top--list-container
  border-bottom var-border-bottom--list
  background-color var-background-color--list

.topcoat-list__header
  list-header()
  padding var-padding--list-header
  font-size var-font-size--list-header
  font-weight var-font-weight--list-header
  background-color var-background-color--list-header
  color var-color--list-header
  text-shadow var-text-shadow--list-header
  border-top var-border-top--list-header
  border-bottom var-border-bottom--list-header

.topcoat-list
  list()
  border-top var-border-top--list
  color var-color

.topcoat-list__item
  list-item()
  padding var-padding--list-item
  border-top var-border-top--list-item
  border-bottom var-border-bottom--list-item

.topcoat-list__item:first-child
  border-top var-border-top--list-item--first

