@import 'abstract/components/tooltip/skin.styl'

/*! topdoc
{{ tooltip-default-topdoc }}
*/
.spectrum-Tooltip {
  .spectrum-Tooltip-content,
  .spectrum-Tooltip-tip:after {
    spectrum-tooltip--default()
  }
}

/*! topdoc
{{ tooltip-error-topdoc }}
*/
.spectrum-Tooltip--error {
  .spectrum-Tooltip-content,
  .spectrum-Tooltip-tip:after {
    spectrum-tooltip--error()
  }
}

/*! topdoc
{{ tooltip-info-topdoc }}
*/
.spectrum-Tooltip--info {
  .spectrum-Tooltip-content,
  .spectrum-Tooltip-tip:after {
    spectrum-tooltip--info()
  }
}

/*! topdoc
{{ tooltip-success-topdoc }}
*/
.spectrum-Tooltip--success {
  .spectrum-Tooltip-content,
  .spectrum-Tooltip-tip:after {
    spectrum-tooltip--success()
  }
}
