.topcoat-overlay-bg
aside.overlay-base
    h1 Are eagles nice ?
    .topcoat-overlay-buttons
        button(class="topcoat-button", role="button") No
        button(class="topcoat-button--cta", role="button") Yes
