.spectrum-Pagination-pageButton {
  &:hover {
    background-color: var(--spectrum-pagination-page-button-background-color-hover);
  }

  &:focus {
    border-color: var(--spectrum-pagination-page-button-border-color-key-focus);
  }

  &.is-active {
    background-color: var(--spectrum-pagination-page-button-background-color-down);
    color: var(--spectrum-pagination-page-button-text-color-down);
  }
}
