@import 'abstract/components/radio/skin.styl'

.spectrum-Radio-input {
  spectrum-radio-input()

  &:checked + .spectrum-Radio-checkmark {
    spectrum-radio-checkmark--checked()
  }

  &:focus + .spectrum-Radio-checkmark {
    spectrum-radio-checkmark--focus()
  }

  &:disabled {
    spectrum-radio-checkmark--disabled()
  }

  &:disabled ~ .spectrum-Radio-label {
    spectrum-radio-label--disabled()
  }
}


/*! topdoc
{{ radio-default-topdoc }}
*/
.spectrum-Radio {

  .spectrum-Radio-label {
    spectrum-radio-label()
  }

  .spectrum-Radio-checkmark {
    spectrum-radio-checkmark()
  }

  &:hover {
    .spectrum-Radio-checkmark {
      spectrum-radio-checkmark--hover()
    }

    .spectrum-Radio-label {
      spectrum-radio-label--hover()
    }
  }

  &:active {
    .spectrum-Radio-checkmark {
      spectrum-radio-checkmark--active()
    }

    .spectrum-Radio-label {
      spectrum-radio-label--active()
    }
  }

/*! topdoc
{{ radio-disabled-topdoc }}
*/
  &[disabled] {
    .spectrum-Radio-checkmark {
      spectrum-radio-checkmark--disabled()
    }

    .spectrum-Radio-label {
      spectrum-radio-label--disabled()
    }
  }
}
