.spectrum-InputGroup {
  &:hover {
    .spectrum-InputGroup-input:not(:disabled):not(.is-invalid):not(:focus) {
      &,
      & ~ .spectrum-InputGroup-button {
        border-color: var(--spectrum-input-border-color-hover);
      }
    }
  }
}

.spectrum-InputGroup-input:focus {
  ~ .spectrum-InputGroup-button {
    border-color: var(--spectrum-dropdown-border-color-key-focus);
  }

  &.is-invalid,
  &:invalid {
    ~ .spectrum-InputGroup-button {
      border-color: var(--spectrum-dropdown-border-color-invalid-default);
    }
  }
}

/* Only add the 2px ring for keyboard focus */
.spectrum-InputGroup-input:focus-ring {
  ~ .spectrum-InputGroup-button {
    box-shadow: 0 0 0 1px var(--spectrum-dropdown-border-color-key-focus);
  }

  &.is-invalid,
  &:invalid {
    ~ .spectrum-InputGroup-button {
      box-shadow: 0 0 0 1px var(--spectrum-dropdown-border-color-invalid-default);
    }
  }
}

.spectrum-InputGroup--quiet {
  .spectrum-InputGroup-button {
    &,
    &:hover,
    &:focus,
    &:active,
    &.is-selected,
    &:invalid,
    &.is-invalid,
    &:disabled,
    &:disabled:hover {
      border-color: var(--spectrum-input-quiet-border-color-default);
    }
  }

  &:hover {
    .spectrum-InputGroup-input:not(:disabled):not(.is-invalid):not(:focus) {
      &,
      & ~ .spectrum-InputGroup-button {
        border-color: var(--spectrum-input-quiet-border-color-hover);
      }
    }
  }

  .spectrum-InputGroup-input {
    &.is-invalid,
    &:invalid {
      &,
      ~ .spectrum-InputGroup-button {
        border-color: var(--spectrum-input-invalid-border-color-default);
      }
    }

    /* Always add the 2px ring for keyboard focus for quiet inputgroups */
    &:focus {
      ~ .spectrum-InputGroup-button {
        box-shadow: 0 1px 0 var(--spectrum-input-quiet-border-color-key-focus);
        border-color: var(--spectrum-input-quiet-border-color-key-focus);
      }

      &.is-invalid,
      &:invalid {
        ~ .spectrum-InputGroup-button {
          box-shadow: 0 1px 0 var(--spectrum-input-invalid-border-color-default);
          border-color: var(--spectrum-input-invalid-border-color-default);
        }
      }
    }
  }
}
