.spectrum-InputGroup-input:focus {
  ~ .spectrum-InputGroup-button {
    border-color: var(--spectrum-dropdown-border-color-focus);
    box-shadow: 0 0 0 1px var(--spectrum-dropdown-border-color-focus);
  }

  &.is-invalid,
  &:invalid {
    ~ .spectrum-InputGroup-button {
      border-color: var(--spectrum-dropdown-border-color-invalid-default);
      box-shadow: 0 0 0 1px var(--spectrum-dropdown-border-color-invalid-default);
    }
  }
}

.spectrum-InputGroup--quiet {
  .spectrum-InputGroup-button {
    border-color: var(--spectrum-input-quiet-border-color-default);
  }

  &:hover {
    .spectrum-InputGroup-button {
      border-color: var(--spectrum-input-quiet-border-color-hover);
    }
  }

  .spectrum-InputGroup-input {
    &.is-invalid,
    &:invalid {
      ~ .spectrum-InputGroup-button {
        border-color: var(--spectrum-input-invalid-border-color-default);
      }
    }

    &:focus {
      ~ .spectrum-InputGroup-button {
        border-color: var(--spectrum-input-quiet-border-color-focus);
        box-shadow: 0 1px 0 var(--spectrum-input-quiet-border-color-focus);
      }

      &.is-invalid,
      &:invalid {
        ~ .spectrum-InputGroup-button {
          border-color: var(--spectrum-input-invalid-border-color-default);
          box-shadow: 0 1px 0 var(--spectrum-input-invalid-border-color-default);
        }
      }
    }
  }
}
