-var repeats = 1000
!!!
html
    head
        title TopCoat buttons test
        |<link rel="stylesheet" type="text/css" href="../../../../../doc/css/normalize.css">
        |<link rel="stylesheet" type="text/css" href="../../../../../doc/css/styleguide.css">
        |<link rel="stylesheet" type="text/css" href="../../../../../release/css/topcoat-min.css">
    body
        -while (repeats > 0)
            -var repeats = repeats - 1
            |<h4 id="button"><span>Button</span></h4>
            |<table class="preview" role="presentation">
            |<tr role="presentation">
            |    <td class="bg-light" role="presentation">
            |        <p>
            |            <a href="#button" class="button" role="button">Button</a>
            |            <a class="button disabled" role="button" aria-disabled="true">Disabled Button</a>
            |        </p>
            |        <p>
            |            <a href="#button" class="button quiet" role="button">Quiet Button</a>
            |            <a class="button quiet disabled" role="button" aria-disabled="true">Disabled Quiet Button</a>
            |        </p>
            |        <p>
            |            <a href="#button" class="button large" role="button">Large Button</a>
            |            <a class="button large disabled" role="button" aria-disabled="true">Large Disabled Button</a>
            |        </p>
            |        <p>
            |            <a href="#button" class="button large quiet" role="button">Quiet Button</a>
            |            <a class="button large quiet disabled" role="button" aria-disabled="true">Disabled Quiet Button</a>
            |        </p>
            |    </td>
            |    <td class="bg-slategray" role="presentation">
            |        <p>
            |            <a href="#button" class="button dark" role="button">Button</a>
            |            <a class="button dark disabled" role="button" aria-disabled="true">Disabled Dark Button</a>
            |        </p>
            |        <p>
            |            <a href="#button" class="button dark quiet" role="button">Quiet Button</a>
            |            <a class="button dark quiet disabled" role="button" aria-disabled="true">Disabled Quiet Button</a>
            |        </p>
            |        <p>
            |            <a href="#button" class="button large dark" role="button">Large Button</a>
            |            <a class="button large dark disabled" role="button" aria-disabled="true">Large Disabled Button</a>
            |        </p>
            |        <p>
            |            <a href="#button" class="button large dark quiet" role="button">Large Quiet Button</a>
            |            <a class="button large dark quiet disabled" role="button" aria-disabled="true">Large Disabled Quiet Button</a>
            |        </p>
            |    </td>
            |</tr>
            x|</table>
