-var repeats = 200
!!!
html
    head
        title TopCoat buttons test
        |<link rel="stylesheet" type="text/css" href="../../../../../doc/css/normalize.css">
        |<link rel="stylesheet" type="text/css" href="../../../../../doc/css/styleguide.css">
        |<link rel="stylesheet" type="text/css" href="../../../../../release/css/topcoat-min.css">
    body
        -while (repeats > 0)
            -var repeats = repeats - 1
            include buttons.html
