@import 'icons/FontIcon.styl'

/* No path, since CSS will be in the same folder as the 18/ and 24/ folders */
spectrum-FontIcon-fontface('icons/')

/* Create CSS classes from placeholders */
.spectrum-Icon {
  spectrum-FontIcon()
}

.spectrum-Icon--sizeXXS {
  spectrum-FontIcon--sizeXXS()
}

.spectrum-Icon--sizeXS {
  spectrum-FontIcon--sizeXS()
}

.spectrum-Icon--sizeS {
  spectrum-FontIcon--sizeS()
}

.spectrum-Icon--sizeM {
  spectrum-FontIcon--sizeM()
}

.spectrum-Icon--sizeL {
  spectrum-FontIcon--sizeL()
}

.spectrum-Icon--sizeXL {
  spectrum-FontIcon--sizeXL()
}

.spectrum-Icon--sizeXXL {
  spectrum-FontIcon--sizeXXL()
}

spectrum-FontIcon-iconclasses('.spectrum-Icon--')

