/* these comments can be included in the output css, for us they are used by
   topdoc to generate the documentation we publish...

   you can probably ignore them unless you want to generate documentation
   or you want to help fix our documentation :)

   note:
     the '!'' tells stylus to preserve the comment into output css
     the 'topdoc' let's topdoc know it should parse the comment for YAML
*/

/*! topdoc
  name: Link - Default
  description: A link
  markup: |
    <a href="#" class="spectrum-Link">Link using spectrum-Link</a>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Link - Subtle
  description: A subtle link
  markup: |
    <p> This uses <a href="#" class="spectrum-Link spectrum-Link--subtle">spectrum-Link--subtle</a>.</p>
  tags:
    - desktop
    - light
    - mobile
    - button
*/
