@import 'abstract/components/typography/index.styl'

// holds global styles, like body:background-color and font-familiy

/*! topdoc
{{ typography-default-topdoc }}
*/
@import 'font.styl'

& {
  spectrum-body()
}

.spectrum-Body {
  spectrum-body()
}

.spectrum-Body--italic {
  spectrum-body()
  spectrum-body--italic()
}

.spectrum-Body--large {
  spectrum-body--large()
}

.spectrum-Body--small {
  spectrum-body--small()
}

.spectrum-Body--secondary {
  spectrum-body--secondary()
}

.spectrum-Heading--display {
  spectrum-heading--display()
}

.spectrum-Heading--page-title {
  spectrum-heading--page-title()
}

.spectrum-Heading--subtitle1 {
  spectrum-heading--subtitle1()
}

.spectrum-Heading--subtitle2 {
  spectrum-heading--subtitle2()
}

.spectrum-Heading--subtitle3 {
  spectrum-heading--subtitle3()
}

@import 'skin.styl'
