:root {
  --base-font-size: 12px;
  --font-size: 1rem;
  --font-size--large: 1.16rem;
  --font-size--header: 1.5rem;
  --font-weight: 400;
  --font-weight--large: 600;
  --letter-spacing: 0;
  --border-radius: 4px;
  --border-radius--large: 15px;
  --border-radius--huge: 25px;
  --padding: 0.25rem 0.75rem;
  --padding--large: 0.28rem 1.16rem;
  --height: 1.313rem;
  --height--large: 1.688rem;
  --line-height: var(--height);
  --line-height--large: var(--height--large);
  --vertical-align: top;
  --size--icon: 0.81406rem;
  --size--icon--large: 1.06344rem;
  --padding--icon-button: 0 0.25rem;
  --icon-top: -1px;
  --icon-top--large: -2px;
  --padding--navigation-bar: 1rem;
  --padding--list-header: 0.3rem 1.6rem;
  --padding--list-item: 1.16rem;
  --font-size--list-header: .9em;
  --font-weight--list-header: var(--font-weight);
  --search-icon: url("../img/search.svg");
  --background-image--search-input: var(--search-icon);
  --font-size--textarea: 1rem;
  --padding--container: 1rem;
  --size--checkbox: 1rem;
  --border-radius--checkbox: 3px;
  --top--checkmark: 2px;
  --left--checkmark: 1px;
  --width--checkmark__tail: 14px;
  --height--checkmark__foot: 4px;
  --border-radius--checkmark: 1px;
  --border-width--checkmark: 3px;
  --transform--checkmark: rotate(-50deg);
  --size--radio-button: 1.063rem;
  --size--radio-button--checked: 0.313rem;
  --position--radio-button--checked: 0.313rem;
  --border--radio-button: 1px solid rgba(0,0,0,0.1);
  --background--radio-button: #666666;
  --box-shadow--radio-button: 0 1px rgba(255,255,255,0.50);
  --width--range__thumb: 0.75rem;
  --height--range__track: 0.5rem;
  --padding--search-input: 0 0 0 1.3rem;
  --padding--search-input--large: 0 0 0 1.8rem;
  --width--switch: 3.5rem;
  --width--switch__label: 2.6rem;
  --content--switch__label--left: 'ON';
  --content--switch__label--right: 'OFF';
  --right--switch__label--left: 0.8rem;
  --padding-left--switch__label--left: 0.75rem;
  --width--switch__toggle: 1rem;
  --margin-left--switch__toggle: -0.6rem;
  --left--switch__label--right: 0.8rem;
  --padding-left--switch__label--right: 0.6rem;
  --margin-left--switch__toggle--checked: 1.85rem;
  --padding--select: .06rem 1.4rem .06rem 0.4rem;
  --padding--overlay: 1.6rem;
  --padding--overlay__title: 0rem 0 1rem;
  --max-width--overlay: 50%;
}
