{
  "env": {
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "rules": {
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "func-call-spacing": ["error", "never"],
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "no-console": "off",
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "space-before-blocks": ["error", "always"]
  }
}
