@require '../commons'

$spectrum-button-icon {
  color: $spectrum-color-button-icon
}

$spectrum-button-icon-hover {
  color: $spectrum-color-button-icon-hover
}

$spectrum-button-icon-active {
  color: $spectrum-color-button-icon-active
}

$spectrum-button-icon-selected {
  color: $spectrum-color-button-icon-selected
}

$spectrum-button--primary {
  background-color: $spectrum-color-button-background

  border-color: $spectrum-color-button-border

  color: $spectrum-color-button-text

  &:focus {
    background-color: $spectrum-color-button-background-focus

    color: $spectrum-color-button-text-focus

    border-color: $spectrum-color-button-border-focus

    box-shadow: 0 0 0 1*$px $spectrum-color-button-border-focus;
  }

  &:hover {
    background-color: $spectrum-color-button-background-hover

    border-color: $spectrum-color-button-border-hover

    color: $spectrum-color-button-text-hover

    box-shadow: none
  }

  &:active {
    background-color: $spectrum-color-button-background-active

    border-color: $spectrum-color-button-border-active

    color: $spectrum-color-button-text-active

    box-shadow: none
  }

  &:disabled,
  &[disabled] {
    background-color: $spectrum-color-button-background-disabled

    color: $spectrum-color-button-text-disabled

    border-color: $spectrum-color-button-border-disabled
  }
}

$spectrum-button--secondary {
  background-color: $spectrum-color-button-secondary-background

  border-color: $spectrum-color-button-secondary-border

  color: $spectrum-color-button-secondary-text

  &:focus {
    background-color: $spectrum-color-button-secondary-background-focus

    color: $spectrum-color-button-secondary-text-focus

    border-color: $spectrum-color-button-secondary-border-focus

    box-shadow: 0 0 0 1*$px $spectrum-color-button-border-focus
  }

  &:hover {
    background-color: $spectrum-color-button-secondary-background-hover

    border-color: $spectrum-color-button-secondary-border-hover

    color: $spectrum-color-button-secondary-text-hover

    box-shadow: none
  }

  &:active {
    background-color: $spectrum-color-button-secondary-background-active

    border-color: $spectrum-color-button-secondary-border-active

    color: $spectrum-color-button-secondary-text-active

    box-shadow: none
  }

  &:disabled,
  &[disabled] {
    background-color: $spectrum-color-button-secondary-background-disabled

    color: $spectrum-color-button-secondary-text-disabled

    border-color: $spectrum-color-button-secondary-border-disabled
  }
}

$spectrum-button--cta {
  background-color: $spectrum-color-button-cta-background

  border-color: $spectrum-color-button-cta-border

  color: $spectrum-color-button-cta-text

  &:focus {
    background-color: $spectrum-color-button-cta-background-focus

    color: $spectrum-color-button-cta-text-focus

    border-color: $spectrum-color-button-cta-border-focus

    box-shadow: 0 0 0 1*$px $spectrum-color-button-border-focus
  }

  &:hover {
    background-color: $spectrum-color-button-cta-background-hover

    border-color: $spectrum-color-button-cta-border-hover

    color: $spectrum-color-button-cta-text-hover

    box-shadow: none
  }

  &:active {
    background-color: $spectrum-color-button-cta-background-active

    border-color: $spectrum-color-button-cta-border-active

    color: $spectrum-color-button-cta-text-active

    box-shadow: none
  }

  &:disabled,
  &[disabled] {
    background-color: $spectrum-color-button-cta-background-disabled

    color: $spectrum-color-button-cta-text-disabled

    border-color: $spectrum-color-button-cta-border-disabled
  }
}

$spectrum-button--warning {
  background-color: $spectrum-color-button-warning-background

  border-color: $spectrum-color-button-warning-border

  color: $spectrum-color-button-warning-text

  &:focus {
    background-color: $spectrum-color-button-warning-background-focus

    color: $spectrum-color-button-warning-text-focus

    border-color: $spectrum-color-button-warning-border-focus

    box-shadow: 0 0 0 1*$px $spectrum-color-button-border-focus
  }

  &:hover {
    background-color: $spectrum-color-button-warning-background-hover

    border-color: $spectrum-color-button-warning-border-hover

    color: $spectrum-color-button-warning-text-hover

    box-shadow: none
  }

  &:active {
    background-color: $spectrum-color-button-warning-background-active

    border-color: $spectrum-color-button-warning-border-active

    color: $spectrum-color-button-warning-text-active

    box-shadow: none
  }

  &:disabled,
  &[disabled] {
    background-color: $spectrum-color-button-warning-background-disabled

    color: $spectrum-color-button-warning-text-disabled

    border-color: $spectrum-color-button-warning-border-disabled
  }
}

$spectrum-button--quietPrimary {
  background-color: $spectrum-color-button-quiet-primary-background

  border-color: $spectrum-color-button-quiet-primary-border

  color: $spectrum-color-button-quiet-primary-text

  &:focus {
    background-color: $spectrum-color-button-quiet-primary-background-focus

    color: $spectrum-color-button-quiet-primary-text-focus

    border-color: $spectrum-color-button-quiet-primary-border-focus
  }

  &:hover {
    background-color: $spectrum-color-button-quiet-primary-background-hover

    border-color: $spectrum-color-button-quiet-primary-border-hover

    color: $spectrum-color-button-quiet-primary-text-hover
  }

  &:active {
    background-color: $spectrum-color-button-quiet-primary-background-active

    border-color: $spectrum-color-button-quiet-primary-border-active

    color: $spectrum-color-button-quiet-primary-text-active
  }

  &:disabled,
  &[disabled] {
    background-color: $spectrum-color-button-quiet-primary-background-disabled

    color: $spectrum-color-button-quiet-primary-text-disabled

    border-color: $spectrum-color-button-quiet-primary-border-disabled
  }
}

$spectrum-button--quietSecondary {
  background-color: $spectrum-color-button-quiet-background

  border-color: $spectrum-color-button-quiet-border

  color: $spectrum-color-button-quiet-text

  &:focus {
    background-color: $spectrum-color-button-quiet-background-focus

    color: $spectrum-color-button-quiet-text-focus

    border-color: $spectrum-color-button-quiet-border-focus
  }

  &:hover {
    background-color: $spectrum-color-button-quiet-background-hover

    border-color: $spectrum-color-button-quiet-border-hover

    color: $spectrum-color-button-quiet-text-hover
  }

  &:active {
    background-color: $spectrum-color-button-quiet-background-active

    border-color: $spectrum-color-button-quiet-border-active

    color: $spectrum-color-button-quiet-text-active
  }

  &:disabled,
  &[disabled] {
    background-color: $spectrum-color-button-quiet-background-disabled

    color: $spectrum-color-button-quiet-text-disabled

    border-color: $spectrum-color-button-quiet-border-disabled
  }
}
