@import '../commons/index.css';

/* topdoc
{{ taglist/taglist-default.yml }}
*/
/* topdoc
{{ taglist/taglist-removable.yml }}
*/
/* topdoc
{{ taglist/taglist-avatar.yml }}
*/
/* topdoc
{{ taglist/taglist-icon.yml }}
*/

:root {
  --spectrum-tag-height-default: 24px;
  --spectrum-tag-margin-default: 8px;
  --spectrum-tag-label-font-size-default: 12px;
  --spectrum-tag-remove-button-size-default: 12px;
  --spectrum-tag-remove-icon-size-default: 8px;
  --spectrum-tag-avatar-size-default: 16px;
  --spectrum-tag-icon-size-default: 16px;
}

.spectrum-TagList {
  display: inline-block;

  margin: 0;
  padding: 0;
  list-style: none;

  & > .spectrum-Tag {
    margin: 0 var(--spectrum-tag-margin-default) var(--spectrum-tag-margin-default) 0;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.spectrum-Tag {
  float: left;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  border-radius: var(--spectrum-border-radius);
  outline: none;
  padding: calc(var(--spectrum-tag-margin-default) / 2) var(--spectrum-tag-margin-default);
  height: var(--spectrum-tag-height-default);
  user-select: none;

  transition: border-color var(--spectrum-transition-time) ease-in-out,
    color var(--spectrum-transition-time) ease-in-out,
    box-shadow var(--spectrum-transition-time) ease-in-out,
    background-color var(--spectrum-transition-time) ease-in-out;

  &.is-disabled {
    pointer-events: none;
  }
}

.spectrum-Tag-label {
  flex: 1;
  font-size: var(--spectrum-tag-label-font-size-default);
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.spectrum-Tag-removeButton {
  width: var(--spectrum-tag-height-default);
  height: var(--spectrum-tag-height-default);
  margin-right: -var(--spectrum-tag-margin-default); /* Undo right padding on .spectrum-Tag */
  cursor: pointer;

  /* The fake background, inherited from .spectrum-Button--icon */
  &::before {
    top: calc(var(--spectrum-tag-height-default) / 4);
    left: calc(var(--spectrum-tag-height-default) / 4);

    width: var(--spectrum-tag-remove-button-size-default);
    height: var(--spectrum-tag-remove-button-size-default);
  }

  /* The actual icon */
  .spectrum-Icon {
    margin: 8px auto;
    width: var(--spectrum-tag-remove-icon-size-default);
    height: var(--spectrum-tag-remove-icon-size-default);
  }
}

.spectrum-Tag-avatar {
  height: var(--spectrum-tag-avatar-size-default);
  margin-right: var(--spectrum-tag-margin-default);
  border-radius: 50%;
  user-drag: none;
}

.spectrum-Tag-icon {
  margin-right: var(--spectrum-tag-margin-default);
  font-size: var(--spectrum-tag-icon-size-default);
}

.spectrum-Tag-icon,
.spectrum-Tag-avatar {
  /* Move it 2px to the left cause Nate says so */
  margin-left: -2px;
}
