.spectrum-Tag {
  color: var(--spectrum-tag-text-color-default);
  background-color: var(--spectrum-tag-background-color-default);
  border: 1px solid var(--spectrum-tag-border-color-default);

  &:hover {
    background-color: var(--spectrum-tag-background-color-hover);
    color: var(--spectrum-tag-text-color-hover);
    border-color: var(--spectrum-tag-border-color-hover);
  }

  &:focus-ring {
    background-color: var(--spectrum-tag-background-color-focus);
    color: var(--spectrum-tag-text-color-focus);
    border-color: var(--spectrum-tag-border-color-focus);
    box-shadow: 0 0 0 1px var(--spectrum-tag-border-color-focus);
  }

  &.is-invalid {
    color: var(--spectrum-tag-invalid-text-color-default);
    border-color: var(--spectrum-tag-invalid-border-color-default);

    &:hover {
      border-color: var(--spectrum-tag-invalid-border-color-hover);
      color: var(--spectrum-tag-invalid-text-color-hover);
    }

    &:focus-ring {
      color: var(--spectrum-tag-invalid-text-color-focus);
      border-color: var(--spectrum-tag-invalid-border-color-default);
      box-shadow: 0 0 0 1px var(--spectrum-tag-invalid-border-color-default);

    }
    .spectrum-Tag-removeButton {
      .spectrum-Icon {
        color: var(--spectrum-tag-invalid-icon-color-default);
      }

      &::focus {
        .spectrum-Icon {
          color: var(--spectrum-tag-invalid-icon-color-focus);
        }
      }

      &:hover {
        .spectrum-Icon {
          color: var(--spectrum-tag-invalid-icon-color-hover);
        }
      }
    }
  }

  &.is-disabled {
    color: var(--spectrum-tag-text-color-disabled);
    background-color: var(--spectrum-tag-background-color-disabled);
    border-color: var(--spectrum-tag-border-color-disabled);

    .spectrum-Tag-avatar {
      opacity: 0.3;
    }
  }
}

.spectrum-Tag-removeButton {
  .spectrum-Icon {
    color: var(--spectrum-tag-icon-color-default);
  }

  &:hover {
    .spectrum-Icon {
      color: var(--spectrum-tag-icon-color-hover);
    }
  }
}

.spectrum-Tag.is-disabled .spectrum-Tag-removeButton {
  .spectrum-Icon {
    color: var(--spectrum-tag-icon-color-disabled);
  }
}
