.spectrum-Tag {
  color: var(--spectrum-tag-text-color-default);
  background-color: var(--spectrum-tag-background-color-default);
  border: 1px solid var(--spectrum-tag-border-color-default);

  &:hover {
    color: var(--spectrum-tag-text-color-hover);
    background-color: var(--spectrum-tag-background-color-hover);
    border-color: var(--spectrum-tag-border-color-hover);
  }

  &.is-invalid {
    color: var(--spectrum-tag-invalid-text-color-default);
    border-color: var(--spectrum-tag-invalid-border-color-default);
    &:focus {
      box-shadow: 0 0 0 1px var(--spectrum-tag-invalid-border-color-default);
    }
  }

  &.is-disabled {
    color: var(--spectrum-tag-text-color-disabled);
    background-color: var(--spectrum-tag-background-color-disabled);
    border-color: var(--spectrum-tag-border-color-disabled);
  }
}

.spectrum-Tag-removeButton {
  &::after {
    background-image: url("embed/S_Close.svg" param(--color var(--spectrum-tag-icon-color-default)));
  }

  &:hover {
    &::after {
      background-image: url("embed/S_Close.svg" param(--color var(--spectrum-tag-icon-color-hover)));
    }
  }
}

.spectrum-Tag.is-disabled .spectrum-Tag-removeButton {
  &::after {
    background-image: url("embed/S_Close.svg" param(--color var(--spectrum-tag-icon-color-disabled)));
  }
}

.spectrum-Tag--quiet {
  &,
  &:hover,
  &:focus,
  &.is-invalid,
  &.is-disabled {
    background-color: transparent;
    background-color: transparent;
    border-color: transparent;
  }
}
