@import '../commons/index.css';

:root {
  --spectrum-slider-controls-margin: calc(var(--spectrum-slider-handle-width-default) / 2);
  --spectrum-slider-track-margin-left: calc(var(--spectrum-slider-controls-margin) * -1);

  --spectrum-slider-handle-margin-top: calc(var(--spectrum-slider-handle-width-default) / -2);
  --spectrum-slider-handle-margin-left: calc(var(--spectrum-slider-handle-width-default) / -2);

  --spectrum-slider-ticks-margin-left: calc(var(--spectrum-slider-handle-width-default) / -2);
  --spectrum-slider-ticks-margin-right: calc(var(--spectrum-slider-handle-width-default) / -2);

  --spectrum-slider-color-track-height-default: 24px;

  /* This must be fixed to prevent problems with different width labels */
  --spectrum-slider-ticks-width: 16px;

  /* Todo: Remove hardcoded values */
  --spectrum-slider-height-default: 32px;
  --spectrum-slider-round-width-default: 32px;
}

.spectrum-Slider {
  position: relative;
  display: block;
  min-height: var(--spectrum-slider-height-default);
  width: var(--spectrum-slider-width-default);
}

.spectrum-Slider-controls {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  z-index: auto;
  width: 100%;
  min-height: var(--spectrum-slider-height-default);
}

.spectrum-Slider-track {
  border-radius: var(--spectrum-slider-track-border-radius-default);
  pointer-events: none;
  height: var(--spectrum-slider-track-height-default);

  top: calc(var(--spectrum-slider-height-default) / 2);

  left: 8px;
  margin-top: -1px;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0 var(--spectrum-slider-handle-width-default) 0 0;

  position: absolute;

  width: calc(100% - 16px);
  margin-left: var(--spectrum-slider-track-margin-left);
}

.spectrum-Slider-track--fill {
  width: 0;
  height: var(--spectrum-slider-track-height-default);
  position: relative;
  margin-left: 0;
}

.spectrum-Slider-track--buffer {
  position: absolute;
  margin-bottom: -2px;
  margin-left: 0;
}

.spectrum-Slider-track--ramp {
  height: var(--spectrum-slider-ramp-track-height-default);
  position: absolute;
  top: -7px;
}

.spectrum-Slider-handle {
  position: absolute;
  left: 0;

  top: calc(var(--spectrum-slider-height-default) / 2);
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  z-index: auto;
  cursor: pointer;
  border-radius: var(--spectrum-slider-handle-border-radius-default);
  margin-right: 0;
  margin-bottom: 0;
  margin-top: var(--spectrum-slider-handle-margin-top);
  margin-left: var(--spectrum-slider-handle-margin-top);
  width: var(--spectrum-slider-handle-width-default);
  height: var(--spectrum-slider-handle-height-default);

  border-width: var(--spectrum-slider-handle-border-width-default);
  border-style: solid;

  /* Transition the border for focus animations */
  transition: border var(--spectrum-slider-animation-transition-time-default) var(--spectrum-slider-animation-ease-default);

  &:focus {
    border-width: var(--spectrum-slider-border-width-key-focus);
  }

  &:active {
    border-width: var(--spectrum-slider-border-width-key-focus);
  }
}

.spectrum-Slider-input {

  /* Normalize input field */
  /* Change the font styles for input in all browsers */
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  /*  Remove the margin for input in Firefox and Safari. */
  margin: 0;

  width: var(--spectrum-slider-track-width-default);
  height: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  opacity: .000001;
  cursor: default;
  -webkit-appearance: none;
  border: 0;
  pointer-events: none;
}



.spectrum-Slider-labelContainer {
  display: block;
  position: relative;

  width: auto;

  border-radius: var(--spectrum-border-radius);

  font-size: var(--spectrum-font-size-text-label);
  line-height: var(--spectrum-line-height-text-label);
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-smoothing: subpixel-antialiased;
}

.spectrum-Slider-label {
  padding-left: 0;
}

.spectrum-Slider-value {
  float: right;
  padding-right: 0;
}

.spectrum-Slider-ticks {
  margin-left: var(--spectrum-slider-ticks-margin-right);
  margin-right: var(--spectrum-slider-ticks-margin-right);
  margin-top: 11px;
  display: flex;
  justify-content: space-between;
  z-index: 0;
}

.spectrum-Slider-tick-mark {
  position: relative;

  width: var(--spectrum-slider-ticks-width);

  &:after {
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - calc(var(--spectrum-slider-tick-mark-width-default) / 2));
    content: '';
    width: var(--spectrum-slider-tick-mark-width-default);
    height: var(--spectrum-slider-tick-mark-height-default);
  }

  .spectrum-Slider-labelContainer {
    position: relative;
    margin: 16px 0 0 0;
    text-align: center;
  }

  &:first-of-type {
    .spectrum-Slider-labelContainer {
      /* Move over so we're left justified */
      text-align: left;
      left: 6px;
    }
  }

  &:last-of-type {
    .spectrum-Slider-labelContainer {
      /* Move over so we're right justified */
      left: -6px;
      text-align: right;
    }
  }
}

.spectrum-Slider--color {
  .spectrum-Slider-controls {
    margin-top: 8px;
  }
  .spectrum-Slider-controls,
  .spectrum-Slider-track {
    min-height: auto;
    height: var(--spectrum-slider-color-track-height-default);
  }
  .spectrum-Slider-track {
    top: 0;
    margin-top: 0;
  }
  .spectrum-Slider-handle {
    left: 40%;
    top: 50%;
  }
}

.spectrum-Slider--round {
  display: inline-block;
  width: var(--spectrum-slider-round-container-width-default);
  height: auto;
  min-height: 0;

  .spectrum-Slider-controls {
    width: var(--spectrum-slider-round-width-default);
    height: var(--spectrum-slider-round-width-default);
    min-height: 0;

    border-radius: var(--spectrum-slider-round-border-radius-default);
    position: relative;
    display: inline-block;
    margin-right: var(--spectrum-slider-round-margin-right-default);
    cursor: pointer;
    cursor: -webkit-grab;
    cursor: grab;

    /* Why? */
    transition: all var(--spectrum-slider-animation-transition-time-default) var(--spectrum-slider-animation-ease-default);

    box-sizing: border-box;
    outline: none;

    &::before,
    &::after {
      content: '';
      width: 4px;
      height: 2px;
      border-radius: 1px;
      position: absolute;
      bottom: 0;
    }
    &::before {
      left: auto;
      right: -2px;
      transform: rotate(var(--spectrum-slider-round-min-max-tick-angles-default));
    }
    &::after {
      left: -2px;
      transform: rotate(calc(-1 * var(--spectrum-slider-round-min-max-tick-angles-default)));
    }
  }
  &.spectrum-Slider--round--small {
    .spectrum-Slider-controls {
      width: var(--spectrum-slider-round-small-width-default);
      height: var(--spectrum-slider-round-small-width-default);
    }
  }
  .spectrum-Slider-handle {
    width: 100%;
    height: 100%;
    border-width: 2px;
    box-shadow: none;
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border-radius: var(--spectrum-slider-round-border-radius-default);

    &:focus {
      border-width: var(--spectrum-slider-round-border-width-key-focus);
    }
  }
  .spectrum-Slider-input {
    width: 100%;
    height: 100%;
    overflow: visible;
    opacity: 1;
    transform: rotate(calc(-1 * var(--spectrum-slider-round-min-max-tick-angles-default)));

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -2px;
      width: var(--spectrum-slider-round-handle-marker-width-default);
      height: var(--spectrum-slider-round-handle-marker-height-default);
      border-radius: var(--spectrum-slider-round-handle-marker-border-radius-default);
      transform: translateY(-50%);
      transition: background-color var(--spectrum-slider-animation-transition-time-default) var(--spectrum-slider-animation-ease-default);
    }
  }
}


.spectrum-Slider.is-disabled {
  cursor: default;

  .spectrum-Slider-handle {
    cursor: default;
  }
}

