@font-face {
  font-family: "source-l";
  src: url("../../src/font/SourceSansPro/SourceSansPro-Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "source-sb";
  src: url("../../src/font/SourceSansPro/SourceSansPro-Semibold.otf");
  font-weight: normal;
  font-style: normal;
}

body {
    color: #454545;
    margin: 0;
}

#container {
    font-family: "source-l";
    text-align: center;
    width: 400px;
    margin: 15% auto 0 auto;
}

h1 {
    font-family: "source-sb";
    font-size: 4em;
    margin-bottom: 0.5em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

p {
    margin-bottom: 0.5em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.copy {
    font-size: 1.5em;
}

.links {
    margin-top: 50px;
    font-size: .875em;
}

.links > li {
    display: inline-block;
    margin-right: 30px;
}

a {
    color: #888888;
    text-decoration: none;
}

li {
    display: inline;
}

.devices > li {
    margin: 0 30px 0 0;
}

.desktop-icon {
    display: inline-block;
    width: 61px;
    height: 50px;
    background: url("..//img/topcoat_desktop.png") no-repeat center;
}

.mobile-icon {
    display: inline-block;
    width: 75px;
    height: 59px;
    background: url("..//img/topcoat_mobile.png") no-repeat center;
}

aside {
    margin-bottom: 3.5em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 3.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.twitter-icon {
    display: block;
    padding: 30px;
    background: url("../img/twitter_icon.png");
    background-repeat: no-repeat;
    background-size: 41px 33px;
}

.github-icon {
    display: block;
    padding: 30px;
    background: url("../img/github_icon.png");
    background-repeat: no-repeat;
    background-size: 43px 42px;
}

.adobe-icon {
    display: block;
    padding: 30px;
    background: url("../img/adobe_icon.png");
    background-repeat: no-repeat;
    background-size: 32px 37px;
}

@media only screen and (min-width: 35em) {

    #container {
        width: 550px;
    }

    .copy {
        font-size: 2.1em;
    }

    h1 {
        font-size: 5em;
    }

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
            only screen and (min-resolution: 144dpi) {

    .desktop-icon {
        background: url("../img/topcoat_desktop@2x.png") no-repeat center;
    }

    .mobile-icon {
        background: url("../img/topcoat_mobile@2x.png") no-repeat center;
    }

    .twitter-icon {
        background: url("../img/twitter_icon@2x.png") no-repeat center;
    }

    .github-icon {
        background: url("../img/github_icon@2x.png") no-repeat center;
    }

    .adobe-icon {
        background: url("../img/adobe_icon@2x.png") no-repeat center;
    }

}