	
	.imageGrid figure {
		display: inline-block;
		width: auto;
		margin: 0 10px 10px 0;
		border: 10px solid #f8f8f8;
		background: #f8f8f8;
	}
	
	.imageGrid figcaption {
		padding: 10px 0;
		font-size: 13px;
		text-align: center;
	}
	
	.imageGrid img {
		max-width: 100%;
	}
	#fakeContainer {
	min-width: 10px;
	background: #3a3f42 url("../img/bg_dark.png") repeat-x;
	bottom: 0;
	cursor: default;
	left: 0;
	overflow-y: scroll;
	padding: 0 0 30px 0;
	position: absolute;
	top: 0;
	width: 50px;
}
