@import '../commons/index.css';

/* topdoc
{{ combobox/combobox.yml }}
*/
/* topdoc
{{ combobox/combobox-quiet.yml }}
*/

:root {
  --spectrum-combobox-chevron-icon-width-default: 10px;
  --spectrum-combobox-chevron-icon-height-default: 6px;
}

.spectrum-ComboBox {
  display: inline-flex;
  flex-direction: column;

  .spectrum-Button {
    padding: 0;
    width: 34px;
    border-top-left-radius: var(--spectrum-combobox-fieldbutton-border-top-left-radius-default);
    border-bottom-left-radius: var(--spectrum-combobox-fieldbutton-border-bottom-left-radius-default);
  }
}

.spectrum-ComboBox-fieldGroup {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: var(--spectrum-component-single-line-width);
}

.spectrum-ComboBox-input {
  border-top-right-radius: var(--spectrum-combobox-textfield-border-top-right-radius-default);
  border-bottom-right-radius: var(--spectrum-combobox-textfield-border-bottom-right-radius-default);
  border-right-width: 0;
  flex: 1;
}

.spectrum-ComboBox-icon {
  width: var(--spectrum-combobox-chevron-icon-width-default);
  height: var(--spectrum-combobox-chevron-icon-height-default);
  margin: 13px auto;
}

.spectrum-ComboBox--quiet {
  .spectrum-Button {
    border-bottom: 1px solid;
  }
}
