.spectrum-ComboBox {
  .spectrum-Button {
    border-color: var(--spectrum-fieldbutton-border-color-default);
    background-color: var(--spectrum-fieldbutton-background-color-default);
    color: var(--spectrum-fieldbutton-icon-color-default);

    &:hover {
      border-color: var(--spectrum-fieldbutton-border-color-hover);
      background-color: var(--spectrum-fieldbutton-background-color-hover);
      color: var(--spectrum-fieldbutton-icon-color-hover);
    }

    &:active,
    .is-open & {
      border-color: var(--spectrum-fieldbutton-border-color-active);
      background-color: var(--spectrum-fieldbutton-background-color-active);
      color: var(--spectrum-fieldbutton-icon-color-active);
    }

    &:disabled {
      background-color: var(--spectrum-fieldbutton-background-color-disabled);

      &:hover {
        border-color: var(--spectrum-fieldbutton-border-color-disabled);
        background-color: var(--spectrum-fieldbutton-background-color-disabled);
        color: var(--spectrum-fieldbutton-icon-color-disabled);
      }
    }

    &.is-invalid,
    &:invalid {
      border-color: var(--spectrum-input-invalid-border-color-default);
    }
  }
}

.spectrum-ComboBox-input:focus {
  ~ .spectrum-Button {
    border-color: var(--spectrum-dropdown-border-color-focus);
    box-shadow: 0 0 0 1px var(--spectrum-dropdown-border-color-focus);
  }

  &.is-invalid,
  &:invalid {
    ~ .spectrum-Button {
      border-color: var(--spectrum-dropdown-border-color-invalid-default);
      box-shadow: 0 0 0 1px var(--spectrum-dropdown-border-color-invalid-default);
    }
  }
}

.spectrum-ComboBox--quiet {
  .spectrum-Button {
    border-color: var(--spectrum-input-quiet-border-color-default);
    background-color: inherit;

    &:hover,
    &.focus-ring,
    &:active,
    &.is-open,
    &:invalid,
    &.is-invalid,
    &:disabled,
    &:disabled:hover {
      background-color: inherit;
    }
  }

  &:hover {
    .spectrum-Button {
      border-color: var(--spectrum-input-quiet-border-color-hover);
    }
  }

  .spectrum-ComboBox-input {
    &.is-invalid,
    &:invalid {
      ~ .spectrum-Button {
        border-color: var(--spectrum-input-invalid-border-color-default);
      }
    }

    &:focus {
      ~ .spectrum-Button {
        border-color: var(--spectrum-input-quiet-border-color-focus);
        box-shadow: 0 1px 0 var(--spectrum-input-quiet-border-color-focus);
      }

      &.is-invalid,
      &:invalid {
        ~ .spectrum-Button {
          border-color: var(--spectrum-input-invalid-border-color-default);
          box-shadow: 0 1px 0 var(--spectrum-input-invalid-border-color-default);
        }
      }
    }
  }
}
