@import '@spectrum/spectrum-abstract-stylus/dist/components/toggle/index.styl'

.spectrum-Toggle-switch {
  spectrum-toggle-switch()

  &[disabled] {
    .spectrum-Toggle-switch-input {
      spectrum-toggle-switch-input--disabled()
    }
  }
}

.spectrum-Toggle-switch-input {
  spectrum-toggle-switch-input()

  &:checked + .spectrum-Toggle-switch-content {
    spectrum-toggle-switch-content--checked()
  }
}

.spectrum-Toggle-switch-label {
  spectrum-toggle-switch-label()
}

.spectrum-Toggle-switch-content {
  spectrum-toggle-switch-content()
}

@import 'skin.styl'
