@import '../commons/index.css';

.spectrum-Flyout {
  position: absolute;
  display: inline-block;
  white-space: nowrap;

  box-sizing: border-box;

  list-style-type: none;
  padding: 3px 0;
  margin: 0;

  min-width: var(--spectrum-component-single-line-width);
  min-height: var(--spectrum-component-single-line-height);

  border-style: solid;
  border-width: var(--spectrum-flyout-border-size-default);
  border-radius: var(--spectrum-flyout-border-corner-radius-default);
}

.spectrum-Flyout-option {
  cursor: pointer;

  display: flex;

  padding: 0 calc(calc(var(--spectrum-flyout-option-padding-default) * 2) + var(--spectrum-flyout-option-check-width-default)) 0 var(--spectrum-flyout-option-padding-default);
  margin: 0;

  height: var(--spectrum-component-single-line-height);
  line-height: var(--spectrum-component-single-line-height);

  font-size: var(--spectrum-flyout-option-font-size-default);
  font-weight: var(--spectrum-flyout-option-font-weight-default);
  font-style: normal;

  &:focus {
    outline: none;
  }

  &.is-selected {
    &::after {
      position: absolute;
      right: 0;

      width: calc(var(--spectrum-flyout-option-padding-default) + var(--spectrum-flyout-option-check-width-default));
      height: var(--spectrum-component-single-line-height);

      background-repeat: no-repeat;
      background-size: var(--spectrum-flyout-option-check-width-default) var(--spectrum-flyout-option-check-height-default);
      background-position: right var(--spectrum-flyout-option-padding-default) center;

      transform: scale(1);
      opacity: 1;

      content: '';
    }
  }
}

.spectrum-Flyout-divider {
  height: var(--spectrum-flyout-divider-size-default);
  margin: var(--spectrum-flyout-divider-padding-default) auto;
  padding: 0 0;
  border: none;
  width: 90%;
}
