@import '../commons/index.css';
@import '../commons/overlay.css';

.spectrum-Flyout {
  @inherit: %spectrum-overlay;

  position: absolute;
  display: inline-block;
  white-space: nowrap;

  box-sizing: border-box;

  padding: 3px 0;
  margin: 0;

  min-width: var(--spectrum-component-single-line-width);
  min-height: var(--spectrum-component-single-line-height);

  border-style: solid;
  border-width: var(--spectrum-flyout-border-size-default);
  border-radius: var(--spectrum-flyout-border-corner-radius-default);

  &.is-open {
    @inherit: %spectrum-overlay--open;
  }
}

.spectrum-Flyout--bottom {
  &.is-open {
    @inherit: %spectrum-overlay--bottom--open;
  }
}

.spectrum-Flyout--top {
  &.is-open {
    @inherit: %spectrum-overlay--top--open;
  }
}

.spectrum-Flyout--left {
  &.is-open {
    @inherit: %spectrum-overlay--left--open;
  }
}

.spectrum-Flyout--right {
  &.is-open {
    @inherit: %spectrum-overlay--right--open;
  }
}
