/* topdoc
{{ flyout/flyout-default.yml }}
*/
.spectrum-Flyout {
  background-color: var(--spectrum-flyout-background-color-default);
  border-color: var(--spectrum-flyout-border-color-default);
  box-shadow: 0 var(--spectrum-flyout-shadow-y-offset-default) var(--spectrum-flyout-shadow-blur-default) var(--spectrum-flyout-shadow-color-default);
}
