@import '../commons/index.css';

:root {
  --spectrum-checkbox-height: var(--spectrum-component-single-line-height);

  --spectrum-checkbox-checkmark-mark-size: 12px;
  --spectrum-checkbox-checkmark-box-border-radius: 2px;
}

.spectrum-Checkbox {
  display: inline-block;
  position: relative;
  font-size: 0;
  height: var(--spectrum-checkbox-height);
  line-height: var(--spectrum-checkbox-height);
}

.spectrum-Checkbox-input {

  /* Change the font styles in all browsers for input. */
  font-size: 100%;
  line-height: 1.15;

  /* Remove the margin for input in Firefox and Safari. */
  margin: 0;

  /* Show the overflow for input in Edge. */
  overflow: visible;

  /* Add the correct box sizing for [type="checkbox"] in IE 10-. */
  box-sizing: border-box;
  
  /* Remove the padding for [type="checkbox"] in IE 10-. */
  padding: 0;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  opacity: .0001;
  z-index: 1;

  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &:checked + .spectrum-Checkbox-box {
    border-width: calc(var(--spectrum-checkbox-box-size-default) / 2);

    .spectrum-Checkbox-checkmark {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.spectrum-Checkbox.is-indeterminate {
  .spectrum-Checkbox-box,
  .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box {
    border-width: calc(calc(var(--spectrum-checkbox-box-size-default) / 2) - 1px) 3px calc(calc(var(--spectrum-checkbox-box-size-default) / 2) - 1px) 3px;
    .spectrum-Checkbox-checkmark {
      display: none;
    }
  }
}

.spectrum-Checkbox-label {
  display: inline-block;
  margin: 0 8px;
  font-size: var(--spectrum-font-size);
  vertical-align: middle;
  transition: color var(--spectrum-transition-time) ease-in-out;
}

.spectrum-Checkbox-box {
  display: inline-block;
  box-sizing: border-box;
  width: var(--spectrum-checkbox-box-size-default);
  height: var(--spectrum-checkbox-box-size-default);

  border-radius: var(--spectrum-checkbox-checkmark-box-border-radius);
  border-width: 2px;
  border-style: solid;

  vertical-align: middle;

  transition: border var(--spectrum-transition-time) ease-in-out, box-shadow var(--spectrum-transition-time) ease-in-out;

  .spectrum-Checkbox-checkmark {
    position: absolute;
    top: 50%;
    left: 1px;
    width: var(--spectrum-checkbox-checkmark-mark-size);
    height: var(--spectrum-checkbox-checkmark-mark-size);

    margin-top: calc(var(--spectrum-checkbox-checkmark-mark-size) / -2);

    background-repeat: no-repeat;
    background-position: center;

    opacity: 0;
    transform: scale(0);

    transition: opacity var(--spectrum-transition-time) ease-in-out, transform var(--spectrum-transition-time) ease-in-out;

    content: '';
  }
}
