.spectrum-Checkbox-label {
  color: var(--spectrum-switch-label-text-color-default);
}

.spectrum-Checkbox-checkmark {
  border-color: var(--spectrum-switch-border-color-default);

  &::after {
    background-image: url("embed/Check.svg" param(--color var(--spectrum-switch-checkbox-checkmark-color-default)));
  }
}

.spectrum-Checkbox-input {
  &:checked + .spectrum-Checkbox-checkmark {
    border-color: var(--spectrum-switch-border-color-default);
  }

  &:focus + .spectrum-Checkbox-checkmark {
    border-color: var(--spectrum-switch-border-color-focus);
    box-shadow: 0 0 0 1px var(--spectrum-switch-border-color-focus);
  }

  &:focus ~ .spectrum-Checkbox-label {
    color: var(--spectrum-switch-label-text-color-focus);
  }
}

/* topdoc
{{ checkbox/checkbox-default.yml }}
*/
.spectrum-Checkbox {
  &:hover {
    .spectrum-Checkbox-checkmark {
      border-color: var(--spectrum-switch-border-color-hover);
      box-shadow: none;
    }
    .spectrum-Checkbox-label {
      color: var(--spectrum-switch-label-text-color-hover);
    }
  }

  &:active {
    .spectrum-Checkbox-checkmark {
      border-color: var(--spectrum-switch-border-color-active);
    }
    .spectrum-Checkbox-label {
      color: var(--spectrum-switch-label-text-color-active);
    }
  }
}

.spectrum-Checkbox-input {
/* topdoc
{{ checkbox/checkbox-disabled.yml }}
*/
  &:disabled + .spectrum-Checkbox-checkmark {
    border-color: var(--spectrum-switch-border-color-disabled);
  }

  &:disabled ~ .spectrum-Checkbox-label {
    color: var(--spectrum-switch-label-text-color-disabled);
  }

  &:invalid {
    & + .spectrum-Checkbox-checkmark {
      border-color: var(--spectrum-switch-invalid-border-color-default);
    }

    & ~ .spectrum-Checkbox-label {
      color: var(--spectrum-switch-invalid-border-color-default);
    }
  }

  &:invalid:hover {
    & + .spectrum-Checkbox-checkmark {
      border-color: var(--spectrum-switch-invalid-border-color-hover);
    }

    & ~ .spectrum-Checkbox-label {
      color: var(--spectrum-switch-invalid-border-color-hover);
    }
  }

  &:invalid:active {
    & + .spectrum-Checkbox-checkmark {
      border-color: var(--spectrum-switch-invalid-border-color-active);
    }

    & ~ .spectrum-Checkbox-label {
      color: var(--spectrum-switch-invalid-border-color-active);
    }
  }
}

.spectrum-Checkbox-input {
/* topdoc
{{ checkbox/checkbox-error.yml }}
*/
  &:error + .spectrum-Checkbox-checkmark {
    border-color: var(--spectrum-switch-border-color-error);
  }

  &:error ~ .spectrum-Checkbox-label {
    color: var(--spectrum-switch-label-text-color-error);
  }
}
