.spectrum-Checkbox-label {
  color: var(--spectrum-checkbox-label-text-color-default);
}

.spectrum-Checkbox-checkmark {
  border-color: var(--spectrum-checkbox-border-color-default);

  &::after {
    background-image: url("embed/Check.svg" param(--color var(--spectrum-checkbox-checkmark-color-default)));
  }
}

.spectrum-Checkbox-checkmark {
  background-color: var(--spectrum-checkbox-background-color-default);
}

.spectrum-Checkbox-input {
  &:checked + .spectrum-Checkbox-checkmark {
    border-color: var(--spectrum-checkbox-border-color-checked);
  }

  &:focus-ring + .spectrum-Checkbox-checkmark {
    border-color: var(--spectrum-checkbox-border-color-focus);
    box-shadow: 0 0 0 1px var(--spectrum-checkbox-border-color-focus);
  }

  &:focus-ring ~ .spectrum-Checkbox-label {
    color: var(--spectrum-checkbox-label-text-color-focus);
  }
}

.spectrum-Checkbox.is-indeterminate .spectrum-Checkbox-checkmark,
.spectrum-Checkbox-input:checked + .spectrum-Checkbox-checkmark {
  border-color: var(--spectrum-checkbox-border-color-checked);
}

.spectrum-Checkbox:hover {
  &.is-indeterminate .spectrum-Checkbox-checkmark,
  .spectrum-Checkbox-input:checked + .spectrum-Checkbox-checkmark {
    border-color: var(--spectrum-checkbox-border-color-checked-hover);
  }
}

.spectrum-Checkbox:active {
  &.is-indeterminate .spectrum-Checkbox-checkmark,
  .spectrum-Checkbox-input:checked + .spectrum-Checkbox-checkmark {
    border-color: var(--spectrum-checkbox-border-color-checked-active);
  }
}

/* topdoc
{{ checkbox/checkbox-default.yml }}
*/
.spectrum-Checkbox {
  border-color: var(--spectrum-checkbox-border-color-default);

  &:hover {
    .spectrum-Checkbox-checkmark {
      border-color: var(--spectrum-checkbox-border-color-hover);
      box-shadow: none;
    }
    .spectrum-Checkbox-label {
      color: var(--spectrum-checkbox-label-text-color-hover);
    }
  }

  &:active {
    .spectrum-Checkbox-checkmark {
      border-color: var(--spectrum-checkbox-border-color-active);
    }
    .spectrum-Checkbox-label {
      color: var(--spectrum-checkbox-label-text-color-active);
    }
  }

  &.is-invalid {
    .spectrum-Checkbox-checkmark {
      border-color: var(--spectrum-checkbox-border-color-invalid);
    }

    .spectrum-Checkbox-label {
      color: var(--spectrum-checkbox-border-color-invalid);
    }
  }

  &.is-invalid:hover {
    .spectrum-Checkbox-checkmark {
      border-color: var(--spectrum-checkbox-border-color-invalid-hover) !important;
    }

    .spectrum-Checkbox-label {
      color: var(--spectrum-checkbox-border-color-invalid-hover);
    }
  }

  &.is-invalid:active {
    .spectrum-Checkbox-checkmark {
      border-color: var(--spectrum-checkbox-border-color-invalid-active);
    }

    .spectrum-Checkbox-label {
      color: var(--spectrum-checkbox-border-color-invalid-active);
    }
  }
}

.spectrum-Checkbox-input {
/* topdoc
{{ checkbox/checkbox-disabled.yml }}
*/
  &:disabled + .spectrum-Checkbox-checkmark {
    /* I'm sorry about the !important */
    border-color: var(--spectrum-checkbox-border-color-disabled) !important;

    background-color: transparent;
  }

  &:disabled ~ .spectrum-Checkbox-label {
    color: var(--spectrum-checkbox-label-text-color-disabled);
  }
}

.spectrum-Checkbox-input {
/* topdoc
{{ checkbox/checkbox-error.yml }}
*/
  &:error + .spectrum-Checkbox-checkmark {
    border-color: var(--spectrum-checkbox-border-color-error);
  }

  &:error ~ .spectrum-Checkbox-label {
    color: var(--spectrum-checkbox-label-text-color-error);
  }
}
