.spectrum-Checkbox-label {
  color: var(--spectrum-checkbox-text-color-default);
}

.spectrum-Checkbox-box {
  border-color: var(--spectrum-checkbox-box-border-color-default);

  .spectrum-Checkbox-checkmark {
    color: var(--spectrum-checkbox-checkmark-color-default);
  }
}

.spectrum-Checkbox-box {
  background-color: var(--spectrum-checkbox-box-background-color-default);
}

.spectrum-Checkbox-input {
  &:checked + .spectrum-Checkbox-box {
    border-color: var(--spectrum-checkbox-box-border-color-selected);
  }

  &:focus-ring + .spectrum-Checkbox-box {
    border-color: var(--spectrum-checkbox-box-border-color-key-focus);
    box-shadow: 0 0 0 1px var(--spectrum-checkbox-box-border-color-key-focus);

  }

  &:focus-ring ~ .spectrum-Checkbox-label {
    color: var(--spectrum-checkbox-text-color-key-focus);
  }
}

.spectrum-Checkbox.is-indeterminate .spectrum-Checkbox-box,
.spectrum-Checkbox-input:checked + .spectrum-Checkbox-box {
  border-color: var(--spectrum-checkbox-box-border-color-selected);
}

.spectrum-Checkbox:hover {
  &.is-indeterminate .spectrum-Checkbox-box,
  .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box {
    border-color: var(--spectrum-checkbox-box-border-color-selected-hover);

  }
}

.spectrum-Checkbox:active {
  &.is-indeterminate .spectrum-Checkbox-box,
  .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box {
    border-color: var(--spectrum-checkbox-box-border-color-selected-down);

  }
}

/* topdoc
{{ checkbox/checkbox-default.yml }}
*/
.spectrum-Checkbox {
  border-color: var(--spectrum-checkbox-box-border-color-default);

  &:hover {
    .spectrum-Checkbox-box {
      border-color: var(--spectrum-checkbox-box-border-color-hover);

      box-shadow: none;
    }
    .spectrum-Checkbox-label {
      color: var(--spectrum-checkbox-text-color-hover);
    }
  }

  &:active {
    .spectrum-Checkbox-box {
      border-color: var(--spectrum-checkbox-box-border-color-down);

    }
    .spectrum-Checkbox-label {
      color: var(--spectrum-checkbox-text-color-down);
    }
  }

  &.is-invalid {
    .spectrum-Checkbox-box {
      border-color: var(--spectrum-checkbox-box-border-color-error);

    }

    .spectrum-Checkbox-label {
      color: var(--spectrum-checkbox-box-border-color-error);
    }
  }

  &.is-invalid:hover {
    .spectrum-Checkbox-box {
      border-color: var(--spectrum-checkbox-box-border-color-error-hover) !important;

    }

    .spectrum-Checkbox-label {
      color: var(--spectrum-checkbox-box-border-color-error-hover);
    }
  }

  &.is-invalid:active {
    .spectrum-Checkbox-box {
      border-color: var(--spectrum-checkbox-box-border-color-error-down);

    }

    .spectrum-Checkbox-label {
      color: var(--spectrum-checkbox-box-border-color-error-down);
    }
  }
}

.spectrum-Checkbox-input {
/* topdoc
{{ checkbox/checkbox-disabled.yml }}
*/
  &:disabled + .spectrum-Checkbox-box {
    /* I'm sorry about the !important */
    border-color: var(--spectrum-checkbox-box-border-color-disabled) !important;

    background-color: transparent;
  }

  &:disabled ~ .spectrum-Checkbox-label {
    color: var(--spectrum-checkbox-text-color-disabled);
  }
}

.spectrum-Checkbox-input {
/* topdoc
{{ checkbox/checkbox-error.yml }}
*/
  &:error + .spectrum-Checkbox-box {
    border-color: var(--spectrum-checkbox-box-border-color-error);

  }

  &:error ~ .spectrum-Checkbox-label {
    color: var(--spectrum-checkbox-text-color-error);
  }
}
