@import '../../dist/vars/spectrum-darkest.css';

/* Temporary skin variables that need to be moved into origins */
@import '../commons/skin.css';

:root {
  --spectrum-loader-round-small-sprite-url: 'embed/Loader_Determinate_Dark_16_Sprite.svg';
  --spectrum-loader-round-medium-sprite-url: 'embed/Loader_Determinate_Dark_32_Sprite.svg';
  --spectrum-loader-round-large-sprite-url: 'embed/Loader_Determinate_Dark_64_Sprite.svg';
  --spectrum-loader-round-indeterminate-small-sprite-url: 'embed/Loader_Indeterminate_Dark_16_Sprite.svg';
  --spectrum-loader-round-indeterminate-medium-sprite-url: 'embed/Loader_Indeterminate_Dark_32_Sprite.svg';
  --spectrum-loader-round-indeterminate-large-sprite-url: 'embed/Loader_Indeterminate_Dark_64_Sprite.svg';
}
