@import '../../dist/vars/spectrum-darkest.css';

/* Temporary skin variables that need to be moved into origins */
@import '../commons/skin.css';

:root {
  --spectrum-loader-spinner-sprite-url: 'embed/Loader_Dark_16_Sprite.svg';
  --spectrum-loader-spinner-medium-sprite-url: 'embed/Loader_Dark_32_Sprite.svg';
  --spectrum-loader-spinner-large-sprite-url: 'embed/Loader_Dark_64_Sprite.svg';
}
