@import '../../dist/vars/spectrum-lightest.css';

/* Temporary skin variables that need to be moved into origins */
@import '../commons/skin.css';

:root {
  --spectrum-loader-spinner-sprite-url: 'embed/Loader_Light_16_Sprite.svg';
  --spectrum-loader-spinner-medium-sprite-url: 'embed/Loader_Light_32_Sprite.svg';
  --spectrum-loader-spinner-large-sprite-url: 'embed/Loader_Light_64_Sprite.svg';
}
