@import '../../dist/vars/spectrum-light.css';

/* Temporary skin variables that need to be moved into origins */
@import '../commons/skin.css';

:root {
  --spectrum-wait-spinner-medium-sprite-url: 'embed/Spinner_Light_32_Sprite.svg';
  --spectrum-wait-spinner-large-sprite-url: 'embed/Spinner_Light_64_Sprite.svg';
  --spectrum-wait-dots-sprite-url: 'embed/Dots_Light.svg';
}
