@import button-mixin
@import utils

/*
 Button
 ------

 :active - Active state

 .is-active - Simulates an active state on mobile devices

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state on mobile devices

    <a class="topcoat-button">Button</a>
    <a class="topcoat-button is-active">Button</a>
    <a class="topcoat-button is-disabled">Button</a>
*/

.topcoat-button {
    button-base()
    padding: var-padding;
    font-size: var-font-size;
    line-height: var-line-height;
    letter-spacing: var-letter-spacing;
    color: var-color;
    text-shadow: var-text-shadow;
    vertical-align: var-vertical-align;
    background-color: var-background-color;
    box-shadow: var-box-shadow;
    border: var-border;
    border-radius: var-border-radius;
}

.topcoat-button:active,
.topcoat-button.is-active {
    background-color: var-background-color--down;
    box-shadow: var-box-shadow--down;
}

.topcoat-button:disabled,
.topcoat-button.is-disabled {
    disabled()
}

/*
 Quiet Button
 ------------

 :active - Quiet button active state

 .is-active - Simulates active state for a quiet button on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state

    <a class="topcoat-button--quiet">Button</a>
    <a class="topcoat-button--quiet is-active">Button</a>
    <a class="topcoat-button--quiet is-disabled">Button</a>
*/

.topcoat-button--quiet {
    @extend .topcoat-button
    button-base--quiet()
}

.topcoat-button--quiet:active,
.topcoat-button--quiet.is-active {
    color: var-color;
    text-shadow: var-text-shadow;
    background-color: var-background-color--down;
    border: var-border;
    box-shadow: var-box-shadow--down;
}

.topcoat-button--quiet:disabled,
.topcoat-button--quiet.is-disabled {
    disabled()
}

/*
 Large Button
 ------------

 :active - Active state

 .is-active - Simulates active state touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state

    <a class="topcoat-button--large" >Button</a>
    <a class="topcoat-button--large is-active" >Button</a>
    <a class="topcoat-button--large is-disabled" >Button</a>
*/

.topcoat-button--large {
    @extend .topcoat-button
    font-size: var-font-size--large;
    line-height: var-line-height--large;
}

.topcoat-button--large:active,
.topcoat-button--large.is-active {
    @extend .topcoat-button:active
}

.topcoat-button--large:disabled,
.topcoat-button--large.is-disabled {
    disabled()
}

/*
 Large Quiet Button
 ------------------

 :active - Active state

 .is-pressed - Simulates active state on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state


    <a class="topcoat-button--large--quiet" >Button</a>
    <a class="topcoat-button--large--quiet is-active" >Button</a>
    <a class="topcoat-button--large--quiet is-disabled" >Button</a>
*/

.topcoat-button--large--quiet {
    @extend .topcoat-button--large
    button-base--quiet()
}

.topcoat-button--large--quiet:active,
.topcoat-button--large--quiet.is-active {
    @extend .topcoat-button--quiet:active
}

.topcoat-button--large--quiet:disabled,
.topcoat-button--large--quiet.is-disabled {
    disabled()
}

/*
 Call To Action Button
 ---------------------

 :active - Active state

 .is-pressed - Simulates active state on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state


    <a class="topcoat-button--cta" >Button</a>
    <a class="topcoat-button--cta is-active" >Button</a>
    <a class="topcoat-button--cta is-disabled" >Button</a>

*/

.topcoat-button--cta {
    @extend .topcoat-button
    border: var-border--cta;
    background-color: var-background-color--cta;
    box-shadow: var-box-shadow--cta;
    color: var-color--cta;
    font-weight: var-font-weight--cta;
    text-shadow: var-text-shadow--cta;
}

.topcoat-button--cta:active,
.topcoat-button--cta.is-active {
    background-color: var-background-color--cta--down;
    box-shadow: var-box-shadow--cta--down;
}

.topcoat-button--cta:disabled,
.topcoat-button--cta.is-disabled {
    disabled()
}

/*
 Large Call To Action Button
 ---------------------------

 :active - Active state

 .is-active - Simulates active state touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state

    <a class="topcoat-button--large--cta" >Button</a>
    <a class="topcoat-button--large--cta is-active" >Button</a>
    <a class="topcoat-button--large--cta is-disabled" >Button</a>
*/

.topcoat-button--large--cta {
    @extend .topcoat-button--cta
    font-size: var-font-size--large;
    line-height: var-line-height--large;
}

.topcoat-button--large--cta:active,
.topcoat-button--large--cta.is-active {
    @extend .topcoat-button--cta:active
}

.topcoat-button--large-cta:disabled,
.topcoat-button--large--cta.is-disabled {
    disabled()
}
