/* these comments can be included in the output css, for us they are used by
   topdoc to generate the documentation we publish...

   you can probably ignore them unless you want to generate documentation
   or you want to help fix our documentation :)

   note:
     the '!'' tells stylus to preserve the comment into output css
     the 'topdoc' let's topdoc know it should parse the comment for YAML
*/

/*! topdoc
  name: Wizard - With Label
  description: A wizard with labels
  markup: |
    <div class="spectrum-Wizard">
      <div class="spectrum-WizardStep is-complete">
          <span class="spectrum-WizardStep-label">Step 1</spectrum-step-label></span>
          <span class="spectrum-WizardStep-markerContainer">
            <span class="spectrum-WizardStep-marker">
            </span>
          </span>
          <span class="spectrum-WizardStep-segment">
          </span>
      </div>
      <div class="spectrum-WizardStep is-complete">
          <span class="spectrum-WizardStep-label">Step 2</spectrum-step-label></span>
          <span class="spectrum-WizardStep-markerContainer">
            <span class="spectrum-WizardStep-marker">
            </span>
          </span>
          <span class="spectrum-WizardStep-segment">
          </span>
      </div>
      <div class="spectrum-WizardStep is-selected">
          <span class="spectrum-WizardStep-label">Step 3</spectrum-step-label></span>
          <span class="spectrum-WizardStep-markerContainer">
            <span class="spectrum-WizardStep-marker">
            </span>
          </span>
          <span class="spectrum-WizardStep-segment">
          </span>
      </div>
      <div class="spectrum-WizardStep">
          <span class="spectrum-WizardStep-label">Step 4</spectrum-step-label></span>
          <span class="spectrum-WizardStep-markerContainer">
            <span class="spectrum-WizardStep-marker">
            </span>
          </span>
          <span class="spectrum-WizardStep-segment">
          </span>
      </div>
    <div>

  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Wizard - With Tooltip
  description: A wizard with tooltips
  markup: |
    <div class="spectrum-Wizard">
      <div class="spectrum-WizardStep spectrum-Tooltip-hover is-complete">
        <span class="spectrum-WizardStep-markerContainer">
          <span class="spectrum-WizardStep-marker"></span>
        </span>
        <span class="spectrum-Tooltip spectrum-Tooltip--top spectrum-WizardStep-tooltip">
          <span class="spectrum-Tooltip-content">Step 1<div class="spectrum-Tooltip-tip"></div></span>
        </span>
        <span class="spectrum-WizardStep-segment">
        </span>
      </div>
      <div class="spectrum-WizardStep spectrum-Tooltip-hover is-complete">
        <span class="spectrum-WizardStep-markerContainer">
          <span class="spectrum-WizardStep-marker"></span>
        </span>
        <span class="spectrum-Tooltip spectrum-Tooltip--top spectrum-WizardStep-tooltip">
          <span class="spectrum-Tooltip-content">Step 2<div class="spectrum-Tooltip-tip"></div></span>
        </span>
        <span class="spectrum-WizardStep-segment">
        </span>
      </div>
      <div class="spectrum-WizardStep spectrum-Tooltip-hover is-selected">
        <span class="spectrum-WizardStep-markerContainer">
          <span class="spectrum-WizardStep-marker"></span>
        </span>
        <span class="spectrum-Tooltip spectrum-Tooltip--top spectrum-WizardStep-tooltip">
          <span class="spectrum-Tooltip-content">Step 3<div class="spectrum-Tooltip-tip"></div></span>
        </span>
        <span class="spectrum-WizardStep-segment">
        </span>
      </div>
      <div class="spectrum-WizardStep spectrum-Tooltip-hover">
        <span class="spectrum-WizardStep-markerContainer">
          <span class="spectrum-WizardStep-marker"></span>
        </span>
        <span class="spectrum-Tooltip spectrum-Tooltip--top spectrum-WizardStep-tooltip">
          <span class="spectrum-Tooltip-content">Step 4<div class="spectrum-Tooltip-tip"></div></span>
        </span>
        <span class="spectrum-WizardStep-segment">
        </span>
      </div>
    </div>
  tags:
    - desktop
    - light
    - mobile
    - button
*/


/*! topdoc
  name: Wizard - Plain
  description: A wizard w/o labels or tooltips
  markup: |
    <div class="spectrum-Wizard spectrum-Wizard--small">
      <div class="spectrum-WizardStep is-complete">
        <span class="spectrum-WizardStep-markerContainer">
          <span class="spectrum-WizardStep-marker"></span>
        </span>
        <span class="spectrum-WizardStep-segment">
        </span>
      </div>
      <div class="spectrum-WizardStep is-complete">
        <span class="spectrum-WizardStep-markerContainer">
          <span class="spectrum-WizardStep-marker"></span>
        </span>
        <span class="spectrum-WizardStep-segment">
        </span>
      </div>
      <div class="spectrum-WizardStep is-selected">
        <span class="spectrum-WizardStep-markerContainer">
          <span class="spectrum-WizardStep-marker"></span>
        </span>
        <span class="spectrum-WizardStep-segment">
        </span>
      </div>
      <div class="spectrum-WizardStep">
        <span class="spectrum-WizardStep-markerContainer">
          <span class="spectrum-WizardStep-marker"></span>
        </span>
        <span class="spectrum-WizardStep-segment">
        </span>
      </div>
    </div>
  tags:
    - desktop
    - light
    - mobile
    - button
*/
