@import "topcoat-utils";

%list {
  extend: %reset-base;
  extend: %reset-cursor;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

%list__header {
  margin: 0;
}

%list__container {
  extend: %reset-list;
}

%list__item {
  margin: 0;
  padding: 0;
}
