repeats = 200
!!!
html
    head
        title TopCoat icon-button perf test
        |<link rel="stylesheet" type="text/css" href="../../release/css/topcoat-icon-button.min.css">
    body
       -while (repeats > 0)
            -var repeats = repeats - 1
               a.topcoat-icon-button
                    span.topcoat-icon.topcoat-icon--menu-stack
