a(class="topcoat-icon-button")
    i(class="topcoat-icon topcoat-icon--menu-stack")

a(class="topcoat-icon-button--quiet")
    i(class="topcoat-icon topcoat-icon--menu-stack")

a(class="topcoat-icon-button--large")
    i(class="topcoat-icon--large topcoat-icon--menu-stack")

a(class="topcoat-icon-button--large--quiet")
    i(class="topcoat-icon--large topcoat-icon--menu-stack")
