div.topcoat-navigation-bar
    div.topcoat-navigation-bar__item.left.quarter
        a.topcoat-icon-button--quiet
            span.topcoat-icon.topcoat-icon--menu-stack
    div.topcoat-navigation-bar__item.center.half
        h1.topcoat-navigation-bar__title Title
    div.topcoat-navigation-bar__item.right.quarter
        a.topcoat-icon-button--quiet
            span.topcoat-icon.topcoat-icon--menu-stack
