@import '../commons/index.css';
@import '../commons/overlay.css';

:root {
  --spectrum-dialog-min-width: 320px;
  --spectrum-dialog-margin: 32px;

  --spectrum-dialog-border-radius: var(--spectrum-border-radius);

  --spectrum-dialog-divider-height: 2px;

  --spectrum-dialog-header-height: 34px;
  --spectrum-dialog-header-font-size: 18px;

  --spectrum-dialog-padding: 40px;
  --spectrum-dialog-padding-top: 48px;

  --spectrum-dialog-content-padding-top: 20px;

  --spectrum-dialog-fullscreen-padding-top: var(--spectrum-dialog-padding);
  --spectrum-dialog-fullscreen-header-padding-bottom: 24px;
  --spectrum-dialog-fullscreen-header-font-size: 28px;
  --spectrum-dialog-fullscreen-header-font-weight: 100;
  --spectrum-dialog-fullscreen-header-line-height: 36px;

  --spectrum-dialog-closebutton-height: 18px;
  --spectrum-dialog-animation-distance: 8px;
}

/* topdoc
{{ dialog/dialog-default.yml }}
*/
.spectrum-Dialog {
  @inherit: %spectrum-overlay;

  /* Be a flexbox to allow a full sized content area that scrolls */
  display: flex;
  flex-direction: column;

  /* Centered by default */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, calc(-50% + var(--spectrum-dialog-animation-distance)));

  /* Appear above overlay */
  z-index: 2;

  /* Allow 100% width, taking into account padding */
  box-sizing: border-box;

  min-width: var(--spectrum-dialog-min-width);

  padding: var(--spectrum-dialog-padding);
  padding-top: var(--spectrum-dialog-padding-top);

  border-radius: var(--spectrum-dialog-border-radius);
  outline: none; /* Firefox shows outline */

  transition: transform var(--spectrum-transition-time) ease-in;
}


.spectrum-Dialog.is-open {
  @inherit: %spectrum-overlay--open;

  transform: translate(-50%, -50%);
  transition-timing-function: ease-out;
}

.spectrum-Dialog-header {
  display: flex;
  position: relative;

  width: 100%;
  min-height: var(--spectrum-dialog-header-height);

  border-radius: var(--spectrum-dialog-border-radius) var(--spectrum-dialog-border-radius) 0 0;
  outline: none; /* Hide focus outline around header */

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: var(--spectrum-dialog-divider-height);

    content: '';
  }
}

.spectrum-Dialog-title {
  flex: 1;
}

.spectrum-Dialog-typeIcon {
  &::after {
    display: block;
    content: '';
    width: 18px;
    height: 18px;
    background-size: contain;
  }
}

.spectrum-Dialog-content {
  display: block;
  box-sizing: border-box;
  padding-top: var(--spectrum-dialog-content-padding-top);

  overflow-y: auto;

  outline: none; /* Hide focus outline */

  flex: 1;

  font-size: var(--spectrum-dialog-content-font-size-default);
  font-weight: var(--spectrum-dialog-content-font-weight-default);
}

.spectrum-Dialog-footer {
  border-radius: 0 0 var(--spectrum-dialog-border-radius) var(--spectrum-dialog-border-radius);

  text-align: right; /* right align buttons */

  outline: none; /* Hide focus outline */

  &:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }

  .spectrum-Button {
    margin: 16px 12px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.spectrum-Dialog-title {
  font-size: var(--spectrum-dialog-header-font-size-default);
  font-weight: var(--spectrum-dialog-header-font-weight-default);

  /* Get correct height on the heading */
  margin: -4px 0 0 0;

  /* Truncate text when it's too long to fit */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  outline: none; /* Hide focus outline */
}

.spectrum-Dialog-closeButton {
  line-height: var(--spectrum-dialog-closebutton-height);

  position: absolute;
  top: 0;
  right: 0;

  display: none;

  width: var(--spectrum-dialog-closebutton-height);
  height: var(--spectrum-dialog-closebutton-height);
}

/* topdoc
{{ dialog/dialog-fullscreen.yml }}
*/
.spectrum-Dialog--fullscreen {
  left: var(--spectrum-dialog-margin);
  top: var(--spectrum-dialog-margin);
  right: var(--spectrum-dialog-margin);
  bottom: var(--spectrum-dialog-margin);
}

.spectrum-Dialog--fullscreen,
.spectrum-Dialog--fullscreenTakeover {
  transform: translate(0, var(--spectrum-dialog-animation-distance));
  padding-top: var(--spectrum-dialog-fullscreen-padding-top);

  .spectrum-Dialog-header {
    padding-bottom: var(--spectrum-dialog-fullscreen-header-padding-bottom);
  }

  .spectrum-Dialog-title {
    font-size: var(--spectrum-dialog-fullscreen-header-font-size);
    font-weight: var(--spectrum-dialog-fullscreen-header-font-weight);
    line-height: var(--spectrum-dialog-fullscreen-header-line-height);
  }

  &.is-open {
    transform: translate(0, 0);
  }
}

/* topdoc
{{ dialog/dialog-fullscreen-takeover.yml }}
*/
.spectrum-Dialog--fullscreenTakeover {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  box-sizing: border-box;

  /* Remove the border since we've taken over */
  border: none;
}
