.spectrum-Dialog {
  background: var(--spectrum-dialog-background-color-default);
}

.spectrum-Dialog-header {
  background: var(--spectrum-dialog-background-color-default);

  &:after {
    background: var(--spectrum-dialog-rule-color-default);
  }
}

.spectrum-Dialog-title {
  /* Todo: Determine if missing class is required */
  color: var(--spectrum-dialog-title-text-color-default);
}

.spectrum-Dialog-typeIcon {
  /* Todo: Determine if missing class is required */
  color: var(--spectrum-dialog-icon-color-default);
}

.spectrum-Dialog-footer {
  background: var(--spectrum-dialog-background-color-default);
}

/* topdoc
{{ dialog/dialog-error.yml }}
*/
.spectrum-Dialog--error {
  .spectrum-Dialog-title {
    color: var(--spectrum-dialog-error-title-text-color-default);
  }

  .spectrum-Dialog-typeIcon{
    color: var(--spectrum-dialog-error-icon-color-default);
  }
}
