:root {
  --spectrum-padding: 12px;
  --spectrum-margin: var(--spectrum-padding);
  --spectrum-border-radius: 4px;

  --spectrum-transition-time: 125ms;
  --spectrum-default-transition: 125 ms ease-in-out;

  --spectrum-component-single-line-height: 32px;
  --spectrum-component-single-line-width: 192px;

  /* Radio button */
  --spectrum-radio-hitarea: 8px;
}
