:root {
  --spectrum-overlay-animation-distance: 4px;
}

%spectrum-overlay {
  visibility: hidden;

  opacity: 0;

  transition: transform var(--spectrum-transition-time) ease-in-out,
              opacity var(--spectrum-transition-time) ease-in-out,
              visibility 0ms linear var(--spectrum-transition-time);

  pointer-events: none;
}

%spectrum-overlay--open {
  visibility: visible;

  opacity: 1;

  transition-delay: 0ms;

  pointer-events: auto;
}

%spectrum-overlay--bottom--open {
  transform: translateY(var(--spectrum-overlay-animation-distance));
}

%spectrum-overlay--top--open {
  transform: translateY(calc(-1 * var(--spectrum-overlay-animation-distance)));
}

%spectrum-overlay--right--open {
  transform: translateX(var(--spectrum-overlay-animation-distance));
}

%spectrum-overlay--left--open {
  transform: translateX(calc(-1 * var(--spectrum-overlay-animation-distance)));
}
