:root {
  /* Icon Button*/
  --spectrum-button-icon-icon-color-default: var(--spectrum-global-color-grey700);
  --spectrum-button-icon-icon-color-hover: var(--spectrum-global-color-grey900);
  --spectrum-button-icon-icon-color-active: var(--spectrum-global-color-grey800);
  --spectrum-button-icon-icon-color-focus: var(--spectrum-global-color-grey800);
  --spectrum-button-icon-icon-color-disabled: var(--spectrum-global-color-grey400);
  --spectrum-button-icon-background-color-default: transparent;
  --spectrum-button-icon-background-color-active: var(--spectrum-global-color-grey200);

  /* Button */
  --spectrum-button-border-focus-grow: 1px;

  --spectrum-loader-round-full-page-sprite-url: 'embed/Loader_Determinate_Full-Page_64_Sprite.svg';
  --spectrum-loader-round-indeterminate-full-page-sprite-url: 'embed/Loader_Indeterminate_Full-Page_64_Sprite.svg';
}
