.coral3-Alert {
  @extends $spectrum-alert

  .coral3-Alert-typeIcon {
    @extends $spectrum-alert-typeIcon
  }
}

.coral3-Alert--warning {
  @extends $spectrum-alert--error
  .coral3-Alert-typeIcon {
    @extends $spectrum-alert-typeIcon--error
  }
}

.coral3-Alert--success {
  @extends $spectrum-alert--success
  .coral3-Alert-typeIcon {
    @extends $spectrum-alert-typeIcon--success
  }
}

.coral3-Alert--warning {
  @extends $spectrum-alert--warning
  .coral3-Alert-typeIcon {
    @extends $spectrum-alert-typeIcon--warning
  }
}

.coral3-Alert-header {
  @extends $spectrum-alert-header
}

.coral3-Alert-content {
  @extends $spectrum-alert-content
}
