.coral3-Alert {
  @extends $spectrum-alert

  .coral3-Alert-typeIcon {
    @extends $spectrum-alert-typeIcon
  }

  &[class*='--error'] {
    @extends $spectrum-alert--error
    .coral3-Alert-typeIcon {
      @extends $spectrum-alert-typeIcon--error
    }
  }

  &[class*='--success'] {
    @extends $spectrum-alert--success
    .coral3-Alert-typeIcon {
      @extends $spectrum-alert-typeIcon--success
    }
  }

  &[class*='--warning'] {
    @extends $spectrum-alert--warning
    .coral3-Alert-typeIcon {
      @extends $spectrum-alert-typeIcon--warning
    }
  }

  .coral3-Alert-header {
    @extends $spectrum-alert-header
  }

  .coral3-Alert-content {
    @extends $spectrum-alert-content
  }
}
