@import input-mixin

/*
 Search Input
 ------------

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state

    <input type="search" value="" placeholder="search" class="topcoat-search-input">
    <input type="search is-disabled" value="" placeholder="search" class="topcoat-search-input">

 */

.topcoat-search-input
    input-base()
    border var-border
    background-color var-background-color
    box-shadow var-box-shadow--down
    color var-color
    -webkit-appearance none
    padding: 0 0 0 2.7em
    border-radius var-border-radius--large
    background-image var-background-image--search-input
    background-position 1em center
    background-repeat no-repeat
    background-size var-font-size

.topcoat-search-input:focus
    background-color var-background-color--focus
    color var-color-focus

.topcoat-search-input::-webkit-search-cancel-button,
.topcoat-search-input::-webkit-search-decoration
    margin-right 5px

.topcoat-search-input:focus::-webkit-input-placeholder,
.topcoat-search-input:focus::-webkit-input-placeholder
    color var-placeholder-color--input

.topcoat-search-input:disabled,
.topcoat-search-input.is-disabled
    disabled()

/*
 Large Search Input
 ------------------

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state

    <input type="search"  value="" placeholder="search" class="topcoat-search-input--large">
    <input type="search"  value="" placeholder="search" class="topcoat-search-input--large .is-disabled">

*/

.topcoat-search-input--large
    @extend .topcoat-search-input
    height var-height--large
    font-size var-font-size--large
    font-weight var-font-weight
    padding-left 2.8em
    border-radius var-border-radius--huge
    background-position 1.2em center
    background-size var-font-size--large

.topcoat-search-input--large:focus
    @extend .topcoat-search-input:focus

.topcoat-search-input--large:disabled,
.topcoat-search-input--large.is-disabled
    disabled()
