@import button-mixin
@import utils

/*
 TopCoat Icon Button
 -------------------

 :active - Active state

 .is-active - Simulates an active state on mobile devices

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state on mobile devices

    <a class="topcoat-icon-button">
        <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>

    <a class="topcoat-icon-button is-active">
      <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>

    <a class="topcoat-icon-button is-disabled">
      <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>
*/

.topcoat-icon-button {
    button-base()
    //  TODO: See if we can check for existance of
    //        topcoat-button to limit duplication
    padding: var-padding--icon-button;
    font-size: var-font-size;
    line-height: var-line-height;
    letter-spacing: var-letter-spacing;
    color: var-color;
    text-shadow: var-text-shadow;
    vertical-align: var-vertical-align;
    background-color: var-background-color;
    box-shadow: var-box-shadow;
    border: var-border;
    border-radius: var-border-radius;

}

.topcoat-icon-button:active,
.topcoat-icon-button.is-active {
    background-color: var-background-color--down;
    box-shadow: var-box-shadow--down;
}

.topcoat-icon-button:disabled,
.topcoat-icon-button.is-disabled {
    disabled()
}

/*
 TopCoat Quiet Icon Button
 --------------------

 :active - Button active state

 .is-active - Simulates active state for a button on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state

    <a class="topcoat-icon-button--quiet">
        <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>

    <a class="topcoat-icon-button--quiet is-active">
      <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>

    <a class="topcoat-icon-button--quiet is-disabled">
      <span class="topcoat-icon topcoat-icon--menu-stack"></span>
    </a>
*/

.topcoat-icon-button--quiet {
    @extend .topcoat-icon-button
    button-base--quiet()
}

.topcoat-icon-button--quiet:active,
.topcoat-icon-button--quiet.is-active {
    color: var-color;
    text-shadow: var-text-shadow;
    background-color: var-background-color--down;
    border: var-border;
    box-shadow: var-box-shadow--down;
}

.topcoat-icon-button--quiet:disabled,
.topcoat-icon-button--quiet.is-disabled {
    disabled()
}

/*
 TopCoat Large Icon Button
 -------------------

 :active - Active state

 .is-active - Simulates an active state on mobile devices

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state on mobile devices

    <a class="topcoat-icon-button--large">
        <span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
    </a>

    <a class="topcoat-icon-button--large is-active">
      <span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
    </a>

    <a class="topcoat-icon-button--large is-disabled">
      <span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
    </a>
*/

.topcoat-icon-button--large {
    @extend .topcoat-icon-button
    width: var-width--icon-button--large;
    height: var-height--icon-button--large;
    line-height: var-line-height--icon-buton--large;
}

.topcoat-icon-button--large:active,
.topcoat-icon-button--large.is-active {
    background-color: var-background-color--down;
    box-shadow: var-box-shadow--down;
}

.topcoat-icon-button--large:disabled,
.topcoat-icon-button--large.is-disabled {
    disabled()
}

/*
 TopCoat Large Quiet Icon Button
 -------------------

 :active - Active state

 .is-active - Simulates an active state on mobile devices

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state on mobile devices

    <a class="topcoat-icon-button--large--quiet">
        <span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
    </a>

    <a class="topcoat-icon-button--large--quiet is-active">
      <span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
    </a>

    <a class="topcoat-icon-button--large--quiet is-disabled">
      <span class="topcoat-icon--large topcoat-icon--menu-stack"></span>
    </a>
*/

.topcoat-icon-button--large--quiet {
    @extend .topcoat-icon-button--large
    button-base--quiet()
}

.topcoat-icon-button--large--quiet:active,
.topcoat-icon-button--large--quiet.is-active {
    @extend .topcoat-icon-button--quiet:active
}

.topcoat-icon-button--large--quiet:disabled,
.topcoat-icon-button--large--quiet.is-disabled {
    disabled()
}

.topcoat-icon {
  inline-block()
  overflow: var-overflow;
  width: var-width--icon;
  height: var-height--icon;
  text-indent: var-text-indent;
  vertical-align: var-vertical-align--icon;
}

.topcoat-icon--large {
  @extend .topcoat-icon
  width: var-width--large--icon;
  height: var-height--large--icon;
}

