var-color = rgb(69, 69, 69)
var-background-color--list = rgb(223, 226, 226)
var-border-top--list = 1px solid rgb(188, 191, 191)
var-border-bottom--list = 1px solid rgb(239, 241, 241)
var-border-top--list-item = 1px solid rgb(239, 241, 241)
var-border-bottom--list-item = 1px solid rgb(188, 191, 191)
var-padding--list-item = 1.25rem
