@define-placeholder button {
  extend: %inline-block;
  extend: %reset-box-model;
  extend: %reset-base;
  extend: %reset-cursor;
  extend: %ellipsis;
  text-decoration: none;
}

.button {
  @extend button;
}

.button--quiet {
  @extend %button--quiet;
}

.button--disabled {
  @extend %button--disabled;
}
