@import '../commons/index.css';

/* topdoc
{{ dropdown/dropdown-default.yml }}
*/
.spectrum-Dropdown {
  position: relative;
  display: inline-block;
  min-width: var(--spectrum-component-single-line-width);

  .spectrum-Popover {
    min-width: 100%;
    margin-top: var(--spectrum-dropdown-flyout-margin-default);
    overflow-y: auto;
  }
}


.spectrum-Dropdown-trigger {
  position: relative;
  width: 100%;

  .spectrum-Dropdown-trigger-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .spectrum-Dropdown-trigger-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 12px;

    &.is-placeholder {
      font-style: italic;
    }
  }
}

.spectrum-Dropdown-icon-container {
  .spectrum-Icon {
    margin-left: var(--spectrum-dropdown-margin-default);;
  }

  .spectrum-Dropdown-open-icon {
    display: inline-block;
    position: relative;
    width: 12px;
    height: 18px;
    vertical-align: top;

    &::after {
      position: absolute;
      top: 6px;
      left: 0;

      width: var(--spectrum-dropdown-chevron-icon-width-default);
      height: var(--spectrum-dropdown-chevron-icon-height-default);

      background-repeat: no-repeat;
      background-position: center;

      opacity: 1;

      content: '';
    }
  }
}

/* topdoc
{{ dropdown/dropdown-quiet.yml }}
*/
.spectrum-Dropdown--quiet {
  min-width: 0;

  .spectrum-Dropdown-trigger {
    margin: 0 var(--spectrum-dropdown-padding-default);
    width: calc(100% - var(--spectrum-dropdown-padding-default) * 2);
  }
}

/* topdoc
{{ dropdown/dropdown-invalid.yml }}
*/
