@import '../commons/index.css';

/* topdoc
{{ dropdown/dropdown-default.yml }}
*/
.spectrum-Dropdown {
  position: relative;
  box-sizing: border-box;
  transition: border-color var(--spectrum-transition-time);
  border-radius: var(--spectrum-border-radius);
  font-size: var(--spectrum-dropdown-font-size-default);
  cursor: pointer;
  display: inline-block;
  min-width: 64px;
  outline: none;

  &.is-disabled {
    border-width: 0;

    .spectrum-Dropdown-trigger {
      border-width: 0;
      cursor: default;
    }
  }

  &.is-open {
    .spectrum-Dropdown-trigger {
      border: 1px solid;
    }
  }
}

.spectrum-Dropdown-flyout {
  min-width: 100%;
  max-height: var(--spectrum-flyout-max-height-default);

  margin-top: var(--spectrum-dropdown-flyout-margin-default);

  overflow-y: auto;

  &.is-open {
    /* Animate downward */
    transform: translateY(4px);
  }
}

.spectrum-Dropdown-trigger {
  position: relative;

  width: 100%;
  height: var(--spectrum-dropdown-height-default);

  margin: 0;
  padding: 0 var(--spectrum-dropdown-padding-default);

  border: 1px solid;
  border-radius: var(--spectrum-border-radius);

  transition: background-color var(--spectrum-transition-time);

  font-family: inherit;
  font-style: italic;

  cursor: pointer;
  outline: none;

  .spectrum-Dropdown-trigger-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .spectrum-Dropdown-trigger-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.spectrum-Dropdown-icon-container {
  .spectrum-Icon {
    margin-left: var(--spectrum-dropdown-margin-default);;
  }

  .spectrum-Dropdown-open-icon {
    position: relative;
    width: 12px;
    height: 18px;

    &::after {
      position: absolute;
      top: 6px;
      left: 0;

      width: var(--spectrum-dropdown-chevron-icon-width-default);
      height: var(--spectrum-dropdown-chevron-icon-height-default);

      background-repeat: no-repeat;
      background-position: center;

      opacity: 1;

      content: '';
    }
  }
}

/* topdoc
{{ dropdown/dropdown-quiet.yml }}
*/

/* topdoc
{{ dropdown/dropdown-invalid.yml }}
*/
