@import '../commons/index.css';

:root {
  --spectrum-dropdown-chevron-icon-width-default: 10px;
  --spectrum-dropdown-chevron-icon-height-default: 6px;
  --spectrum-dropdown-icon-margin-default: 5px;
}

/* topdoc
{{ dropdown/dropdown-default.yml }}
*/
.spectrum-Dropdown {
  position: relative;
  display: inline-block;
  min-width: var(--spectrum-component-single-line-width);

  .spectrum-Popover {
    min-width: 100%;
    margin-top: var(--spectrum-dropdown-flyout-margin-default);
    overflow-y: auto;
  }
}


.spectrum-Dropdown-trigger {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .spectrum-Dropdown-label {
    /* Be the biggest! */
    flex: 1;

    white-space: nowrap;
    overflow: hidden;

    margin-right: 12px;

    text-overflow: ellipsis;
    text-align: left;

    &.is-placeholder {
      font-style: italic;
    }
  }
}

.spectrum-Dropdown-icon {
  display: inline-block;
  position: relative;
  vertical-align: top;

  width: var(--spectrum-dropdown-chevron-icon-width-default);
  height: var(--spectrum-dropdown-chevron-icon-height-default);

  margin-left: var(--spectrum-dropdown-icon-margin-default);

  opacity: 1;
}

/* topdoc
{{ dropdown/dropdown-quiet.yml }}
*/
.spectrum-Dropdown--quiet {
  min-width: 0;

  .spectrum-Dropdown-trigger {
    margin: 0 var(--spectrum-dropdown-padding-default);
    width: calc(100% - var(--spectrum-dropdown-padding-default) * 2);
  }
}

/* topdoc
{{ dropdown/dropdown-invalid.yml }}
*/
