.spectrum-Dropdown {
  .spectrum-Dropdown-trigger:hover {
    .spectrum-Dropdown-chevron {
      color: var(--spectrum-dropdown-text-color-hover);
    }
  }

  &.is-invalid {
    .spectrum-Icon {
      color: var(--spectrum-dropdown-icon-color-invalid-default);
    }

    &:hover .spectrum-Dropdown-chevron {
      color: var(--spectrum-dropdown-icon-color-invalid-default);
    }
  }

  &.is-disabled {
    &,
    .spectrum-Dropdown-trigger:hover {
      .spectrum-Dropdown-chevron {
        color: var(--spectrum-dropdown-text-color-disabled);
      }
    }
  }
}

.spectrum-Dropdown-chevron {
  color: var(--spectrum-dropdown-text-color-default);
}
