.spectrum-Dropdown {
  background-color: var(--spectrum-dropdown-background-color-default);
  border-color: var(--spectrum-dropdown-border-color-default);

  &:hover {
    border-color: var(--spectrum-dropdown-border-color-hover);
  }
}

.spectrum-Dropdown-trigger {
  color: var(--spectrum-dropdown-trigger-text-color-default);
  background-color: var(--spectrum-dropdown-trigger-background-color-default);


  &:focus {
    box-shadow: 0 0 0 2px var(--spectrum-dropdown-trigger-border-color-focus);
  }
}

.spectrum-Dropdown-option {
  color: var(--spectrum-dropdown-option-text-color-default);

  &:hover {
    background-color: var(--spectrum-dropdown-option-background-color-hover);
  }

  &:focus {
    background-image: linear-gradient(to right, var(--spectrum-dropdown-option-border-color-focus) 0%, var(--spectrum-dropdown-option-border-color-focus) 2px, var(--spectrum-dropdown-option-background-color-hover) 2px, var(--spectrum-dropdown-option-background-color-hover) 100%);
  }

  &.is-selected {
    color: var(--spectrum-dropdown-option-text-color-selected-default);
    &::after {
      background-image: url("../checkbox/embed/Check.svg" param(--color var(--spectrum-dropdown-option-text-color-selected-default)));
    }
  }
}

.spectrum-Dropdown-divider {
  background-color: var(--spectrum-dropdown-divider-background-color-default);
}

.spectrum-Dropdown-error-icon {
  color: var(--spectrum-dropdown-icon-color-error-default);
}

.spectrum-Dropdown-open-icon {
  &::after {
    background-image: url("embed/Down-Chevron.svg" param(--color var(--spectrum-dropdown-trigger-text-color-default)));
  }
}

.spectrum-Dropdown.is-open {
  /* Todo: Determine if code from unused mixin is needed? */
  box-shadow: 0 1px 3px var(--spectrum-dropdown-dropshadow-color-default);

  .spectrum-Dropdown-trigger {
    background-color: var(--spectrum-dropdown-background-color-default);

    /*
    Todo: Determine if missing mixin is required?
    &:focus {
      spectrum-dropdown-trigger--open--focus()
    }
    */
  }
}

.spectrum-Dropdown.is-disabled {
  .spectrum-Dropdown-open-icon {
    /* Todo: Determine if code from unused mixin is needed? */
    &::after {
      background-image: url("embed/Down-Chevron.svg" param(--color var(--spectrum-dropdown-trigger-text-color-disabled)));
    }
  }
  .spectrum-Dropdown-trigger {
    background-color: var(--spectrum-dropdown-trigger-background-color-disabled);
    color: var(--spectrum-dropdown-trigger-text-color-disabled);
  }
}

.spectrum-Dropdown.has-error {
  border-color: var(--spectrum-dropdown-border-color-error-default);
}

.spectrum-Dropdown--quiet {
  background-color: var(--spectrum-dropdown-quiet-background-color-default);

  .spectrum-Dropdown-trigger {
    background-color: var(--spectrum-dropdown-quiet-background-color-default);

    &:hover {
      color: var(--spectrum-dropdown-quiet-trigger-text-color-hover);
    }

    &:focus {
      border-color: var(--spectrum-dropdown-trigger-border-color-focus);
    }
  }

  &.is-disabled {
    .spectrum-Dropdown-trigger {
      background-color: var(--spectrum-dropdown-quiet-trigger-background-color-disabled);
    }
  }

  &.is-open {
    .spectrum-Dropdown-trigger {
      background-color: var(--spectrum-dropdown-quiet-background-color-default);
      color: var(--spectrum-dropdown-quiet-trigger-text-color-open-default);
    }

    .spectrum-Dropdown-menu {
      background-color: var(--spectrum-dropdown-quiet-menu-background-color-default);
      box-shadow: 0 1px 3px var(--spectrum-dropdown-dropshadow-color-default);
    }
  }
}

/*
.spectrum-Dropdown-trigger--focus {
  spectrum-dropdown-trigger--focus()
}

.spectrum-Dropdown--hover {
  spectrum-dropdown--hover()
}

.spectrum-Dropdown-option--hover {
  spectrum-dropdown-option--hover()
}

.spectrum-Dropdown-option--focus {
  spectrum-dropdown-option--focus()
}

.spectrum-Dropdown--quiet {
  .spectrum-Dropdown-trigger--hover {
    spectrum-dropdown-trigger--quiet--hover()
  }

  .spectrum-Dropdown-trigger--focus {
    spectrum-dropdown-trigger--quiet--focus()
  }
}
*/
  