@require '../base/commons'

.coral--light,
.coral--dark {
  font-family: $spectrum-font-base-family
  font-size: $spectrum-font-size
}

.coral--light {
  background-color: $spectrum-color-light-background
  color: $spectrum-color-light-text
}

.coral--dark {
  background-color: $spectrum-color-dark-background
  color: $spectrum-color-dark-text
}
