- var repeats = 200
doctype 5
html
	head
		title Notification base component
		link(rel='stylesheet', type='text/css', href='../../release/css/notification-base.min.css')
	body
		- while (--repeats)
			p
				strong Inbox
				span.notification 5
