/* these comments can be included in the output css, for us they are used by
   topdoc to generate the documentation we publish...

   you can probably ignore them unless you want to generate documentation
   or you want to help fix our documentation :)

   note:
     the '!'' tells stylus to preserve the comment into output css
     the 'topdoc' let's topdoc know it should parse the comment for YAML
*/

/*! topdoc
  name: Alert - Success
  description: The Spectrum alert 'success'
  markup: |
      <div class="spectrum-Alert spectrum-Alert--success">
        <div class="spectrum-Icon spectrum-Icon--sizeXS spectrum-Icon--Check-Circle spectrum-Alert-typeIcon" role="img" aria-label="check circle"></div>
        <div class="spectrum-Alert-header">Successful Alert Header</div>
        <div class="spectrum-Alert-content">This is an alert.</div>
      </div>
  tags:
    - desktop
    - light
    - mobile
    - radio
*/

/*! topdoc
  name: Alert - Info
  description: The Spectrum alert 'info'
  markup: |
      <div class="spectrum-Alert spectrum-Alert--info">
        <div class="spectrum-Icon spectrum-Icon--sizeXS spectrum-Icon--Info-Circle spectrum-Alert-typeIcon" role="img" aria-label="info circle"></div>
        <div class="spectrum-Alert-header">Infomation Alert Header</div>
        <div class="spectrum-Alert-content">This is an alert.</div>
      </div>
  tags:
    - desktop
    - light
    - mobile
    - radio
*/

/*! topdoc
  name: Alert - Warning
  description: The Spectrum alert 'warning'
  markup: |
      <div class="spectrum-Alert spectrum-Alert--warning">
        <div class="spectrum-Icon spectrum-Icon--sizeXS spectrum-Icon--Alert spectrum-Alert-typeIcon" role="img" aria-label="alert"></div>
        <div class="spectrum-Alert-header">Warning Alert Header</div>
        <div class="spectrum-Alert-content">This is an alert.</div>
      </div>
  tags:
    - desktop
    - light
    - mobile
    - radio
*/

/*! topdoc
  name: Alert - Error
  description: The Spectrum alert 'error'
  markup: |
      <div class="spectrum-Alert spectrum-Alert--error">
        <div class="spectrum-Icon spectrum-Icon--sizeXS spectrum-Icon--Alert spectrum-Alert-typeIcon" role="img" aria-label="alert"></div>
        <div class="spectrum-Alert-header">Error Alert - Oh no</div>
        <div class="spectrum-Alert-content">This is an alert.</div>
      </div>
  tags:
    - desktop
    - light
    - mobile
    - radio
*/


/*! topdoc
  name: Alert - Discloseable
  description: The Spectrum alert 'discloseable'. It has a close button in the footer. Combine this with other variants.
  markup: |
      <div class="spectrum-Alert spectrum-Alert--error">
        <div class="spectrum-Icon spectrum-Icon--sizeXS spectrum-Icon--Alert spectrum-Alert-typeIcon" role="img" aria-label="alert"></div>
        <div class="spectrum-Alert-header">Incorrect Payment Information - Error</div>
        <div class="spectrum-Alert-content">This is an alert.</div>
        <div class="spectrum-Alert-footer">
          <button class="spectrum-Button spectrum-Button--minimal">Close</button>
        </div>
      </div>
  tags:
    - desktop
    - light
    - mobile
    - radio
*/


