@require '../commons'

spectrum-alert() {
  background-color: $spectrum-color-alert-background

  // Default color is blue
  border-color: $spectrum-color-alert-border-info
}

spectrum-alert-typeIcon() {
  color: $spectrum-color-alert-border-info
}

spectrum-alert--error() {
  border-color: $spectrum-color-alert-border-error
}

spectrum-alert-typeIcon--error() {
  color: $spectrum-color-alert-border-error
}

spectrum-alert--success() {
  border-color: $spectrum-color-alert-border-success
}

spectrum-alert-typeIcon--success() {
  color: $spectrum-color-alert-border-success
}

spectrum-alert--warning() {
  border-color: $spectrum-color-alert-border-warning
}

spectrum-alert-typeIcon--warning() {
  color: $spectrum-color-alert-border-warning
}

spectrum-alert-header() {
  color: $spectrum-color-heading4
}

spectrum-alert-content() {
  color: $spectrum-color-text-secondary
}
