@import '../commons/index.css';
@import '../commons/overlay.css';

:root {
  --spectrum-tooltip-animation-distance: 4px;
  --spectrum-tooltip-target-offset: 3px;
  --spectrum-tooltip-max-width: 256px;
  --spectrum-tooltip-tip-width: 8px;
  --spectrum-tooltip-tip-height: 4px;
}

.spectrum-Tooltip {
  @inherit: %spectrum-overlay;

  position: relative;
  left: 0px;
  top: 0px;

  display: inline-block;
  box-sizing: border-box;

  width: auto;
  max-width: var(--spectrum-tooltip-max-width);
  padding: 2px 9px;
  border-radius: var(--spectrum-border-radius);

  font-size: var(--spectrum-font-size-text-label);
  line-height: var(--spectrum-line-height-text-label);

  &.is-open {
    @inherit: %spectrum-overlay--open;
  }

  & {
    pointer-events: none;
  }
}

.spectrum-Tooltip-tip {
  position: absolute;
  overflow: hidden;
  width: var(--spectrum-tooltip-tip-width);
  height: var(--spectrum-tooltip-tip-height);
  &::after {
    content: '';
    width: 6px;
    height: 6px;
    top: -4px;
    left: 1px;
    position: absolute;
    transform: rotate(45deg);
  }
}

.spectrum-Tooltip--right {
  margin-left: var(--spectrum-tooltip-target-offset);
  &.is-open {
    @inherit: %spectrum-overlay--right--open;
  }
  .spectrum-Tooltip-tip {
    left: -6px;
    transform: rotate(90deg);
  }
}

.spectrum-Tooltip--left {
  margin-right: var(--spectrum-tooltip-target-offset);
  &.is-open {
    @inherit: %spectrum-overlay--left--open;
  }
  .spectrum-Tooltip-tip {
    right: -6px;
    transform: rotate(-90deg);
  }
}

.spectrum-Tooltip--right,
.spectrum-Tooltip--left {
  .spectrum-Tooltip-tip {
    top: 50%;
    margin-top: calc(var(--spectrum-tooltip-tip-height) / -2);
  }
}

.spectrum-Tooltip--bottom {
  margin-top: var(--spectrum-tooltip-target-offset);
  &.is-open {
    @inherit: %spectrum-overlay--bottom--open;
  }
  .spectrum-Tooltip-tip {
    top: -4px;
    transform: rotate(180deg);
  }
}

.spectrum-Tooltip--top {
  margin-bottom: var(--spectrum-tooltip-target-offset);
  &.is-open {
    @inherit: %spectrum-overlay--top--open;
  }
  .spectrum-Tooltip-tip {
    bottom: -4px;
  }
}

.spectrum-Tooltip--bottom,
.spectrum-Tooltip--top {
  .spectrum-Tooltip-tip {
    left: 50%;
    margin-left: calc(var(--spectrum-tooltip-tip-width) / -2);
  }
}

/* topdoc
{{ tooltip/tooltip-icons.yml }}
*/
.spectrum-Tooltip-typeIcon {
  margin-right: var(--spectrum-button-label-icon-gap-size-default);

  /* Fix font icon alignment in Chrome on Windows, works for Mac too */
  vertical-align: -2px;
  line-height: 14px;
}

.spectrum-Tooltip-label {
  /* Make sure line height is correct to prevent problems in Windows */
  line-height: var(--spectrum-body-font-line-height-default);
}

.u-tooltip-showOnHover {
  display: inline-block;
  position: relative;

  .spectrum-Tooltip {
    /* Required for animations to work */
    visibility: visible;
    transition: transform var(--spectrum-transition-time) ease-in-out;
    top: -100%;
  }

  .spectrum-Tooltip--right,
  .spectrum-Tooltip--left {
    top:50%;
    .spectrum-Tooltip-tip {
      top: 50%;
      margin-top: -4px;
    }
  }

  .spectrum-Tooltip--right {
    transform: translate(-8px, -50%);
  }

  .spectrum-Tooltip--left {
    transform: translate(calc(-100% + 8px), -50%);
  }

  .spectrum-Tooltip--bottom,
  .spectrum-Tooltip--top {
    left:50%;
    .spectrum-Tooltip-tip {
      left: 50%;
      margin-left: -4px;
    }
  }

  .spectrum-Tooltip--bottom {
    transform: translate(-50%, -8px);
  }

  .spectrum-Tooltip--top {
    transform: translate(-50%, 8px);
  }

  &:hover .spectrum-Tooltip {
    opacity: 1;
  }

  &:hover .spectrum-Tooltip.spectrum-Tooltip--bottom {
    transform: translate(-50%, 8px);
  }

  &:hover .spectrum-Tooltip.spectrum-Tooltip--top {
    transform: translate(-50%, -8px);
  }

  &:hover .spectrum-Tooltip.spectrum-Tooltip--left {
    transform: translate(-100%, -50%);
  }

  &:hover .spectrum-Tooltip.spectrum-Tooltip--right {
    transform: translate(0, -50%);
  }
}
