@import '../commons/index.css';

:root {
  --spectrum-zindex-tooltip: 100;
}

.spectrum-Tooltip {
  padding: 8px 10px;
  position: absolute;
  pointer-events: none;
  z-index: var(--spectrum-zindex-tooltip);
  opacity: 0;
  visibility: hidden;
  transition: all 100ms ease-in-out, visibility 0ms linear 100ms;
}

.spectrum-Tooltip-content {
  display: inline-block;
  position: relative;

  width: auto;

  padding: 4px 8px;

  border-radius: var(--spectrum-border-radius);

  font-size: var(--spectrum-font-size-text-label);
  line-height: var(--spectrum-line-height-text-label);

  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-smoothing: subpixel-antialiased;

  .spectrum-Link {
    pointer-events: all;
  }
}

/* topdoc
{{ tooltip/tooltip-large.yml }}
*/
.spectrum-Tooltip--large {
  .spectrum-Tooltip-content{
    padding: 8px 16px;
  }
}

/* topdoc
{{ tooltip/tooltip-icons.yml }}
*/
.spectrum-Tooltip-typeIcon {
  font-size: 14px;
  vertical-align: middle;
  margin-right: var(--spectrum-button-label-icon-gap-size-default);
}

.spectrum-Tooltip-label {
  vertical-align: middle;
}

.spectrum-Tooltip.is-open {
  opacity: 1;
  visibility: visible;
  transition-delay: 0ms;
}

.spectrum-Tooltip--right {
  .spectrum-Tooltip-tip {
    bottom: 50%;
    left: -2px;
    margin-bottom: -2px;
    transform: rotate(90deg);
  }
}

.spectrum-Tooltip--left {
  .spectrum-Tooltip-tip {
    bottom: 50%;
    left: auto;
    margin-bottom: -3px;
    right: -6px;
    transform: rotate(-90deg);
  }
}

.spectrum-Tooltip--bottom {
  .spectrum-Tooltip-tip {
    bottom: auto;
    top: -4px;
    transform: rotate(180deg);
  }
}

.u-tooltip-showOnHover {
  display: inline-block;
  position: relative;

  .spectrum-Tooltip {
    /* Required for animations to work */
    visibility: visible;
  }

  .spectrum-Tooltip--top {
    transform: translate(-50%, 8px) scale(.94);
    top: -100%;
    left: 50%;

    /* this moves the tooltip up, above the hovered component. this should be calculated by JS */
    margin-top: -26px;
  }

  .spectrum-Tooltip--right {
    transform: translate(-8px, -50%) scale(.94);
    top: 50%;
    left: 100%;
  }

  .spectrum-Tooltip--left {
    transform: translate(calc(-100% + 8px), -50%) scale(.94);
    top: 50%;
    left: 0;
  }

  .spectrum-Tooltip--bottom {
    transform: translate(-50%, -8px) scale(.94);
    bottom: -100%;
    left: 50%;
    margin-bottom: -28px;
  }

  &:hover .spectrum-Tooltip {
    opacity: 1;
  }

  &:hover .spectrum-Tooltip.spectrum-Tooltip--bottom {
    transform: translate(-50%, 8px) scale(.94);
  }

  &:hover .spectrum-Tooltip.spectrum-Tooltip--top {
    transform: translate(-50%, -8px) scale(.94);
  }

  &:hover .spectrum-Tooltip.spectrum-Tooltip--left {
    transform: translate(-100%, -50%) scale(1);
  }

  &:hover .spectrum-Tooltip.spectrum-Tooltip--right {
    transform: translate(0, -50%) scale(1);
  }
}

.spectrum-Tooltip-tip {
  position: absolute;
  width: 8px;
  height: 4px;
  bottom: -4px;
  left: 50%;
  margin-left: -4px;

  &::after {
    content: '';
    width: 6px;
    height: 6px;
    bottom: 1px;
    left: 1px;
    position: absolute;
    transform: rotate(45deg);
  }
}
