/* topdoc
{{ tooltip/tooltip-default.yml }}
*/
.spectrum-Tooltip {
  &,
  .spectrum-Tooltip-tip::after {
    background-color: var(--spectrum-tooltip-background-color-default);
    color: var(--spectrum-tooltip-text-color-default);
  }
}

.spectrum-Tooltip--error {
  &,
  .spectrum-Tooltip-tip::after {
    background-color: var(--spectrum-tooltip-error-background-color-default);
  }
}

.spectrum-Tooltip--info {
  &,
  .spectrum-Tooltip-tip::after {
    background-color: var(--spectrum-tooltip-info-background-color-default);
  }
}

.spectrum-Tooltip--success {
  &,
  .spectrum-Tooltip-tip::after {
    background-color: var(--spectrum-tooltip-success-background-color-default);
  }
}
