/* topdoc
{{ tooltip/tooltip-default.yml }}
*/
.spectrum-Tooltip {
  .spectrum-Tooltip-content,
  .spectrum-Tooltip-tip::after {
    background-color: var(--spectrum-tooltip-background-color-default);
    color: var(--spectrum-tooltip-text-color-default);
  }
}

/* topdoc
{{ tooltip/tooltip-error.yml }}
*/
.spectrum-Tooltip--error {
  .spectrum-Tooltip-content,
  .spectrum-Tooltip-tip::after {
    background-color: var(--spectrum-tooltip-error-background-color-default);
  }
}

/* topdoc
{{ tooltip/tooltip-info.yml }}
*/
.spectrum-Tooltip--info {
  .spectrum-Tooltip-content,
  .spectrum-Tooltip-tip::after {
    background-color: var(--spectrum-tooltip-info-background-color-default);
  }
}

/* topdoc
{{ tooltip/tooltip-success.yml }}
*/
.spectrum-Tooltip--success {
  .spectrum-Tooltip-content,
  .spectrum-Tooltip-tip::after {
    background-color: var(--spectrum-tooltip-success-background-color-default);
  }
}
