- var repeats = 200
doctype 5
html
    head
        title Topcoat textarea test
        link(rel="stylesheet", href="../../release/css/textarea.min.css")
    body
        - while (repeats--)
            textarea.textarea(placeholder='Small Textarea')

