@import input-mixin
@import utils

/*
 Text Input
 ----------

:disabled - Disabled state
.is-disabled - Simulates a disabled state on mobile devices

    <input type="text" class="topcoat-text-input" value="" placeholder="text">
    <input type="text" class="topcoat-text-input is-disabled" value="" placeholder="text">

*/

.topcoat-text-input
	input-base()
	border var-border
	background-color var-background-color
	box-shadow var-box-shadow--down
	color var-color

.topcoat-text-input:focus
	background-color var-background-color--focus
	color var-color--focus

.topcoat-text-input:disabled,
.topcoat-text-input.is-disabled
	disabled()

/*
 Large Text Input
 ----------------

:disabled - Disabled state
.is-disabled - Simulates a disabled state on mobile devices

    <input type="text" class="topcoat-text-input--large" value="" placeholder="text">
    <input type="text" class="topcoat-text-input--large is-disabled" value="" placeholder="text">
*/

.topcoat-text-input--large
	@extend .topcoat-text-input
	height var-height--large
	font-size var-font-size--large

.topcoat-text-input--large:focus
	background-color var-background-color--focus
	color var-color--focus

.topcoat-text-input--large.is-disabled,
.topcoat-text-input--large:disabled
	disabled()
