var-height--large = 4rem
var-font-size--large = 1.3rem
var-font-weight--large = 400
var-line-height--large = 4rem
var-margin = 0
var-padding--navigation-bar = 1rem
var-background-color = #e5e9e8
var-color--navigation-bar = #000
var-box-shadow--navigation-bar = inset 0 -1px #b9bcbc, 0 1px rgba(0, 0, 0, 0.5);
/* Icon button vars */
var-overflow = hidden
var-background-color = #e5e9e8
var-backgorund-color--body = #DFE2E2
var-background-color--down = #d3d7d7
var-border = 1px solid #a5a8a8
var-box-shadow = inset 0 1px #fff
var-box-shadow--down = inset 0 1px rgba(0, 0, 0, 0.12)
var-color = #454545
var-vertical-align = top
var-text-shadow = 0 1px #fff
var-text-indent = 100%
var-font-size = 16px
var-line-height = 3rem
var-letter-spacing = 1px
var-border-radius = 6px
/* Icon button */
var-padding--icon-button = 0 0.75rem
var-width--icon = 1.5rem
var-height--icon = 1.5rem
var-vertical-align--icon = middle
var-background-size--icon = cover
var-menu-stack-icon = url("../../test/fixtures/img/hamburger_dark.svg");
