$spectrum-checkbox-check-icon-url = 'base/checkbox/embed/Check.svg' // Relative to project root

$spectrum-checkbox-description {
  color: $spectrum-color-input-label;
}

$spectrum-checkbox-checkmark {
  border-color: $spectrum-color-switch-border;

  &:after {
    background-image: svgurl($spectrum-checkbox-check-icon-url) svg(path fill $spectrum-color-switch-track);
  }
}

$spectrum-checkbox--checked-checkmark {
  border-color: $spectrum-color-switch-border;
}

$spectrum-checkbox--focus-checkmark {
  border-color: $spectrum-color-switch-border-focus;
  box-shadow-color: $spectrum-color-switch-border-focus;
}

$spectrum-checkbox--hover-checkmark {
  border-color: $spectrum-color-switch-border-hover;
}

$spectrum-checkbox--active-checkmark {
  border-color: $spectrum-color-switch-border-active;
}

$spectrum-checkbox--disabled-checkmark {
  border-color: $spectrum-color-input-background-disabled;
}

$spectrum-checkbox--disabled-description {
  border-color: $spectrum-color-disabled-text;
}
