@import 'abstract/components/typography/skin.styl'

& {
  spectrum-body-text()
}

.spectrum-BodyText {
  spectrum-body-text()
}

.spectrum-BodyText--italic {
  spectrum-body-text--italic()
}

.spectrum-BodyText--large {
  spectrum-body-text--large()
}

.spectrum-BodyText--small {
  spectrum-body-text--small()
}

.spectrum-BodyText--secondary {
  spectrum-body-text--secondary()
}

.spectrum-Header--display {
  spectrum-header--display()
}

.spectrum-Header--page-title {
  spectrum-header--page-title()
}

.spectrum-Subtitle--1 {
  spectrum-header--subtitle1()
}

.spectrum-Subtitle--2 {
  spectrum-header--subtitle2()
}

.spectrum-Subtitle--3 {
  spectrum-header--subtitle3()
}
