@import 'abstract/components/typography/skin.styl'

& {
  spectrum-body-text()
}

.spectrum-BodyText {
  spectrum-body-text()
}

.spectrum-BodyText--italic {
  spectrum-body-text--italic()
}

.spectrum-BodyText--large {
  spectrum-body-text--large()
}

.spectrum-BodyText--small {
  spectrum-body-text--small()
}

.spectrum-BodyText--secondary {
  spectrum-body-text--secondary()
}

.spectrum-Heading--display {
  spectrum-heading--display()
}

.spectrum-Heading--page-title {
  spectrum-heading--page-title()
}

.spectrum-Heading--subtitle1 {
  spectrum-heading--subtitle1()
}

.spectrum-Heading--subtitle2 {
  spectrum-heading--subtitle2()
}

.spectrum-Heading--subtitle3 {
  spectrum-heading--subtitle3()
}
