@import 'abstract/components/label/skin.styl'

.spectrum-Label--grey {
  spectrum-label-grey()
}

.spectrum-Label--green {
  spectrum-label-green()
}

.spectrum-Label--blue, .spectrum-Label--active, .spectrum-Label--and  {
  spectrum-label-blue()
}

.spectrum-Label--red {
  spectrum-label-red()
}

.spectrum-Label--seafoam {
  spectrum-label-seafoam()
}

.spectrum-Label--periwinkle {
  spectrum-label-periwinkle()
}

.spectrum-Label--fuchsia {
  spectrum-label-fuchsia()
}

.spectrum-Label--orange, .spectrum-Label--or {
  spectrum-label-orange()
}

.spectrum-Label--yellow {
  spectrum-label-yellow()
}

.spectrum-Label--plum {
  spectrum-label-plum()
}

.spectrum-Label--cyan {
  spectrum-label-cyan()
}

.spectrum-Label--kellygreen {
  spectrum-label-kellygreen()
}

.spectrum-Label--inactive {
  spectrum-label-grey()
}
