@import 'abstract/components/label/index.styl'

/*! topdoc
{{ label-default-topdoc }}
*/
.spectrum-Label {
  spectrum-label()
}


/*! topdoc
{{ label-top-topdoc }}
*/
.spectrum-Label--top {
  spectrum-label-top()
}

.spectrum-Label-typeIcon {
  spectrum-label-typeIcon()
}


/*! topdoc
{{ label-large-topdoc }}
*/
.spectrum-Label--large {
  spectrum-label--large()
}

@import 'skin.styl'
