@import '@spectrum/spectrum-abstract-stylus/dist/components/label/skin.styl'

.spectrum-Label--grey {
  spectrum-label-grey()
}

.spectrum-Label--green {
  spectrum-label-green()
}

.spectrum-Label--blue, .spectrum-Label--active, .spectrum-Label--and  {
  spectrum-label-blue()
}

.spectrum-Label--red {
  spectrum-label-red()
}

.spectrum-Label--orange, .spectrum-Label--or {
  spectrum-label-orange()
}

/*! topdoc
{{ label-special-topdoc }}
*/
.spectrum-Label--inactive {
  spectrum-label-grey()
}
