@import '../commons/index.css';

:root {
  --spectrum-progress-label-padding: 10px;
  --spectrum-progress-label-vertical-padding: 2px;

  --spectrum-progress-small-width: 148px;
  --spectrum-progress-small-height: 4px;
  --spectrum-progress-small-label-size: 11px;
  --spectrum-progress-small-label-width: 28px;
  --spectrum-progress-small-label-height: calc(var(--spectrum-progress-small-label-size) + 2px);
  --spectrum-progress-small-radius: 2px;

  --spectrum-progress-medium-width: 182px;
  --spectrum-progress-medium-height: 6px;
  --spectrum-progress-medium-label-size: 12px;
  --spectrum-progress-medium-label-width: 30px;
  --spectrum-progress-medium-label-height: calc(var(--spectrum-progress-medium-label-size) + 2px);
  --spectrum-progress-medium-radius: 4px;

  --spectrum-progress-large-width: 272px;
  --spectrum-progress-large-height: 8px;
  --spectrum-progress-large-label-size: 13px;
  --spectrum-progress-large-label-width: 32px;
  --spectrum-progress-large-label-height: calc(var(--spectrum-progress-large-label-size) + 2px);
  --spectrum-progress-large-radius: 6px;

  --spectrum-progress-indeterminate-animation-time: 934ms;
}

@keyframes spectrum-progress-indeterminate {
  to {
    transform: translateX(110%);
  }
}

.spectrum-Progress {
  position: relative;
  display: inline-block;
  
  min-width: var(--spectrum-progress-medium-width);
  height: var(--spectrum-progress-medium-height);

  vertical-align: top;
}

.spectrum-Progress-bar {
  /* Visually apply border radius to child elements */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  /* rightLabel is the default style */
  right: calc(var(--spectrum-progress-medium-label-width) + var(--spectrum-progress-label-padding));

  height: var(--spectrum-progress-medium-height);
}

.spectrum-Progress-status {
  height: var(--spectrum-progress-medium-height);

  transition: width 1s;
}

.spectrum-Progress-label {
  position: absolute;
  top: 0;

  height: var(--spectrum-progress-medium-label-height);
  width: var(--spectrum-progress-medium-label-width);

  font-size: var(--spectrum-progress-medium-label-size);

  right: 0;
  padding-left: var(--spectrum-progress-label-padding);

  text-align: left;
}

.spectrum-Progress--indeterminate {
  .spectrum-Progress-status {
    display: none;
  }

  .spectrum-Progress-bar {
    transform: translateZ(0);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      transform: translateX(-110%);

      animation: spectrum-progress-indeterminate var(--spectrum-progress-indeterminate-animation-time) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite forwards;
    }
  }
}

.spectrum-Progress--leftLabel {
  .spectrum-Progress-label {
    left: 0;
    padding-right: var(--spectrum-progress-label-padding);

    /* resets the default rightLabel style */
    padding-left: 0;

    text-align: right;
  }
  .spectrum-Progress-bar {
    left: calc(var(--spectrum-progress-medium-label-width) + var(--spectrum-progress-label-padding));
    right: 0;
  }
}

.spectrum-Progress--bottomLabel {
  height: calc(var(--spectrum-progress-medium-height) + var(--spectrum-progress-medium-label-height));

  .spectrum-Progress-label {
    top: calc(var(--spectrum-progress-medium-height) + var(--spectrum-progress-label-vertical-padding));
    left: 0;
    right: 0;
    width: auto;

    /* resets the default rightLabel style */
    padding-left: 0;

    /* text-align: center // Alan said to inherit */

    line-height: inherit;
  }

  .spectrum-Progress-bar {
    /* resets the default rightLabel style */
    right: 0;
  }
}

.spectrum-Progress--noLabel {
  spectrum-progress--noLabel()

  .spectrum-Progress-label {
    display: none;
  }

  .spectrum-Progress-bar {
    right: 0;
  }
}

/* topdoc
{{ progress/progress-small.yml }}
*/
.spectrum-Progress--small {
  height: var(--spectrum-progress-small-height);
  min-width: var(--spectrum-progress-small-width);

  .spectrum-Progress-label {
    height: var(--spectrum-progress-small-label-height);
    width: var(--spectrum-progress-small-label-width);

    font-size: var(--spectrum-progress-small-label-size);
  }

  .spectrum-Progress-status {
    height: var(--spectrum-progress-small-height);
  }

  .spectrum-Progress-bar {
    height: var(--spectrum-progress-small-height);
    border-radius: var(--spectrum-progress-small-radius);
  }

  &.spectrum-Progress--bottomLabel {
    height: calc(var(--spectrum-progress-small-height) + var(--spectrum-progress-small-label-height));

    .spectrum-Progress-label {
      top: calc(var(--spectrum-progress-small-height) + var(--spectrum-progress-label-vertical-padding));
      width: auto;

      line-height: inherit;
    }
  }

  &.spectrum-Progress--leftLabel {
    /* Be the same height as the label */
    height: var(--spectrum-progress-small-label-height);

    /* Move the bar to the vertical center */
    .spectrum-Progress-bar {
      top: calc(calc(var(--spectrum-progress-small-label-height) / 2) - calc(var(--spectrum-progress-small-height) / 2));
    }

    .spectrum-Progress-label {
      line-height: var(--spectrum-progress-small-label-height);
    }
  }

  &.spectrum-Progress--rightLabel {
    /* Be the same height as the label */
    height: var(--spectrum-progress-small-label-height);

    /* Move the bar to the vertical center */
    .spectrum-Progress-bar {
      top: calc(calc(var(--spectrum-progress-small-label-height) / 2) - calc(var(--spectrum-progress-small-height) / 2));
    }

    .spectrum-Progress-label {
      line-height: var(--spectrum-progress-small-label-height);
    }
  }
}


/* topdoc
{{ progress/progress-medium.yml }}
*/
.spectrum-Progress--medium {
  .spectrum-Progress-bar {
    border-radius: var(--spectrum-progress-medium-radius);
  }

  &.spectrum-Progress--leftLabel {
    /* Be the same height as the label */
    height: var(--spectrum-progress-medium-label-height);

    /* Move the bar to the vertical center */
    .spectrum-Progress-bar {
      top: calc(calc(var(--spectrum-progress-medium-label-height) / 2) - calc(var(--spectrum-progress-medium-height) / 2));
    }

    .spectrum-Progress-label {
      line-height: var(--spectrum-progress-medium-label-height);
    }
  }

  &.spectrum-Progress--rightLabel {
    /* Be the same height as the label */
    height: var(--spectrum-progress-medium-label-height);

    /* Move the bar to the vertical center */
    .spectrum-Progress-bar {
      top: calc(calc(var(--spectrum-progress-medium-label-height) / 2) - calc(var(--spectrum-progress-medium-height) / 2));
    }

    .spectrum-Progress-label {
      line-height: var(--spectrum-progress-medium-label-height);
    }
  }
}


/* topdoc
{{ progress/progress-large.yml }}
*/
.spectrum-Progress--large {
  height: var(--spectrum-progress-large-height);
  min-width: var(--spectrum-progress-large-width);

  .spectrum-Progress-label {
    height: var(--spectrum-progress-large-label-height);
    width: var(--spectrum-progress-large-label-width);

    font-size: var(--spectrum-progress-large-label-size);
  }

  .spectrum-Progress-status {
    height: var(--spectrum-progress-large-height);
  }

  .spectrum-Progress-bar {
    height: var(--spectrum-progress-large-height);
    border-radius: var(--spectrum-progress-large-radius);
  }

  &.spectrum-Progress--bottomLabel {
    height: calc(var(--spectrum-progress-large-height) + var(--spectrum-progress-large-label-height));

    .spectrum-Progress-label {
      top: calc(var(--spectrum-progress-large-height) + var(--spectrum-progress-label-vertical-padding));
      width: auto;

      line-height: inherit;
    }
  }

  &.spectrum-Progress--leftLabel {
    /* Be the same height as the label */
    height: var(--spectrum-progress-large-label-height);

    /* Move the bar to the vertical center */
    .spectrum-Progress-bar {
      top: calc(calc(var(--spectrum-progress-large-label-height) / 2) - calc(var(--spectrum-progress-large-height) / 2));
    }

    .spectrum-Progress-label {
      line-height: var(--spectrum-progress-large-label-height);
    }
  }

  &.spectrum-Progress--rightLabel {
    /* Be the same height as the label */
    height: var(--spectrum-progress-large-label-height);

    /* Move the bar to the vertical center */
    .spectrum-Progress-bar {
      top: calc(calc(var(--spectrum-progress-large-label-height) / 2) - calc(var(--spectrum-progress-large-height) / 2));
    }

    .spectrum-Progress-label {
      line-height: var(--spectrum-progress-large-label-height);
    }
  }
}
