@import '../commons/index.css';


.spectrum-Rating {
  cursor: pointer;
  position: relative;

  &.is-disabled {
    cursor: default;
    pointer-events: none;
  }
}

.spectrum-Rating-input {
  position: absolute;
  width: calc(5 * (var(--spectrum-rating-icon-hitarea) + var(--spectrum-rating-icon-spacing))); /* 120px */
  height: var(--spectrum-rating-icon-hitarea); /* 16px; */
  opacity: 0.0001;
  pointer-events: none;
  z-index: 0;
}

.spectrum-Rating-icon {
  background-size: contain;
  background-repeat: no-repeat;
  width: calc(var(--spectrum-rating-icon-hitarea) + var(--spectrum-rating-icon-spacing)); /* 24px; */
  height: var(--spectrum-rating-icon-hitarea); /* 16px; */
  float: left;
}

.spectrum-Rating-starActive,
.spectrum-Rating-starInactive {
  width: var(--spectrum-rating-icon-hitarea);
  height: var(--spectrum-rating-icon-hitarea);
  margin: 0 auto;
}


.spectrum-Rating-starActive {
  display: none;
}

.spectrum-Rating-starInactive {
  display: block;
}

