/* topdoc
{{ rating/rating-default.yml }}
*/
.spectrum-Rating-icon {
  color: var(--spectrum-rating-icon-color-default);

  /* Star */
  .spectrum-Rating-starActive {
    display: block;
  }
  .spectrum-Rating-starInactive {
    display: none;
  }
}

.spectrum-Rating:not(:hover) {
  .spectrum-Rating-icon:not(.is-active) {
    color: var(--spectrum-rating-icon-color-default);

    /* StarOutline */
    .spectrum-Rating-starActive {
      display: none;
    }
    .spectrum-Rating-starInactive {
      display: block;
    }
  }
}

.spectrum-Rating-icon:hover ~ .spectrum-Rating-icon:not(.is-active) {
  color: var(--spectrum-rating-icon-color-default);

  /* StarOutline */
  .spectrum-Rating-starActive {
    display: none;
  }
  .spectrum-Rating-starInactive {
    display: block;
  }
}

/* topdoc
{{ rating/rating-active.yml }}
*/
.spectrum-Rating-icon:hover ~ .spectrum-Rating-icon.is-active {
  color: var(--spectrum-rating-icon-color-default);

  /* Star */
  .spectrum-Rating-starActive {
    display: block;
  }
  .spectrum-Rating-starInactive {
    display: none;
  }
}

.spectrum-Rating-icon {
  &.is-active {
    color: var(--spectrum-rating-icon-color-active);

    /* Star */
    .spectrum-Rating-starActive {
      display: block;
    }
    .spectrum-Rating-starInactive {
      display: none;
    }
  }
}

/* topdoc
{{ rating/rating-disabled.yml }}
*/
.spectrum-Rating.is-disabled .spectrum-Rating-icon.is-active {
  color: var(--spectrum-rating-icon-color-disabled);

  /* Star */
  .spectrum-Rating-starActive {
    display: block;
  }
  .spectrum-Rating-starInactive {
    display: none;
  }
}
.spectrum-Rating:not(:hover).is-disabled .spectrum-Rating-icon:not(.is-active) {
  color: var(--spectrum-rating-icon-color-disabled);

  /* StarOutline */
  .spectrum-Rating-starActive {
    display: none;
  }
  .spectrum-Rating-starInactive {
    display: block;
  }
}
