/* these comments can be included in the output css, for us they are used by
   topdoc to generate the documentation we publish...

   you can probably ignore them unless you want to generate documentation
   or you want to help fix our documentation :)

   note:
     the '!'' tells stylus to preserve the comment into output css
     the 'topdoc' let's topdoc know it should parse the comment for YAML
*/

/*! topdoc
  name: Slider - Default
  description: Spectrum slider
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused state
    :active: Active state
  markup: |
    <formfield class="spectrum-Slider">
      <div class="spectrum-Slider-controls" value="14" min="10" max="20" step="2" role="presentation" aria-valuemin="10" aria-orientation="horizontal" aria-invalid="false" aria-readonly="false" aria-required="false">
        <div class="spectrum-Slider-track"></div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 40%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
      </div>
    </formfield>
    <formfield class="spectrum-Slider spectrum-Slider--disabled">
      <div class="spectrum-Slider-controls" value="14" min="10" max="20" step="2" role="presentation" aria-valuemin="10" aria-orientation="horizontal" aria-invalid="false" aria-readonly="false" aria-required="false">
        <div class="spectrum-Slider-track"></div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 40%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
      </div>
    </formfield>
  tags:
    - desktop
    - light
    - mobile
    - slider
*/

/*! topdoc
  name: Slider - With Label
  description: Spectrum slider with label
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused state
    :active: Active state
  markup: |
    <formfield class="spectrum-Slider">
      <div class="spectrum-Slider-Label">
        <label class="spectrum-Slider-Label--Name">Slider Label - Default</label>
        <label class="spectrum-Slider-Label--Value">14</label>
      </div>
      <div class="spectrum-Slider-controls" value="14" min="10" max="20" step="2" role="presentation" aria-valuemin="10" aria-orientation="horizontal" aria-invalid="false" aria-readonly="false" aria-required="false">
        <div class="spectrum-Slider-track"></div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 40%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
      </div>
    </formfield>
    <formfield class="spectrum-Slider spectrum-Slider--disabled">
      <div class="spectrum-Slider-Label">
        <label class="spectrum-Slider-Label--Name">Slider Label - Disabled</label>
        <label class="spectrum-Slider-Label--Value">14</label>
      </div>
      <div class="spectrum-Slider-controls" value="14" min="10" max="20" step="2" role="presentation" aria-valuemin="10" aria-orientation="horizontal" aria-invalid="false" aria-readonly="false" aria-required="false">
        <div class="spectrum-Slider-track"></div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 40%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
      </div>
    </formfield>
  tags:
    - desktop
    - light
    - mobile
    - slider
*/


/*! topdoc
  name: Slider - Filled
  description: Spectrum slider with fill
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused state
    :active: Active state
  markup: |
    <formfield class="spectrum-Slider">
      <div class="spectrum-Slider-Label">
        <label class="spectrum-Slider-Label--Name">Slider Label - Default</label>
        <label class="spectrum-Slider-Label--Value">14</label>
      </div>
      <div class="spectrum-Slider-controls" value="14" min="10" max="20" step="2" role="presentation" aria-valuemin="10" aria-orientation="horizontal" aria-invalid="false" aria-readonly="false" aria-required="false">
        <div class="spectrum-Slider-track">
          <div class="spectrum-Slider-track--fill" style="width: 40%"></div>
        </div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 40%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
      </div>
    </formfield>
    <formfield class="spectrum-Slider spectrum-Slider--disabled">
      <div class="spectrum-Slider-Label">
        <label class="spectrum-Slider-Label--Name">Slider Label - Disabled</label>
        <label class="spectrum-Slider-Label--Value">14</label>
      </div>
      <div class="spectrum-Slider-controls spectrum-Slider-controls" value="14" min="10" max="20" step="2" role="presentation" aria-valuemin="10" aria-orientation="horizontal" aria-invalid="false" aria-readonly="false" aria-required="false">
        <div class="spectrum-Slider-track">
          <div class="spectrum-Slider-track--fill" style="width: 100%;"></div>
        </div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 40%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
      </div>
    </formfield>
  tags:
    - desktop
    - light
    - mobile
    - slider
*/


/*! topdoc
  name: Slider - Double Handle
  description: Spectrum slider with double handle, also known as ranged slider.
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused state
    :active: Active state
  markup: |
    <formfield class="spectrum-Slider">
      <div class="spectrum-Slider-Label">
        <label class="spectrum-Slider-Label--Name">Slider Label - Default</label>
        <label class="spectrum-Slider-Label--Value">14 - 48</label>
      </div>
      <div class="spectrum-Slider-controls" value="14" min="10" max="20" step="2" role="presentation" aria-valuemin="10" aria-orientation="horizontal" aria-invalid="false" aria-readonly="false" aria-required="false">
        <div class="spectrum-Slider-track">
          <div class="spectrum-Slider-track--fill" style="left: 20%; width: 40%;"></div>
        </div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 20%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 60%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
      </div>
    </formfield>
    <formfield class="spectrum-Slider spectrum-Slider--disabled">
      <div class="spectrum-Slider-Label">
        <label class="spectrum-Slider-Label--Name">Slider Label - Disabled</label>
        <label class="spectrum-Slider-Label--Value">14 - 48</label>
      </div>
      <div class="spectrum-Slider-controls" value="14" min="10" max="20" step="2" role="presentation" aria-valuemin="10" aria-orientation="horizontal" aria-invalid="false" aria-readonly="false" aria-required="false">
        <div class="spectrum-Slider-track">
          <div class="spectrum-Slider-track--fill" style="left: 20%; width: 40%;"></div>
        </div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 20%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 60%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
      </div>
    </formfield>

  tags:
    - desktop
    - light
    - mobile
    - slider
*/

/*! topdoc
  name: Slider - Video Player
  description: Spectrum slider for video players, which display a buffer.
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused state
    :active: Active state
  markup: |
    <formfield class="spectrum-Slider">
      <div class="spectrum-Slider-Label">
        <label class="spectrum-Slider-Label--Name">Slider Label - Default</label>
        <label class="spectrum-Slider-Label--Value">3:48</label>
      </div>
      <div class="spectrum-Slider-controls" value="14" min="10" max="20" step="2" role="presentation" aria-valuemin="10" aria-orientation="horizontal" aria-invalid="false" aria-readonly="false" aria-required="false">
        <div class="spectrum-Slider-track">
          <div class="spectrum-Slider-track--buffer" style="width: 50%;"></div>
          <div class="spectrum-Slider-track--fill" style="width: 30%;"></div>
        </div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 20%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
      </div>
    </formfield>

    <formfield class="spectrum-Slider spectrum-Slider--disabled">
      <div class="spectrum-Slider-Label">
        <label class="spectrum-Slider-Label--Name">Slider Label - Disabled</label>
        <label class="spectrum-Slider-Label--Value">3:48</label>
      </div>
      <div class="spectrum-Slider-controls" value="14" min="10" max="20" step="2" role="presentation" aria-valuemin="10" aria-orientation="horizontal" aria-invalid="false" aria-readonly="false" aria-required="false">
        <div class="spectrum-Slider-track">
          <div class="spectrum-Slider-track--buffer" style="width: 50%;"></div>
          <div class="spectrum-Slider-track--fill" style="width: 30%;"></div>
        </div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 20%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
      </div>
    </formfield>

  tags:
    - desktop
    - light
    - mobile
    - slider
*/

/*! topdoc
  name: Slider - Tick
  description: Spectrum tick slider
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused state
    :active: Active state
  markup: |
    <formfield class="spectrum-Slider spectrum-Slider--tick">
      <div class="spectrum-Slider-Label">
        <label class="spectrum-Slider-Label--Name">Slider Label</label>
        <label class="spectrum-Slider-Label--Value">14</label>
      </div>
      <div class="spectrum-Slider-controls" value="14" min="10" max="20" step="2" role="presentation" aria-valuemin="10" aria-orientation="horizontal" aria-invalid="false" aria-readonly="false" aria-required="false">
        <div class="spectrum-Slider-track"></div>
        <div class="spectrum-Slider-ticks">
          <div class="spectrum-Slider-tick-mark"></div>
          <div class="spectrum-Slider-tick-mark"></div>
          <div class="spectrum-Slider-tick-mark"></div>
          <div class="spectrum-Slider-tick-mark"></div>
          <div class="spectrum-Slider-tick-mark"></div>
          <div class="spectrum-Slider-tick-mark"></div>
        </div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 40%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
      </div>
    </formfield>

    <formfield class="spectrum-Slider spectrum-Slider--tick spectrum-Slider--disabled">
      <div class="spectrum-Slider-Label">
        <label class="spectrum-Slider-Label--Name">Slider Label - Disabled</label>
        <label class="spectrum-Slider-Label--Value">14</label>
      </div>
      <div class="spectrum-Slider-controls" value="14" min="10" max="20" step="2" role="presentation" aria-valuemin="10" aria-orientation="horizontal" aria-invalid="false" aria-readonly="false" aria-required="false">
        <div class="spectrum-Slider-track"></div>
        <div class="spectrum-Slider-ticks">
          <div class="spectrum-Slider-tick-mark"></div>
          <div class="spectrum-Slider-tick-mark"></div>
          <div class="spectrum-Slider-tick-mark"></div>
          <div class="spectrum-Slider-tick-mark"></div>
          <div class="spectrum-Slider-tick-mark"></div>
          <div class="spectrum-Slider-tick-mark"></div>
        </div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 40%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
      </div>
    </formfield>
  tags:
    - desktop
    - light
    - mobile
    - slider
*/

/*! topdoc
  name: Slider - Tick with Labels
  description: Spectrum tick slider with labels
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused state
    :active: Active state
  markup: |
    <formfield class="spectrum-Slider spectrum-Slider--tick spectrum-Slider--tick--labelled">
      <div class="spectrum-Slider-Label">
        <label class="spectrum-Slider-Label--Name">Slider Label</label>
        <label class="spectrum-Slider-Label--Value">14</label>
      </div>
      <div class="spectrum-Slider-controls" value="14" min="10" max="20" step="2" role="presentation" aria-valuemin="10" aria-orientation="horizontal" aria-invalid="false" aria-readonly="false" aria-required="false">
        <div class="spectrum-Slider-track"></div>
        <div class="spectrum-Slider-ticks">
          <div class="spectrum-Slider-tick-mark">
            <label class="spectrum-Slider-Label--Tick">10</label>
          </div>
          <div class="spectrum-Slider-tick-mark">
            <label class="spectrum-Slider-Label--Tick">20</label>
          </div>
          <div class="spectrum-Slider-tick-mark">
            <label class="spectrum-Slider-Label--Tick">30</label>
          </div>
          <div class="spectrum-Slider-tick-mark">
            <label class="spectrum-Slider-Label--Tick">40</label>
          </div>
          <div class="spectrum-Slider-tick-mark">
            <label class="spectrum-Slider-Label--Tick">50</label>
          </div>
          <div class="spectrum-Slider-tick-mark">
            <label class="spectrum-Slider-Label--Tick">60</label>
          </div>
        </div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 40%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
      </div>
    </formfield>

    <formfield class="spectrum-Slider spectrum-Slider--tick spectrum-Slider--tick--labelled spectrum-Slider--disabled">
      <div class="spectrum-Slider-Label">
        <label class="spectrum-Slider-Label--Name">Slider Label - Disabled</label>
        <label class="spectrum-Slider-Label--Value">14</label>
      </div>
      <div class="spectrum-Slider-controls" value="14" min="10" max="20" step="2" role="presentation" aria-valuemin="10" aria-orientation="horizontal" aria-invalid="false" aria-readonly="false" aria-required="false">
        <div class="spectrum-Slider-track"></div>
        <div class="spectrum-Slider-ticks">
          <div class="spectrum-Slider-tick-mark">
            <label class="spectrum-Slider-Label--Tick">10</label>
          </div>
          <div class="spectrum-Slider-tick-mark">
            <label class="spectrum-Slider-Label--Tick">20</label>
          </div>
          <div class="spectrum-Slider-tick-mark">
            <label class="spectrum-Slider-Label--Tick">30</label>
          </div>
          <div class="spectrum-Slider-tick-mark">
            <label class="spectrum-Slider-Label--Tick">40</label>
          </div>
          <div class="spectrum-Slider-tick-mark">
            <label class="spectrum-Slider-Label--Tick">50</label>
          </div>
          <div class="spectrum-Slider-tick-mark">
            <label class="spectrum-Slider-Label--Tick">60</label>
          </div>
        </div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 40%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
      </div>
    </formfield>
  tags:
    - desktop
    - light
    - mobile
    - slider
*/


/*! topdoc
  name: Slider - Ramp
  description: Spectrum ramp slider
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused state
    :active: Active state
  markup: |
    <formfield class="spectrum-Slider spectrum-Slider--ramp">
      <div class="spectrum-Slider-Label">
        <label class="spectrum-Slider-Label--Name">Slider Label - Default</label>
        <label class="spectrum-Slider-Label--Value">14</label>
      </div>
      <div class="spectrum-Slider-controls" value="14" min="10" max="20" step="2" role="presentation" aria-valuemin="10" aria-orientation="horizontal" aria-invalid="false" aria-readonly="false" aria-required="false">
        <div class="spectrum-Slider-track">
          <svg class="spectrum-Slider-track--ramp" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	  xml:space="preserve">
          <path d="M240,4v8c0,2.3-1.9,4.1-4.2,4L1,9C0.4,9,0,8.5,0,8c0-0.5,0.4-1,1-1l234.8-7C238.1-0.1,240,1.7,240,4z"/>
          </svg>
        </div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 40%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
      </div>
    </formfield>
    <formfield class="spectrum-Slider spectrum-Slider--ramp spectrum-Slider--disabled">
      <div class="spectrum-Slider-Label">
        <label class="spectrum-Slider-Label--Name">Slider Label - Disabled</label>
        <label class="spectrum-Slider-Label--Value">14</label>
      </div>
      <div class="spectrum-Slider-controls" value="14" min="10" max="20" step="2" role="presentation" aria-valuemin="10" aria-orientation="horizontal" aria-invalid="false" aria-readonly="false" aria-required="false">
        <div class="spectrum-Slider-track">
          <svg class="spectrum-Slider-track--ramp" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          	  xml:space="preserve">
          <path d="M240,4v8c0,2.3-1.9,4.1-4.2,4L1,9C0.4,9,0,8.5,0,8c0-0.5,0.4-1,1-1l234.8-7C238.1-0.1,240,1.7,240,4z"/>
          </svg>
        </div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 40%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
      </div>
    </formfield>
  tags:
    - desktop
    - light
    - mobile
    - slider
*/

/*! topdoc
  name: Slider - Color
  description: Spectrum Color slider
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused state
    :active: Active state
  markup: |
    <formfield class="spectrum-Slider spectrum-Slider--color">
      <div class="spectrum-Slider-Label">
        <label class="spectrum-Slider-Label--Name">Slider Label - Default</label>
        <label class="spectrum-Slider-Label--Value">#2680eb</label>
      </div>
      <div class="spectrum-Slider-controls" value="14" min="10" max="20" step="2" role="presentation" aria-valuemin="10" aria-orientation="horizontal" aria-invalid="false" aria-readonly="false" aria-required="false">
        <div class="spectrum-Slider-track"></div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 40%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
      </div>
    </formfield>
    <formfield class="spectrum-Slider spectrum-Slider--color spectrum-Slider--disabled">
      <div class="spectrum-Slider-Label">
        <label class="spectrum-Slider-Label--Name">Slider Label - Disabled</label>
        <label class="spectrum-Slider-Label--Value">#2680eb</label>
      </div>
      <div class="spectrum-Slider-controls" value="14" min="10" max="20" step="2" role="presentation" aria-valuemin="10" aria-orientation="horizontal" aria-invalid="false" aria-readonly="false" aria-required="false">
        <div class="spectrum-Slider-track"></div>
        <div class="spectrum-Slider-handle" tabindex="0" style="left: 40%;">
          <input handle="leftInput" type="range" class="spectrum-Slider-input" aria-valuenow="14" aria-valuetext="14" value="14" step="2" aria-valuestep="2" min="10" aria-valuemin="10" max="20" aria-valuemax="20" aria-orientation="horizontal">
        </div>
      </div>
    </formfield>
  tags:
    - desktop
    - light
    - mobile
    - slider
*/

/*! topdoc
  name: Slider - Round
  description: Spectrum round slider
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused state
    :active: Active state
  markup: |
    <formfield class="spectrum-Slider spectrum-Slider--round">
      <div class="spectrum-Slider-controls">
        <div class="spectrum-Slider-handle" tabindex="0">
          <div class="spectrum-Slider-input"></div>
        </div>
      </div>
    </formfield>
    <formfield class="spectrum-Slider spectrum-Slider--round spectrum-Slider--round--small">
      <div class="spectrum-Slider-controls">
        <div class="spectrum-Slider-handle" tabindex="0">
          <div class="spectrum-Slider-input"></div>
        </div>
      </div>
    </formfield>

  tags:
    - desktop
    - light
    - mobile
    - slider
*/
