-var repeats = 200
!!!
html
    head
        title TopCoat button test
        |<link rel="stylesheet" type="text/css" href="./release/button-min.css">
    body
        -while (repeats > 0)
            -var repeats = repeats - 1
            include buttons.html
