/* Definitions -----------------------------------------------------------

/*
  Fonts
	200 = light
	500 = normal
	600 = demi-bold

  Icons
	sm = 24x24
	lg = 36x36
*/

/* Fonts ----------------------------------------------------------------- */
@font-face {
  font-family: "Source Sans";
  src: url('../font/SourceSansPro/SourceSansPro-Regular.otf');
}
@font-face {
  font-family: "Source Sans";
  src: url('../font/SourceSansPro/SourceSansPro-Light.otf');
  font-weight: 200;
}
@font-face {
  font-family: "Source Sans";
  src: url('../font/SourceSansPro/SourceSansPro-Semibold.otf');
  font-weight: 600;
}

@font-face {
  font-family: "source";
  src: url("../font/SourceSansPro/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: "source-l";
  src: url("../font/SourceSansPro/SourceSansPro-Light.otf");
  font-weight: 200;
}
@font-face {
  font-family: "source-sb";
  src: url("../font/SourceSansPro/SourceSansPro-Semibold.otf");
  font-weight: 600;
}

