/* Global ----------------------------------------------------------------- */
body {
	margin: 0;
	padding: 0;
	background-color: #fff;
	color: #000;
	font: 16px "Source Sans", helvetica, arial, sans-serif;
	font-weight: 200;
	text-rendering: optimizeLegibility;
}

.disabled {
	opacity: 0.3;
	cursor: default;
  	pointer-events: none;
}
