var-border-radius = 6px
var-padding = 0 20px
var-margin = 5px 10px 5px 0
var-font-size-large = 1.3rem
var-line-height-large = 4rem
/* Call To Action */
var-border--cta = 1px solid #143250
var-background-color--cta = #288edf
var-box-shadow--cta = inset 0 1px rgba(255, 255, 255, 0.36)
var-color--cta = #ffffff
var-font-weight--cta = 500
var-text-shadow--cta = 0 -1px rgba(0, 0, 0, 0.36)

