.input {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

.input {
  vertical-align: top;
  outline: none;
}

.input {
  box-sizing: border-box;
  background-clip: padding-box;
}

.input:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}