@import '../commons/index.css';

.spectrum-Breadcrumbs {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.spectrum-Breadcrumb-chevron {
  position: absolute;
  top: calc(50% - calc(calc(var(--spectrum-breadcrumb-chevron-icon-height-default) / 2) - 1px));
  right: calc(calc(var(--spectrum-breadcrumb-margin-default) / -2) - calc(var(--spectrum-breadcrumb-chevron-icon-width-default) / 2));

  width: var(--spectrum-breadcrumb-chevron-icon-width-default);
  height: var(--spectrum-breadcrumb-chevron-icon-height-default);

  transform: scale(1);

  opacity: 1;
}

.spectrum-Breadcrumb {
  display: block;
  float: left;

  position: relative;

  margin-right: var(--spectrum-breadcrumb-margin-default);

  font-size: var(--spectrum-breadcrumb-font-size-default);
  font-weight: var(--spectrum-breadcrumb-font-weight-default);


  .spectrum-Breadcrumb-link {
    cursor: default;

    &[href],
    &[tabindex="0"] {
      cursor: pointer;
    }
  }

  &:last-of-type {
    .spectrum-Breadcrumb-chevron {
      display: none;
    }
  }
}

.spectrum-Breadcrumbs--title .spectrum-Breadcrumb {
  &:last-of-type {
    /* Clear the floats so we drop to a new line */
    clear: left;

    display: block;

    margin: var(--spectrum-breadcrumb-title-margin-default);

    font-size: var(--spectrum-breadcrumb-title-active-font-size-default);
    font-weight: var(--spectrum-breadcrumb-title-active-font-weight-default);
    line-height: var(--spectrum-breadcrumb-title-active-line-height-default);
  }

  .spectrum-Heading--page-title {
    margin: 0;

    font-size: inherit;
    font-weight: inherit;
  }
}
