@import '../commons/index.css';

.spectrum-Breadcrumbs {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.spectrum-Breadcrumb {
  display: inline-block;
  position: relative;
  margin-right: var(--spectrum-breadcrumb-margin-default);
  font-size: var(--spectrum-breadcrumb-font-size-default);

  .spectrum-Breadcrumb-link {
    cursor: default;
    &[href],
    &[tabindex="0"] {
      cursor: pointer;
    }
    &::after {
        position: absolute;
        top: var(--spectrum-breadcrumb-chevron-icon-height-default);
        right: calc(var(--spectrum-breadcrumb-font-size-default) * -1);
        width: var(--spectrum-breadcrumb-chevron-icon-width-default);
        height: var(--spectrum-breadcrumb-chevron-icon-height-default);
        background-repeat: no-repeat;
        background-position: center;
        transform:scale(1);
        opacity:1;
        content:'';
    }
  }

  &:last-of-type {
    .spectrum-Breadcrumb-link {
      &::after {
        display: none;
      }
    }
  }
}

.spectrum-Breadcrumbs--title .spectrum-Breadcrumb {
  &:last-of-type {
    display: block;
    font-size: var(--spectrum-breadcrumb-title-active-font-size-default);
    font-weight: var(--spectrum-breadcrumb-title-active-font-weight-default);
    line-height: var(--spectrum-breadcrumb-title-active-line-height-default);
    margin: var(--spectrum-breadcrumb-title-margin-default);
  }
  .spectrum-Heading--page-title {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
  }
}
