.spectrum-Breadcrumb {
  color: var(--spectrum-breadcrumb-text-color-default);

  .spectrum-Breadcrumb-separator {
    color: var(--spectrum-breadcrumb-chevron-icon-color-default);
  }

  .spectrum-Breadcrumb-link {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: var(--spectrum-breadcrumb-text-color-hover);
    }

    &:focus-ring {
      color: var(--spectrum-breadcrumb-text-color-key-focus);
      outline: 0;
      border-bottom: 2px solid var(--spectrum-breadcrumb-text-color-key-focus);
    }

    &:active {
      color: var(--spectrum-breadcrumb-text-color-down);
      border-bottom: 0;
    }
  }

  &.is-selected,
  &:last-of-type {
    color: var(--spectrum-breadcrumb-text-color-down);
  }

  &.is-selected {
    ~ .spectrum-Breadcrumb {
      &:last-of-type {
        color: var(--spectrum-breadcrumb-text-color-default);
      }
    }
    .spectrum-Breadcrumb-link {
      &:focus-ring {
        color: var(--spectrum-breadcrumb-text-color-down);
        border-bottom: 0;
      }
    }
  }
}

/* topdoc
{{ breadcrumb/breadcrumb-default.yml }}
*/

/* topdoc
{{ breadcrumb/breadcrumb-title.yml }}
*/
