/* topdoc
{{ actionmenu/actionmenu.yml }}
*/
.spectrum-ActionMenu {
  display: inline-block;
}

.spectrum-ActionMenu-button {
  display: block;

  padding: 0 8px;

  &::before {
    display: inline-block;
    content: '';
    width: 18px;
    height: 18px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: -4px;
    margin-right: 6px;
  }
}

.spectrum-ActionMenu-button:empty {
  padding: 0 6px;

  &::before {
    margin-right: 0;
  }
}
