.spectrum-ActionMenu-button {
  &::before {
    background-image: url("embed/S_More_18_N@2x.svg" param(--color var(--spectrum-actionbutton-text-color-default)));
  }

  &:focus::before {
    background-image: url("embed/S_More_18_N@2x.svg" param(--color var(--spectrum-actionbutton-text-color-focus)));
  }

  &:hover::before {
    background-image: url("embed/S_More_18_N@2x.svg" param(--color var(--spectrum-actionbutton-text-color-hover)));
  }

  &:active,
  &.is-selected {
    &::before {
      background-image: url("embed/S_More_18_N@2x.svg" param(--color var(--spectrum-actionbutton-text-color-active)));
    }
  }

  &:disabled,
  &.is-disabled {
    &::before {
      background-image: url("embed/S_More_18_N@2x.svg" param(--color var(--spectrum-actionbutton-text-color-disabled)));
    }
  }
}
