var-color = rgb(69, 69, 69)
var-background-color--list = rgb(223, 226, 226)
var-border-top--list-container = 1px solid rgb(188, 191, 191)
var-border-top--list = 1px solid rgb(188, 191, 191)
var-border-bottom--list = 1px solid rgb(239, 241, 241)
var-border-top--list-item--first = 1px solid rgba(0, 0, 0, 0.05)
var-border-top--list-item = 1px solid rgb(239, 241, 241)
var-border-bottom--list-item = 1px solid rgb(188, 191, 191)
var-padding--list-item = 1.25rem
var-font-size--list-header = .9em
var-font-weight--list-header = 400
var-color--list-header = rgb(101, 101, 101)
var-text-shadow--list-header = 0 1px 0 rgba(255, 255, 255, 0.5)
var-border-top--list-header = solid 1px rgba(255, 255, 255, 0.5)
var-border-bottom--list-header = solid 1px rgba(255, 255, 255, 0.23)
var-background-color--list-header = rgb(204, 207, 207)
var-padding--list-header = 4px 20px
