@import '../commons/index.css';

:root {
  --spectrum-miller-column-chevron-height-default: 10px;
  --spectrum-miller-column-chevron-width-default: 6px;
  --spectrum-miller-column-margin-default: 8px;
}

/* topdoc
{{ miller/miller-default.yml }}
*/
.spectrum-MillerColumns {
  overflow-x: scroll;
  white-space: nowrap;
  user-select: none;
  padding: var(--spectrum-miller-column-margin-default) 0;
}

.spectrum-MillerColumn {
  display: inline-block;
  width: var(--spectrum-miller-column-width-default);
  vertical-align: top;
  outline: none;
  margin: 0;
  padding: 0;
  margin-right: var(--spectrum-miller-column-margin-default);
  overflow: auto;
  height: 100%;

  &:first-child {
    margin-left: var(--spectrum-miller-column-margin-default);
  }
}

.spectrum-MillerColumn-childIndicator {
  display: none;
  width: var(--spectrum-miller-column-chevron-width-default);
  height: var(--spectrum-miller-column-chevron-height-default);
  transition: transform ease var(--spectrum-transition-time);
}

.spectrum-MillerColumn-item {
  cursor: pointer;
  position: relative;
  display: flex;
  padding: 0 var(--spectrum-miller-column-item-padding-right-default) 0 var(--spectrum-miller-column-item-padding-left-default);
  margin-bottom: var(--spectrum-miller-column-item-margin-bottom-default);
  font-size: var(--spectrum-selectlist-option-font-size-default);
  font-weight: var(--spectrum-selectlist-option-font-weight-default);
  font-style: normal;
  height: var(--spectrum-miller-column-item-height-default);
  border-radius: var(--spectrum-miller-column-item-border-radius-default);
  align-items: center;
  width: var(--spectrum-miller-column-width-default);
  box-sizing: border-box;
  transition: background-color var(--spectrum-transition-time) ease-in-out;

  &.is-branch-selectable, &.is-selected, &:hover {
    /* checkbox on the left, shows up always */
    .spectrum-Checkbox {
      display: inline-block;
    }
  }

  &.is-branch {
    /* show chevron */
    .spectrum-MillerColumn-childIndicator {
      display: block;
    }
  }

  .spectrum-Checkbox {
    display: none;
  }

  .spectrum-MillerColumn-itemThumbnail {

    /* Remove the border on images inside links in IE 10-. */
    border-style: none;

    width: var(--spectrum-miller-column-thumbnail-width-default);
    height: var(--spectrum-miller-column-thumbnail-height-default);
    margin-left: var(--spectrum-miller-column-thumbnail-margin-left-default);
    vertical-align: middle;
  }
}

.spectrum-MillerColumn-itemLabel {
  flex: 1;
  padding-left: var(--spectrum-miller-column-item-label-padding-left-default);

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

