.spectrum-MillerColumn-item {
  &:focus,
  &:hover {
    background-color: var(--spectrum-miller-column-item-background-color-hover);
  }
  &.is-navigated {
      /* gray background */
      background-color: var(--spectrum-miller-column-item-background-color-active);
      &:hover {
        background-color: var(--spectrum-miller-column-item-background-color-active);
      }
    }
    &.is-selected {
      background-color: var(--spectrum-miller-column-item-background-color-selected);
      &:hover {
        background-color: var(--spectrum-miller-column-item-background-color-selected-hover);
      }
    }
}
