.spectrum-MillerColumn-item {
  &::after {
    background-image: url("embed/S_MillerRightChevron_@1x.svg" param(--color var(--spectrum-miller-column-chevron-color-default)));
  }
  &:focus,
  &:hover {
    background-color: var(--spectrum-miller-column-item-background-color-hover);
    &::after {
      background-image: url("embed/S_MillerRightChevron_@1x.svg" param(--color var(--spectrum-miller-column-chevron-color-hover)));
    }
  }
  &.is-navigated {
      /* gray background */
      background-color: var(--spectrum-miller-column-item-background-color-active);
      &:hover {
        background-color: var(--spectrum-miller-column-item-background-color-active);
      }
      &::after {
        background-image: url("embed/S_MillerRightChevron_@1x.svg" param(--color var(--spectrum-miller-column-chevron-color-active)));
      }
    }
    &.is-selected {
      background-color: var(--spectrum-miller-column-item-background-color-selected);
      &:hover {
        background-color: var(--spectrum-miller-column-item-background-color-selected-hover);
      }
    }
}
.spectrum-MillerColumn-item-checkBox-input {
  &:focus ~ .spectrum-Miller-Column-checkLabel {
    color: var(--spectrum-miller-column-text-color-default);
  }
}

