var-overflow = hidden
var-background-color = #e5e9e8
var-backgorund-color--body = #DFE2E2
var-background-color--down = #d3d7d7
var-border = 1px solid #a5a8a8
var-box-shadow = inset 0 1px #fff
var-box-shadow--down = inset 0 1px rgba(0, 0, 0, 0.12)
var-color = #454545
var-vertical-align = top
var-text-shadow = 0 1px #fff
var-font-size = 16px
var-height = 3rem
var-height--large = 4rem
var-line-height = var-height
var-letter-spacing = 1px
var-border-radius = 6px
/* Icon button */
var-size--icon = var-height / 2
var-size--icon--large = var-height--large * 0.625
var-padding--icon-button = 0 var-height / 4
var-background-size--icon = cover
var-menu-stack-icon = url("../../test/fixtures/img/hamburger_dark.svg")
