@import '../commons/index.css';

:root {
  /* The size of the icons in tabs */
  --spectrum-tablist-icon-size: 18px;
}

.spectrum-TabList {
  position: relative;

  margin: 0;
  padding: 0;
}

.spectrum-Tab {
  position: relative;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: color var(--spectrum-transition-time) ease-out;
  height: var(--spectrum-tablist-tab-item-height-default);
  line-height: var(--spectrum-tablist-tab-item-height-default);
  z-index: 2;

  &.is-disabled {
    cursor: default;
  }
}

.spectrum-Tab-label {
  cursor: pointer;
}

.spectrum-Tab-line {
  position: absolute;
  transition: transform var(--spectrum-transition-time) ease-in-out;
  left: 0;
  transform-origin: top left;
}

 .spectrum-TabList--page,
 .spectrum-TabList--panel {
  .spectrum-Tab {
    margin-bottom: 2px;
    &:focus {
      border-radius: var(--spectrum-tablist-tab-item-border-corner-radius-default);
    }
  }
}

.spectrum-TabList--panel {
  .spectrum-Tab-label {
    font-size: var(--spectrum-tablist-panel-tab-item-label-font-size-default);
    font-weight: var(--spectrum-tablist-panel-tab-item-label-font-weight-default);
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .spectrum-Tab-icon {
    /* Ensure the label doesn't drop down */
    display: inline-block;
    vertical-align: middle;

    /* Support SVG icons */
    width: var(--spectrum-tablist-icon-size);
    height: var(--spectrum-tablist-icon-size);

    /* Support font icons */
    font-size: var(--spectrum-tablist-icon-size);
    line-height: var(--spectrum-tablist-icon-size);
  }
}

.spectrum-TabList--horizontal {
  display: block;

  .spectrum-Tab {
    display: inline-block;
  }

  .spectrum-Tab-label {
    text-overflow: ellipsis;
  }

  .spectrum-Tab-line {
    position: absolute;
    bottom: 0;
    width: var(--spectrum-tablist-horizontal-tabline-width-default);
    height: var(--spectrum-tablist-horizontal-tabline-height-default);
  }

  &.spectrum-TabList--page {
    .spectrum-Tab {
      padding: 0 8px;
      margin-right: var(--spectrum-tablist-page-tab-item-margin-right-default);
    }

    .spectrum-Tab-label {
      text-transform: capitalize;
    }
  }

  &.spectrum-TabList--anchored {
    display: inline-block;
    border-bottom: var(--spectrum-tablist-anchored-tab-item-border-width-default) solid;

    .spectrum-Tab {
      margin: 0px 16px;
      padding-bottom: 8px;
    }

    .spectrum-Tab-label {
      text-transform: capitalize;
    }

    .spectrum-Tab-line {
      bottom: -2px;
    }
  }

  &.spectrum-TabList--panel {
    .spectrum-Tab {
      padding: 4px 8px;
      margin-right: var(--spectrum-tablist-panel-horizontal-tab-item-margin-right-default);
      line-height: var(--spectrum-tablist-panel-horizontal-tab-item-height-default);
      height: var(--spectrum-tablist-panel-horizontal-tab-item-height-default);
    }
  }
}

.spectrum-TabList--vertical {
  display: inline-block;
  padding: 0px;
  margin: 0px;

  .spectrum-Tab {
    display: block;
    margin-left: 2px;
  }

  .spectrum-Tab-label {
    text-overflow: ellipsis;
    vertical-align: middle;
  }

  .spectrum-Tab-line {
    top: 2px;
    left: 0;
    width: var(--spectrum-tablist-vertical-tabline-width-default);
    height: var(--spectrum-tablist-vertical-tabline-height-default);
    border-radius:  var(--spectrum-tablist-vertical-tabline-border-radius-default);
  }

  &.spectrum-TabList--panel {
    .spectrum-Tab {
      padding: 4px 6px;
      height: var(--spectrum-tablist-panel-vertical-tab-item-height-default);
      line-height: var(--spectrum-tablist-panel-vertical-tab-item-height-default);
    }
  }
}

.spectrum-Tab-label:empty {
  /* Hide the tab label if it's not being used */
  display: none;
}
