@import '../commons/index.css';

:root {
  /* The size of the icons in tabs */
  --spectrum-tablist-icon-size: 18px;
}

.spectrum-TabList {
  position: relative;
  z-index: 0;

  margin: 0;
  padding: 0;

  /* Friends should align to the top of the tabs */
  vertical-align: top;
}

.spectrum-TabList-item {
  position: relative;

  box-sizing: border-box;

  /* Float above the tab line */
  z-index: 1;

  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: color var(--spectrum-transition-time) ease-out;
  height: var(--spectrum-tablist-tab-item-height-default);
  line-height: var(--spectrum-tablist-tab-item-height-default);

  &.is-disabled {
    cursor: default;
  }
}

.spectrum-TabList-item-label {
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  padding: 2px 0;
}

.spectrum-TabList-item-line {
  position: absolute;

  /* Be below the tab */
  z-index: 0;

  transition: transform var(--spectrum-transition-time) ease-in-out;
  left: 0;
  transform-origin: top left;

  border-radius: 2px;
}

 .spectrum-TabList--page,
 .spectrum-TabList--panel {
  .spectrum-TabList-item {
    margin-bottom: var(--spectrum-tablist-horizontal-tabline-height-default);

    &:focus-ring {
      border-radius: var(--spectrum-tablist-tab-item-border-corner-radius-default);
    }
  }
}

.spectrum-TabList--panel {
  .spectrum-TabList-item-label {
    font-size: var(--spectrum-tablist-panel-tab-item-label-font-size-default);
    font-weight: var(--spectrum-tablist-panel-tab-item-label-font-weight-default);
    letter-spacing: var(--spectrum-tablist-panel-tab-item-label-letter-spacing-default);
    text-transform: uppercase;
  }

  .spectrum-TabList-item-icon {
    float: left;

    /* Ensure the label doesn't drop down */
    display: block;

    /* Support SVG icons */
    /*width: var(--spectrum-tablist-icon-size);*/
    /*height: var(--spectrum-tablist-icon-size);*/

    /* Support font icons */
    /*font-size: var(--spectrum-tablist-icon-size);*/
    /*line-height: var(--spectrum-tablist-icon-size);*/

    & + .spectrum-TabList-item-label {
      margin-left: 7px;
    }
  }
}

.spectrum-TabList--horizontal {
  display: block;

  .spectrum-TabList-item {
    display: inline-block;
    vertical-align: top;
  }

  .spectrum-TabList-item-label {
    text-overflow: ellipsis;
  }

  .spectrum-TabList-item-line {
    position: absolute;
    bottom: 0px;
    width: var(--spectrum-tablist-horizontal-tabline-width-default);
    height: var(--spectrum-tablist-horizontal-tabline-height-default);
  }

  &.spectrum-TabList--page {
    .spectrum-TabList-item {
      padding: 0 8px;
      margin-right: var(--spectrum-tablist-page-tab-item-margin-right-default);
    }

    .spectrum-TabList-item-label {
      text-transform: capitalize;
      padding: 0;
    }
  }

  &.spectrum-TabList--anchored {
    display: inline-block;
    border-bottom: var(--spectrum-tablist-anchored-tab-item-border-width-default) solid;

    .spectrum-TabList-item {
      margin: 0px 16px;
      height: 46px;
    }

    .spectrum-TabList-item-label {
      text-transform: capitalize;
      line-height: 46px;
      padding: 0;
    }

    .spectrum-TabList-item-line {
      bottom: calc(var(--spectrum-tablist-horizontal-tabline-height-default) * -1);
    }
  }

  &.spectrum-TabList--panel {
    .spectrum-TabList-item {
      margin-right: var(--spectrum-tablist-panel-horizontal-tab-item-margin-right-default);
      /*height: var(--spectrum-tablist-panel-horizontal-tab-item-height-default);*/
      height: auto;
    }
    .spectrum-TabList-item-icon {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  }
}

.spectrum-TabList--panel {
  .spectrum-TabList-item {
    line-height: normal;

    padding: 3px 7px 3px 7px;
  }
}

.spectrum-TabList--vertical {
  display: inline-block;
  padding: 0px;
  margin: 0px;

  .spectrum-TabList-item {
    display: block;
    margin-left: var(--spectrum-tablist-horizontal-tabline-height-default);
  }

  .spectrum-TabList-item-label {
    display: inline-block;
    text-overflow: ellipsis;
    vertical-align: top;
  }

  .spectrum-TabList-item-line {
    top: var(--spectrum-tablist-horizontal-tabline-height-default);
    left: 0;
    width: var(--spectrum-tablist-vertical-tabline-width-default);
    height: var(--spectrum-tablist-vertical-tabline-height-default);
    border-radius:  var(--spectrum-tablist-vertical-tabline-border-radius-default);
  }

  &.spectrum-TabList--panel {
    .spectrum-TabList-item {
      height: var(--spectrum-tablist-panel-vertical-tab-item-height-default);
      margin-bottom: 6px;
    }
    .spectrum-TabList-item-icon {
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }
}

.spectrum-TabList-item-label:empty {
  /* Hide the tab label if it's not being used */
  display: none;
}
