/* topdoc
{{ tablist/tab-default.yml }}
*/
.spectrum-Tab {
  .spectrum-Tab-label {
    color: var(--spectrum-tab-text-color-default)
  }

  &:hover {
    .spectrum-Tab-label {
      color: var(--spectrum-tab-text-color-hover)
    }
  }

  &:focus {
    .spectrum-Tab-label {
      color: var(--spectrum-tab-text-color-focus)
    }
  }

  &.is-selected {
    .spectrum-Tab-label {
      color: var(--spectrum-tab-text-color-active)
    }
  }

  &[disabled] {
    .spectrum-Tab-label {
      color: var(--spectrum-tab-text-color-disabled)
    }
  }
}

/*
Todo: Determine if unused mixins are required

spectrum-tab-line-default() {
  border-color: var(--spectrum-tab-border-color-default)
}

spectrum-tab-line-focus() {
  border-color: var(--spectrum-tab-border-color-focus)
}

spectrum-tab-line-disabled() {
  border-color: var(--spectrum-tab-border-color-disabled)
}
*/
