/* topdoc
{{ tablist/tab-default.yml }}
*/
.spectrum-Tab {
  color: var(--spectrum-tablist-text-color-default);

  &:hover {
    color: var(--spectrum-tablist-text-color-hover)
  }

  &:focus {
    color: var(--spectrum-tablist-text-color-focus)
  }

  &.is-selected {
    color: var(--spectrum-tablist-text-color-active)
  }

  &.is-disabled {
    color: var(--spectrum-tablist-text-color-disabled)
  }
}

.spectrum-TabList--anchored {
  &::before {
    background-color: var(--spectrum-tablist-anchored-border-color-default);
  }
/*
  .spectrum-Tab {
    .spectrum-Tab-label {
      color: var(--spectrum-tablist-anchored-label-color-default);

      &::after {
        background-color: var(--spectrum-tablist-anchored-border-color-default);
      }
    }

    &:hover .spectrum-Tab-label {
      color: var(--spectrum-tablist-anchored-label-color-hover);

      &::after {
        background-color: var(--spectrum-tablist-anchored-border-color-hover);
      }
    }

    &:active .spectrum-Tab-label,
    &.is-selected .spectrum-Tab-label {
      color: var(--spectrum-tablist-anchored-label-color-active);

      &::after {
        background-color: var(--spectrum-tablist-anchored-border-color-active);
      }
    }

    &:focus .spectrum-Tab-label {
      color: var(--spectrum-tablist-anchored-label-color-focus);

      &::after {
        background-color: var(--spectrum-tablist-anchored-border-color-focus);
      }
    }

    &.is-disabled {
      .spectrum-Tab-label {
        color: var(--spectrum-tablist-anchored-label-color-disabled);

        &::after {
          background-color: var(--spectrum-tablist-anchored-border-color-disabled);
        }
      }
    }
  }
*/
}

/*
Todo: Determine if unused mixins are required

spectrum-tablist-line-default() {
  border-color: var(--spectrum-tablist-border-color-default)
}

spectrum-tablist-line-focus() {
  border-color: var(--spectrum-tablist-border-color-focus)
}

spectrum-tablist-line-disabled() {
  border-color: var(--spectrum-tablist-border-color-disabled)
}
*/
