/* topdoc
{{ tablist/tablist-anchored.yml }}
*/
/* topdoc
{{ tablist/tablist-page.yml }}
*/
/* topdoc
{{ tablist/tablist-panel.yml }}
*/
/* topdoc
{{ tablist/tablist-panel-vertical.yml }}
*/
.spectrum-Tab {
  color: var(--spectrum-tablist-text-color-default);

  &:hover {
    color: var(--spectrum-tablist-text-color-hover);
  }

  &.is-selected {
    color: var(--spectrum-tablist-text-color-active);
  }

  &:focus-ring {
    color: var(--spectrum-tablist-text-color-focus);
    box-shadow: 0 0 0 var(--spectrum-tablist-tab-item-border-width-default) var(--spectrum-tablist-border-color-focus);
  }

  &.is-disabled {
    color: var(--spectrum-tablist-text-color-disabled);
  }
}

.spectrum-TabList--anchored {
  border-color: var(--spectrum-tablist-anchored-border-color-default);

  .spectrum-Tab {
    &:focus-ring {
      color: var(--spectrum-tablist-anchored-text-color-focus);
      box-shadow: initial;

      /* The focus line should become blue only for anchored tabs */
      ~ .spectrum-Tab-line {
          background-color:  var(--spectrum-tablist-anchored-tabline-background-color-focus);
      }
    }
  }
}

.spectrum-Tab-line {
  background-color: var(--spectrum-tablist-tabline-background-color-default);
}
