.spectrum--light,
.spectrum--dark {
  font-family: $spectrum-font-family-base
  font-size: $spectrum-font-size
}

.spectrum--light:lang(zh-Hans),
.spectrum--dark:lang(zh-Hans) {
  font-family: $spectrum-font-family-zhhans
}

.spectrum--light:lang(zh),
.spectrum--dark:lang(zh) {
  font-family: $spectrum-font-family-zh
}

.spectrum--light:lang(ko),
.spectrum--dark:lang(ko) {
  font-family: $spectrum-font-family-ko
}

.spectrum--light:lang(ja),
.spectrum--dark:lang(ja) {
  font-family: $spectrum-font-family-ja
}


.spectrum--light {
  background-color: $spectrum-color-light-background
  color: $spectrum-color-light-text
}

.spectrum--dark {
  background-color: $spectrum-color-dark-background
  color: $spectrum-color-dark-text
}
