/* these comments can be included in the output css, for us they are used by
   topdoc to generate the documentation we publish...

   you can probably ignore them unless you want to generate documentation
   or you want to help fix our documentation :)

   note:
     the '!'' tells stylus to preserve the comment into output css
     the 'topdoc' let's topdoc know it should parse the comment for YAML
*/

/*! topdoc
  name: Typography - Headings
  description: Spectrum Headings
  markup: |
    <h1 class="spectrum-Heading--display">Display</h1>
    <h1 class="spectrum-Heading--page-title">Page Title</h2>
    <h2 class="spectrum-Heading--subtitle1">Subtitle 1</h2>
    <h3 class="spectrum-Heading--subtitle2">Subtitle 2</h3>
    <h4 class="spectrum-Heading--subtitle3">Subtitle 3</h4>
  tags:
    - desktop
    - light
*/

/*! topdoc
  name: Typography - Body Text
  description: Spectrum body text
  markup: |
    <p class="spectrum-BodyText--large">Large Body Text</p>
    <p class="spectrum-BodyText">Default Body Text</p>
    <p class="spectrum-BodyText--italic"> Body Text Italic</p>
    <p class="spectrum-BodyText--small">Small Body Text</p>
    <p class="spectrum-BodyText--secondary">Secondary Body Text</p>
  tags:
    - desktop
    - light
*/
