@import '../commons/index.css';

/* topdoc
{{ calendar/calendar-default.yml }}
*/

/* topdoc
{{ calendar/calendar-disabled.yml }}
*/

/* topdoc
{{ calendar/calendar-focused.yml }}
*/

/* topdoc
{{ calendar/calendar-range.yml }}
*/

.spectrum-Calendar {
  display: inline-block;
  /*width: var(--spectrum-calendar-width-default);*/
}

.spectrum-Calendar-header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: var(--spectrum-calendar-header-height-default);
}

.spectrum-Calendar-heading {
  position: absolute;
  left: 0;
  top: 0;

  font-size: var(--spectrum-calendar-header-font-size-default);
  font-weight: bold;

  box-sizing: border-box;
  width: 100%;
  line-height: var(--spectrum-calendar-header-height-default);
  margin: 0;
  padding: 0 var(--spectrum-calendar-header-height-default);;

  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.spectrum-Calendar-prevMonth,
.spectrum-Calendar-nextMonth {
  position: absolute;

  &::after {
    background-size: 10px;
  }
}

.spectrum-Calendar-prevMonth {
  left: 3px;
}

.spectrum-Calendar-nextMonth {
  right: 3px;
}

.spectrum-Calendar-dayOfWeek {
  position: absolute;
  bottom: var(--spectrum-calendar-day-padding-size-default);

  display: block;

  width: var(--spectrum-calendar-day-size-default);

  border-bottom: none !important; /* override abbr styling from normalize.css */

  font-size: var(--spectrum-calendar-day-header-font-size-default);
  font-weight: var(--spectrum-calendar-day-header-font-weight-default);
  text-transform: uppercase;
  text-decoration: none !important; /* override abbr styling from normalize.css */

  cursor: default;
}

.spectrum-Calendar-body {
  outline: none;
}

.spectrum-Calendar-table {
  table-layout: fixed;
  /*width: 100%;*/

  border-collapse: collapse;
  border-spacing: 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.spectrum-Calendar-tableCell {
  text-align: center;
  padding: 0;
  position: relative;
  height: var(--spectrum-calendar-day-size-default);
  width: var(--spectrum-calendar-day-size-default);
  padding: var(--spectrum-calendar-day-padding-size-default);
}

.spectrum-Calendar-date {
  /* This is fun, but we need to trick the table so it doesn't size itself in a weird way */
  position: absolute;
  display: block;
  top: 0;
  left: 0;

  box-sizing: border-box;

  height: var(--spectrum-calendar-day-size-default);
  width: var(--spectrum-calendar-day-size-default);
  margin: var(--spectrum-calendar-day-padding-size-default);

  border-radius: var(--spectrum-calendar-day-size-default);
  border: var(--spectrum-calendar-day-border-size-focus) solid transparent;

  font-size: var(--spectrum-calendar-day-font-size-default);
  line-height: calc(var(--spectrum-calendar-day-size-default) - var(--spectrum-calendar-day-border-size-focus) * 2);

  cursor: pointer;

  transition: background var(--spectrum-transition-time) ease-in-out,
        color var(--spectrum-transition-time) ease-in-out,
        border-color var(--spectrum-transition-time) ease-in-out;

  &.is-disabled {
    cursor: default;
    pointer-events: none;
  }

  &.is-outsideMonth {
    visibility: hidden;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: calc(50% - calc(var(--spectrum-calendar-day-size-default) / 2));
    left: calc(50% - calc(var(--spectrum-calendar-day-size-default) / 2));
    box-sizing: border-box;
    width: var(--spectrum-calendar-day-size-default);
    height: var(--spectrum-calendar-day-size-default);
    border-radius: var(--spectrum-calendar-day-size-default);
    border: var(--spectrum-calendar-day-border-size-focus) solid transparent;
  }

  &.is-selected:not(.is-range-selection) {
    &:before {
      /* No highlight for lone selections */
      display: none;
    }
  }

  &.is-range-selection {
    /* overrides to make the cells appear connected */
    margin: var(--spectrum-calendar-day-padding-size-default) 0;
    border-width: 0;
    line-height: var(--spectrum-calendar-day-size-default);
    border-radius: 0;

    /* Todo: Calculate this */
    width: calc(var(--spectrum-calendar-day-size-default) + calc(var(--spectrum-calendar-day-padding-size-default) * 2));

    &.is-range-start,
    &.is-range-end {
      font-weight: var(--spectrum-calendar-day-font-weight-cap-selected);

      width: calc(var(--spectrum-calendar-day-size-default) + var(--spectrum-calendar-day-padding-size-default));

      &:after {
        position: absolute;
        top: 0;
        z-index: -1;

        display: block;

        height: var(--spectrum-calendar-day-size-default);
        width: var(--spectrum-calendar-day-size-default);

        border-radius: var(--spectrum-calendar-day-size-default);

        content: '';
      }
    }

    &.is-range-start {
      padding-right: var(--spectrum-calendar-day-padding-size-default);

      margin-left: var(--spectrum-calendar-day-padding-size-default);

      border-radius: var(--spectrum-calendar-day-size-default) 0 0 var(--spectrum-calendar-day-size-default);

      &:after {
        left: 0;
      }

      &.is-range-end {
        border-radius: var(--spectrum-calendar-day-size-default);
      }
    }

    &.is-range-end {
      padding-left: var(--spectrum-calendar-day-padding-size-default);

      margin-right: var(--spectrum-calendar-day-padding-size-default);

      border-radius: 0 var(--spectrum-calendar-day-size-default) var(--spectrum-calendar-day-size-default) 0;

      &:after {
        right: 0;
      }

      &.is-range-start {
        border-radius: var(--spectrum-calendar-day-size-default);
      }
    }
  }
}

.spectrum-Calendar-tableCell:first-of-type {
  .spectrum-Calendar-date.is-range-selection {
    width: calc(var(--spectrum-calendar-day-size-default) + var(--spectrum-calendar-day-padding-size-default));

    padding-right: var(--spectrum-calendar-day-padding-size-default);

    margin-left: var(--spectrum-calendar-day-padding-size-default);

    border-radius: var(--spectrum-calendar-day-size-default) 0 0 var(--spectrum-calendar-day-size-default);

    &:before {
      left: 0;
    }
  }
}

.spectrum-Calendar-tableCell:last-of-type {
  .spectrum-Calendar-date.is-range-selection {
    width: calc(var(--spectrum-calendar-day-size-default) + var(--spectrum-calendar-day-padding-size-default));

    padding-left: var(--spectrum-calendar-day-padding-size-default);

    margin-right: var(--spectrum-calendar-day-padding-size-default);

    border-radius: 0 var(--spectrum-calendar-day-size-default) var(--spectrum-calendar-day-size-default) 0;

    &:before {
      left: auto;
      right: 0;
    }
  }
}
