.spectrum-Calendar-prevMonth {
  color: var(--spectrum-calendar-button-icon-color-default);
}

.spectrum-Calendar-nextMonth {
  color: var(--spectrum-calendar-button-icon-color-default);
}

.spectrum-Calendar-dayOfWeek {
  color: var(--spectrum-calendar-day-header-text-color-default);
}

.spectrum-Calendar-date {
  &:hover {
    color: var(--spectrum-calendar-day-text-color-hover);

    &:not(.is-selection-end):not(.is-selection-start) {
      &:before {
        background: var(--spectrum-calendar-day-background-color-hover);
      }
    }

    &.is-selected {
      color: var(--spectrum-calendar-day-text-color-selected-hover);
      &:not(.is-selection-end):not(.is-selection-start) {
        &:before {
          background: var(--spectrum-calendar-day-background-color-selected-hover);
        }
      }
    }

    .is-range-selection {
      &:before {
        background: var(--spectrum-calendar-day-background-color-selected-hover);
      }
    }
  }

  &:active {
    background-color: var(--spectrum-calendar-day-background-color-down);
  }

  &.is-selected {
    color: var(--spectrum-calendar-day-text-color-selected);
    background: var(--spectrum-calendar-day-background-color-selected);
  }

  &.is-selected:not(.is-range-selection) {
    font-weight: var(--spectrum-calendar-day-font-weight-selected);
    background: var(--spectrum-calendar-day-background-color-cap-selected);
  }

  &.is-today {
    color: var(--spectrum-calendar-day-today-text-color-default);
    border-color: var(--spectrum-calendar-day-today-border-color-default);
    font-weight: var(--spectrum-calendar-day-today-font-weight-default);

    &:before {
      border-color: var(--spectrum-calendar-day-today-border-color-default);
    }

    &:hover {
      &.is-selected:not(.is-range-selection) {
        &:before {
          background: var(--spectrum-calendar-day-today-background-color-selected-hover);
        }
      }
    }

    &.is-disabled {
      color: var(--spectrum-calendar-day-today-text-color-disabled);
      border-color: var(--spectrum-calendar-day-today-border-color-disabled);

      &:before {
        border-color: var(--spectrum-calendar-day-today-border-color-disabled);
      }
    }
  }

  &.is-focused:not(.is-range-selection) {
    background: var(--spectrum-calendar-day-background-color-key-focus);
    border-color: var(--spectrum-calendar-day-border-color-key-focus);
    color: var(--spectrum-calendar-day-text-color-key-focus);

    &.is-today {
      border-color: var(--spectrum-calendar-day-border-color-key-focus);
    }

    &:active,
    &.is-selected {
      color: var(--spectrum-calendar-day-text-color-selected);
      background: var(--spectrum-calendar-day-background-color-cap-selected);
      border-color: var(--spectrum-calendar-day-border-color-key-focus);
    }
  }

  &.is-disabled {
    color: var(--spectrum-calendar-day-text-color-disabled);
  }

  &.is-selection-start,
  &.is-selection-end {
    color: var(--spectrum-calendar-day-text-color-cap-selected);

    &:after {
      background-color: var(--spectrum-calendar-day-background-color-selected);
    }

    &.is-disabled {
      color: var(--spectrum-calendar-day-text-color-disabled);
    }
  }
}
