.spectrum-Calendar-prevMonth::after {
  background-image: url("embed/S_CarouselLeftChevron_@1x.svg" param(--color var(--spectrum-calendar-button-icon-color-default)));
}

.spectrum-Calendar-nextMonth::after {
  background-image: url("embed/S_CarouselRightChevron_@1x.svg" param(--color var(--spectrum-calendar-button-icon-color-default)));
}

.spectrum-Calendar-dayOfWeek {
  color: var(--spectrum-calendar-day-header-text-color-default);
}

.spectrum-Calendar-date {
  color: var(--spectrum-calendar-day-text-color-default);
  background: var(--spectrum-calendar-day-background-color-default);

  &:hover:not(.is-range-selection) {
    color: var(--spectrum-calendar-day-text-color-hover);
    background: var(--spectrum-calendar-day-background-color-hover);

    &:active,
    &.is-selected {
      color: var(--spectrum-calendar-day-text-color-selected-hover);
      background: var(--spectrum-calendar-day-background-color-selected-hover);
    }
  }

  &:active,
  &.is-selected {
    color: var(--spectrum-calendar-day-text-color-selected);
    background: var(--spectrum-calendar-day-background-color-selected);
  }

  &.is-today {
    color: var(--spectrum-calendar-day-today-text-color-default);
    background: var(--spectrum-calendar-day-today-background-color-default);

    &:hover {
      color: var(--spectrum-calendar-day-today-text-color-hover);
      background: var(--spectrum-calendar-day-today-background-color-hover);

      &:active,
      &.is-selected {
        color: var(--spectrum-calendar-day-today-text-color-selected-hover);
        background: var(--spectrum-calendar-day-today-background-color-selected-hover);
        border-color: var(--spectrum-calendar-day-today-background-color-selected-hover);
      }
    }

    &:active,
    &.is-selected {
      color: var(--spectrum-calendar-day-today-text-color-selected);
      background: var(--spectrum-calendar-day-today-background-color-selected);
    }

    &.is-disabled {
      color: var(--spectrum-calendar-day-today-text-color-disabled);
      background: var(--spectrum-calendar-day-today-background-color-disabled);
    }
  }

  &.is-focused:not(.is-range-selection) {
    background: var(--spectrum-calendar-day-background-color-focus);
    border-color: var(--spectrum-calendar-day-border-color-focus);
    color: var(--spectrum-calendar-day-text-color-focus);

    &.is-today {
      background: var(--spectrum-calendar-day-today-background-color-focus);
      border-color: var(--spectrum-calendar-day-border-color-focus);
      color: var(--spectrum-calendar-day-today-text-color-focus);
    }

    &:active,
    &.is-selected {
      color: var(--spectrum-calendar-day-text-color-selected);
      background: var(--spectrum-calendar-day-background-color-selected);
      border-color: var(--spectrum-calendar-day-background-color-selected);
    }
  }

  &.is-disabled {
    color: var(--spectrum-calendar-day-text-color-disabled);
  }
}
