.spectrum-Accordion-item {
  border-color: var(--spectrum-accordion-border-color-default);
}

.spectrum-Accordion-indicator {
  color: var(--spectrum-accordion-icon-color-default);
}

.spectrum-Accordion-header {
  color: var(--spectrum-accordion-text-color-default);

  &:focus,
  &:hover {
    color: var(--spectrum-accordion-text-color-hover);

    background-color: var(--spectrum-accordion-background-color-hover);

    + .spectrum-Accordion-indicator {
      color: var(--spectrum-accordion-icon-color-hover);
    }
  }

  &:focus {
    &:after  {
      background-color: var(--spectrum-accordion-border-left-color-key-focus);
    }
  }
}

.spectrum-Accordion-item {
  &.is-open {
    .spectrum-Accordion-header {
      &:hover {
        background-color: transparent;
      }
    }
  }
}

.spectrum-Accordion-item.is-disabled {
  .spectrum-Accordion-header {
    &,
    &:hover,
    &:focus {
      color: var(--spectrum-accordion-text-color-disabled);
      background-color: transparent;
    }

    + .spectrum-Accordion-indicator {
      color: var(--spectrum-accordion-icon-color-disabled);
    }
  }
}
