@import '../commons/index.css';
@import '../commons/overlay.css';

:root {
  --spectrum-quickaction-border-width: 1px;
}

.spectrum-QuickActions {
  @inherit: %spectrum-overlay;

  display: inline-flex;
  align-items: center;

  &.is-open {
    @inherit: %spectrum-overlay--open;
  }
}

.spectrum-QuickActions--right {
  &.is-open {
    @inherit: %spectrum-overlay--left--open; /* should animate to the left when aligned right */
  }
}

.spectrum-QuickActions--left {
  &.is-open {
    @inherit: %spectrum-overlay--right--open; /* should animate to the right when aligned left */
  }
}

.spectrum-QuickActions-item {

  /* Change the font styles in all browsers */
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  
  /* Remove the button margin in Firefox and Safari. */
  margin: 0;
  
  /* Show button the overflow in Edge and IE. */
  overflow: visible;
  
  /* Remove the inheritance of text transform in Edge, Firefox, and IE. */
  text-transform: none;

  /* Correct the inability to style clickable types in iOS and Safari. */
  -webkit-appearance: button;

  width: var(--spectrum-quickaction-width-default);
  height: var(--spectrum-quickaction-height-default);
  margin-left: var(--spectrum-quickaction-margin-default);
  padding: 0;
  border-width: var(--spectrum-quickaction-border-width);
  border-radius: var(--spectrum-quickaction-border-radius-default);
  border-style: solid;
  transition: border-color var(--spectrum-transition-time) ease-out,
    color var(--spectrum-transition-time) ease-out,
    box-shadow var(--spectrum-transition-time) ease-out;


  /* Remove the inner border and padding for button in Firefox. */
  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  /* Restore the focus styles unset by the previous rule. */
  &:-moz-focusring{
    outline: 1px dotted ButtonText;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    cursor: pointer;
  }

  &:first-child {
    margin-left: 0;
  }

  .spectrum-Icon {
    /* Fix alignment */
    margin-top: 2px;
  }
}
