@import '../commons/index.css';
@import '../commons/overlay.css';

:root {
  --spectrum-quickaction-border-width: 1px;
}

.spectrum-QuickActions {
  @inherit: %spectrum-overlay;

  display: inline-flex;
  align-items: center;

  &.is-open {
    @inherit: %spectrum-overlay--open;
  }
}

.spectrum-QuickActions--right {
  &.is-open {
    @inherit: %spectrum-overlay--left--open; /* should animate to the left when aligned right */
  }
}

.spectrum-QuickActions--left {
  &.is-open {
    @inherit: %spectrum-overlay--right--open; /* should animate to the right when aligned left */
  }
}

.spectrum-QuickActions-button {
  width: var(--spectrum-quickaction-width-default);
  height: var(--spectrum-quickaction-height-default);
  margin-left: var(--spectrum-quickaction-margin-default);
  padding: 0;
  border-width: var(--spectrum-quickaction-border-width);
  line-height: calc(var(--spectrum-quickaction-height-default) - var(--spectrum-quickaction-border-width) * 2);
  border-radius: var(--spectrum-quickaction-border-radius-default);
  border-style: solid;
  transition: border-color var(--spectrum-transition-time) ease-out,
    color var(--spectrum-transition-time) ease-out,
    box-shadow var(--spectrum-transition-time) ease-out;

  &:hover {
    cursor: pointer;
  }

  &:active {
    cursor: pointer;
  }

  &:first-child {
    margin-left: 0;
  }
}
