/* topdoc
{{ quickaction/quickaction-default.yml }}
*/
.spectrum-QuickActions-item {
  background-color: var(--spectrum-quickaction-background-color-default);
  border-color: var(--spectrum-quickaction-border-color-default);
  color: var(--spectrum-quickaction-text-color-default);
  box-shadow: 0 1px 3px var(--spectrum-quickaction-box-shadow-color-default);

  &:focus {
    outline: none;
  }

  &:focus-ring {
    border-color: var(--spectrum-quickaction-border-color-key-focus);
    color: var(--spectrum-quickaction-text-color-key-focus);
    box-shadow: 0 0 0 1px var(--spectrum-quickaction-border-color-key-focus);
    outline: none;
  }

  &:hover {
    border-color: var(--spectrum-quickaction-border-color-hover);
    color: var(--spectrum-quickaction-text-color-hover);
  }

  &:active {
    border-color: var(--spectrum-quickaction-border-color-down);
    color: var(--spectrum-quickaction-text-color-down);
    box-shadow: 0 1px 3px var(--spectrum-quickaction-box-shadow-color-default);
  }
}
