-var repeats = 1
!!!
html
    head
        title TopCoat list test
        |<link rel="stylesheet" type="text/css" href="../../release/css/list.min.css">
    body
        -while (repeats > 0)
            -var repeats = repeats - 1
            div.topcoat-list__container
                h3.topcoat-list__header Header
                ul.topcoat-list
                    li.topcoat-list__item Item
                    li.topcoat-list__item Item
                    li.topcoat-list__item Item
                h3.topcoat-list__header Header
                ul.topcoat-list
                    li.topcoat-list__item Item
                    li.topcoat-list__item Item
                    li.topcoat-list__item Item
