/* these comments can be included in the output css, for us they are used by
   topdoc to generate the documentation we publish...

   you can probably ignore them unless you want to generate documentation
   or you want to help fix our documentation :)

   note:
     the '!'' tells stylus to preserve the comment into output css
     the 'topdoc' let's topdoc know it should parse the comment for YAML
*/

/*! topdoc
  name: TabList - Horizontal
  description: The Spectrum tab list
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup: |
    <div class="spectrum-TabList spectrum-TabList--horizontal">
      <div class="spectrum-Tab is-selected">
        <label class="spectrum-Tab-label">Monday</label>
      </div>
      <div class="spectrum-Tab">
        <label class="spectrum-Tab-label">Tuesday</label>
      </div>
      <div class="spectrum-Tab">
        <label class="spectrum-Tab-label">Wednesday</label>
      </div>
      <div class="spectrum-Tab">
        <label class="spectrum-Tab-label">Thursday</label>
      </div>
      <div class="spectrum-Tab">
        <label class="spectrum-Tab-label">Friday</label>
      </div>
    </div>
  tags:
    - desktop
    - light
    - mobile
    - radio
*/


/*! topdoc
  name: TabList - Horizontal
  description: The Spectrum tab list with icons
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup: |
    <div class="spectrum-TabList spectrum-TabList--horizontal">
      <div class="spectrum-Tab is-selected">
        <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Tag spectrum-Tab-icon"></div>
      </div>
      <div class="spectrum-Tab">
        <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Image spectrum-Tab-icon"></div>
      </div>
      <div class="spectrum-Tab">
        <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Filter spectrum-Tab-icon"></div>
      </div>
      <div class="spectrum-Tab">
        <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Comment spectrum-Tab-icon"></div>
      </div>
    </div>
  tags:
    - desktop
    - light
    - mobile
    - radio
*/

/*! topdoc
  name: TabList - Vertical
  description: The Spectrum tab list
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup: |
    <div class="spectrum-TabList spectrum-TabList--vertical">
      <div class="spectrum-Tab is-selected">
        <label class="spectrum-Tab-label">Monday</label>
      </div>
      <div class="spectrum-Tab">
        <label class="spectrum-Tab-label">Tuesday</label>
      </div>
      <div class="spectrum-Tab">
        <label class="spectrum-Tab-label">Wednesday</label>
      </div>
      <div class="spectrum-Tab">
        <label class="spectrum-Tab-label">Thursday</label>
      </div>
      <div class="spectrum-Tab">
        <label class="spectrum-Tab-label">Friday</label>
      </div>
    </div>
  tags:
    - desktop
    - light
    - mobile
    - radio
*/

/*! topdoc
  name: TabList - Vertical
  description: The Spectrum tab list
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup: |
    <div class="spectrum-TabList spectrum-TabList--vertical">
      <div class="spectrum-Tab is-selected">
        <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Tag spectrum-Tab-icon"></div>
      </div>
      <div class="spectrum-Tab">
        <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Image spectrum-Tab-icon"></div>
      </div>
      <div class="spectrum-Tab">
        <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Filter spectrum-Tab-icon"></div>
      </div>
      <div class="spectrum-Tab">
        <div class="spectrum-Icon spectrum-Icon--sizeS spectrum-Icon--Comment spectrum-Tab-icon"></div>
      </div>
    </div>
  tags:
    - desktop
    - light
    - mobile
    - radio
*/
