@import '../commons/index.css';

/* topdoc
{{ search/search.yml }}
*/
/* topdoc
{{ search/search-quiet.yml }}
*/

.spectrum-Search {
  display: inline-block;
  position: relative;
}

.spectrum-Search-input {
  display: block;

  /* Use padding instead of text-indent so long strings don't overlap the icon */
  padding-left: var(--spectrum-search-padding-left-default);
  text-indent: 0;

  /* Don't let long strings overlap the close icon */
  padding-right: var(--spectrum-search-padding-right-default);

  &.spectrum-Textfield--quiet {
    padding-left: var(--spectrum-search-quiet-padding-left-default);
    padding-right: var(--spectrum-search-quiet-padding-right-default);

    /* Since quiet button has no left padding, push the icon all the way to the left */
    & ~ .spectrum-Search-icon {
      left: 0;
    }

    & ~ .spectrum-Search-clear {
      right: -8px;
    }

    /* Since quiet button has no right padding, push the icon all the way to the right */
    & ~ .spectrum-Search-rightIcon {
      right: 0;
    }
  }
}

.spectrum-Search-icon {
  display: block;
  position: absolute;
  left: 12px;
  top: 0;
  width: var(--spectrum-search-icon-width-default);
  height: var(--spectrum-input-height-default);

  /* Support font icons */
  text-align: center;
  line-height: 32px;

  /* Support SVG icons */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;

  pointer-events: none;
}

.spectrum-Search-clear {
  position: absolute;
  right: 0;
  top: 0;
}

.spectrum-Search-clear:disabled {
  cursor: default;
}
