/* topdoc
{{ search/search.yml }}
*/
/* topdoc
{{ search/search-quiet.yml }}
*/
/* topdoc
{{ search/search-customicon.yml }}
*/
.spectrum-Search-clear {
  position: absolute;
  right: 0;
  top: 0;
}

.spectrum-Search-input {
  &.spectrum-Textfield--quiet {
    /* Since quiet button has no right padding, push the icon all the way to the right */
    & ~ .spectrum-Search-rightIcon {
      right: 0;
    }
  }
}
