/* topdoc
{{ search/search.yml }}
*/
/* topdoc
{{ search/search-quiet.yml }}
*/
.spectrum-Search {
  position: relative;
  display: inline-block;

  &::after {
    display: block;
    content: '';
    position: absolute;
    left: 4px;
    top: 0;
    width: 32px;
    height: 32px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 16px;

    pointer-events: none;
  }
}

.spectrum-Search-textfield {
  display: block;
  text-indent: 36px;
}

.spectrum-Search-clear {
  position: absolute;
  right: 0;
  top: 0;
}
