
/* -------------------------*/
/* SCROLL (nav and scrollable) */
/* -------------------------*/

.cssdoc-scroll {
  overflow-x:hidden;
  overflow-y:auto;
  width: auto;
  height: 100%;
}

.cssdoc-nav {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: none;
}

/*

.cssdoc-ScrollNav-Wrapper {
  padding-right: 0;
  padding-bottom: 75px;
  padding-left: 0;
  width: 190px;
}
*/
.cssdoc-nav-item {
  margin-bottom: 1rem;
  border: 1px solid #CCC;
  border-radius: 3px;
}

.cssdoc-nav-link {
  color: #6b6b6b;
  text-decoration: none;
  font-size: 2rem;
  line-height: 80px;
}

/*.cssdoc-ScrollNav-Subitem {
  display: none;
  margin-bottom: 0.6rem;
  padding: 0 0 0 1.3rem;
}

.cssdoc-ScrollNav-Subitem.active {
  display: block;
}

.cssdoc-ScrollNav-Sublink {
  display: block;

  color: #6b6b6b;
  text-decoration: none;
  line-height: 23px;
}

.cssdoc-ScrollNav-Link:hover,
.cssdoc-ScrollNav-Sublink:hover {
  color: #2b2b2b;
}

.cssdoc-ScrollNav-Link:visited {
  color: #6b6b6b;
}

.cssdoc-ScrollNav-Link.active,
.cssdoc-ScrollNav-Sublink.active {
  color: #326ec8;
  cursor: default;

  pointer-events: none;
}

.cssdoc-ScrollNav-Link.active .cssdoc-ScrollNav-Link:hover {
  color: #2b2b2b;
}

.cssdoc-Scrollnav-item.active > .cssdoc-ScrollNav-Link {
  color: #326ec8;
}
*/

@media (min-width: 48em) {

  .cssdoc-nav {
    display: block;
  }

  .cssdoc-nav-item {
    border: none;
  }

  .cssdoc-nav-link {
    font-size: inherit;
    line-height: inherit;
  }

}

@media (min-width: 75em) {
  /* 1200px desktop css, will overwrite styles from mobile and tablet */


}
