/* -------------------------*/
/* BASE */
/* -------------------------*/


.cssdoc-main-content, .cssdoc-header {
  margin: 0 auto;
  max-width: 1100px;
  background-color: #F5F5F5;
}

/* typekit font loading */
.wf-loading {
  visibility: hidden;
}

/* TODO: the commons defines the font @ 14px, spectrum.corp use 18px */
.spectrum--light,
.spectrum--dark {
  font-size: 1.125rem;
  line-height: 24px;
}

/*TODO: move this when spectrum-css has header styles*/
.spectrum-Heading {
  font-weight: normal;
}

.spectrum-Heading--display {
  font-size: 2.2rem;
  line-height: 2.3rem;
  font-weight: 100;
  color: rgb(44, 44, 44);
}

.spectrum-Heading--pagetitle {
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: 100;
  color: rgb(44, 44, 44);
}

.spectrum-Heading--subtitle {
  font-size: 1rem;
  font-weight: bold;
}

.spectrum-Heading--subtitle2 {
  font-size: 1rem;
  color: rgb(44, 44, 44);
  font-weight: bold;
}

.cssdoc-components {

}

.cssdoc-component {
  margin-bottom: 3rem;
}

.cssdoc-component-description {
  padding-left: 1rem;
  font-size: 0.99rem;
  /*font-weight: 100;*/
}

.cssdoc-component-description p {
  margin-top: 0;
}

.cssdoc-component-markup {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.cssdoc-code-link a, section.examples a {
  color: #288edf;
  text-decoration: none;
}
.cssdoc-code-link a:hover, section.examples a:hover {
  text-decoration: underline;
}

.cssdoc-code-example {
  display: none;
  background: #FFF;
  border: 1px solid #E0E0E0;
  padding: 0 14px 25px 14px;
  font-size: 12px;
  border-radius: 1px;
  font-weight: 400;
  width: 100%;
}

.cssdoc-code-example-title {
  margin-bottom: 3px;
}

/*let's help rainbow work right*/
pre.html {
 margin: 0;
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
}


/* utilities */
.u-cssdoc-clearfix {
  zoom: 1;
}

.u-cssdoc-clearfix:before,
.u-cssdoc-clearfix:after {
  content: "";
  display: table;
}

.u-cssdoc-clearfix:after {
  clear: both;
}


