/* mobile first css */

/* header and top-rail are consistent for all pages */
.cssdoc-header {
  min-height: 48px;
}

.cssdoc-header-content {
  padding-left: 0;
}

.cssdoc-header-link {
  margin-top: 18px
}

.cssdoc-header-logo-image {
  vertical-align: middle
}

.cssdoc-header-title {
  font-weight: normal;
  margin-left: 10px;
  display: inline;
}

.cssdoc-colorstop {
  min-width: 300px;
  float: right;
}

.cssdoc-colorstop-label {
  font-size: .9rem;
  padding-right: 0;
}

.cssdoc-colorstop-selector {
  font-size: .9rem;
  font-weight: bold;
  text-align: left;
  padding-left: 4px;
}

/*  stuff TODO for menu or mostly fixed by flexgrid

.cssdoc-VersionTagContainer {
  display: inline-block;
  margin-left: .5rem;
  vertical-align: middle;
}


.cssdoc-header-nav {
  position: absolute;
  top: 4rem;
  right: 20px;
  left: 0;
}

.cssdoc-header-link {
  display: inline-block;

  margin: 0.2rem 0.875rem 0 0.875rem;
  padding: 0 1px 0 1px;

  color: #8C8C8C !important;
  text-decoration: none;
  font-size: .9375rem;
  line-height: 3.1;
}

/* white text and bottom line for selected  *
.cssdoc-header-link.is-selected {
  border-bottom: solid 3px #fff;

  color: #fff !important;
}

@media (min-width: 48em) {
   768px tablet css, will overwrite styles from mobile
  .cssdoc-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 2rem;
  }

  .cssdoc-header-menu {
    height: 7.25rem;
  }
}

@media (min-width: 62em) {
  /* 992px css, will overwrite styles from mobile and tablet *
  .cssdoc-header-menu {
    min-height: 3.25rem;
    height: 3.25rem;
  }

  .cssdoc-header-nav {
    top: 0;
    left: auto;
    display: inline-block;
  }
}

@media (min-width: 64em) {
  /* 1024px desktop css *

}

@media (min-width: 75em) {
  /* 1200px desktop css, will overwrite styles from mobile and tablet *
  .cssdoc-header-nav {
    right: 0;
  }

}
*/
