var-background-color = #e5e9e8
var-background-color--body = #DFE2E2
var-background-color--down = #d3d7d7
var-border = 1px solid #a5a8a8
var-box-shadow = inset 0 1px #fff
var-box-shadow--down = inset 0 1px rgba(0, 0, 0, 0.12)
var-color = #454545
var-text-shadow = 0 1px #fff
/* Call To Action */
var-background-color--cta--down = #0380e8
/* Icons */
var-menu-stack-icon = url("../img/hamburger_dark.svg");
/* Navigation Bar */
var-color--navigation-bar = #000
var-box-shadow--navigation-bar = inset 0 -1 #b9bcbc, 0 1px rgba(0,0,0,0.95)
/* Text Input */
var-color--placeholder = #C6C8C8
var-color--focus = #000
var-background-color--focus = #ffffff
/* List */
var-background-color--list = rgb(223, 226, 226)
var-border-top--list-container = 1px solid rgb(188, 191, 191)
var-border-top--list = 1px solid rgb(188, 191, 191)
var-border-bottom--list = 1px solid rgb(239, 241, 241)
var-border-top--list-item--first = 1px solid rgba(0, 0, 0, 0.05)
var-border-top--list-item = 1px solid rgb(239, 241, 241)
var-border-bottom--list-item = 1px solid rgb(188, 191, 191)
var-color--list-header = rgb(101, 101, 101)
var-text-shadow--list-header = 0 1px 0 rgba(255, 255, 255, 0.5)
var-border-top--list-header = solid 1px rgba(255, 255, 255, 0.5)
var-border-bottom--list-header = solid 1px rgba(255, 255, 255, 0.23)
var-background-color--list-header = rgb(204, 207, 207)