var-border-radius = 6px
var-padding = 0 1.25rem
var-margin = 0
var-font-weight = 200
var-font-size = 16px
var-font-size--large = 1.3rem
var-height = 3rem
var-height--large = 4rem
var-line-height = 3rem
var-line-height--large = 4rem
var-vertical-align = top
var-letter-spacing = 1px
/* Icon Button */
var-width--icon = 1.5rem
var-height--icon = 1.5rem
var-vertical-align--icon = middle
var-background-size--icon = cover
var-width--large--icon = 2.5rem
var-height--large--icon = 2.5rem
var-width--icon-button--large = 4rem
var-height--icon-button--large = 4rem
var-padding--icon-button = 0 0.75rem
var-line-height--icon-buton--large = 4rem
/* Navigation bar */
var-padding--navigation-bar = 1rem
/* List */
var-padding--list-header = 4px 20px
var-padding--list-item = 1.25rem
var-font-size--list-header = .9em
var-font-weight--list-header = 400