spectrum-radio--checked-checkmark() {
  // Todo: missing radio var
  border-color: $spectrum-color-border-switch-default;
}

spectrum-radio--focus-checkmark() {
  // Todo: missing radio var
  border-color: $spectrum-color-border-switch-focus;
  box-shadow: 0 0 0 1*$px $spectrum-color-border-switch-focus;
}

spectrum-radio--disabled-checkmark() {
  // Todo: missing radio var
  border-color: $spectrum-color-background-input-disabled;
}

spectrum-radio--disabled-description() {
  color: $spectrum-color-text-disabled;
}

spectrum-radio-description() {
  // Todo: missing radio var $spectrum-color-text-input-label;
  color: $spectrum-color-input-label;
}

spectrum-radio-checkmark() {
  border-color: $spectrum-color-border-switch;
}

spectrum-radio-checkmark--hover() {
  border-color: $spectrum-color-border-switch-hover;
  box-shadow: none;
}

spectrum-radio-description--hover() {
  color: $spectrum-color-input-label;
}

spectrum-radio-checkmark--active() {
  border-color: spectrum-color-border-switch-active;
}

spectrum-radio-description--active() {
  color: $spectrum-color-input-label;
}

spectrum-radio-checkmark--disabled() {
  border-color: $spectrum-color-background-input-disabled;
}

spectrum-radio-description--disabled() {
  color: $spectrum-color-text-disabled;
}
