@require '../commons'

$spectrum-radio-input {

}

$spectrum-radio--checked-checkmark {
  border-color: $spectrum-color-switch-border;
}

$spectrum-radio--focus-checkmark {
  border-color: $spectrum-color-switch-border-focus;
  box-shadow: 0 0 0 1*$px $spectrum-color-switch-border-focus;
}

$spectrum-radio--disabled-checkmark {
  border-color: $spectrum-color-input-background-disabled;
}

$spectrum-radio--disabled-description {
  color: $spectrum-color-disabled-text;
}

$spectrum-radio {

}
$spectrum-radio-description {
  color: $spectrum-color-input-label;
}

$spectrum-radio-checkmark {
  border-color: $spectrum-color-switch-border;
}

$spectrum-radio-checkmark--hover {
  border-color: $spectrum-color-switch-border-hover;
  box-shadow: none;
}

$spectrum-radio-description--hover {
  color: $spectrum-color-input-label;
}

$spectrum-radio-checkmark--active {
  border-color: spectrum-color-switch-border-active;
}

$spectrum-radio-description--active {
  color: $spectrum-color-input-label;
}

$spectrum-radio-checkmark--disabled {
  border-color: $spectrum-color-input-background-disabled;
}

$spectrum-radio-description--disabled {
  color: $spectrum-color-disabled-text;
}
