// obviously importing the css docs would be
// optional for implementation output
// we're doing it here to create the topdocs

@import 'docs/components/alert/docs.styl'

@import 'abstract/components/alert/index.styl'

.spectrum-Alert {
  spectrum-alert()
}

.spectrum-Alert-typeIcon {
  spectrum-alert-typeIcon()
}

.spectrum-Alert-header {
  spectrum-alert-header()
}

.spectrum-Alert-content {
  spectrum-alert-content()
}

.spectrum-Alert-footer {
  spectrum-alert-footer()

  .spectrum-Button {
    spectrum-alert-footer-button()
  }
}

@import 'skin.styl'
