@import 'abstract/components/alert/skin.styl'

.spectrum-Alert {
  spectrum-alert()

  // Default color is blue
  .spectrum-Alert-typeIcon {
    spectrum-alert-typeIcon--info()
  }
}

.spectrum-Alert--info {
  spectrum-alert--info()

  .spectrum-Alert-typeIcon {
    spectrum-alert-typeIcon--info()
  }
}

.spectrum-Alert--error {
  spectrum-alert--error()

  .spectrum-Alert-typeIcon {
    spectrum-alert-typeIcon--error()
  }
}

.spectrum-Alert--success {
  spectrum-alert--success()

  .spectrum-Alert-typeIcon {
    spectrum-alert-typeIcon--success()
  }
}

.spectrum-Alert--warning {
  spectrum-alert--warning()

  .spectrum-Alert-typeIcon {
    spectrum-alert-typeIcon--warning()
  }
}

.spectrum-Alert-header {
  spectrum-alert-header()
}

.spectrum-Alert-content {
  spectrum-alert-content()
}
