@import '../commons/index.css';

:root {
  --spectrum-radio-diameter: 12px;
  --spectrum-radio-radius: 6px;
}

.spectrum-Radio {
  display: inline-block;
  position: relative;

  padding: 7px 0;

  font-size: 0;
}

.spectrum-Radio-input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  opacity: .0001;

  cursor: pointer;

  &:checked + .spectrum-Radio-checkmark {
    border-width: 6px;
  }

  &:disabled {
    cursor: default;
  }
}

.spectrum-Radio-label {
  margin: 0 8px;

  font-size: var(--spectrum-font-size);

  vertical-align: middle;

  transition: color 150ms ease-in-out;
}

.spectrum-Radio-checkmark {
  display: inline-block;
  box-sizing: border-box;
  width: var(--spectrum-radio-diameter);
  height: var(--spectrum-radio-diameter);

  border-radius: var(--spectrum-radio-radius);
  border-width: 2px;
  border-style: solid;

  vertical-align: middle;

  transition: border var(--spectrum-transition-time) ease-in-out, box-shadow var(--spectrum-transition-time) ease-in-out;
}
