@import '../commons/index.css';

:root {
  --spectrum-radio-radius: calc(var(--spectrum-radio-circle-diameter-default) / 2);
  --spectrum-radio-border-width-checked: calc(calc(var(--spectrum-radio-circle-diameter-default) / 2) - calc(var(--spectrum-radio-circle-dot-size-default) / 2));
}

.spectrum-Radio {
  display: inline-block;
  position: relative;

  padding: 6px var(--spectrum-radio-hitarea);
  margin-left: calc(-1 * var(--spectrum-radio-hitarea));

  font-size: 0;

  & + .spectrum-Radio {
    margin-left: 0;
  }
}

.spectrum-Radio-input {

  /* Change the font styles in all browsers for input. */
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;

  /* Remove the margin for input in Firefox and Safari. */
  margin: 0;

  /* Show the overflow for input in Edge. */
  overflow: visible;

  /* Add the correct box sizing for [type="radio"] in IE 10-. */
  box-sizing: border-box;
  
  /* Remove the padding for [type="radio"] in IE 10-. */
  padding: 0;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  opacity: .0001;

  cursor: pointer;

  &:checked + .spectrum-Radio-button {
    border-width: var(--spectrum-radio-border-width-checked);

  }

  &:disabled {
    cursor: default;
  }
}

.spectrum-Radio-label {
  margin-left: 8px;

  font-size: var(--spectrum-font-size);

  vertical-align: middle;

  transition: color var(--spectrum-transition-time) ease-in-out;
}

.spectrum-Radio-button {
  display: inline-block;
  box-sizing: border-box;
  width: var(--spectrum-radio-circle-diameter-default);
  height: var(--spectrum-radio-circle-diameter-default);

  border-radius: var(--spectrum-radio-radius);
  border-width: 2px;
  border-style: solid;

  vertical-align: middle;

  transition: border var(--spectrum-transition-time) ease-in-out, box-shadow var(--spectrum-transition-time) ease-in-out;
}
