.spectrum-Radio-input {
  &:checked + .spectrum-Radio-button {
    border-color: var(--spectrum-radio-border-color-checked);
  }

  &:focus-ring {
    & + .spectrum-Radio-button {
      border-color: var(--spectrum-radio-border-color-focus);
      box-shadow: 0 0 0 1px var(--spectrum-radio-border-color-focus);
    }

    & ~ .spectrum-Radio-label {
      color: var(--spectrum-radio-label-text-color-focus);
    }
  }
}


/* topdoc
{{ radio/radio-default.yml }}
*/
.spectrum-Radio {
  .spectrum-Radio-label {
    color: var(--spectrum-radio-label-text-color-default);
  }

  .spectrum-Radio-button {
    border-color: var(--spectrum-radio-border-color-default);
  }

  &:hover {
    .spectrum-Radio-button {
      border-color: var(--spectrum-radio-border-color-hover);
      box-shadow: none;
    }

    .spectrum-Radio-input:checked + .spectrum-Radio-button {
      border-color: var(--spectrum-radio-border-color-checked-hover);
    }

    .spectrum-Radio-label {
      color: var(--spectrum-radio-label-text-color-hover);
    }
  }

  &:active {
    .spectrum-Radio-button {
      border-color: var(--spectrum-radio-border-color-active);
    }

    .spectrum-Radio-input:checked + .spectrum-Radio-button {
      border-color: var(--spectrum-radio-border-color-checked-active);
    }


    .spectrum-Radio-label {
      color: var(--spectrum-radio-label-text-color-active);
    }
  }

  &.is-invalid {
    .spectrum-Radio-button {
      border-color: var(--spectrum-radio-border-color-invalid);
    }

    .spectrum-Radio-label {
      color: var(--spectrum-radio-border-color-invalid);
    }
  }

/* topdoc
{{ radio/radio-invalid.yml }}
*/
  &.is-invalid:hover {
    .spectrum-Radio-button {
      border-color: var(--spectrum-radio-border-color-invalid-hover) !important;
    }

    .spectrum-Radio-label {
      color: var(--spectrum-radio-border-color-invalid-hover);
    }
  }

  &.is-invalid:active {
    .spectrum-Radio-button {
      border-color: var(--spectrum-radio-border-color-invalid-active) !important;
    }

    .spectrum-Radio-label {
      color: var(--spectrum-radio-border-color-invalid-active);
    }
  }
}

.spectrum-Radio-input {
/* topdoc
{{ radio/radio-disabled.yml }}
*/
  &:disabled + .spectrum-Radio-button {
    border-color: var(--spectrum-radio-border-color-disabled);
  }

  &:disabled ~ .spectrum-Radio-label {
    color: var(--spectrum-radio-label-text-color-disabled);
  }
}
