.spectrum-Radio-input {
  &:checked + .spectrum-Radio-button {
    border-color: var(--spectrum-radio-circle-border-color-selected);
  }

  &:focus-ring {
    & + .spectrum-Radio-button {
      border-color: var(--spectrum-radio-circle-border-color-key-focus);
      box-shadow: 0 0 0 1px var(--spectrum-radio-circle-border-color-key-focus);

    }

    & ~ .spectrum-Radio-label {
      color: var(--spectrum-radio-text-color-key-focus);
    }
  }
}


/* topdoc
{{ radio/radio-default.yml }}
*/
.spectrum-Radio {
  .spectrum-Radio-label {
    color: var(--spectrum-radio-text-color-default);
  }

  .spectrum-Radio-button {
    border-color: var(--spectrum-radio-circle-border-color-default);
  }

  &:hover {
    .spectrum-Radio-button {
      border-color: var(--spectrum-radio-circle-border-color-hover);
      box-shadow: none;
    }

    .spectrum-Radio-input:checked + .spectrum-Radio-button {
      border-color: var(--spectrum-radio-circle-border-color-selected-hover);

    }

    .spectrum-Radio-label {
      color: var(--spectrum-radio-text-color-hover);
    }
  }

  &:active {
    .spectrum-Radio-button {
      border-color: var(--spectrum-radio-circle-border-color-down);
    }

    .spectrum-Radio-input:checked + .spectrum-Radio-button {
      border-color: var(--spectrum-radio-circle-border-color-selected-down);

    }


    .spectrum-Radio-label {
      color: var(--spectrum-radio-text-color-down);
    }
  }

  &.is-invalid {
    .spectrum-Radio-button {
      border-color: var(--spectrum-radio-circle-border-color-error);

    }

    .spectrum-Radio-label {
      color: var(--spectrum-radio-circle-border-color-error);
    }
  }

/* topdoc
{{ radio/radio-invalid.yml }}
*/
  &.is-invalid:hover {
    .spectrum-Radio-button {
      border-color: var(--spectrum-radio-circle-border-color-error-hover) !important;

    }

    .spectrum-Radio-label {
      color: var(--spectrum-radio-circle-border-color-error-hover);
    }
  }

  &.is-invalid:active {
    .spectrum-Radio-button {
      border-color: var(--spectrum-radio-circle-border-color-error-down) !important;

    }

    .spectrum-Radio-label {
      color: var(--spectrum-radio-circle-border-color-error-down);
    }
  }
}

.spectrum-Radio-input {
/* topdoc
{{ radio/radio-disabled.yml }}
*/
  &:disabled + .spectrum-Radio-button {
    border-color: var(--spectrum-radio-circle-border-color-disabled);

  }

  &:disabled ~ .spectrum-Radio-label {
    color: var(--spectrum-radio-text-color-disabled);
  }
}
