@import '../commons/index.css';

:root {
  --spectrum-stepper-button-height: calc(var(--spectrum-component-single-line-height) / 2);
  --spectrum-stepper-button-width: 24px;
  --spectrum-stepper-padding: calc(var(--spectrum-padding) / 2);
  --spectrum-Stepper-stepUpIcon-width: 8px;
  --spectrum-Stepper-stepUpIcon-height: 6px;
}

.spectrum-Stepper {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;

  width: var(--spectrum-component-single-line-width);
  line-height: 0;
  border-radius: var(--spectrum-border-radius);
  transition: border-color var(--spectrum-transition-time) ease-in-out, box-shadow var(--spectrum-transition-time) ease-in-out;
}
.spectrum-Stepper::before {
  content: '';
}

.spectrum-Stepper-buttons {
  display: block;
}

.spectrum-Stepper-stepUp,
.spectrum-Stepper-stepDown {
  display: block;

  height: var(--spectrum-stepper-button-height);
  width: var(--spectrum-stepper-button-width);

  padding-left: var(--spectrum-stepper-padding);
  padding-right: var(--spectrum-stepper-padding);

  /* Avoid margin added by adjacent buttons */
  margin: 0 !important;

  border-width: 1px;
  border-right-width: 0;
  border-radius: var(--spectrum-border-radius) 0 0 var(--spectrum-border-radius);
}

.spectrum-Stepper-stepUp {
  border-bottom: none;
  border-bottom-left-radius: 0;
}

.spectrum-Stepper-stepDown {
  border-top: none;
  border-top-left-radius: 0;
  border-bottom-width: 1px;

  &:focus {
    border-top: none;
  }
}

.spectrum-Stepper-input {
  position: relative;

  flex: 1;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.spectrum-Stepper-stepUpIcon,
.spectrum-Stepper-stepDownIcon {
  width: var(--spectrum-Stepper-stepUpIcon-width);
  height: var(--spectrum-Stepper-stepUpIcon-height);
  margin-top: 3px;
  margin-left: 2px;
  opacity: 1;
}

.spectrum-Stepper-stepUpIcon {
  /* Off by 1px otherwise */
  margin-top: 6px;
}

.spectrum-Stepper--quiet {
  border-radius: 0;

  .spectrum-Stepper-buttons {
    .spectrum-Button--quiet--action {
      border-top: none;
      border-left: none;
    }

    .spectrum-Stepper-stepDown {
      border-radius: 0;
    }
  }
}
