/* these comments can be included in the output css, for us they are used by
   topdoc to generate the documentation we publish...

   you can probably ignore them unless you want to generate documentation
   or you want to help fix our documentation :)

   note:
     the '!'' tells stylus to preserve the comment into output css
     the 'topdoc' let's topdoc know it should parse the comment for YAML
*/

/*! topdoc
  name: Colored Label - Default
  description: A Spectrum label
  markup: |
    <span class="spectrum-Label spectrum-Label--grey">Grey Label</span>
    <span class="spectrum-Label spectrum-Label--red">Red Label</span>
    <span class="spectrum-Label spectrum-Label--blue">Blue Label</span>
    <span class="spectrum-Label spectrum-Label--green">Green Label</span>
    <br>
    <span class="spectrum-Label spectrum-Label--seafoam">Seafoam Label</span>
    <span class="spectrum-Label spectrum-Label--periwinkle">Periwinkle Label</span>
    <span class="spectrum-Label spectrum-Label--fuchsia">Fuchsia Label</span>
    <span class="spectrum-Label spectrum-Label--orange">Orange Label</span>
    <br>
    <span class="spectrum-Label spectrum-Label--yellow">Yellow Label</span>
    <span class="spectrum-Label spectrum-Label--plum">Plum Label</span>
    <span class="spectrum-Label spectrum-Label--cyan">Cyan Label</span>
    <span class="spectrum-Label spectrum-Label--kellygreen">Kelly Green Label</span>

  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Colored Label - Large
  description: A large Spectrum label
  markup: |
    <span class="spectrum-Label spectrum-Label--large spectrum-Label--grey" style="margin: 0rem 0.25rem 0.25rem;">Grey Label</span>
    <span class="spectrum-Label spectrum-Label--large spectrum-Label--red" style="margin: 0rem 0.25rem 0.25rem;">Red Label</span>
    <span class="spectrum-Label spectrum-Label--large spectrum-Label--blue" style="margin: 0rem 0.25rem 0.25rem;">Blue Label</span>
    <span class="spectrum-Label spectrum-Label--large spectrum-Label--green" style="margin: 0rem 0.25rem 0.25rem;">Green Label</span>
    <br>
    <span class="spectrum-Label spectrum-Label--large spectrum-Label--seafoam" style="margin: 0rem 0.25rem 0.25rem;">Seafoam Label</span>
    <span class="spectrum-Label spectrum-Label--large spectrum-Label--periwinkle" style="margin: 0rem 0.25rem 0.25rem;">Periwinkle Label</span>
    <span class="spectrum-Label spectrum-Label--large spectrum-Label--fuchsia" style="margin: 0rem 0.25rem 0.25rem;">Fuchsia Label</span>
    <span class="spectrum-Label spectrum-Label--large spectrum-Label--orange" style="margin: 0rem 0.25rem 0.25rem;">Orange Label</span>
    <br>
    <span class="spectrum-Label spectrum-Label--large spectrum-Label--yellow" style="margin: 0rem 0.25rem 0.25rem;">Yellow Label</span>
    <span class="spectrum-Label spectrum-Label--large spectrum-Label--plum" style="margin: 0rem 0.25rem 0.25rem;">Plum Label</span>
    <span class="spectrum-Label spectrum-Label--large spectrum-Label--cyan" style="margin: 0rem 0.25rem 0.25rem;">Cyan Label</span>
    <span class="spectrum-Label spectrum-Label--large spectrum-Label--kellygreen" style="margin: 0rem 0.25rem 0.25rem;">Kelly Green Label</span>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Colored Label - Special
  description: A special label
  markup: |
    <span class="spectrum-Label spectrum-Label--and">And</span>
    <span class="spectrum-Label spectrum-Label--or">Or</span>
    <br>
    <span class="spectrum-Label spectrum-Label--active">Active</span>
    <span class="spectrum-Label spectrum-Label--inactive">Inactive</span>
  tags:
    - desktop
    - light
    - mobile
    - button
*/
