html, body {
	height:100%;
	width:100%;
}

body {
	background:#777;
	background:rgba(0,0,0,.3);
}

ul li {
	text-shadow:0 1px 0 #222;
}

.dark-header-bar {
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:10;
	margin:0;
	background:#444;
}

.dark-header-bar li {
	list-style:none;
	display:inline-block;
	padding:20px 10px;
	margin-right:.5em;
}

	.dark-header-bar li a {
		text-decoration:none;
		color:#fff;
		font-weight:bold;
	}

#main {
	height:100%;
}

.content {
	padding:0;
	margin-top:56px;
}

	.content {
		height:100%;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}

	.content li {
		list-style:none;
		color:#fff;
		font-weight:bold;
		z-index:10;
	}

		.content li.with-images {
			margin:1px;
			background:#222;
			height:110px;
		}

			.with-images img {
				height:110px;
				width:110px;
				float:left;
				border:0;
				background:#333;
				margin:0 .5em 0 0;
				border-right:2px solid #777;
			}

		.content li a {
			text-decoration:none;
			color:#fff;
			font-weight:bold;
		}

		.content li:before {
			content:">";
			display:block;
			float:right;
			color:#aaa;
			margin:0 .5em;
		}

			.content li.with-images:before {
				margin-top:45px;
			}

		.content li:after {
			content:"";
			display:block;
			clear:both;
			height:1px;
			visibility:hidden;
			line-height:50px;
		}

		.stats {
			font-size:.7em;
			padding-top:.4em;
		}

		li h5, li p {
			margin:.3em;
			font-size:1em;
		}

		li.loading {
			text-align:center;
			border:none;
			color:#fff;
		}

		li.loading:before {
			display:none;
		}

			.loading img {
				width:16px;
				margin-bottom:-3px;
				-webkit-animation: 1s rotate linear infinite;
			}

			@-webkit-keyframes rotate {
				to {
					-webkit-transform:rotate(360deg);
				}
			}

		li em {
			width:80px;
			display:inline-block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow:ellipsis;
			color:#aaa;
			margin:0 .5em;
		}

	.spin img {
		-webkit-animation:.5s spin infinite;
	}

	.up img {
		-webkit-transform:rotate(180deg);
	}

	@-webkit-keyframes spin {
		to {
			-webkit-transform:rotate(360deg);
		}
	}