@import '../commons/index.css';

/* topdoc
{{ link/link-default.yml }}
*/
.spectrum-Link {

  /* Remove the gray background on active links in IE 10. */
  background-color: transparent;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+. */
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  transition: color var(--spectrum-transition-time) ease-in-out;
  outline: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus-ring {
    text-decoration: underline;
  }

  &:focus-ring {
    text-decoration: underline;
    text-decoration-style: double;
  }

/* topdoc
{{ link/link-disabled.yml }}
*/
  &.is-disabled {
    cursor: default;
    pointer-events: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

/* topdoc
{{ link/link-subtle.yml }}
*/
.spectrum-Link--subtle {
  text-decoration: underline;
}

/* topdoc
{{ link/link-overColor.yml }}
*/
.spectrum-Link--overColor {
  text-decoration: underline;
}