@import '../commons/index.css';

/* topdoc
{{ link/link-default.yml }}
*/
.spectrum-Link {
  text-decoration: none;
  transition: color var(--spectrum-transition-time) ease-in-out;
  outline: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
    text-decoration-style: double;
  }

/* topdoc
{{ link/link-disabled.yml }}
*/
  &.is-disabled {
  	cursor: default;
    pointer-events: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

/* topdoc
{{ link/link-subtle.yml }}
*/
.spectrum-Link--subtle {
  text-decoration: underline;
}
