.spectrum-Link {
  color: var(--spectrum-link-text-color-default);

  &:hover {
    color: var(--spectrum-link-text-color-hover);
  }

  &:active {
    color: var(--spectrum-link-text-color-down);
  }

  &:focus-ring {
    color: var(--spectrum-link-text-color-key-focus);
  }

  &.is-disabled {
    color: var(--spectrum-link-text-color-disabled);
  }
}

.spectrum-Link--subtle {
  color: inherit;

  &:hover {
    color: inherit;
  }

  &:active {
    color: inherit;
  }

  &:focus {
    color: inherit;
  }
}

.spectrum-Link--overColor {
  color: var(--spectrum-link-over-color-text-color-default);

  &:hover {
    color: var(--spectrum-link-over-color-text-color-hover);
  }

  &:active {
    color: var(--spectrum-link-over-color-text-color-down);
  }

  &:focus {
    color: var(--spectrum-link-over-color-text-color-key-focus);
  }

  &.is-disabled {
    color: var(--spectrum-link-over-color-text-color-disabled);
  }
}