.spectrum-Textfield {
  @extends $spectrum-textfield
}

.spectrum-Textfield--quiet {
  @extends $spectrum-textfield--quiet
}

.spectrum-Textfield--multiline {
  @extends $spectrum-textfield--multiline
}
