@import '../commons/index.css';

/* topdoc
{{ table/table-standard.yml }}
*/
/* topdoc
{{ table/table-divs.yml }}
*/
/* topdoc
{{ table/table-divs-quiet.yml }}
*/
.spectrum-TabList-itemle {
  border-collapse: separate;
  border-spacing: 0;
}

.spectrum-TabList-itemle-sortedIcon {
  display: none;
  margin-left: var(--spectrum-table-head-cell-sort-icon-margin-left-default);

  width: var(--spectrum-table-head-cell-sort-icon-width-default);
  height: var(--spectrum-table-head-cell-sort-icon-height-default);

  vertical-align: bottom;

  transition: transform var(--spectrum-transition-time) ease-in-out;
}

.spectrum-TabList-itemle-headCell {
  text-align: left;
  font-size: var(--spectrum-table-head-cell-font-size-default);
  font-weight: var(--spectrum-table-head-cell-font-weight-default);
  line-height: var(--spectrum-table-head-cell-height-default);
  letter-spacing: var(--spectrum-table-head-cell-letter-spacing-default);
  text-transform: uppercase;
  padding: var(--spectrum-table-head-cell-padding-vertical-default) var(--spectrum-table-cell-padding-default);
  transition: color var(--spectrum-transition-time) ease-in-out;
  cursor: default;

  &.is-sortable {
    cursor: pointer;
  }

  &.is-sorted-asc,
  &.is-sorted-desc {
    .spectrum-TabList-itemle-sortedIcon {
      display: inline-block;
    }
  }

  &.is-sorted-asc {
    .spectrum-TabList-itemle-sortedIcon {
      transform: rotateZ(180deg);
    }
  }
}

.spectrum-TabList-itemle-cell--alignCenter {
  text-align: center;
}

.spectrum-TabList-itemle-cell--alignRight {
  text-align: right;
}

.spectrum-TabList-itemle-body {
  border-radius: var(--spectrum-border-radius);
  overflow: auto;
}

/* The tbody tag doesn't allow setting a border-radius, so these hacks are to make that work
   by putting it on the individual cells instead. */
.spectrum-TabList-itemle:not(.spectrum-TabList-itemle--quiet) {
  tbody.spectrum-TabList-itemle-body {
    border: none;
    border-radius: 0;

    .spectrum-TabList-itemle-row:first-child .spectrum-TabList-itemle-cell:first-child {
      border-top-left-radius: var(--spectrum-border-radius);
    }

    .spectrum-TabList-itemle-row:first-child .spectrum-TabList-itemle-cell:last-child {
      border-top-right-radius: var(--spectrum-border-radius);
    }

    .spectrum-TabList-itemle-row:last-child .spectrum-TabList-itemle-cell:first-child {
      border-bottom-left-radius: var(--spectrum-border-radius);
    }

    .spectrum-TabList-itemle-row:last-child .spectrum-TabList-itemle-cell:last-child {
      border-bottom-right-radius: var(--spectrum-border-radius);
    }
  }
}

.spectrum-TabList-itemle-cell {
  font-size: var(--spectrum-table-body-cell-font-size-default);
  line-height: var(--spectrum-table-body-cell-line-height-default);
  padding: var(--spectrum-table-body-cell-padding-vertical-default) var(--spectrum-table-cell-padding-default);
}

.spectrum-TabList-itemle-row {
  cursor: pointer;
  transition: background-color var(--spectrum-transition-time) ease-in-out;
}

/* topdoc
{{ table/table-quiet.yml }}
*/
.spectrum-TabList-itemle--quiet {
  .spectrum-TabList-itemle-body {
    border-radius: 0;
  }
}

/* topdoc
{{ table/table-standard-multiselect.yml }}
*/

.spectrum-TabList-itemle-checkboxCell {
  padding-right: 0;
}

.spectrum-TabList-itemle-checkbox {
  vertical-align: super;
}

/* topdoc
{{ table/table-quiet-multiselect.yml }}
*/

/* topdoc
{{ table/table-dividers.yml }}
*/