@import '@spectrum/spectrum-abstract-stylus/dist/components/slider/index.styl'

.spectrum-Slider {
  spectrum-slider()
}

.spectrum-Slider--disabled {
  spectrum-slider-disabled()
}

.spectrum-Slider--disabled .spectrum-Slider-handle {
  spectrum-slider-handle-disabled()
}

.spectrum-Slider-controls {
  spectrum-slider-controls()
}

.spectrum-Slider-track {
  spectrum-slider-track()
}

.spectrum-Slider-track--fill {
  spectrum-slider-track-fill()
}

.spectrum-Slider-track--buffer {
  spectrum-slider-track-buffer()
}

.spectrum-Slider-track--ramp {
  spectrum-slider-track-ramp()
}

.spectrum-Slider--disabled .spectrum-Slider-track {
  spectrum-slider-track-disabled()
}

.spectrum-Slider-handle {
  spectrum-slider-handle()
}

.spectrum-Slider-input {
  spectrum-slider-input()
}

.spectrum-Slider-Label {
  spectrum-slider-label()
}

.spectrum-Slider-Label--Name {
  spectrum-slider-label-name()
}

.spectrum-Slider-Label--Value {
  spectrum-slider-label-value()
}

.spectrum-Slider-Label--Tick {
  spectrum-slider-label-tick()
}

.spectrum-Slider--tick {
  spectrum-slider-tick()
}

.spectrum-Slider--tick--labelled {
  spectrum-slider-ticks-labelled()
}

.spectrum-Slider-tick-mark {
  spectrum-slider-tick-mark()

  &:first-of-type .spectrum-Slider-Label--Tick {
    justify-content: flex-start;
  }
  &:last-of-type .spectrum-Slider-Label--Tick {
    justify-content: flex-end;
  }
}

.spectrum-Slider--color {
  .spectrum-Slider-track {
    spectrum-slider-track-colored()
  }
  .spectrum-Slider-handle {
    spectrum-slider-track-colored-handle()
  }
}

.spectrum-Slider.spectrum-Slider--round {
  spectrum-slider-round()

  .spectrum-Slider-controls {
    spectrum-slider-round-controls()
  }
  &.spectrum-Slider--round--small {
    .spectrum-Slider-controls {
      spectrum-slider-round-controls-small()
    }
  }
  .spectrum-Slider-handle {
    spectrum-slider-round-handle()
  }
  .spectrum-Slider-input {
    spectrum-slider-round-handle-input()
  }
}

@import 'skin.styl'
