@import 'abstract/components/slider/skin.styl'

.spectrum-Slider {
  spectrum-slider()
}

.spectrum-Slider-controls {
  spectrum-slider-controls()
}

.spectrum-Slider-track {
  spectrum-slider-track()
}

.spectrum-Slider-track--fill {
  spectrum-slider-track-fill()
}

.spectrum-Slider-track--buffer {
  spectrum-slider-track-buffer()
}

.spectrum-Slider-track--ramp {
  spectrum-slider-track-ramp()
}

.spectrum-Slider-handle {
  spectrum-slider-handle()
}

.spectrum-Slider-input {
  spectrum-slider-input()
}

.spectrum-Slider-ticks {
  spectrum-slider-ticks()
}

.spectrum-Slider-tick-mark {
  spectrum-slider-tick-mark()
}

.spectrum-Slider-controls--hover {
  .spectrum-Slider-handle {
    spectrum-slider-handle-hover()
  }
}

.spectrum-Slider-controls--focus {
  .spectrum-Slider-handle {
    spectrum-slider-handle-focus()
  }
}

.spectrum-Slider-controls--active {
  .spectrum-Slider-handle {
    spectrum-slider-handle-active()
  }
}

.spectrum-Slider--disabled {
  spectrum-slider-disabled()

  .spectrum-Slider-Label,
  .spectrum-Slider-Label--Name,
  .spectrum-Slider-Label--Value,
  .spectrum-Slider-Label--Tick {
    spectrum-slider-label-text-disabled()
  }

  .spectrum-Slider-handle {
    spectrum-slider-handle-disabled()
  }
  .spectrum-Slider-track--fill {
    spectrum-slider-track-fill-disabled()
  }
  .spectrum-Slider-track--buffer {
    spectrum-slider-track-buffer-disabled()
  }
  .spectrum-Slider-track--ramp {
    spectrum-slider-track-ramp-disabled()
  }
  &.spectrum-Slider--color {
    .spectrum-Slider-track {
      spectrum-slider-track-colored-disabled()
    }
    .spectrum-Slider-handle {
      spectrum-slider-track-colored-handle-disabled()
    }
  }
}

.spectrum-Slider--color {
  .spectrum-Slider-track {
    spectrum-slider-track-colored()
  }
  .spectrum-Slider-handle {
    spectrum-slider-track-colored-handle()
  }
}

.spectrum-Slider--round {
  .spectrum-Slider-controls {
    spectrum-slider-round-controls()
  }
  .spectrum-Slider-handle {
    spectrum-slider-round-handle()

    &:hover .spectrum-Slider-input::after {
      spectrum-slider-round-handle-input-hover()
    }

    &:focus .spectrum-Slider-input::after {
      spectrum-slider-round-handle-input-focus()
    }
  }
  .spectrum-Slider-input {
    spectrum-slider-round-handle-input()
  }
}
