@import 'docs/components/label/docs.styl'

@import 'abstract/components/label/index.styl'

.spectrum-Label {
  spectrum-label()
}

.spectrum-Label-typeIcon {
  spectrum-label-typeIcon()
}

.spectrum-Label--large {
  spectrum-label--large()
}

@import 'skin.styl'
