/* these comments can be included in the output css, for us they are used by
   topdoc to generate the documentation we publish...

   you can probably ignore them unless you want to generate documentation
   or you want to help fix our documentation :)

   note:
     the '!'' tells stylus to preserve the comment into output css
     the 'topdoc' let's topdoc know it should parse the comment for YAML
*/

/*! topdoc
  name: Wait - Radial - Small
  description: A Spectrum wait dingsbums
  markup: |
    <span class="spectrum-Wait"></span>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Wait - Radial - Medium
  description: A Spectrum wait dingsbums
  markup: |
    <span class="spectrum-Wait spectrum-Wait--medium"></span>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Wait - Radial - Large
  description: A Spectrum wait dingsbums
  markup: |
    <span class="spectrum-Wait spectrum-Wait--large"></span>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Wait - Dots - Small
  description: A Spectrum wait with dots dingsbums
  markup: |
    <span class="spectrum-Wait spectrum-Wait--dots"></span>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Wait - Dots - Medium
  description: A Spectrum wait with dots dingsbums
  markup: |
    <span class="spectrum-Wait spectrum-Wait--dots spectrum-Wait--medium"></span>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Wait - Dots - Large
  description: A Spectrum wait with dots dingsbums
  markup: |
    <span class="spectrum-Wait spectrum-Wait--dots spectrum-Wait--large"></span>
  tags:
    - desktop
    - light
    - mobile
    - button
*/
