.breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs li {
    background: url("../img/breadcrumb.png") no-repeat right 3px;
    color: #000;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin: 0 3px 0 0;
    padding: 0 11px 0 0;
}

.breadcrumbs li:last-child {
    background: none;
}

.bg-slategray .breadcrumbs li {
    color: #fff;
}

.breadcrumbs a {
    color: #888;
    text-decoration: none;
}

.bg-slategray .breadcrumbs a {
    color: #bbb;
}