.button.large {
    height: 27px !important;
    margin: 0 10px 10px 0 !important;
    padding: 0 15px !important;
}

.button.large.no-label {
    padding: 0 !important;
    i {
        margin-left: 6px;
    }
}

.button,
.button.disabled:hover,
.button.disabled:active
    standard-structure()
    light-style()
    cursor pointer

.button:hover
    light-hover-style()
.button:active
    light-down-style()
.button:focus
    light-focus-style()

.button.quiet,
.button.quiet.disabled:hover,
.button.quiet.disabled:active
    standard-structure()
    quiet-style()

.button.quiet:hover
    quiet-hover-style()
.button.quiet:active
    quiet-down-style()
.button.quiet:focus
    quiet-focus-style()

.button.dark,
.button.dark.disabled:hover,
.button.dark.disabled:active
    dark-style()

.button.dark:hover
    dark-hover-style()

.button.dark:active
    dark-down-style()

.button.dark:focus
    dark-focus-style()

.button.quiet.dark,
.button.quiet.dark.disabled:hover,
.button.quiet.dark.disabled:active
    dark-quiet-style()

.button.quiet.dark:hover
    dark-quiet-hover-style()

.button.quiet.dark:active
    dark-quiet-down-style()

.button.quiet.dark:focus
    dark-quiet-focus-style()

.button.no-label
    padding 0 0 0 8px

.button.drop-down
    min-width 70px
    overflow visible
    padding 0 30px 0 5px !important
    position  relative

.menu
    background light
    border-top none !important
    border-radius component-radius
    box-shadow light-hud-shadow
    left 0px
    margin 0
    overflow hidden
    padding 3px 0
    position absolute
    top standard-height + 1
    min-width 94%
    z-index 1000
    li
        list-style none

    li:last-child
        border-radius component-radius

    a
        color light-text
        display block
        outline none
        padding 0 0 0 10px
        text-shadow none

    a:hover,
    a:focus
        background-color light-blue

    a:active
        text-decoration none

.dark .menu
    border-top none !important

.large .menu
    border-top none !important
    top standard-height + 7 !important

.large.dark .menu
    border-top none !important
    top 28px !important

.button.drop-down.large
    min-width 100px
    padding 0 30px 0 10px !important
    .menu
        top standard-height + 7

.button-group
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
    vertical-align: top;
    user-select()
    overflow visible
    position relative

    .menu
        font-size 12px
        line-height: 21px
        left 1px
        top standard-height + 2

.button.start
    border-right none
    border-radius component-radius 0 0 component-radius !important
    margin  0

.button.inside
    border-left light-button-divider
    border-right none
    border-radius 0
    margin 0 0 0 -1px !important

.button.end
    border-left light-button-divider
    border-radius 0 component-radius component-radius 0 !important
    margin 0 standard-margin standard-margin -1px

.button.more
    border-right light-button-divider
    border-radius 0 component-radius component-radius 0 !important
    margin 0 standard-margin  standard-margin -1px
    padding 0
    width 20px

.button.start.dark
    border-left dark-button-divider
    border-radius component-radius 0 0 component-radius !important
    margin 0

.button.inside.dark
    border-left dark-button-divider
    border-right none
    border-radius 0
    margin 0 0 0 -2px !important

.button.end.dark
    border-left dark-button-divider
    border-radius 0 component-radius component-radius 0 !important
    margin 0 standard-margin standard-margin -1px

.button.more.dark
    border-right dark-button-divider
    border-radius 0 component-radius component-radius 0 !important
    margin 0 standard-margin  standard-margin -1px
    padding 0
    width 20px

.button:focus
    z-index 1
    border-left light-border-focus
    border-right light-border-focus

.button.dark:focus
    border-left dark-border-focus
    border-right dark-border-focus


.button-group.large
    margin 0 10px 10px 0 !important
    .menu
        top standard-height + 8 !important

.button.inside.large
    margin 0 0 0 -3px !important

.button.start.large
    margin 0 !important

.button.end.large
    margin 0 standard-margin standard-margin -4px !important

.button.more.large
    margin 0 standard-margin standard-margin -4px !important
    padding 0 !important


select.button
    light-style(url(../img/pop-up-triangle.png), right, no-repeat)
    height standard-height + 2
    min-width 70px
    padding 0 30px 0 5px
    -webkit-appearance none !important
    font topcoat-font // no idea why it switches to lucida grande if this is not applied

    &:hover
        light-hover-style(url(../img/pop-up-triangle.png), right, no-repeat)

    &:active
        light-down-style(url(../img/pop-up-triangle.png), right, no-repeat)

    &:focus
        light-focus-style()

select.button.dark
    dark-style(url(../img/pop-up-triangle-dark.png), right, no-repeat)
    height standard-height + 2
    min-width 70px
    padding 0 30px 0 5px
    -webkit-appearance none !important

    &:hover
        dark-hover-style(url(../img/pop-up-triangle-dark.png), right, no-repeat)

    &:active
        dark-down-style(url(../img/pop-up-triangle-dark.png), right, no-repeat)

    &:focus
        dark-focus-style()

select.button.dark option
    color light-text

select.button.large
    height 29px !important
    min-width 70px
    padding 0 30px 0 10px !important

.button.cta,
.button.cta.disabled:hover,
.button.cta.disabled:active
    standard-structure()
    cta-style()

.button.cta:hover
    cta-hover-style()

.button.cta:active
    cta-down-style()

.button.cta:focus
    cta-focus-style()

