@font-face { font-family: "source"; src: url('../font/SourceSansPro-Regular.otf'); font-weight: normal; font-style: normal; }
@font-face { font-family: "source-l"; src: url('../font/SourceSansPro-Light.otf'); font-weight: normal; font-style: normal; }
@font-face { font-family: "source-sb"; src: url('../font/SourceSansPro-Semibold.otf'); font-weight: normal; font-style: normal; }

