
body {
    color: @light-text;
    font: 14px "source", helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: subpixel-antialiased !important;
    text-rendering: optimizeLegibility;
}

.large {
    font-family: source-sb !important;
    font-size: 14px !important;
    line-height: 27px !important;
}

.disabled {
    cursor: default;
    opacity: 0.6;
    pointer-events: none;
}


.bg-white {
    background: #fff;
    font-size: @standard-font-size;
    padding: 20px;
}

.bg-lightgray {
    background: #dfe2e2;
    font-size: @standard-font-size;
    padding: 20px;
}

.bg-slategray {
    background: #3a3f42 url("../img/bg_dark.png") repeat-x;
    color: #c7c7c7;
    font-size: @standard-font-size;
    padding: 20px;
}

.bg-white .title {
    color: #000;
    font-size: 18px;
    font-weight: 300;
}

.bg-lightgray .title {
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0 1px 0 #fff;
}

.bg-slategray .title {
    color: #fff;
    font-size: 18px;
    text-shadow: 0 -1px 0 #000;
}

.bg-slategray .group-label {
    color: #a4b4b7;
    font-size: 14px;
    text-shadow: 0 -1px 0 #000;
}
