.drop-down-triangle
    background-image url(../img/drop-down-triangle.png)
    background-repeat no-repeat
    display inline-block
    height 6px
    position absolute
    right 6px
    top 9px
    width 9px
    hide-text()

    &.dark
        background-image url(../img/drop-down-triangle-dark.png) !important
        top 8px


.large .drop-down-triangle
    background-image url(../img/drop-down-triangle.png)
    background-repeat no-repeat
    display inline-block
    height 6px
    position absolute
    right 6px
    top 12px
    width 9px


.icon-xs
    icon-structure()
    hide-text()
    background #aaa // temporary placeholder
    height icon-xs-height
    width icon-xs-width
    margin icon-xs-margin-top icon-xs-margin-right 0 icon-xs-margin-left

.icon-sm
    icon-structure()
    hide-text()
    background #aaa // temporary placeholder
    height icon-sm-height
    width icon-sm-width
    margin icon-sm-margin-top icon-sm-margin-right 0 icon-sm-margin-left
