a
    color: light-link-color
    text-decoration none
    &:active
        text-decoration underline



.link
    standard-structure()
    color: light-link-color
    min-width auto
    max-width auto
    padding-left 0
    padding-right 0
    text-decoration none

    &:active
        text-decoration underline

    &:focus
        color light-blue-text
        outline none
        text-shadow light-link-glow
        box-shadow light-link-glow
        border 1px solid @light-blue-text
        padding-left 2px
        padding-right 2px
        margin-left -2px
        margin-right -2px



.link.dark
    color dark-link-color
    &:focus
        box-shadow @dark-link-glow
        border-color @dark-link-color

