component-radius = 3px
component-background-clip = padding-box !important
container-radius = 5px
transparent-border = 1px solid rgba(0,0,0,0)
icon-md-height = 18px
icon-md-margin-left = -3px
icon-md-margin-right = 4px
icon-md-margin-top = 4px
icon-md-width = 18px
icon-sm-height = 16px
icon-sm-margin-left = -9px
icon-sm-margin-right = 6px
icon-sm-margin-top = 5px
icon-sm-width = 16px
icon-xs-height = 13px
icon-xs-margin-left = -3px
icon-xs-margin-right = 4px
icon-xs-margin-top = 4px
icon-xs-width = 13px

standard-font-size = 12px
standard-height = 21px
standard-min-width = 15px
standard-margin = 5px
standard-max-width = 150px
standard-padding = 8px
standard-slider-thumb-height = 11px
standard-slider-thumb-width = 9px
standard-track-height = 3px
standard-track-width = 100px

light = #fff
light-blue = #e0f0fa
light-blue-text = #0083e8
light-border = 1px solid rgba(0,0,0,.3)
light-border-focus = 1px solid rgba(9,64,253,.84)
light-border-glow = 0 0 4px rgba(0,136,255,.69)
light-button-divider = 1px solid rgba(187,187,187,.8)
light-down = #d3d7d7
light-down-shadow = inset 0 1px 0px rgba(0,0,0,.06)
light-gradient-start = #f5f8fa
light-gradient-end = #e3e5e5
light-gradient-highlight = inset 0 1px 0 #fff
light-hover-gradient-start = #f8fafb
light-hover-gradient-end = #edefef
light-hud-shadow = 0 3px 9px rgba(0,0,0,.3)
light-link-color = #0083e8
light-link-glow = 0 0 4px rgba(0,136,255,.69)
light-text = #454545
light-text-shadow = 0 1px 0 #fff
light-track-background = #d4d7d7
light-track-border = 1px solid #babdbd

quiet-border = 1px solid rgba(0,0,0,.21)
quiet-border-focus = 1px solid rgba(9,64,253,.84)
quiet-border-glow = 0 0 4px 0 rgba(0,136,255,.69)
quiet-gradient-start = rgba(0,0,0,0)
quiet-gradient-end = rgba(0,0,0,0)
quiet-gradient-highlight = inset 0 1px 0 rgba(0,0,0,0)
quiet-hover-gradient-start = #f9f9f9
quiet-hover-gradient-end = #f9f9f9
quiet-down = #d3d7d7
quiet-down-shadow = inset 0 1px 0px rgba(0,0,0,.06)
quiet-text = #454545
quiet-text-shadow = 0 1px 0 #fff

dark = #3b3f41
dark-blue = #e0f0fa
dark-blue-text = #56badf
dark-border = 1px solid rgba(0,0,0,.8)
dark-border-focus = 1px solid #000
dark-border-glow = 0 0 4px rgba(0,0,0,.69)
dark-button-divider = 1px solid rgba(0,0,0,.1)
dark-down = #2b2d2d
dark-down-shadow = inset 0 1px 0px rgba(0,0,0,.06)
dark-gradient-start = #7a7c7c
dark-gradient-end = #5f6060
dark-gradient-highlight = inset 0 1px 0 rgba(255,255,255,.15)
dark-hover-gradient-start = #828585
dark-hover-gradient-end = #6a6b6b
dark-hud-shadow = 0 3px 9px rgba(0,0,0,.3)
dark-link-color = #6bc3fa
dark-link-glow = 0 0 4px rgba(107, 195, 250,.69)
dark-text = #eff1f1
dark-text-shadow = 0 -1px 0 #000
dark-track-background = #1f1f1f
dark-track-border = 1px solid #000

dark-quiet-border = 1px solid rgba(255,255,255,.21)
dark-quiet-border-focus = 1px solid rgba(9,64,253,.84)
dark-quiet-border-glow = 0 0 4px 0 rgba(0,136,255,.69)
dark-quiet-gradient-start = rgba(0,0,0,0)
dark-quiet-gradient-end = rgba(0,0,0,0)
dark-quiet-gradient-highlight = inset 0 1px 0 rgba(0,0,0,0)
dark-quiet-hover-gradient-start = #555
dark-quiet-hover-gradient-end = #555
dark-quiet-down = #2b2d2d
dark-quiet-down-shadow = inset 0 1px 0px rgba(0,0,0,.06)
dark-quiet-text = #eff1f1
dark-quiet-text-shadow = 0 -1px 0 rgba(0,0,0,.69)

cta-border = 1px solid #014994
cta-border-focus = 1px solid rgba(9,64,253,1)
cta-border-glow = 0 0 4px 0 rgba(0,136,255,.69)
cta-gradient-start = #4fa3e1
cta-gradient-end = #237fcb
cta-gradient-highlight = inset 0 1px 0 rgba(255,255,255,.27)
cta-hover-gradient-start = #5dafed
cta-hover-gradient-end = #3892de
cta-down = #4290d1
cta-down-shadow = inset 0 1px 0px rgba(0,0,0,.12)
cta-text = #fff
cta-text-shadow = 0 -1px 0 rgba(0,0,0,.36)
