topcoat-font = 12px "source", helvetica, arial, sans-serif
topcoat-font-large = 14px "source-sb", helvetica, arial, sans-serif

component-radius = 3px
component-background-clip = padding-box !important
container-radius = 5px
transparent-border = 1px solid rgba(0,0,0,0)
icon-md-height = 18px
icon-md-margin-left = -3px
icon-md-margin-right = 4px
icon-md-margin-top = 4px
icon-md-width = 18px
icon-sm-height = 16px
icon-sm-margin-left = -9px
icon-sm-margin-right = 6px
icon-sm-margin-top = 5px
icon-sm-width = 16px
icon-xs-height = 13px
icon-xs-margin-left = -3px
icon-xs-margin-right = 4px
icon-xs-margin-top = 4px
icon-xs-width = 13px

standard-font-size = 12px
standard-height = 21px
standard-min-width = 15px
standard-margin = 5px
standard-max-width = 150px
standard-padding = 8px
standard-slider-thumb-height = 12px
standard-slider-thumb-width = 8px
standard-track-height = 3px
standard-track-width = 100px

light = #fff
light-blue = #e0f0fa
light-border = 1px solid #9b9d9d
light-border-focus = 1px solid #093ffd
light-border-glow = 0 0 0 2px #6fb5f1
light-button-divider = 1px solid #9b9d9d
light-down = #d3d7d7
light-down-shadow = inset 0 1px 0px rgba(0,0,0,.12)
light-gradient-start = #e5e9e9
light-gradient-end = #e5e9e9
light-gradient-highlight = inset 0 1px 0 #fff
light-hover-gradient-start = #edf1f1
light-hover-gradient-end = #edf1f1
light-hud-shadow = 0 3px 9px rgba(0,0,0,.3)
light-link-color = #0083e8
light-link-glow = 0 0 0 2px #6fb5f1
light-text = #454545
light-text-shadow = 0 1px 0 #fff
light-track-background = #d3d7d7
light-track-border = 1px solid #9b9d9d

quiet-border = 1px solid rgba(0,0,0,0)
quiet-border-focus = 1px solid #093ffd
quiet-border-glow = 0 0 0 2px #6fb5f1
quiet-gradient-start = rgba(0,0,0,0)
quiet-gradient-end = rgba(0,0,0,0)
quiet-gradient-highlight = inset 0 1px 0 rgba(0,0,0,0)
quiet-hover-gradient-start = #edf1f1
quiet-hover-gradient-end = #edf1f1
quiet-down = #d3d7d7
quiet-down-shadow = inset 0 1px 0px rgba(0,0,0,.12)
quiet-text = #454545
quiet-text-shadow = rgba(0,0,0,0)

dark = #484b4c
dark-blue = #e0f0fa
dark-border = 1px solid #2d2f31
dark-border-focus = 1px solid #2e301
dark-border-glow = 0 0 0 2px #6086a7
dark-button-divider = 1px solid #2d2f31
dark-down = #404141
dark-down-shadow = inset 0 1px 0px rgba(0,0,0,.18)
dark-gradient-start = #595b5b
dark-gradient-end = #595b5b
dark-gradient-highlight = inset 0 1px 0 rgba(255,255,255,.15)
dark-hover-gradient-start = #646666
dark-hover-gradient-end = #646666
dark-hud-shadow = 0 3px 9px rgba(0,0,0,.3)
dark-link-color = #5dc1ff
dark-link-glow = 0 0 0 2px #6086a7
dark-text = #c5c7c7
dark-text-shadow = 0 -1px 0 rgba(0,0,0,.69)
dark-track-background = #414545
dark-track-border = 1px solid #2f3133

dark-quiet-border = 1px solid rgba(0,0,0,0)
dark-quiet-border-focus = 1px solid rgba(9,64,253,.84)
dark-quiet-border-glow = 0 0 4px 0 rgba(0,136,255,.69)
dark-quiet-gradient-start = rgba(0,0,0,0)
dark-quiet-gradient-end = rgba(0,0,0,0)
dark-quiet-gradient-highlight = inset 0 1px 0 rgba(0,0,0,0)
dark-quiet-hover-gradient-start = #646666
dark-quiet-hover-gradient-end = #646666
dark-quiet-down = #2b2d2d
dark-quiet-down-shadow = inset 0 1px 0px rgba(0,0,0,.06)
dark-quiet-text = #c5c7c7
dark-quiet-text-shadow = 0 -1px 0 rgba(0,0,0,.69)

cta-border = 1px solid #133150
cta-border-focus = 1px solid rgba(9,64,253,1)
cta-border-glow = 0 0 4px 0 rgba(0,136,255,.69)
cta-gradient-start = #278ddf
cta-gradient-end = #278ddf
cta-gradient-highlight = inset 0 1px 0 rgba(255,255,255,.27)
cta-hover-gradient-start = #379ef0
cta-hover-gradient-end = #379ef0
cta-down = #1976c3
cta-down-shadow = inset 0 1px 0px rgba(0,0,0,.36)
cta-text = #fff
cta-text-shadow = 0 -1px 0 rgba(0,0,0,.36)
