importComponent('button')

.spectrum-Button {
  @extends $spectrum-button

  .spectrum-Icon {
    @extends $spectrum-button-icon
  }
}

.spectrum-Button--square {
  @extends $spectrum-button--square

  .spectrum-Icon {
    @extends $spectrum-button--square-icon
  }
}

@import 'light.styl'
@import 'dark.styl'
