@import 'abstract/button/index.styl'

.spectrum-Button {
  spectrum-button()

  .spectrum-Icon {
    spectrum-button-icon()
  }
}

.spectrum-Button--square {
  spectrum-button--square()

  .spectrum-Icon {
    spectrum-button--square-icon()
  }
}

@import 'light.styl'
@import 'dark.styl'
