// importing from the included git.corp/spectrum/origins
@import 'origins/styl/spectrum-light.styl'

// bring in the color stop skin specific changes
// to the base button attributes
@import 'abstract/button/skin.styl'

// add all of the selectors defined needed for the skin
// in a selector that defines the skin (which is a color stop)
.spectrum--light {
  @import 'skin.styl'
}
