.spectrum-Button {
  spectrum-button()
}

.spectrum-Button--cta {
  spectrum-button--cta()
}

.spectrum-Button--primary {
  spectrum-button--primary()
}

.spectrum-Button--secondary {
  spectrum-button--secondary()
}

.spectrum-Button--warning {
  spectrum-button--warning()
}

// Quiet primary
.spectrum-Button--quiet {
  spectrum-button--quietPrimary()
}

// Quiet secondary
.spectrum-Button--minimal {
  spectrum-button--quietSecondary()
}
