
// selectors for actual implementation are defined here
// and call the related abstract function to
// generate the selector attributes and values

// these also include skin specific overrides or additions
// to the more general specificity selectors defined in
// the index style above this

.spectrum-Button {
  spectrum-button()
}

.spectrum-Button--cta {
  spectrum-button--cta()
}

.spectrum-Button--primary {
  spectrum-button--primary()
}

.spectrum-Button--secondary {
  spectrum-button--secondary()
}


.spectrum-Button--warning {
  spectrum-button--warning()
}

.spectrum-Button--quiet {
  spectrum-button--quietPrimary()
}

.spectrum-Button--minimal {
  spectrum-button--quietSecondary()
}
