// the components

@require 'page'

@require 'icon'
@require 'alert'
@require 'button'
@require 'checkbox'
@require 'dialog'
@require 'label'
@require 'link'
@require 'progress'
@require 'radio'
@require 'tab'
@require 'textfield'
@require 'tooltip'
@require 'wait'
@require 'wizard'
