- var repeats = 200
doctype 5
html
	head
		title TopCoat large text input perf test
		link(rel='stylesheet', type='text/css', href='../../release/css/topcoat-text-input.min.css')
	body
		- while (repeats--)
			input(type='text', class='topcoat-text-input--large', placeholder='Large Input')
