/* these comments can be included in the output css, for us they are used by
   topdoc to generate the documentation we publish...

   you can probably ignore them unless you want to generate documentation
   or you want to help fix our documentation :)

   note:
     the '!'' tells stylus to preserve the comment into output css
     the 'topdoc' let's topdoc know it should parse the comment for YAML
*/

/*! topdoc
  name: Button - Primary
  description: A Spectrum 'primary' button (which is also the default style)
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup: |
    <button class="spectrum-Button spectrum-Button--primary">Button</button>
    <button class="spectrum-Button spectrum-Button--primary" disabled>Button</button>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Button - Secondary
  description: A Spectrum 'secondary' style button
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup: |
    <button class="spectrum-Button spectrum-Button--secondary">Button</button>
    <button class="spectrum-Button spectrum-Button--secondary" disabled>Button</button>
  tags:
    - desktop
    - light
    - mobile
    - button
*/


/*! topdoc
  name: Button - CTA
  description: A Spectrum 'call-to-action' button
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup: |
    <button class="spectrum-Button spectrum-Button--cta">Button</button>
    <button class="spectrum-Button spectrum-Button--cta" disabled>Button</button>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Button - Warning
  description: A Spectrum button in 'warning' style
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup: |
    <button class="spectrum-Button spectrum-Button--warning">Button</button>
    <button class="spectrum-Button spectrum-Button--warning" disabled>Button</button>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Button - Quiet
  description: A 'quiet' Spectrum button (defaults to quiet + primary style)
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup: |
    <button class="spectrum-Button spectrum-Button--quiet">Button</button>
    <button class="spectrum-Button spectrum-Button--quiet" disabled>Button</button>
  tags:
    - desktop
    - light
    - mobile
    - button
*/

/*! topdoc
  name: Button - Minimal
  description: A 'minimal' Spectrum button (defaults to quiet + secondary style)
  modifiers:
    :disabled: Disabled state
    :hover: Hover state
    :focus: Focused
  markup: |
    <button class="spectrum-Button spectrum-Button--minimal">Button</button>
    <button class="spectrum-Button spectrum-Button--minimal" disabled>Button</button>
  tags:
    - desktop
    - light
    - mobile
    - button
*/
