@import '@spectrum/spectrum-abstract-stylus/dist/components/logicbutton/index.styl'

.spectrum-LogicButton {
  spectrum-logicbutton()
}

/*! topdoc
{{ logicbutton-and-topdoc }}
*/
.spectrum-LogicButton--and {
  spectrum-logicbutton--and()
}

/*! topdoc
{{ logicbutton-or-topdoc }}
*/
.spectrum-LogicButton--or {
  spectrum-logicbutton--or()
}

@import 'skin.styl'
