@import '@spectrum/spectrum-abstract-stylus/dist/components/logicbutton/skin.styl'

.spectrum-LogicButton {
  spectrum-logicbutton()
}

.spectrum-LogicButton--and {
  spectrum-logicbutton--and()
}

.spectrum-LogicButton--or {
  spectrum-logicbutton--or()
}
