/* Definitions -----------------------------------------------------------

/* 
  Fonts
	200 = light
	500 = normal
	600 = demi-bold

  Icons
	sm = 24x24
	lg = 36x36
*/

/* Fonts ----------------------------------------------------------------- */
@font-face {
  font-family: "Source Sans";
  src: url('../font/SourceSansPro/SourceSansPro-Regular.otf');
}
@font-face {
  font-family: "Source Sans";
  src: url('../font/SourceSansPro/SourceSansPro-Light.otf');
  font-weight: 200;
}
@font-face {
  font-family: "Source Sans";
  src: url('../font/SourceSansPro/SourceSansPro-Semibold.otf');
  font-weight: 600;
}


@font-face {
  font-family: "source";
  src: url("../font/SourceSansPro/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: "source-l";
  src: url("../font/SourceSansPro/SourceSansPro-Light.otf");
  font-weight: 200;
}
@font-face {
  font-family: "source-sb";
  src: url("../font/SourceSansPro/SourceSansPro-Semibold.otf");
  font-weight: 600;
}

/* Global ----------------------------------------------------------------- */
body {
	margin: 0;
	padding: 0;	
	background-color: #fff;
	color: #000;
	font: 16px "Source Sans", helvetica, arial, sans-serif;
	font-weight: 200;
	text-rendering: optimizeLegibility;
}

.disabled {
	opacity: 0.3;
	cursor: default;
  	pointer-events: none;
}


/* ----------------------------------------------------------------------- */
/* Buttons --------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
.dark-button {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: top;
	height: 48px;
	padding: 0 20px;
	border: 1px solid rgba(0, 0, 0, 0.36);
	border-radius: 6px;
	margin: 5px;
	background-clip: padding-box;
  	background-color: #595b5b;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
  	color: #c6c8c8;
	font-size: 16px;
	line-height: 48px;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
  	text-shadow: 0 -1px rgba(0, 0, 0, 0.69);
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}	

	/* Button States */
	.dark-button:active,
	.dark-button.down {
		background-color: #404141;
	  	box-shadow: inset 0 1px rgba(0, 0, 0, 0.18);
	}

.light-button {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: top;
	height: 48px;
	padding: 0 20px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 6px;
	margin: 5px;
	background-clip: padding-box;
  	background-color: #e5e9e8;
  	box-shadow: inset 0 1px #ffffff;
  	color: #454545;
	font-size: 16px;
	line-height: 48px;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
  	text-shadow: 0 1px #ffffff;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
	/* Button States */
	.light-button:active,
	.light-button.down {
	  	background-color: #d3d7d7;
	  	box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
	}


/* ".quiet-button" is a base button class. Apply other classes, like
/* ".large-button" to change its appearance.  */
.quiet-button {
	/* Adding a border here to the button doesn't shift when clicked*/
	border: 1px solid transparent;
	background-color: transparent;
	box-shadow: none;
}
	/* Button States */
	.quiet-button.dark-button:active,
	.quiet-button.dark-button.down {
		border: 1px solid rgba(0, 0, 0, 0.36);
		background-color: #404141;
		box-shadow: inset 0 1px rgba(0, 0, 0, 0.18);
		color: #c6c8c8;
		text-shadow: 0 -1px rgba(0, 0, 0, 0.69);
	}
	.quiet-button.light-button:active,
	.quiet-button.light-button.down {
		border: 1px solid rgba(0, 0, 0, 0.3);
		box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
		color: #454545;
		text-shadow: 0 1px #ffffff;
		background-color: #d3d7d7;
	}


/* Call to Action Buttons
/* Add these to your .light-button or .dark-button classes
/* e.g.: <a class="light-cta light-button"> */
.dark-cta { 
	border: 1px solid #0055ad; 
	background-color: #288edf;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.36);
	color: #ffffff;
	font-weight: 500;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.36);
}

.light-cta {
	border: 1px solid #143250;
	background-color: #288edf;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.36);
	color: #ffffff;
	font-weight: 500;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.36);	
}

	/* CTA States */
	.dark-cta:active,
	.dark-cta.down {
		background-color: #1976c3;
		box-shadow: inset 0 1px rgba(0, 0, 0, 0.24);
	}
	.light-cta:active,
	.light-cta.down {
		background-color: #0380e8;
	  	box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
	}


/* Apply this to create a large button
/* e.g.: <a class="large-button light-button">Monster Button</a> */
.large-button {
	height: 3.9000000000000004rem;
	font-size: 1.3rem;
	line-height: 3.9000000000000004rem;
}



/* ----------------------------------------------------------------------- */
/* Icon Buttons ---------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
.icon {
	position: relative;
	top: -1px;
	display: inline-block;
	overflow: hidden;
	width: 24px;
	height: 24px;
	margin: .75rem .75rem 0 0;
	background-color: #c0c0c0	;
	background-size: 24px;
	text-indent: 100%;
	vertical-align: top;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

.large-button > .icon{
	top: 0;
	width: 36px;
	height: 36px;
}

/* Use this class if you need a button with an icon but no text */
.no-label {
	padding: 0 0 0 .75rem;
}



/* ----------------------------------------------------------------------- */
/* Button Bar ------------------------------------------------------------ */
/* ----------------------------------------------------------------------- */
.button-bar {
	position: relative;
	display: inline-block;
	overflow: visible;
	margin: 5px;
	vertical-align: top;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	white-space: nowrap;
}

	.button-bar > .dark-button,
	.button-bar > .light-button { word-wrap: break-word; }

	/* First button in the button bar */
	.button-bar > .dark-button:first-child,
	.button-bar > .light-button:first-child {
	  	border-radius: 6px 0 0 6px;
	  	margin: 0;	
	}
	.button-bar > .dark-button:first-child { border-right: 1px solid rgba(0,0,0,0.3); }
	.button-bar > .light-button:first-child { border-right: 1px solid rgba(188,188,188,0.6); }


	/* Middle buttons in the button bar */
	.button-bar > .dark-button:not(:first-child):not(:last-child),
	.button-bar > .light-button:not(:first-child):not(:last-child) {
		border-radius: 0;
		margin: 0 -4px;
	}
	.button-bar > .dark-button:not(:first-child):not(:last-child) {
		border-left: 1px solid rgba(0,0,0,0.3);
		border-right: 1px solid rgba(0,0,0,0.3);
	}
	.button-bar > .light-button:not(:first-child):not(:last-child) {
		border-left: 1px solid rgba(188,188,188,0.6);
		border-right: 1px solid rgba(188,188,188,0.6);
	}

	/* Last button in the button bar */
	.button-bar > .dark-button:last-child,
	.button-bar > .light-button:last-child {
	  	border-radius: 0 6px 6px 0;
	  	margin: 0;	
	}
	.button-bar > .dark-button:last-child { border-left: 1px solid rgba(0,0,0,0.3); }
	.button-bar > .light-button:last-child { border-left: 1px solid rgba(188,188,188,0.6); }



/* ----------------------------------------------------------------------- */
/* Header Bar ------------------------------------------------------------ */
/* ----------------------------------------------------------------------- */
.dark-header-bar {
	height: 3.9000000000000004rem;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.36);
	border-width: 1px 0;
	background-color: #595b5b;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
	color: #fff;	
	font-size: 1.3rem;
	line-height: 3.9000000000000004rem;
	text-align: center;
}

.light-header-bar {
	height: 3.9000000000000004rem;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-width: 1px 0;
	background-color: #e5e9e9;
	box-shadow: inset 0 1px #ffffff;
	color: #000;
	font-size: 1.3rem;
	line-height: 3.9000000000000004rem;
	text-align: center;
}

	.dark-header-bar p,
	.light-header-bar p { margin: 0; }
	
	.dark-header-bar .header-bar-left,
	.light-header-bar .header-bar-left {
		float: left;
		min-height: 1px;
		width: 15%;
	}
	
	.dark-header-bar .header-bar-title,
	.light-header-bar .header-bar-title {
		float: left;
		width: 70%;
	}
	
	.dark-header-bar .header-bar-right,
	.light-header-bar .header-bar-right {
		float: right;
		width: 15%;
	}
		
	
	
/* ----------------------------------------------------------------------- */
/* Tab Bar --------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
.dark-tab-bar,
.light-tab-bar {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 56px;
	padding: 0;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-width: 1px 0;
	margin-bottom: 0;
	line-height: 56px;
	list-style: none;
	text-align: center;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	vertical-align: top;
}

	.dark-tab-bar a {
		float: left;
		/* Set the width of each tab button here 100%/5 = 20% */
		width: 20%;
		border: 1px solid rgba(0, 0, 0, 0.36);
		border-width: 0 0 0 1px;
		background-color: #595b5b;
		box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
		color: #c6c8c8;
		text-decoration: none;
		text-shadow: 0 -1px rgba(0, 0, 0, 0.69);
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.light-tab-bar a {
		float: left;
		/* Set the width of each tab button here 100%/5 = 20% */
		width: 20%;
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-width: 0 0 0 1px;
		background-color: #e5e9e8;
		box-shadow: inset 0 1px #ffffff;
		color: #454545;
		text-decoration: none;
		text-shadow: 0 1px #ffffff;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}	
		.dark-tab-bar a:first-child,
		.light-tab-bar a:first-child { border: 0; }

	.dark-tab-bar a.down,
	.dark-tab-bar a:active {
	  	background-color: #404141;
	  	box-shadow: inset 0 1px rgba(0, 0, 0, 0.18);
	}
		
	.light-tab-bar a.down,
	.light-tab-bar a:active {
		background-color: #d3d7d7;
	  	box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
	}


		
/* ----------------------------------------------------------------------- */
/* Lists ----------------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
.dark-list {
	display: block;
	padding: 0;
	line-height: 61.6px;
	list-style: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	border-top: 1px solid #2f3234;
	border-bottom: 1px solid #5e6061;
	color: #c6c8c8;
}	
	.dark-list > li {
		padding: 0 30px;
		border-top: 1px solid #5e6061;
		border-bottom: 1px solid #2f3234;
	}

.light-list {
	display: block;
	padding: 0;
	line-height: 61.6px;
	list-style: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	border-top: 1px solid #bcbfbf;
	border-bottom: 1px solid #eff1f1;
	color: #454545;
}
	.light-list > li {
		padding: 0 30px;
		border-top: 1px solid #eff1f1;
		border-bottom: 1px solid #bcbfbf;
	}		



/* ----------------------------------------------------------------------- */
/* Text Inputs ----------------------------------------------------------- */
/* ----------------------------------------------------------------------- */	
.dark-text-input {
	vertical-align: top;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 20px;
	border: 1px solid #2f3233;
	border-radius: 6px;
	margin: 5px;
	background-color: #424546;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.15);
	color: #c6c8c8;
	height: 3em;
	font: 1em "Source Sans", helvetica, arial, sans-serif;
	font-weight: 200;
}

.light-text-input {
	vertical-align: top;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 20px;
	border: 1px solid #a5a8a8;
	border-radius: 6px;
	margin: 5px;
	background-color: #ffffff;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.15);
	height: 3em;
	font: 1em "Source Sans", helvetica, arial, sans-serif;
	font-weight: 200;
}

.large-text-input {
	height: 4rem;
	font: 1.3rem "Source Sans", helvetica, arial, sans-serif;
	font-weight: 200;
	line-height: 4rem;
}

input[type=search] {
	-webkit-appearance: none;
	padding-right: 0;
	padding-left: 30px;
	border-radius: 25px;
	background-image: url("../img/search-bg.png");
	background-repeat: no-repeat;
	background-position: 10px center;
}

input[type=search].large-text-input {
	border-radius: 35px;
}

textarea {
	vertical-align: top;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 20px;
	border-radius: 6px;
	margin: 5px;
	font: 1em "Source Sans", helvetica, arial, sans-serif;
	font-weight: 200;
	line-height: 2em;
	resize: none;
}

.dark-textarea {
	border: 1px solid #2f3233;
	background-color: #424546;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.15);
	color: #c6c8c8;
}

.light-textarea {
	border: 1px solid #a5a8a8;
	background-color: #ffffff;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.15);
	color: #454545;
}

.large-textarea {
	font: 1.3rem "Source Sans", helvetica, arial, sans-serif;
	font-weight: 200;
	line-height: 2rem;
}



/* ----------------------------------------------------------------------- */
/* Control Inputs -------------------------------------------------------- */
/* ----------------------------------------------------------------------- */
input[type="checkbox"],
input[type="radio"] {
  display: none;
}
.checkbox-left,
.radio-left {
	display: inline-block;
	margin: 5px 0;
	cursor: pointer;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
.checkbox-left:before {
	content: " ";
	display: inline-block;
	position: relative;
	top: -6px;
	float: left;
	width: 35px;
	height: 31px;
	background-position: left -33px;
	background-repeat: no-repeat;
	margin-right: 15px;
}
.checkbox-right:after {
	content: " ";
	display: inline-block;
	position: relative;
	top: -6px;
	float: right;
	width: 35px;
	height: 31px;
	background-position: left -33px;
	background-repeat: no-repeat;
}
.dark-checkbox:before,
.dark-checkbox:after {
	background-image: url("../img/dark-sprites.png");
}

.light-checkbox:before,
.light-checkbox:after {
	background-image: url("../img/light-sprites.png");
}

.checkbox-right,
.radio-right {
	display: inline-block;
	margin: 5px 0;
	cursor: pointer;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	/*Set this width value to make sure all the labels line up*/
	width: 200px;
}

.radio-left:before {
	content: " ";
	display: inline-block;
	position: relative;
	top: -6px;
	float: left;
	width: 35px;
	height: 31px;
	background-position: left -97px;
	background-repeat: no-repeat;
	margin-right: 15px;
}

.radio-right:after {
	content: " ";
	display: inline-block;
	position: relative;
	top: -6px;
	float: right;
	width: 35px;
	height: 31px;
	background-position: left -97px;
	background-repeat: no-repeat;
}

.dark-radio:before,
.dark-radio:after {
	background-image: url("../img/dark-sprites.png");
}

.light-radio:before,
.light-radio:after {
	background-image: url("../img/light-sprites.png");
}


@media 
(-webkit-min-device-pixel-ratio: 2) { 

	.dark-radio:before,
	.dark-radio:after {
		background-image: url("../img/dark-sprites2x.png");
	}

	.light-radio:before,
	.light-radio:after {
		background-image: url("../img/light-sprites2x.png");
	}

}

input[type="checkbox"]:checked + .checkbox-left:before,
input[type="checkbox"]:checked + .checkbox-right:after {
  	background-position: left top;
}
input[type="radio"]:checked + .radio-left:before,
input[type="radio"]:checked + .radio-right:after {
  	background-position: left -66px;
}


.dark-slider {
	height: 1.25em;
	border: 1px solid rgba(0, 0, 0, 0.36);
	border-radius: 12px;
	margin: 2em;
	background-color: #404141;
	-webkit-appearance: none !important;
}
	.dark-slider::-webkit-slider-thumb {
		height: 4.5em;
		width: 3em;
		border: 1px solid rgba(0, 0, 0, 0.36);
		border-radius: 4px;
		background: url("../img/dark-grips.png") center center no-repeat #595b5b;
		background-size: 7px 18px;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
		cursor: pointer;
		-webkit-appearance: none !important;
	}

.light-slider {
	height: 1.25em;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 12px;
	margin: 2em;
	background-color: #d3d7d7;
	-webkit-appearance: none !important;
}

	.light-slider::-webkit-slider-thumb {
		height: 4.5em;
		width: 3em;
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-radius: 4px;
		background: url("../img/light-grips.png") center center no-repeat #e5e9e9;
		background-size: 7px 18px;
		box-shadow: inset 0 1px 0 #ffffff;
		cursor: pointer;
		-webkit-appearance: none !important;
	}



/* ----------------------------------------------------------------------- */
/* Indicators ------------------------------------------------------------ */
/* ----------------------------------------------------------------------- */
.spinner {
  width: 72px;
  height: 72px;
  background: url("../img/spinner.png") no-repeat;
  margin: 5px;
  display: inline-block;
  -webkit-animation: spinner 1s infinite linear;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.light-progress-bar {
  overflow: hidden;
  width: 250px;
  height: 1.25em;
  border-radius: 12px;
  margin: 20px;
  background-color: #d3d7d7;
  box-shadow: 0 1px rgba(255, 255, 255, 0.25), inset 0 1px rgba(0, 0, 0, 0.12);
}
.light-progress-bar > .progress {
  display: block;
  height: 100%;
  border-radius: 12px 0 0 12px;
  background-color: rgba(40, 142, 223, 0.4);
  width: 45%;
}


.dark-progress-bar {
  overflow: hidden;
  width: 250px;
  height: 1.25em;
  border-radius: 12px;
  margin: 20px;
  background-color: #404141;
  box-shadow: 0 1px rgba(255, 255, 255, 0.25), inset 0 1px rgba(0, 0, 0, 0.18);
}
.dark-progress-bar > .progress {
  display: block;
  height: 100%;
  border-radius: 12px 0 0 12px;
  background-color: rgba(40, 142, 223, 0.4);
  width: 45%;
}



/* ----------------------------------------------------------------------- */
/* Structural ------------------------------------------------------------ */
/* ----------------------------------------------------------------------- */
.dark-well {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #404141;
}

.light-well {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #d3d7d7;
}





.dark-dialog {
  width: 50%;
  height: auto;
  background-color: #595b5b;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.36);
}

.light-dialog {
  width: 50%;
  height: auto;
  background-color: #e5e9e8;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.dialog-overlay {
  position: absolute;
  z-index: 5;
  background-color: rgba(88, 90, 92, 0.7);
  width: 350px;
  height: 350px;
  box-shadow: inset 0px 0px 115px 0px #000000;
}

.dark-dialog,
.light-dialog {
	margin:25% 20%;
}


/* Styles for Mobile Index Page */
#main td { font-weight: 200; }

.bg-slategray {
  background: #3a3f42 url("../img/bg_dark.png") repeat-x;
  color: #c7c7c7;
  font-size: ;
  padding: 20px;
}

.bg-light {
	font-size: 16px;
}

.mobile-tab-bar,
.header-bar {
	width: 80%;
}

.mobile-list {
	width: 40%;
}

.dialog-zone {
	position: relative;
	width: 350px;
	height: 350px;
	background: url("../img/dialog-zone-bg.png");
}