/* Definitions -----------------------------------------------------------

/* 
  Fonts
	200 = light
	500 = normal
	600 = demi-bold

  Icons
	sm = 24x24
	lg = 36x36
*/

/* Fonts ----------------------------------------------------------------- */
@font-face {
  font-family: "Source Sans";
  src: url('../font/SourceSansPro/SourceSansPro-Regular.otf');
}
@font-face {
  font-family: "Source Sans";
  src: url('../font/SourceSansPro/SourceSansPro-Light.otf');
  font-weight: 200;
}
@font-face {
  font-family: "Source Sans";
  src: url('../font/SourceSansPro/SourceSansPro-Semibold.otf');
  font-weight: 600;
}

/* Global ----------------------------------------------------------------- */
body {
	margin: 0;
	padding: 0;	background-color: #fff;
	color: #000;
	font: 16px "Source Sans", helvetica, arial, sans-serif;
	font-weight: 200;
	text-rendering: optimizeLegibility;
}

.disabled {
	opacity: 0.3;
	cursor: default;
  	pointer-events: none;
}



/* Buttons --------------------------------------------------------------- */
.button {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
	height: 48px;
	padding: 0 20px;
	border-radius: 6px;
	margin: 5px;
	background-clip: padding-box;
	font-size: 16px;
	line-height: 48px;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	border: 1px solid rgba(0, 0, 0, 0.3);
  	background-color: #e5e9e8;
  	box-shadow: inset 0 1px #ffffff;
  	color: #454545;
  	text-shadow: 0 1px #ffffff;
}


.large-button {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
	height: 3.9000000000000004rem;
	padding: 0 20px;
	border-radius: 6px;
	margin: 5px;
	background-clip: padding-box;
	font-size: 1.3rem;
	line-height: 3.9000000000000004rem;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	border: 1px solid rgba(0, 0, 0, 0.3);
  	background-color: #e5e9e8;
  	box-shadow: inset 0 1px #ffffff;
  	color: #454545;
  	text-shadow: 0 1px #ffffff;
}

.dark.button,
.dark.large-button {
	border: 1px solid rgba(0, 0, 0, 0.36);
  	background-color: #595b5b;
  	box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
  	color: #c6c8c8;
  	text-shadow: 0 -1px rgba(0, 0, 0, 0.69);
}

	.button:active,
	.button.down,
	.large-button:active,
	.large-button.down {
	  	background-color: #d3d7d7;
	  	box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
	}

	.dark.button:active,
	.dark.button.down,
	.dark.large-button:active,
	.dark.large-button.down {
		background-color: #404141;
	  	box-shadow: inset 0 1px rgba(0, 0, 0, 0.18);
	}



.cta,
.dark.cta {
	border: 1px solid #143250;
	background-color: #288edf;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.36);
	color: #ffffff;
	font-weight: 500;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.36);	
}

.dark.cta { border: 1px solid #0055ad; }

	.cta:active,
	.cta.down {
		background-color: #0380e8;
	  	box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
	}

	.dark.cta:active,
	.dark.cta.down {
		background-color: #1976c3;
		box-shadow: inset 0 1px rgba(0, 0, 0, 0.24);
	}


	

.quiet,
.dark.quiet {
	border: 1px solid transparent;
  	background-color: transparent;
  	box-shadow: none;
}
	.quiet:active,
	.quiet.down {
		border: 1px solid rgba(0, 0, 0, 0.3);
		color: #454545;
		text-shadow: 0 -1px #ffffff;
		background-color: #d3d7d7;
		box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
	}
	
	.dark.quiet:active,
	.dark.quiet.down {
		border: 1px solid rgba(0, 0, 0, 0.36);
		color: #c6c8c8;
		text-shadow: 0 -1px rgba(0, 0, 0, 0.69);
		background-color: #404141;
		box-shadow: inset 0 1px rgba(0, 0, 0, 0.18);
	}




/* Icon Button ----------------------------------------------------------- */
.icon {
	position: relative;
	top: -1px;
	display: inline-block;
	overflow: hidden;
	width: 24px;
	height: 24px;
	margin: .75rem .75rem 0 0;
	background-color: #c0c0c0	;
	background-size: 24px;
	text-indent: 100%;
	vertical-align: top;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

.large-button > .icon{
	top: 0;
	width: 36px;
	height: 36px;
}

/* Use this class if you need a button with an icon but no text */
.no-label {
	padding: 0 0 0 .75rem;
}


/* Button Bar ------------------------------------------------------------ */
.button-bar {
	position: relative;
	display: inline-block;
	overflow: visible;
	margin: 5px;
	vertical-align: top;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	white-space: nowrap;
}

	.button-bar > .button,
	.button-bar > .large-button { word-wrap: break-word; }

	.button-bar > .button:not(:first-child):not(:last-child),
	.button-bar > .large-button:not(:first-child):not(:last-child) {
		border-radius: 0;
		margin: 0 -4px;
		border-left: 1px solid rgba(188,188,188,0.6);
		border-right: 1px solid rgba(188,188,188,0.6);
	}

	.button-bar > .dark:not(:first-child):not(:last-child) {
		border-left: 1px solid rgba(0,0,0,0.3);
		border-right: 1px solid rgba(0,0,0,0.3);
	}

	.button-bar > .button:first-child,
	.button-bar > .large-button:first-child {
	  	border-radius: 6px 0 0 6px;
	  	margin: 0;
		border-right: 1px solid rgba(188,188,188,0.6);
	}

	.button-bar > .dark:first-child { border-right: 1px solid rgba(0,0,0,0.3); }

	.button-bar > .button:last-child,
	.button-bar > .large-button:last-child {
	  	border-radius: 0 6px 6px 0;
	  	margin: 0;
		border-left: 1px solid rgba(188,188,188,0.6);
	}

	.button-bar > .dark:last-child { border-left: 1px solid rgba(0,0,0,0.3); }


/* Header Bar ------------------------------------------------------------ */
.header-bar {
	height: 3.9000000000000004rem;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-width: 1px 0;
	background-color: #e5e9e9;
	box-shadow: inset 0 1px #ffffff;
	color: #000;
	font-size: 1.3rem;
	line-height: 3.9000000000000004rem;
	text-align: center;

	}

.dark.header-bar {
	border: 1px solid rgba(0, 0, 0, 0.36);
	border-width: 1px 0;
	background-color: #595b5b;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
	color: #fff;	
}

	.header-bar p { margin: 0; }
	.header-bar .header-bar-left {
		float: left;
		min-height: 1px;
		width: 15%;
	}
	
	.header-bar .header-bar-title {
		float: left;
		width: 70%;
	}
	.header-bar .header-bar-right {
		float: right;
		width: 15%;
	}
	
	
	
/* Tab Bar --------------------------------------------------------------- */
.tab-bar {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 56px;
	padding: 0;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-width: 1px 0;
	margin-bottom: 0;
	line-height: 56px;
	list-style: none;
	text-align: center;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	vertical-align: top;
}

	.tab-bar a {
		float: left;
		/* Set the width of each tab button here 100%/5 = 20% */
		width: 20%;
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-width: 0 0 0 1px;
		background-color: #e5e9e8;
		box-shadow: inset 0 1px #ffffff;
		color: #454545;
		text-decoration: none;
		text-shadow: 0 1px #ffffff;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}	
		.tab-bar a:first-child,
		.dark.tab-bar a:first-child { border: 0; }
	
		
	.dark.tab-bar a {
		border: 1px solid rgba(0, 0, 0, 0.36);
		background-color: #595b5b;
		box-shadow: inset 0 1px rgba(255, 255, 255, 0.15);
		color: #c6c8c8;
		text-shadow: 0 -1px rgba(0, 0, 0, 0.69);
		border-width: 0 0 0 1px;
	}	
		
		

	.tab-bar a.down,
	.tab-bar a:active {
		background-color: #d3d7d7;
	  	box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
	}

	.dark.tab-bar a.down,
	.dark.tab-bar a:active {
	  	background-color: #404141;
	  	box-shadow: inset 0 1px rgba(0, 0, 0, 0.18);
	}
		



/* List ------------------------------------------------------------------ */
.list {
	display: block;
	padding: 0;
	line-height: 61.6px;
	list-style: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	border-top: 1px solid #bcbfbf;
	border-bottom: 1px solid #eff1f1;
	color: #454545;
	}

.dark.list {
	border-top: 1px solid #2f3234;
	border-bottom: 1px solid #5e6061;
	color: #c6c8c8;
}	
	
	.list > li {
		padding: 0 30px;
		border-top: 1px solid #eff1f1;
		border-bottom: 1px solid #bcbfbf;
	}		

	.dark.list > li {
		border-top: 1px solid #5e6061;
		border-bottom: 1px solid #2f3234;
	}		



/* Styles for Mobile Index Page */
.bg-slategray {
  background: #3a3f42 url("../img/bg_dark.png") repeat-x;
  color: #c7c7c7;
  font-size: ;
  padding: 20px;
}

.mobile-tab-bar,
.header-bar {
	width: 80%;
}

.mobile-list {
	width: 40%;
}