/* Definitions -----------------------------------------------------------

/* 
  Fonts
	200 = light
	500 = normal
	600 = demi-bold

  Icons
	sm = 24x24
	lg = 36x36
*/

/* Fonts ----------------------------------------------------------------- */
@font-face {
  font-family: "Source Sans";
  src: url('../font/SourceSansPro/SourceSansPro-Regular.otf');
}
@font-face {
  font-family: "Source Sans";
  src: url('../font/SourceSansPro/SourceSansPro-Light.otf');
  font-weight: 200;
}
@font-face {
  font-family: "Source Sans";
  src: url('../font/SourceSansPro/SourceSansPro-Semibold.otf');
  font-weight: 600;
}


@font-face {
  font-family: "source";
  src: url("../font/SourceSansPro/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: "source-l";
  src: url("../font/SourceSansPro/SourceSansPro-Light.otf");
  font-weight: 200;
}
@font-face {
  font-family: "source-sb";
  src: url("../font/SourceSansPro/SourceSansPro-Semibold.otf");
  font-weight: 600;
}

/* Global ----------------------------------------------------------------- */
body {
	margin: 0;
	padding: 0;	
	background-color: #fff;
	color: #000;
	font: 16px "Source Sans", helvetica, arial, sans-serif;
	font-weight: 200;
	text-rendering: optimizeLegibility;
}

.disabled {
	opacity: 0.3;
	cursor: default;
  	pointer-events: none;
}


/*
 1.1 Button
 
 ".*-button" is a base button class. Apply other classes, like ".large-button" to change its appearance.
 
 .down - to simulate an active state on mobile devices
 .large-button - creates a large version of your button
 .quiet-button - creates a quiet version of your button

     <a class="dark-button {{modifier}}">Button</a>
     <a class="light-button {{modifier}}">Button</a>

*/
.dark-button {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: top;
	height: 48px;
	padding: 0 20px;
	border: 1px solid rgba(0, 0, 0, 0.36);
	border-radius: 6px;
	margin: 5px 5px;
	background-clip: padding-box;
  	background-color: #595b5b;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.12);
  	color: #c6c8c8;
	font-size: 16px;
	line-height: 48px;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
  	text-shadow: 0 -1px rgba(0, 0, 0, 0.69);
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}	

	/* Button States */
	.dark-button:active,
	.dark-button.down {
		background-color: #404141;
	  	box-shadow: inset 0 1px rgba(0, 0, 0, 0.18);
	}

.light-button {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	vertical-align: top;
	height: 48px;
	padding: 0 20px;
	border: 1px solid #a5a8a8;
	border-radius: 6px;
	margin: 5px;
	background-clip: padding-box;
  	background-color: #e5e9e8;
  	box-shadow: inset 0 1px #ffffff;
  	color: #454545;
	font-size: 16px;
	line-height: 48px;
	letter-spacing: 1px;
	text-align: center;
	text-decoration: none;
	text-overflow: ellipsis;
  	text-shadow: 0 1px #ffffff;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
	/* Button States */
	.light-button:active,
	.light-button.down {
	  	background-color: #d3d7d7;
	  	box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
	}


.quiet-button {
	/* Adding a border here to the button doesn't shift when clicked*/
	border: 1px solid transparent;
	background-color: transparent;
	box-shadow: none;
}
	/* Button States */
	.quiet-button.dark-button:active,
	.quiet-button.dark-button.down {
		border: 1px solid rgba(0, 0, 0, 0.36);
		background-color: #404141;
		box-shadow: inset 0 1px rgba(0, 0, 0, 0.18);
		color: #c6c8c8;
		text-shadow: 0 -1px rgba(0, 0, 0, 0.69);
	}
	.quiet-button.light-button:active,
	.quiet-button.light-button.down {
		border: 1px solid #a5a8a8;
		box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
		color: #454545;
		text-shadow: 0 1px #ffffff;
		background-color: #d3d7d7;
	}

.large-button {
	height: 3.9000000000000004rem;
	font-size: 1.3rem;
	line-height: 3.9000000000000004rem;
}




/*
 1.2 CTA Button
 
 ".*-cta" adds call-to-action styling to a button. 
 
 .down - to simulate an active state on mobile devices
 .large-button - creates a large version of your button

     <a class="dark-cta {{modifier}}">Button</a>
     <a class="light-cta {{modifier}}">Button</a>

*/
.dark-cta { 
	border: 1px solid #0055ad; 
	background-color: #288edf;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.36);
	color: #ffffff;
	font-weight: 500;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.36);
}

.light-cta {
	border: 1px solid #143250;
	background-color: #288edf;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.36);
	color: #ffffff;
	font-weight: 500;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.36);	
}

	/* CTA States */
	.dark-cta:active,
	.dark-cta.down {
		background-color: #1976c3;
		box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
	}
	.light-cta:active,
	.light-cta.down {
		background-color: #0380e8;
	  	box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
	}




/*
 1.3 Icon Button

 Use ".icon" and ".large-icon" to add an icon to a button. Use the ".no-label" class if you need a button with an
 icon but no text.

	.large-button - creates a large version of your button and icon

     <a class="dark-button {{modifier}}"><i class="icon"></i>Button</a>
     <a class="light-button {{modifier}}"><i class="icon"></i>Button</a>

     <a class="no-label dark-button {{modifier}}"><i class="icon"></i>Button</a>
     <a class="no-label light-button {{modifier}}"><i class="icon"></i>Button</a>

*/
.icon {
	position: relative;
	top: -1px;
	display: inline-block;
	overflow: hidden;
	width: 24px;
	height: 24px;
	margin: .75rem .75rem 0 0;
	background-color: #c0c0c0;
	background-size: 24px;
	text-indent: 100%;
}

.large-button > .icon{
	top: 0;
	width: 36px;
	height: 36px;
}

/* Use this class if you need a button with an icon but no text */
.no-label {
	padding: 0 0 0 .75rem;
}




/*
 1.4 Button Bar
 
 Wrap this class around a group of buttons to create a button bar.

	<div class="button-bar">
		<a class="dark-button">First</a>
		<a class="dark-button">Second</a>
		<a class="dark-button">Third</a>
	</div>
	
	<div class="button-bar">
		<a class="large-button light-button">Demand</a>
		<a class="large-button light-button">Moar</a>
		<a class="large-button light-button">Cookies</a>
	</div>
*/
.button-bar {
	position: relative;
	display: inline-block;
	overflow: visible;
	margin: 5px;
	vertical-align: top;
	white-space: nowrap;
}

	.button-bar > .dark-button,
	.button-bar > .light-button { word-wrap: break-word; }

	/* First button in the button bar */
	.button-bar > .dark-button:first-child,
	.button-bar > .light-button:first-child {
	  	border-radius: 6px 0 0 6px;
	  	margin: 0;	
	}



	/* Middle buttons in the button bar */
	.button-bar > .dark-button:not(:first-child):not(:last-child),
	.button-bar > .light-button:not(:first-child):not(:last-child) {
		border-radius: 0;
		margin: 0 -4px;
	}


	/* Last button in the button bar */
	.button-bar > .dark-button:last-child,
	.button-bar > .light-button:last-child {
	  	border-radius: 0 6px 6px 0;
	  	margin: 0;	
	}





/*
 2.1 Inputs - Single Line Text

 Applying ".*-text-input" to text-based form input elements such as "text", "search", or 
 "email" input element adds base styling. 

	.large-text-input - larger-sized elements that match the height of a ".large-button".

	<input type="text" class="dark-text-input {{modifier}}" value="" placeholder="Text input goes here">
	<input type="text" class="light-text-input {{modifier}}" value="" placeholder="Text input goes here">
	<input type="search" class="dark-text-input {{modifier}}" value="" placeholder="Text input goes here">
	<input type="search" class="light-text-input {{modifier}}" value="" placeholder="Text input goes here">

*/
.dark-text-input {
	vertical-align: top;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 20px;
	border: 1px solid #2f3233;
	border-radius: 6px;
	margin: 5px;
	background-color: #424546;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
	color: #c6c8c8;
/*	color: #000;*/
	height: 3em;
	font: 1em "Source Sans", helvetica, arial, sans-serif;
	font-weight: 200;
	outline: none;
}

.light-text-input {
	vertical-align: top;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 20px;
	border: 1px solid #a5a8a8;
	border-radius: 6px;
	margin: 5px;
	background-color: #eff1f1;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
  
	height: 3em;
	font: 1em "Source Sans", helvetica, arial, sans-serif;
	font-weight: 200;
	outline: none;
}


.dark-text-input:focus,
.light-text-input:focus{
	background-color: #ffffff;
	color: #454545;
}

.dark-text-input:focus::-webkit-input-placeholder,
.light-text-input:focus::-webkit-input-placeholder{
	color: #454545;
}


.large-text-input {
	height: 4rem;
	font: 1.3rem "Source Sans", helvetica, arial, sans-serif;
	font-weight: 200;
}

input[type=search] {
	padding-right: 0;
	padding-left: 25px;
	border-radius: 25px;
	background-image: url("../img/search-bg.png");
	background-repeat: no-repeat;
	background-position: 10px center;
}

input[type="search"]::-webkit-search-cancel-button, 
input[type="search"]::-webkit-search-decoration {
	margin-right: 5px;
}

input[type=search].large-text-input {
	border-radius: 35px;
}




/*
 2.2 Inputs - Textareas
 
 Base styles for textareas.

 .large-textarea - apply this to create a large textarea

	<textarea class="dark-textarea {{modifier}}" rows="6" cols="36"></textarea>
	<textarea class="light-textarea {{modifier}}" rows="6" cols="36"></textarea>
	
*/
textarea {
	vertical-align: top;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px 20px;
	border-radius: 6px;
	margin: 5px;
	font: 1em "Source Sans", helvetica, arial, sans-serif;
	font-weight: 200;
	line-height: 2em;
	resize: none;
	outline: none;	
}

textarea:focus{
	background-color: #ffffff;
	color: #454545;
}

.dark-textarea {
	border: 1px solid #2f3233;
	background-color: #424546;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
	color: #c6c8c8;
}

.light-textarea {
	border: 1px solid #a5a8a8;
	background-color: #eff1f1;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
	color: #454545;
}

.large-textarea {
	font: 1.3rem "Source Sans", helvetica, arial, sans-serif;
	font-weight: 200;
	line-height: 2rem;
}




/*
 2.3 Inputs - Checkboxes

 Base styles for checkboxes. The <label> needs to be placed after the <input> element in the HTML. If
 you are using .checkbox-right, make sure to set the width, so all the labels are the same width and the
 controls line up vertically.

 .checkbox-left - use if you want the control to appear before (to the left of) the label
 .checkbox-right - use if you want the control to appear after (to the right of) the label

	<input type="checkbox" id="checkbox" />
	<label for="checkbox" class="{{modifier}}">Option</label>
	<br />
	<input type="checkbox" id="checkbox" checked />
	<label for="checkbox" class="{{modifier}}">Option</label>

*/
input[type="checkbox"],
input[type="radio"] {
  display: none;
}

.checkbox-left:before {
	content: " ";
	display: inline-block;
	position: relative;
	top: -6px;
	float: left;
	width: 35px;
	height: 31px;
	background-position: left -37px;
	background-repeat: no-repeat;
	margin-right: 15px;
	background-size: 37px;
}
.checkbox-right:after {
	content: " ";
	display: inline-block;
	position: relative;
	top: -6px;
	float: right;
	width: 35px;
	height: 31px;
	background-position: left -37px;
	background-repeat: no-repeat;
	background-size: 37px;
	
}
.dark-checkbox:before,
.dark-checkbox:after {
	background-image: url("../img/dark-sprites2x.png");
}

.light-checkbox:before,
.light-checkbox:after {
	background-image: url("../img/light-sprites2x.png");
}

.checkbox-left,
.radio-left {
	display: inline-block;
	margin: 5px 0;
	cursor: pointer;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

.checkbox-right,
.radio-right {
	display: inline-block;
	margin: 5px 0;
	cursor: pointer;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	/*Set this width value to make sure all the labels line up*/
	width: 200px;
}




/*
 2.4 Inputs - Radio Buttons

 Base styles for radio buttons. The <label> needs to be placed after the <input> element in the HTML. If
 you are using .radio-right, make sure to set the width, so all the labels are the same width and the
 controls line up vertically.

 .radio-left - use if you want the control to appear before (to the left of) the label
 .radio-right - use if you want the control to appear after (to the right of) the label

	<input type="radio" id="radio" name="radiogroup" />
	<label for="radio" class="dark-radio {{modifier}}">Option</label>
	<br />
	<input type="radio" id="radio" name="radiogroup" checked />
	<label for="radio" class="dark-radio {{modifier}}">Option</label>
	
	<input type="radio" id="radio" name="radiogroup" />
	<label for="radio" class="light-radio {{modifier}}">Option</label>
	<br />
	<input type="radio" id="radio" name="radiogroup" checked />
	<label for="radio" class="light-radio {{modifier}}">Option</label>

*/
.radio-left:before {
	content: " ";
	display: inline-block;
	position: relative;
	top: -6px;
	float: left;
	width: 35px;
	height: 31px;
	background-position: left -109px;
	background-repeat: no-repeat;
	background-size: 37px;
	margin-right: 15px;
}

.radio-right:after {
	content: " ";
	display: inline-block;
	position: relative;
	top: -6px;
	float: right;
	width: 35px;
	height: 31px;
	background-position: left -109px;
	background-repeat: no-repeat;
	background-size: 37px;
	
}

.dark-radio:before,
.dark-radio:after {
	background-image: url("../img/dark-sprites2x.png");
}

.light-radio:before,
.light-radio:after {
	background-image: url("../img/light-sprites2x.png");
}


@media 
(-webkit-min-device-pixel-ratio: 2) { 

	.dark-radio:before,
	.dark-radio:after {
		background-image: url("../img/dark-sprites2x.png");
	}

	.light-radio:before,
	.light-radio:after {
		background-image: url("../img/light-sprites2x.png");
	}

}

input[type="checkbox"]:checked + .checkbox-left:before,
input[type="checkbox"]:checked + .checkbox-right:after {
  	background-position: left -2px;
}
input[type="radio"]:checked + .radio-left:before,
input[type="radio"]:checked + .radio-right:after {
  	background-position: left -74px;
}




/*
 2.5 Inputs - Switch

 Create an on/off switch. DOM must be structured the same as below. Change "on" and "off" text states in the CSS.

	<div class="slide-switch-container">
	    <input type="checkbox" name="switch" id="slideswitch" checked>
	    <label class="dark-slide-switch" for="slideswitch">
	        <div class="on-off"></div>
	        <div class="switch"></div>
	    </label>
	</div>
	
	<div class="slide-switch-container">
	    <input type="checkbox" name="switch" id="slideswitch" checked>
	    <label class="light-slide-switch" for="slideswitch">
	        <div class="on-off"></div>
	        <div class="switch"></div>
	    </label>
	</div>

*/
.slide-switch-container {
	position: relative; 
	width: 5.5em;
	display: inline-block;
	vertical-align: middle;
	-webkit-user-select:none; 
	-moz-user-select:none; 
	-ms-user-select: none;
	margin-left: 10px;
}

.dark-slide-switch {
	display: inline-block; 
	overflow: hidden; 
	cursor: pointer;
	border: 1px solid #2f3233; 
	width: 5.5em;
	border-radius: 6px;
	
}

.light-slide-switch {
	display: inline-block; 
	overflow: hidden; 
	cursor: pointer;
	border-radius: 6px;
	border: 1px solid #a5a8a8; 
	width: 5.5em;

}
.on-off {
	width: 200%; 
	margin-left: -100%;
	-moz-transition: margin 0.2s ease-in 0s; 
	-webkit-transition: margin 0.2s ease-in 0s;
	-o-transition: margin 0.2s ease-in 0s; 
	transition: margin 0.2s ease-in 0s;
}

.on-off:before, .on-off:after {
	float: left; 
	width: 50%; 
	height: 3em; 
	padding: 0px; 
	border-radius: 4px;
	line-height: 3em;
	font-size: 16px; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	overflow: hidden;
}


.dark-slide-switch .on-off:before {
    content: "ON";
    padding-left: 1em;
    background-color: #404141; 
	box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06);
	color: #5dc1ff;
}
.dark-slide-switch .on-off:after {
    content: "OFF";
    padding-right: 1em;
    background-color: #404141; 
	box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06);
	color: #5dc1ff;
    text-align: right;
}

.light-slide-switch .on-off:before {
    content: "ON";
    padding-left: 1em;
    background-color: #e0f0fa; 
	box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06);
	color: #0083e8;
	text-shadow: 0 1px #fff;
}
.light-slide-switch .on-off:after {
    content: "OFF";
    padding-right: 1em;
    background-color: #D3D7D7; 
	box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06);
	color: #000;
    text-align: right;
	text-shadow: 0 1px #fff;
}


.dark-slide-switch .switch {
	width: 2em;
	margin: 0px;
    background: url("../img/dark-grips.png") center center no-repeat #595b5b;
    border: 1px solid #2f3233; 
	background-size: 7px;
	height: 3em;
  	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.12);
	border-radius: 6px;
    position: absolute; top: 0; bottom: 0; 
	right: 3.4em;
    -moz-transition: all 0.2s ease-in 0s; -webkit-transition: all 0.2s ease-in 0s;
    -o-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}

.light-slide-switch .switch {
	width: 2em;
	margin: 0px;
    background: url("../img/light-grips.png") center center no-repeat #e5e9e8;
    border: 1px solid #a5a8a8; 
	background-size: 7px;
	height: 3em;
  	box-shadow: inset 0 1px 0 white;
	border-radius: 6px;
    position: absolute; top: 0; bottom: 0; 
	right: 3.4em;
    -moz-transition: all 0.2s ease-in 0s; -webkit-transition: all 0.2s ease-in 0s;
    -o-transition: all 0.2s ease-in 0s; transition: all 0.2s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}
.slide-switch-container input[type="checkbox"]:checked + label .on-off {
    margin-left: 0;
}
.slide-switch-container input[type="checkbox"]:checked + label .switch {
    right: -2px; 
}




/*
 2.6 Inputs - Slider

 Apply to a range input to style a slider.

	<input type="range" class="dark-slider">
	<input type="range" class="light-slider">
*/
.dark-slider {
	height: 1em;
	border: 1px solid rgba(0, 0, 0, 0.36);
	border-radius: 12px;
	margin: 2em;
	background-color: #404141;
	-webkit-appearance: none !important;
}
	.dark-slider::-webkit-slider-thumb {
		height: 3em;
		width: 2em;
		border: 1px solid rgba(0, 0, 0, 0.36);
		border-radius: 4px;
		background: url("../img/dark-grips.png") center center no-repeat #595b5b;
		background-size: 7px 18px;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.12);
		cursor: pointer;
		-webkit-appearance: none !important;
	}

.light-slider {
	height: 1em;
	border: 1px solid #a5a8a8;
	border-radius: 12px;
	margin: 2em;
	background-color: #d3d7d7;
	-webkit-appearance: none !important;
}

	.light-slider::-webkit-slider-thumb {
		height: 3em;
		width: 2em;
		border: 1px solid #a5a8a8;
		border-radius: 4px;
		background: url("../img/light-grips.png") center center no-repeat #e5e9e8;
		background-size: 7px 18px;
		box-shadow: inset 0 1px 0 #ffffff;
		cursor: pointer;
		-webkit-appearance: none !important;
	}




/*
 3.1 Indicators - Progress Bar

 .complete - use this class when you want the progress bar filled

	<div class="dark-progress-bar">
  		<span class="progress {{modifier}}"></span>
	</div>
	<div class="light-progress-bar">
  		<span class="progress {{modifier}}"></span>
	</div>
*/
.dark-progress-bar {
	overflow: hidden;
	width: 250px;
	height: 1.25em;
	border-radius: 12px;
	margin: 20px;
	background-color: #404141;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
}
.dark-progress-bar > .progress {
	display: block;
	height: 100%;
	border-radius: 12px 0 0 12px;
	background-color: #61c0ff;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.18);
	width: 45%;
}

.light-progress-bar {
	overflow: hidden;
	width: 250px;
	height: 1.25em;
	border-radius: 12px;
	margin: 20px;
	background-color: #d3d7d7;
	box-shadow: 0 1px rgba(255, 255, 255, 0.25), inset 0 1px rgba(0, 0, 0, 0.12);
}
.light-progress-bar > .progress {
	display: block;
	height: 100%;
	border-radius: 12px 0 0 12px;
	background-color: #e0f0fa;
	width: 45%;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
}

.complete { width: 100% }	




/*
 3.2 Indicators - Spinner

	<div class="spinner"></div>
	<div class="large-spinner"></div>
	
*/
.spinner {
	width: 36px;
	height: 36px;
	background: url("../img/spinner.png") no-repeat;
	background-size: 36px;
	margin: 5px;
	display: inline-block;
	-webkit-animation: spinner 1s infinite linear;
}

.large-spinner {
	width: 72px;
	height: 72px;
	background: url("../img/spinner.png") no-repeat;
	margin: 5px;
	display: inline-block;
	-webkit-animation: spinner 1s infinite linear;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}




/*
 3.3 Indicators - Notification

	<strong>Inbox</strong> <span class="notification">1</span>
	
*/
.notification {
  display: inline-block;
  padding: 0.15em 0.5em 0.2em;
  border-radius: 2px;
  background: #ec514e;
  color: white;
  /*change font size and margin to customize the notification badge*/

  font-size: 0.875rem;
  margin-left: 6px;
}



	
/*
 4.1 Navigation - Header Bar

 Use this class as a header at the top of a mobile app. Use ".header-title"
 to display and style the title. Add custom styles for any other elements,
 such as back and settings buttons.

	<div class="dark-header-bar">
		<h1 class="header-title">Super Cool title</h1>
	</div>
	<div class="light-header-bar">
		<h1 class="header-title">Super Cool title</h1>
	</div>
*/
.dark-header-bar {
	height: 3.9000000000000004rem;
	width: 100%;
	background-color: #595b5b;
	box-shadow: 0 1px rgba(0,0,0,0.12);
	color: #fff;	
	font-size: 1.3rem;
	line-height: 3.9000000000000004rem;
	text-align: center;
}

.light-header-bar {
	height: 3.9000000000000004rem;
	width: 100%;
	background-color: #e5e9e8;
	box-shadow: 0 1px rgba(0,0,0,0.12);
	color: #000;
	font-size: 1.3rem;
	line-height: 3.9000000000000004rem;
	text-align: center;
}

	.dark-header-bar p,
	.light-header-bar p { margin: 0; }

	
	.header-bar-title{
		text-align: center;
	}



	
/*
 4.2 Navigation - Tab Bar

 Use this class as a tab bar of a mobile app. Set the width of each tab button by
 applying a width to the "a" rule.

	<ul class="dark-tab-bar">
		<a>#1</a>
		<a class="down">#2</a>
		<a>#3</a>
		<a>#4</a>
		<a>#5</a>
	</ul>
	<ul class="light-tab-bar">
		<a>#1</a>
		<a class="down">#2</a>
		<a>#3</a>
		<a>#4</a>
		<a>#5</a>
	</ul>
*/
.dark-tab-bar,
.light-tab-bar {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 56px;
	padding: 0;
	margin-bottom: 0;
	line-height: 56px;
	list-style: none;
	text-align: center;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	vertical-align: top;
}

.dark-tab-bar {
	border: 1px solid #2F3233;
	border-width: 1px 0;
}

.light-tab-bar {
	border: 1px solid #a5a8a8;
	border-width: 1px 0;
}

	.dark-tab-bar a {
		float: left;
		/* Set the width of each tab button here 100%/5 = 20% */
		width: 20%;
		border: 1px solid rgba(0, 0, 0, 0.36);
		border-width: 0 0 0 1px;
		background-color: #595b5b;
		box-shadow: inset 0 1px rgba(255, 255, 255, 0.12);
		color: #c6c8c8;
		text-decoration: none;
		text-shadow: 0 -1px rgba(0, 0, 0, 0.69);
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.light-tab-bar a {
		float: left;
		/* Set the width of each tab button here 100%/5 = 20% */
		width: 20%;
		border: 1px solid #a5a8a8;
		border-width: 0 0 0 1px;
		background-color: #e5e9e8;
		box-shadow: inset 0 1px #ffffff;
		color: #454545;
		text-decoration: none;
		text-shadow: 0 1px #ffffff;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}	
		.dark-tab-bar a:first-child,
		.light-tab-bar a:first-child { border: 0; }

	.dark-tab-bar a.down,
	.dark-tab-bar a:active {
	  	background-color: #404141;
	  	box-shadow: inset 0 1px rgba(0, 0, 0, 0.18);
	}
		
	.light-tab-bar a.down,
	.light-tab-bar a:active {
		background-color: #d3d7d7;
	  	box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
	}



		
/*
 5.1 Lists

	<ul class="dark-list">
		<li>Item #1</li>
		<li>Item #2</li>
		<li>Item #3</li>
	</ul>
	
	<ul class="light-list">
		<li>Item #1</li>
		<li>Item #2</li>
		<li>Item #3</li>
	</ul>
*/
.dark-list {
	display: block;
	padding: 0;
	line-height: 61.6px;
	list-style: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	border-top: 1px solid #2f3234;
	border-bottom: 1px solid #5e6061;
	color: #c6c8c8;
}	
	.dark-list > li {
		padding: 0 30px;
		border-top: 1px solid #5e6061;
		border-bottom: 1px solid #2f3234;
	}

.light-list {
	display: block;
	padding: 0;
	line-height: 61.6px;
	list-style: none;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	border-top: 1px solid #bcbfbf;
	border-bottom: 1px solid #eff1f1;
	color: #454545;
}
	.light-list > li {
		padding: 0 30px;
		border-top: 1px solid #eff1f1;
		border-bottom: 1px solid #bcbfbf;
	}		




/*
 6.1 Structural - Well

 Use this class to create a well that contains elements you want seperated from everything else.

 	<section class="dark-well">
		<h2>Alex Trebek</h2>
		<p>Watch "Jeopardy!", Alex Trebek's fun TV quiz game.</p>
		<a href="#" class="dark-cta dark-button" role="button">Daily Double!</a>
		<a href="#" class="dark-button" role="button">Unfriend</a>
	</section>
	
	<section class="light-well">
		<h2>Alex Trebek</h2>
		<p>Watch "Jeopardy!", Alex Trebek's fun TV quiz game.</p>
		<a href="#" class="light-cta light-button" role="button">Daily Double!</a>
		<a href="#" class="light-button" role="button">Unfriend</a>
	</section>
*/
.dark-well {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #404141;
}

.light-well {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #d3d7d7;
}




/*
 6.2 Structural - Dialog

 Use this class to create a dialog element. Make sure to apply ".dialog-overlay" an empty div on the page as well,
 so that the dialog is resting on a dark, transparent background

	<aside class="dark-dialog">
		<center>Are eagles nice?</center><br /><br />
		<a href="#" class="dark-cta dark-button" role="button">Yes!</a>
		<a href="#" class="dark-button" role="button">No</a>
	</aside>
	<aside class="light-dialog">
		<center>Are eagles nice?</center><br /><br />
		<a href="#" class="light-cta light-button" role="button">Yes!</a>
		<a href="#" class="light-button" role="button">No</a>
	</aside>
*/
.dark-dialog {
  width: 50%;
  height: auto;
  background-color: #595b5b;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.36);
}

.light-dialog {
  width: 50%;
  height: auto;
  background-color: #e5e9e8;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #a5a8a8;
}
.dialog-overlay {
  position: absolute;
  z-index: 5;
  background-color: rgba(88, 90, 92, 0.7);
  width: 350px;
  height: 350px;
  box-shadow: inset 0px 0px 115px 0px #000000;
}

.dark-dialog,
.light-dialog {
	margin:25% 20%;
}




/*
 6.2 Structural - Callout

 Use this class to create a callout element.

	<section class="dark-callout">
			Light Callout Dummy Text
	</section>
	<section class="light-callout">
			Light Callout Dummy Text
	</section>
*/
.light-callout {
  background: #595b5b;
  color: #c6c8c8;
  display: inline-block;
  padding: 1em;
  border-radius: 6px;
  margin: auto;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.light-callout:after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: -1em;
  width: 0;
  height: 0;
  border-top: 20px solid #595b5b;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  margin-left: -1.5em;
}

.dark-callout {
  background: #e5e9e8;
  color: #454545;
  display: inline-block;
  padding: 1em;
  border-radius: 6px;
  margin: auto;
  position: relative;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.dark-callout:after {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: -1em;
  width: 0;
  height: 0;
  border-top: 20px solid #e5e9e8;
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  margin-left: -1.5em;
}




/* Styles for Mobile Index Page */
#main td { font-weight: 200; }

.bg-slategray {
  background: #3a3f42 url("../img/bg_dark.png") repeat-x;
  color: #c7c7c7;
  font-size: 16px;
  padding: 20px;
}

.bg-light {
	background-color: #DFE2E2;
	font-size: 16px;
}

.mobile-tab-bar,
.header-bar {
	width: 80%;
}

.mobile-list {
	width: 40%;
}

.dialog-zone {
	position: relative;
	width: 350px;
	height: 350px;
	background: url("../img/dialog-zone-bg.png") center center #fff;
}

.light-callout,
.dark-callout {
	margin-bottom: 1em;
}



