html, body {
	height: 100%;
	width:100%;
	background:#eee;
	overflow-x:hidden;
}

.main-container {
	width:80%;
	height:300px;
	overflow:hidden;
	background:black;
	-webkit-transform:translateZ(0);
	margin:10px auto;
	border:1px solid #f8f8f8;
}


.slide-container {
	-webkit-transition-duration:.15s;
	-webkit-backface-visibility: hidden;
	-webkit-transform:translateZ(0);
	-webkit-animation-timing-function:linear; 
	height:100%;
}

.slide {
	width:100%;
	height:100%;
	-webkit-transform:translateZ(0);
	-webkit-backface-visibility: hidden;
	background:#ddd;
	float:left;
}

	.slide img {
		margin:0;
		width:100%;
		height:auto;
	}

.sidemenu {
	width:260px;
	top:0;
	left:0;
	position: absolute;
	background:#aaa;
	height: auto;
	z-index:-1;
}

	.ie .sidemenu {
		z-index:1; 
	}

	.csstransforms3d .sidemenu {
		position: fixed;
		height: 100%;
		overflow: scroll;
	}

	.sidemenu ul {
		height: auto;
		padding:0;
		margin:0;
	}

	.csstransforms3d .sidemenu ul {
		height:100%;
		overflow-x: hidden;
		overflow-y:scroll;
	}

	.sidemenu ul li {
		display:block;
	}

	.sidemenu li a {
		margin:2;
		display:inline-block;
		list-style:none;
		background:#888;
		border-top:1px solid #666;
		padding:.7em;
		color:#f8f8f8;
	}

		ul li a:focus {
			background:#f05;
		}

		li.heading {
			background:#666;
			border-bottom:1px solid #444;
            padding:.7em;
            text-shadow:0 -1px 0 #222;
            color:#fff;
			width: 100%;
		}

		.sidemenu ul li a {
			width:100%;
			min-width: 85%;
		}

		.sidemenu li img {
			width:16px;
			margin:0 5px -2px 0;
			opacity:.6;
		}

header {
	background: #f8f8f8;
	border-bottom:1px solid #ddd;
	padding: 10px 0;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:20;
	-webkit-transition-duration:.25s;
	height:30px;
}

ul.button-group {
	margin:0;
}

ul.button-group li {
	list-style:none;
	float:left;
}

article {
	width:95%;
	margin: 0 auto;
	padding-bottom:10px;
	border-bottom: 1px solid #ccc;
	padding:0 5%;
}
	article img {
		float:left;
	}

	article:after {
		content:"";
		display:block;
		clear:both;
	}

.container {
	background:#eee;
	-webkit-transition-duration:.25s;
}

	.content {
		margin-top:50px;
	}

	.no-csstransforms3d .container {
		-webkit-transition-property:-webkit-transform;
		-webkit-transition-duration:.25s;
		transition-duration:.25s;
		-webkit-transform:translateZ(0);
		-webkit-backface-visibility: hidden;
		position:absolute;
		z-index: 9;
	}

		.no-csstransforms3d .stayright {
			min-height:455px;
		}

	.csstransforms3d .container {
		position: relative;
		z-index: 2;
		height: 100%;
		overflow-y: scroll;
		overflow-x:hidden;
		-webkit-overflow-scrolling: touch;
	}

	.container.translateright {
		overflow: hidden;
		height:100%;
	}

	.csstransforms3d .translateright {
		-webkit-transform:translateX(260px);
	}

	.no-csstransforms3d header.translateright {
		left:260px;
	}

	.no-csstransforms3d .container.translateright {
		-webkit-transform:translateX(260px);
	}

.goright {
	left:260px;
	-webkit-animation-duration: .25s;
	-moz-animation-duration: .25s;
}

#footer {
	text-align:center;
}

	h2.loading {
		-webkit-transition-duration:.5s;
		-webkit-transform:rotate(360deg);
	}