html, body {
	background:#eee;
}

.main-container {
	width:300px;
	margin:10px auto;
	border:10px solid #fff;
	outline:1px solid #ddd;
	height:320px;
	overflow:hidden;
	background:#000;
	position:relative;
}

	button {
		background-image:-webkit-gradient(linear,left top,left bottom,from(#f5f8fa),to(#e3e5e5));
		padding:.2em 1em;
		border-radius:5px;
		width:100px;
		display:inline-block;
		margin:.5em;
	}

		button a {
			text-decoration: none;
			color:#333;
		}

	.slide-container:first-child .slide {
		background:#ddd;
	}

.slide-container {
	-webkit-transition-duration:.1s;
	-webkit-backface-visibility: hidden;
	-webkit-user-select:none;
	-webkit-transform:translateZ(0);
}

.slide {
	float:left;
	width:300px;
	height:320px;
	margin:0;
}

	.slide img {
		margin:0;
		width:300px;
		height:320px;
	}