html, body {
	height: 100%;
	width:100%;
	overflow-x: hidden;
	background:#999;
}

body {
	margin: 0;
}

h1 {
	margin-top:0;
	display:inline-block;
}

.menu {
	background:#379fdd;
	background:-webkit-linear-gradient(#379fdd,#1e7bb2);
	width:100%;
	padding:0;
	margin:0;
	position:fixed;
	top:0;
	z-index:101;
}

	.menu img {
		width:24px;
		opacity:.5;
	}

.menu li {
	list-style:none;
	display:inline-block;
}

.menu li a {
	color:#fff;
	display:inline-block;
	font-size:inherit;
	padding:.5em;
	text-decoration:none;
}

	.menu li:first-child a {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		background:none;
		padding:1em .5em;
		margin:0;
	}

.container {
	width:100%;
	background:#c8e5f6;
	margin-top: 60px;
}

	.no-csstransforms3d .container {
		position:absolute;
	}

	.csstransforms3d .container {
		height:100%;
		-webkit-transition-duration:.25s;
		transition-duration:.25s;
		overflow:scroll;
		-webkit-overflow-scrolling: touch;
	}

	.news {
		padding:0;
	}

	.news li {
		list-style:none;
		border:1px solid #ddd;
		margin:.7em;
		background:#fff;
		border-radius:5px;
		padding:.5em;
	}

	.news h2 {
		margin:0;
		padding:.5em;
		border-bottom:1px solid #aaa;
	}

		.container p:after {
			content:"";
			display:block;
			height:1px;
			clear:both;
		}

	.container img {
		width:50%;
		float:left;
		margin:.5em;
	}

.sidemenu {
	width:260px;
	position:absolute;
	top:60px;
}

	.container {
		position: relative;
		z-index:100;
	}

	.sidemenu h2 {
		font-size:1em;
		text-align:center;
		text-transform: uppercase;
		letter-spacing:1px;
	}

	.sidemenu ul {
		padding:0;
	}

	.sidemenu li {
		list-style:none;
		background:#999;
		padding:.5em;
		border-bottom:1px solid #666;
		border-top:1px solid #bbb;
		font-size:1em;
		text-shadow:0 2px 0 #555;
		color:#fff;
		font-weight: bold;
	}

		.sidemenu li img {
			width:20px;
			margin:0 5px -5px 0;
			opacity:.8;
		}

		.sidemenu li:hover {
			background: -webkit-linear-gradient(#ccc,#c0c0c0);
		}

.csstransforms3d .translateright {
	-webkit-transform:translateX(260px);
	transform:translateX(260px);
}

	.no-csstransforms3d .translateright {
		-webkit-animation:.25s translateright;
		-webkit-animation-fill-mode:forwards;
		-moz-animation:.25s translateright;
		-moz-animation-fill-mode:forwards;
		-ms-animation:.25s translateright;
		-ms-animation-fill-mode:forwards;
	}

	.stayright {
		left:260px;
	}

.goright {
	left:260px;
	-webkit-animation-duration: .25s;
	-moz-animation-duration: .25s;
}

.restore {
	-webkit-animation:.25s restore;
	-webkit-animation-fill-mode:forwards;
	-moz-animation:.25s restore;
	-moz-animation-fill-mode:forwards;
}

@-webkit-keyframes restore {
	from {
		-webkit-transform:translateX(260px);	
	}
	to {
		-webkit-transform:translateX(0);
	}
}

@-webkit-keyframes translateright {
	from {
		-webkit-transform:translateX(0);	
	}
	to {
		-webkit-transform:translateX(260px);
	}
}

@-ms-keyframes translateright {
	from {
		-ms-transform:translateX(0);	
	}
	to {
		-ms-transform:translateX(260px);
	}
}

@-ms-animation-fill-mode-keyframes restore {
	from {
		-ms-transform:translateX(260px);	
	}
	to {
		-ms-transform:translateX(0);
	}
}

@-moz-keyframes restore {
	from {
		-moz-transform:translateX(260px);	
	}
	to {
		-moz-transform:translateX(0);
	}
}

@-moz-keyframes translateright {
	from {
		-moz-transform:translateX(0);	
	}
	to {
		-moz-transform:translateX(260px);
	}
}