html, body {
	height: 100%;
	width:100%;
	overflow-x: hidden;
	background:#999;
}

body {
	margin: 0;
}

h1 {
	margin-top:0;
	display:inline-block;
}

.menu {
	background:#379fdd;
	background:-webkit-linear-gradient(#379fdd,#1e7bb2);
	width:100%;
	padding:.5em 0;
	margin:0;
}

	.menu img {
		opacity:.5;
	}

.menu li {
	list-style:none;
	display:inline-block;
}

.menu li a {
	color:#fff;
	display:inline-block;
	font-size:inherit;
	padding:1em;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	text-decoration:none;
	background:#2185c0;
}

.container {
	width:100%;
	background:#c8e5f6;
	-webkit-overflow-scrolling: touch;
	position:absolute;
	top:0;
	left:0;
}

	/*.nocsstransforms3d {
		-webkit-backface-visibility: hidden;
		position:absolute;
		top:0;
		left:0;
	}*/

	.container p {
		margin:.7em;
		background:#fff;
		border-radius:5px;
		border:1px solid #aaa;
		padding:.5em;
	}

		h2 {
			margin-left:1em;
		}

		.container p:after {
			content:"";
			display:block;
			height:1px;
			clear:both;
		}

	.container img {
		width:200px;
		float:left;
		margin:.5em;
	}

.sidemenu {
	float:left;
	width:80%;
	position: fixed;
	top:0;
}

	.sidemenu h2 {
		font-size:1em;
		text-align:center;
		text-transform: uppercase;
		letter-spacing:1px;
	}

	.sidemenu ul {
		padding:0;
	}

	.sidemenu li {
		list-style:none;
		background:#999;
		padding:.5em;
		border-bottom:1px solid #666;
		border-top:1px solid #bbb;
		font-size:1em;
		text-shadow:0 2px 0 #555;
		color:#fff;
		font-weight: bold;
	}

		.sidemenu li img {
			width:28px;
			margin:0 5px -5px 0;
		}

		.sidemenu li:hover {
			background: -webkit-linear-gradient(#ccc,#c0c0c0);
		}

.translateright {
	-webkit-animation:.25s translateright;
	-webkit-animation-fill-mode:forwards;
}

	.stayright {
		left:260px;
	}

.goright {
	left:260px;
	-webkit-animation-duration: .25s;
}

.restore {
	-webkit-animation:.25s restore;
	-webkit-animation-fill-mode:forwards;
}

.freeze {
	overflow: hidden;
	width:100%;
}

	.freeze .sidemenu {
		left:0;
	}

@-webkit-keyframes restore {
	from {
		-webkit-transform:translateX(80%);	
	}
	to {
		-webkit-transform:translateX(0);
	}
}

@-webkit-keyframes translateright {
	from {
		-webkit-transform:translateX(0);	
	}
	to {
		-webkit-transform:translateX(80%);
	}
}