@import '../commons/index.css';
@import '../commons/overlay.css';

:root {
  --spectrum-popover-target-offset: 13px;
  --spectrum-popover-padding: 30px;
  --spectrum-popover-min-width: 270px;
}

.spectrum-Popover {
  @inherit: %spectrum-overlay;

  /* Be a flexbox to allow a full sized content area that scrolls */
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;

  position: absolute;

  min-width: var(--spectrum-component-single-line-width);
  min-height: var(--spectrum-component-single-line-height);

  border-style: solid;
  border-width: var(--spectrum-popover-border-size-default);
  border-radius: var(--spectrum-popover-border-radius-default);

  outline: none; /* Hide focus outline */

  &.is-open {
    @inherit: %spectrum-overlay--open;
  }

  /* Don't let sharp corners be pokey */
  .spectrum-SelectList {
    border-radius: var(--spectrum-popover-border-radius-default);
  }
}

.spectrum-Popover-tip {
  position: absolute;
  /* This hides half of the tooltip, but it also crops the shadow slightly, which is undesireable */
  overflow: hidden;
  width: var(--spectrum-popover-tip-width-default);
  height: calc((var(--spectrum-popover-tip-width-default)/2)+(var(--spectrum-popover-border-size-default)));

  &::after {
    content: '';
    width: var(--spectrum-popover-tip-width-default);
    height: var(--spectrum-popover-tip-width-default);
    border-width: var(--spectrum-popover-border-size-default);
    border-style: solid;
    position: absolute;
    transform: rotate(45deg);
    top: -18px;
    left: -1px;
  }
}

.spectrum-Popover--dialog {
  min-width: var(--spectrum-popover-min-width);
  padding: var(--spectrum-popover-padding);
}

/* topdoc
{{ popover/popover-dialog.yml }}
*/
.spectrum-Popover--left {
  &.spectrum-Popover--withTip {
    margin-right: var(--spectrum-popover-target-offset);
  }

  &.is-open {
    @inherit: %spectrum-overlay--left--open;
  }
  .spectrum-Popover-tip {
    right: -18px;
    transform: rotate(-90deg);
  }
}

.spectrum-Popover--right {
  &.spectrum-Popover--withTip {
    margin-left: var(--spectrum-popover-target-offset);
  }

  &.is-open {
    @inherit: %spectrum-overlay--right--open;
  }
  .spectrum-Popover-tip {
    left: -18px;
    transform: rotate(90deg);
  }
}

/* Center the tip by default */
.spectrum-Popover--left,
.spectrum-Popover--right {
  .spectrum-Popover-tip {
    top: 50%;
    margin-top: -6px;
  }
}

.spectrum-Popover--bottom {
  &.spectrum-Popover--withTip {
    margin-top: var(--spectrum-popover-target-offset);
  }

  &.is-open {
    @inherit: %spectrum-overlay--bottom--open;
  }
  .spectrum-Popover-tip {
    top: -13px;
    transform: rotate(180deg);
  }
}

.spectrum-Popover--top {
  &.spectrum-Popover--withTip {
    margin-bottom: var(--spectrum-popover-target-offset);
  }

  &.is-open {
    @inherit: %spectrum-overlay--top--open;
  }
  .spectrum-Popover-tip {
    bottom: -13px;
  }
}

/* Center the tip by default */
.spectrum-Popover--bottom,
.spectrum-Popover--top {
  .spectrum-Popover-tip {
    left: 50%;
    margin-left: -12px;
  }
}
