.button-bar__item__input {
  position: absolute;
  overflow: hidden;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
}

.button-bar__item--disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.button-bar {
  display: table;
  table-layout: fixed;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.button-bar__item {
  display: table-cell;
  width: auto;
  border-radius: 0;
}

.button-bar__button {
  border-radius: inherit;
}

.button-bar__button--focus {
  z-index: 1;
}
