@import 'abstract/components/tab/skin.styl'


.spectrum-Tab {
  .spectrum-Tab-label {
    spectrum-tab-label-default()
  }

  &:hover {
    .spectrum-Tab-label {
      spectrum-tab-label-hover()
    }
  }

  &:focus {
    .spectrum-Tab-label {
      spectrum-tab-label-focus()
    }
  }

  &.is-selected {
    .spectrum-Tab-label {
      spectrum-tab-label-active()
    }
  }

  &[disabled] {
    .spectrum-Tab-label {
      spectrum-tab-label-disabled()
    }
  }
}

