importComponent('alert')

.spectrum-Alert {
  @extends $spectrum-alert
}

.spectrum-Alert-typeIcon {
  @extends $spectrum-alert-typeIcon
}

.spectrum-Alert-header {
  @extends $spectrum-alert-header
}

.spectrum-Alert-content {
  @extends $spectrum-alert-content
}

.spectrum-Alert-footer {
  @extends $spectrum-alert-footer

  .spectrum-Button {
    @extends $spectrum-alert-footer-button
  }
}

@import 'light.styl'
@import 'dark.styl'
