@import 'abstract/alert/index.styl'

.spectrum-Alert {
  spectrum-alert()
}

.spectrum-Alert-typeIcon {
  spectrum-alert-typeIcon()
}

.spectrum-Alert-header {
  spectrum-alert-header()
}

.spectrum-Alert-content {
  spectrum-alert-content()
}

.spectrum-Alert-footer {
  spectrum-alert-footer()

  .spectrum-Button {
    spectrum-alert-footer-button()
  }
}

@import 'light.styl'
@import 'dark.styl'
