.spectrum-Alert--error {
  @extends $spectrum-alert--error

  .spectrum-Alert-typeIcon {
    @extends $spectrum-alert-typeIcon--error
  }
}

.spectrum-Alert--success {
  @extends $spectrum-alert--success

  .spectrum-Alert-typeIcon {
    @extends $spectrum-alert-typeIcon--success
  }
}

.spectrum-Alert--warning {
  @extends $spectrum-alert--warning

  .spectrum-Alert-typeIcon {
    @extends $spectrum-alert-typeIcon--warning
  }
}

.spectrum-Alert-header {
  @extends $spectrum-alert-header
}

.spectrum-Alert-content {
  @extends $spectrum-alert-content
}
