@import '@spectrum/spectrum-abstract-stylus/dist/components/tablist/index.styl'
@import '@spectrum/spectrum-abstract-stylus/dist/components/tab/index.styl'

.spectrum-TabList {
  spectrum-tablist()

  .spectrum-Tab {
    spectrum-tab()

    > .spectrum-Tab-icon {
      spectrum-tab-icon()
    }

    > .spectrum-Tab-label {
      spectrum-tab-label()
    }

    &[disabled] {
      spectrum-tab--disabled()
    }
  }
}

/*! topdoc
{{ tablist-horizontallabel-topdoc }}
*/
/*! topdoc
{{ tablist-horizontalicon-topdoc }}
*/
.spectrum-TabList--horizontal {
  spectrum-tablist--horizontal()

  .spectrum-Tab {
    spectrum-tab--horizontal()

    > .spectrum-Tab-icon {
      spectrum-tab-icon--horizontal()
    }

    > .spectrum-Tab-label {
      spectrum-tab-label--horizontal()
    }

    &.is-selected {
      // Horizontal Active Tab Line
      > .spectrum-Tab-label:after {
        spectrum-tab--horizontal--selected()
      }
      > .spectrum-Tab-icon:after {
        spectrum-tab--horizontal--selected()
      }
    }
  }
}

/*! topdoc
{{ tablist-verticallabel-topdoc }}
*/
/*! topdoc
{{ tablist-verticalicon-topdoc }}
*/
.spectrum-TabList--vertical {
  spectrum-tablist--vertical()

  .spectrum-Tab {
    spectrum-tab--vertical()

    > .spectrum-Tab-icon {
      spectrum-tab-icon--vertical()
    }

    > .spectrum-Tab-label {
      spectrum-tab-label--vertical()
    }

    &.is-selected {
      // Vertical Active Tab Line
      > .spectrum-Tab-label:after {
        spectrum-tab--vertical--selected()
      }
      > .spectrum-Tab-icon:after {
        spectrum-tab--vertical--selected()
      }
    }
  }
}

// Large Tab (Bigger font and no uppercase)
.spectrum-TabList--large .spectrum-Tab {
  spectrum-tab--large()
}


@import 'skin.styl'
