@import '../commons/index.css';

:root {
  /* Icon Button */
  --spectrum-button-icon-width: 32px;
  --spectrum-button-icon-border-radius: 2px;
  --spectrum-button-icon-background-size: 16px;
  --spectrum-button-icon-icon-size: 8px;
  --spectrum-button-icon-border-radius: 4px;
}

.spectrum-Button {
  display: inline-block;
  box-sizing: border-box;

  border-width: var(--spectrum-button-border-size-default);
  border-style: solid;
  border-radius: var(--spectrum-button-border-corner-radius-default);

  height: var(--spectrum-button-height-default);
  padding: 0 calc(var(--spectrum-button-border-corner-radius-default) - var(--spectrum-button-border-size-default)) 1px; /* 1px to push up text, sits kind of low */

  font-family: inherit;
  font-size: var(--spectrum-button-label-font-size-default);
  line-height: calc(var(--spectrum-button-height-default) - calc(2 * var(--spectrum-button-border-size-default)));
  font-weight: var(--spectrum-button-label-font-weight-default);
  text-decoration: none;
  -webkit-font-smoothing: antialiased;

  /* Adjacent buttons should be aligned correctly */
  vertical-align: top;

  transition: background var(--spectrum-transition-time) ease-out,
              border-color var(--spectrum-transition-time) ease-out,
              color var(--spectrum-transition-time) ease-out,
              box-shadow var(--spectrum-transition-time) ease-out;

  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:disabled,
  &.is-disabled {
    cursor: default;
  }

  /* Fix Firefox */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin-top: -2PX;
    margin-bottom: -2PX;
  }

  &:hover,
  &:active {
    box-shadow: none;
  }

  .spectrum-Icon {
    vertical-align: top;
  }

  .spectrum-Icon + .spectrum-Button-label {
    margin-left: var(--spectrum-button-label-icon-gap-size-default);
  }

  /* Space out buttons when placed next to eachother */
  & + .spectrum-Button {
    margin-left: var(--spectrum-margin);
  }
}

.spectrum-Button--action {
  font-size: var(--spectrum-button-action-font-size-default);
  font-weight: var(--spectrum-button-action-font-weight-default);
  padding: 0 var(--spectrum-button-action-padding-x-default);
  border-width: var(--spectrum-button-action-border-size-default);
  border-radius: var(--spectrum-button-action-border-corner-radius-default);
}

.spectrum-Button--action--icon-only {
  padding: 0 var(--spectrum-button-action-icon-padding-x-default);
}

.spectrum-Button--quiet--action {
  font-size: var(--spectrum-button-quiet-action-font-size-default);
  font-weight: var(--spectrum-button-quiet-action-font-weight-default);
  border-width: var(--spectrum-button-quiet-action-border-size-default);
  border-radius: var(--spectrum-button-quiet-action-border-corner-radius-default);
}

.spectrum-Button--quiet--action--icon-only {
  padding: 0 var(--spectrum-button-action-icon-padding-x-default);
}

.spectrum-Button--toggle {
  font-size: var(--spectrum-button-toggle-font-size-default);
  font-weight: var(--spectrum-button-toggle-font-weight-default);
}

.spectrum-Button--and,
.spectrum-Button--or {
  border-width: var(--spectrum-button-logic-border-size-default);
  border-radius: var(--spectrum-button-logic-border-corner-radius-default);
  font-size: var(--spectrum-button-logic-font-size-default);
  font-weight: var(--spectrum-button-logic-font-weight-default);
}

.spectrum-Button--block {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spectrum-Button--icon {
  position: relative;

  /* Contain child elements with z-index */
  z-index: 0;

  box-sizing: border-box;

  width: var(--spectrum-button-icon-width);
  height: var(--spectrum-button-icon-width);
  padding: 0;
  margin: 0;

  border: none;
  border-radius: var(--spectrum-button-icon-border-radius);

  /* There's never a background itself */
  background-color: transparent;

  line-height: var(--spectrum-button-icon-width);
  text-align: center;

  cursor: pointer;

  &:focus {
    outline: none;
  }

  /* The artificial background */
  &::before {
    display: block;

    /* Center ourselves */
    position: absolute;
    top: calc(var(--spectrum-button-icon-width) / 4);
    left: calc(var(--spectrum-button-icon-width) / 4);

    width: calc(var(--spectrum-button-icon-width) / 2);
    height: calc(var(--spectrum-button-icon-width) / 2);

    /* Be below content and icons */
    z-index: 0;

    content: '';

    border-radius: var(--spectrum-button-icon-border-radius);
  }

  /* The embedded SVG icon */
  &::after {
    position: relative;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: var(--spectrum-button-icon-icon-size) var(--spectrum-button-icon-icon-size);
  }

  &:disabled {
    cursor: default;
  }

  &::after,
  > * {
    /* Float above the artificial background */
    position: relative;
    z-index: 1;
  }
}

.spectrum-Button--dropdown,
.spectrum-Button--quiet--dropdown {
  height: var(--spectrum-dropdown-height-default);

  font-family: inherit;
  font-weight: normal;
  font-size: var(--spectrum-dropdown-font-size-default);
  line-height: normal;
  -webkit-font-smoothing: initial;

  cursor: pointer;
  outline: none;
}

.spectrum-Button--dropdown {
  margin: 0;
  padding: 0 var(--spectrum-dropdown-padding-default);

  border: 1px solid;
  border-radius: var(--spectrum-border-radius);

  transition: background-color var(--spectrum-transition-time),
    box-shadow var(--spectrum-transition-time),
    border-color var(--spectrum-transition-time);

  &:disabled,
  &.is-disabled {
    border-width: 0;
    cursor: default;
  }

  &.is-open {
    border: 1px solid;
  }
}

.spectrum-Button--quiet--dropdown {
  margin: 0;
  padding: 0;

  border: none;
  border-radius: 0;
}
