.spectrum-Button {
  &:focus-ring {
    box-shadow: 0 0 0 var(--spectrum-button-border-focus-grow) var(--spectrum-button-primary-border-color-key-focus);
  }

  &:hover {
    box-shadow: none;
  }

  &:active {
    box-shadow: none;
  }

  &.is-selected .spectrum-Icon {
    color: var(--spectrum-button-icon-color-down);
  }
}

/* topdoc
{{ button/button-cta.yml }}
*/
.spectrum-Button--cta {
  background-color: var(--spectrum-button-cta-background-color-default);
  border-color: var(--spectrum-button-cta-border-color-default);
  color: var(--spectrum-button-cta-text-color-default);

  &:focus-ring {
    background-color: var(--spectrum-button-cta-background-color-key-focus);
    border-color: var(--spectrum-button-cta-border-color-key-focus);
    color: var(--spectrum-button-cta-text-color-key-focus);
  }

  &:hover {
    background-color: var(--spectrum-button-cta-background-color-hover);
    border-color: var(--spectrum-button-cta-border-color-hover);
    color: var(--spectrum-button-cta-text-color-hover);
  }

  &:active {
    background-color: var(--spectrum-button-cta-background-color-down);
    border-color: var(--spectrum-button-cta-border-color-down);
    color: var(--spectrum-button-cta-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-cta-background-color-disabled);
    border-color: var(--spectrum-button-cta-border-color-disabled);
    color: var(--spectrum-button-cta-text-color-disabled);
  }
}

/* topdoc
{{ button/button-primary.yml }}
*/
.spectrum-Button--primary {
  background-color: var(--spectrum-button-primary-background-color-default);
  border-color: var(--spectrum-button-primary-border-color-default);
  color: var(--spectrum-button-primary-text-color-default);

  &:focus-ring {
    background-color: var(--spectrum-button-primary-background-color-key-focus);
    border-color: var(--spectrum-button-primary-border-color-key-focus);
    color: var(--spectrum-button-primary-text-color-key-focus);
  }

  &:hover {
    background-color: var(--spectrum-button-primary-background-color-hover);
    border-color: var(--spectrum-button-primary-border-color-hover);
    color: var(--spectrum-button-primary-text-color-hover);
  }

  &:active {
    background-color: var(--spectrum-button-primary-background-color-down);
    border-color: var(--spectrum-button-primary-border-color-down);
    color: var(--spectrum-button-primary-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-primary-background-color-disabled);
    border-color: var(--spectrum-button-primary-border-color-disabled);
    color: var(--spectrum-button-primary-text-color-disabled);
  }
}

/* topdoc
{{ button/button-secondary.yml }}
*/
.spectrum-Button--secondary {
  background-color: var(--spectrum-button-secondary-background-color-default);
  border-color: var(--spectrum-button-secondary-border-color-default);
  color: var(--spectrum-button-secondary-text-color-default);

  &:focus-ring {
    background-color: var(--spectrum-button-secondary-background-color-key-focus);
    border-color: var(--spectrum-button-secondary-border-color-key-focus);
    color: var(--spectrum-button-secondary-text-color-key-focus);
  }

  &:hover {
    background-color: var(--spectrum-button-secondary-background-color-hover);
    border-color: var(--spectrum-button-secondary-border-color-hover);
    color: var(--spectrum-button-secondary-text-color-hover);
  }

  &:active {
    background-color: var(--spectrum-button-secondary-background-color-down);
    border-color: var(--spectrum-button-secondary-border-color-down);
    color: var(--spectrum-button-secondary-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-secondary-background-color-disabled);
    border-color: var(--spectrum-button-secondary-border-color-disabled);
    color: var(--spectrum-button-secondary-text-color-disabled);
  }
}

/* topdoc
{{ button/button-warning.yml }}
*/
.spectrum-Button--warning {
  background-color: var(--spectrum-button-warning-background-color-default);
  border-color: var(--spectrum-button-warning-border-color-default);
  color: var(--spectrum-button-warning-text-color-default);

  &:focus-ring {
    background-color: var(--spectrum-button-warning-background-color-key-focus);
    border-color: var(--spectrum-button-warning-border-color-key-focus);
    color: var(--spectrum-button-warning-text-color-key-focus);
  }

  &:hover {
    background-color: var(--spectrum-button-warning-background-color-hover);
    border-color: var(--spectrum-button-warning-border-color-hover);
    color: var(--spectrum-button-warning-text-color-hover);
  }

  &:active {
    background-color: var(--spectrum-button-warning-background-color-down);
    border-color: var(--spectrum-button-warning-border-color-down);
    color: var(--spectrum-button-warning-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-warning-background-color-disabled);
    border-color: var(--spectrum-button-warning-border-color-disabled);
    color: var(--spectrum-button-warning-text-color-disabled);
  }
}

/* topdoc
{{ button/button-quiet-primary.yml }}
*/
.spectrum-Button--quiet--primary {
  background-color: var(--spectrum-button-quiet-primary-background-color-default);
  border-color: var(--spectrum-button-quiet-primary-border-color-default);
  color: var(--spectrum-button-quiet-primary-text-color-default);

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-primary-background-color-key-focus);
    border-color: var(--spectrum-button-quiet-primary-border-color-key-focus);
    color: var(--spectrum-button-quiet-primary-text-color-key-focus);
  }

  &:hover {
    background-color: var(--spectrum-button-quiet-primary-background-color-hover);
    border-color: var(--spectrum-button-quiet-primary-border-color-hover);
    color: var(--spectrum-button-quiet-primary-text-color-hover);
  }

  &:active {
    background-color: var(--spectrum-button-quiet-primary-background-color-down);
    border-color: var(--spectrum-button-quiet-primary-border-color-down);
    color: var(--spectrum-button-quiet-primary-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-primary-background-color-disabled);
    border-color: var(--spectrum-button-quiet-primary-border-color-disabled);
    color: var(--spectrum-button-quiet-primary-text-color-disabled);
  }
}

/* topdoc
{{ button/button-quiet-secondary.yml }}
*/
.spectrum-Button--quiet--secondary {
  background-color: var(--spectrum-button-quiet-secondary-background-color-default);
  border-color: var(--spectrum-button-quiet-secondary-border-color-default);
  color: var(--spectrum-button-quiet-secondary-text-color-default);

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-secondary-background-color-key-focus);
    border-color: var(--spectrum-button-quiet-secondary-border-color-key-focus);
    color: var(--spectrum-button-quiet-secondary-text-color-key-focus);
  }

  &:hover {
    background-color: var(--spectrum-button-quiet-secondary-background-color-hover);
    border-color: var(--spectrum-button-quiet-secondary-border-color-hover);
    color: var(--spectrum-button-quiet-secondary-text-color-hover);
  }

  &:active {
    background-color: var(--spectrum-button-quiet-secondary-background-color-down);
    border-color: var(--spectrum-button-quiet-secondary-border-color-down);
    color: var(--spectrum-button-quiet-secondary-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-secondary-background-color-disabled);
    border-color: var(--spectrum-button-quiet-secondary-border-color-disabled);
    color: var(--spectrum-button-quiet-secondary-text-color-disabled);
  }
}

/* topdoc
{{ button/button-action.yml }}
*/
.spectrum-Button--action {
  background-color: var(--spectrum-actionbutton-background-color-default);
  border-color: var(--spectrum-actionbutton-border-color-default);
  color: var(--spectrum-actionbutton-text-color-default);

  &:focus-ring {
    background-color: var(--spectrum-actionbutton-background-color-key-focus);
    border-color: var(--spectrum-actionbutton-border-color-key-focus);
    box-shadow: 0 0 0 var(--spectrum-button-border-focus-grow) var(--spectrum-actionbutton-border-color-key-focus);
    color: var(--spectrum-actionbutton-text-color-key-focus);
  }

  &:hover {
    background-color: var(--spectrum-actionbutton-background-color-hover);
    border-color: var(--spectrum-actionbutton-border-color-hover);
    box-shadow: none;
    color: var(--spectrum-actionbutton-text-color-hover);
  }

  &:active,
  &.is-selected {
    background-color: var(--spectrum-actionbutton-background-color-down);
    border-color: var(--spectrum-actionbutton-border-color-down);
    box-shadow: none;
    color: var(--spectrum-actionbutton-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-actionbutton-background-color-disabled);
    border-color: var(--spectrum-actionbutton-border-color-disabled);
    color: var(--spectrum-actionbutton-text-color-disabled);
  }
}

/* topdoc
{{ button/button-quietaction.yml }}
*/
.spectrum-Button--quiet--action {
  background-color: var(--spectrum-button-quiet-action-background-color-default);
  color: var(--spectrum-button-quiet-action-text-color-default);

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-action-background-color-key-focus);
    box-shadow: 0 0 0 var(--spectrum-button-border-size-default) var(--spectrum-button-quiet-action-border-color-key-focus);
    color: var(--spectrum-button-quiet-action-text-color-key-focus);
  }

  &.is-selected {
    color: var(--spectrum-button-quiet-action-text-color-selected);
  }

  &:hover {
    background-color: var(--spectrum-button-quiet-action-background-color-hover);
    box-shadow: none;
    color: var(--spectrum-button-quiet-action-text-color-hover);
  }

  &:active {
    background-color: var(--spectrum-button-quiet-action-background-color-down);
    box-shadow: none;
    color: var(--spectrum-button-quiet-action-text-color-down);
  }

  /* Make sure background color overrides hover and active */
  &.is-selected {
    background-color: var(--spectrum-button-quiet-action-background-color-selected);
  }

  &:disabled,
  &[disabled] {
    background-color: var(--spectrum-button-quiet-warning-background-color-disabled);
    color: var(--spectrum-button-quiet-warning-text-color-disabled);
  }
}

/* topdoc
{{ button/button-toggle.yml }}
*/
.spectrum-Button--toggle {
  background-color: var(--spectrum-button-toggle-off-background-color-default);
  border-color: var(--spectrum-button-toggle-off-border-color-default);
  border-width: var(--spectrum-button-toggle-off-border-size-default);
  border-radius: var(--spectrum-button-toggle-off-border-radius-default);
  color: var(--spectrum-button-toggle-off-text-color-default);

  &:focus-ring {
    background-color: var(--spectrum-button-toggle-off-background-color-key-focus);
    border-color: var(--spectrum-button-toggle-off-border-color-key-focus);
    color: var(--spectrum-button-toggle-off-text-color-key-focus);
  }

  &:hover {
    background-color: var(--spectrum-button-toggle-off-background-color-hover);
    border-color: var(--spectrum-button-toggle-off-border-color-hover);
    color: var(--spectrum-button-toggle-off-text-color-hover);
  }

  &:active {
    background-color: var(--spectrum-button-toggle-off-background-color-down);
    border-color: var(--spectrum-button-toggle-off-border-color-down);
    color: var(--spectrum-button-toggle-off-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-toggle-off-background-color-disabled);
    border-color: var(--spectrum-button-toggle-off-border-color-disabled);
    color: var(--spectrum-button-toggle-off-text-color-disabled);
  }

  &.is-selected {
    background-color: var(--spectrum-button-toggle-on-background-color-default);
    border-color: var(--spectrum-button-toggle-on-border-color-default);
    color: var(--spectrum-button-toggle-on-text-color-default);
  }

  &.is-selected:focus-ring {
    background-color: var(--spectrum-button-toggle-on-background-color-key-focus);
    border-color: var(--spectrum-button-toggle-on-border-color-key-focus);
    color: var(--spectrum-button-toggle-on-text-color-key-focus);
  }

  &.is-selected:hover {
    background-color: var(--spectrum-button-toggle-on-background-color-hover);
    border-color: var(--spectrum-button-toggle-on-border-color-hover);
    color: var(--spectrum-button-toggle-on-text-color-hover);
  }

  &.is-selected:active {
    background-color: var(--spectrum-button-toggle-on-background-color-down);
    border-color: var(--spectrum-button-toggle-on-border-color-down);
    color: var(--spectrum-button-toggle-on-text-color-down);
  }

  &.is-selected:disabled,
  &.is-selected.is-disabled {
    background-color: var(--spectrum-button-toggle-on-background-color-disabled);
    border-color: var(--spectrum-button-toggle-on-border-color-disabled);
    color: var(--spectrum-button-toggle-on-text-color-disabled);
  }

}

/*! topdoc
{{ button/button-quiet-warning.yml }}
*/
.spectrum-Button--quiet--warning {
  background-color: var(--spectrum-button-quiet-warning-background-color-default);
  border-color: var(--spectrum-button-quiet-warning-border-color-default);
  color: var(--spectrum-button-quiet-warning-text-color-default);

  &:focus-ring {
    background-color: var(--spectrum-button-quiet-warning-background-color-key-focus);
    border-color: var(--spectrum-button-quiet-warning-border-color-key-focus);
    color: var(--spectrum-button-quiet-warning-text-color-key-focus);
  }

  &:hover {
    background-color: var(--spectrum-button-quiet-warning-background-color-hover);
    border-color: var(--spectrum-button-quiet-warning-border-color-hover);
    color: var(--spectrum-button-quiet-warning-text-color-hover);
  }

  &:active {
    background-color: var(--spectrum-button-quiet-warning-background-color-down);
    border-color: var(--spectrum-button-quiet-warning-border-color-down);
    color: var(--spectrum-button-quiet-warning-text-color-down);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-quiet-warning-background-color-disabled);
    border-color: var(--spectrum-button-quiet-warning-border-color-disabled);
    color: var(--spectrum-button-quiet-warning-text-color-disabled);
  }
}

/* topdoc
{{ button/logicbutton-and.yml }}
*/

.spectrum-Button--logic--and {
  background-color: var(--spectrum-logicbutton-and-background-color-default);
  border-color: var(--spectrum-logicbutton-and-border-color-default);
  color: var(--spectrum-logicbutton-text-color-default);

  &:focus-ring {
    background-color: var(--spectrum-logicbutton-and-background-color-key-focus);
    border-color: var(--spectrum-logicbutton-and-border-color-key-focus);
    color: var(--spectrum-logicbutton-text-color-default);
  }

  &:hover {
    background-color: var(--spectrum-logicbutton-and-background-color-hover);
    border-color: var(--spectrum-logicbutton-and-border-color-hover);
    color: var(--spectrum-logicbutton-text-color-default);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-logicbutton-and-background-color-disabled);
    border-color: var(--spectrum-logicbutton-and-border-color-disabled);
    color: var(--spectrum-logicbutton-text-color-disabled);
  }
}

/* topdoc
{{ button/logicbutton-or.yml }}
*/
.spectrum-Button--logic--or {
  background-color: var(--spectrum-logicbutton-or-background-color-default);
  border-color: var(--spectrum-logicbutton-or-border-color-default);
  color: var(--spectrum-logicbutton-text-color-default);

  &:focus-ring {
    background-color: var(--spectrum-logicbutton-or-background-color-key-focus);
    border-color: var(--spectrum-logicbutton-or-border-color-key-focus);
    color: var(--spectrum-logicbutton-text-color-default);
  }

  &:hover {
    background-color: var(--spectrum-logicbutton-or-background-color-hover);
    border-color: var(--spectrum-logicbutton-or-border-color-hover);
    color: var(--spectrum-logicbutton-text-color-default);
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-button-secondary-background-color-disabled);
    border-color: var(--spectrum-button-secondary-border-color-disabled);
    color: var(--spectrum-logicbutton-text-color-disabled);
  }
}

/* topdoc
{{ button/button-icon.yml }}
*/
.spectrum-Button--icon {
  color: var(--spectrum-button-icon-icon-color-default);

  &:focus-ring {
    color: var(--spectrum-button-icon-icon-color-key-focus);
  }

  &:hover {
    color: var(--spectrum-button-icon-icon-color-hover);
  }

  &:active {
    color: var(--spectrum-button-icon-icon-color-down);

    &::before {
      background-color: var(--spectrum-button-icon-background-color-down);
    }
  }

  &:disabled {
    color: var(--spectrum-button-icon-icon-color-disabled);
  }
}

.spectrum-Button--dropdown {
  color: var(--spectrum-dropdown-text-color-default);
  background-color: var(--spectrum-dropdown-background-color-default);
  border-color: var(--spectrum-dropdown-border-color-default);

  &:hover {
    color: var(--spectrum-dropdown-text-color-hover);
    background-color: var(--spectrum-dropdown-background-color-hover);
    border-color: var(--spectrum-dropdown-border-color-hover);
  }

  &:focus-ring,
  &.is-focused {
    border-color: var(--spectrum-dropdown-border-color-key-focus);
    box-shadow: 0 0 0 var(--spectrum-button-border-focus-grow) var(--spectrum-dropdown-border-color-key-focus);
  }

  &:active,
  &.is-selected {
    background-color: var(--spectrum-dropdown-background-color-open);
    border-color: var(--spectrum-dropdown-border-color-open);

    &:focus-ring,
    &.is-focused {
      box-shadow: none;
    }
  }

  &.is-invalid {
    border-color: var(--spectrum-dropdown-border-color-invalid-default);

    &:focus-ring,
    &.is-focused {
      border-color: var(--spectrum-dropdown-border-color-invalid-default);
      box-shadow: 0 0 0 var(--spectrum-button-border-focus-grow) var(--spectrum-dropdown-border-color-invalid-default);
    }
  }

  &:disabled,
  &.is-disabled {
    background-color: var(--spectrum-dropdown-background-color-disabled);
    color: var(--spectrum-dropdown-text-color-disabled);

    &:focus-ring {
      box-shadow: none;
    }
  }
}

.spectrum-Button--quiet--dropdown {
  color: var(--spectrum-dropdown-text-color-default);
  border-color: var(--spectrum-dropdown-quiet-border-color-default);
  background-color: var(--spectrum-dropdown-quiet-background-color-default);

  &:hover {
    color: var(--spectrum-dropdown-text-color-hover);
  }

  &:focus-ring,
  &.is-focused {
    box-shadow: 0 2px 0 0 var(--spectrum-dropdown-border-color-key-focus);
  }

  &.is-invalid {
    &:focus-ring,
    &.is-focused {
      box-shadow: 0 2px 0 0 var(--spectrum-dropdown-border-color-invalid-default);
    }
  }

  &:disabled,
  &.is-disabled {
    color: var(--spectrum-dropdown-text-color-disabled);

    &:focus-ring {
      box-shadow: none;
    }
  }
}
