
.spectrum-Wait {
  background-image: url(var(--spectrum-wait-spinner-medium-sprite-url));
}

.spectrum-Wait--medium {
  background-image: url(var(--spectrum-wait-spinner-medium-sprite-url));
}


.spectrum-Wait--large {
  background-image: url(var(--spectrum-wait-spinner-large-sprite-url));
}

.spectrum-Wait--dots {
  background-image: url(var(--spectrum-wait-dots-sprite-url));
}
