.spectrum-Textfield {
  spectrum-textfield()

  &::placeholder {
    spectrum-textfield-placeholder()
  }

  &:hover {
    spectrum-textfield--hover()

    &::placeholder {
      spectrum-textfield-placeholder--hover()
    }
  }

  &:focus {
    spectrum-textfield--focus()
  }

  &[disabled] {
    spectrum-textfield--disabled()

    &::placeholder {
      spectrum-textfield-placeholder--disabled()
    }
  }

  &:invalid {
    spectrum-textfield--invalid()
  }
}

.spectrum-Textfield--quiet {
  spectrum-textfield--quiet()

  &:hover {
    spectrum-textfield--quiet--hover()
  }

  &:focus {
    spectrum-textfield--quiet--focus()
  }

  &:disabled {
    spectrum-textfield--quiet--disabled()
  }

  &:invalid {
    spectrum-textfield--quiet--invalid()
  }
}

