.list {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

.list__container {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.list {
  cursor: default;
  user-select: none;
}

.list {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.list__header {
  margin: 0;
}

.list__item {
  margin: 0;
  padding: 0;
}
