// these are global font styles

& {
  spectrum-font()
}

&:lang(zh-Hans) {
  spectrum-font--zh-Hans()
}

&:lang(zh) {
  spectrum-font--zh()
}

&:lang(ko) {
  spectrum-font--ko()
}

&:lang(ja) {
  spectrum-font--ja()
}
