@import 'abstract/spectrum-origins/spectrum-light.styl'
@import 'abstract/components/page/skin.styl'

// currently the 'global' styles live in a colorstop named css class, once we have a css for each colorstop, we can move that under a gobal '.spectrum' class
.spectrum--light {
  @import 'skin.styl'
  @import 'font.styl'
}
