.spectrum-Link {
  spectrum-link--default()

  &:hover {
    spectrum-link--hover()
  }

  &:active {
    spectrum-link--active()
  }

  &:focus {
    spectrum-link--focus()
  }
}

.spectrum-Link--subtle {
  spectrum-link--subtle()

  &:hover {
    spectrum-link--subtle--hover()
  }

  &:active {
    spectrum-link--subtle--active()
  }

  &:focus {
    spectrum-link--subtle--focus()
  }
}
