var-border-radius = 6px
var-padding = 0 20px
var-margin = 5px 10px 5px 0
var-font-size--large = 1.3rem
var-line-height = 3rem
var-line-height--large = 4rem
var-vertical-align = top
var-font-size = 16px
var-letter-spacing = 1px

