// bring in the color stop skin changes
// to the base button attributes
@import '@spectrum/spectrum-abstract-stylus/dist/components/button/skin.styl'

// selectors for actual implementation are defined here
// and call the related abstract function to
// generate the selector attributes and values

// these also include skin specific overrides or additions
// to the more general specificity selectors defined in
// the index style above this

.spectrum-Button {
  spectrum-button()
}

/*! topdoc
{{ button-cta-topdoc }}
*/
.spectrum-Button--cta {
  spectrum-button--cta()
}

/*! topdoc
{{ button-primary-topdoc }}
*/
.spectrum-Button--primary {
  spectrum-button--primary()
}

/*! topdoc
{{ button-secondary-topdoc }}
*/
.spectrum-Button--secondary {
  spectrum-button--secondary()
}

/*! topdoc
{{ button-warning-topdoc }}
*/
.spectrum-Button--warning {
  spectrum-button--warning()
}

.spectrum-Button--quiet--primary {
  spectrum-button--quiet--primary()
}

.spectrum-Button--quiet--secondary {
  spectrum-button--quiet--secondary()
}

/*! topdoc
{{ button-action-topdoc }}
*/
.spectrum-Button--action {
  spectrum-button--action()
}

/*! topdoc
{{ button-quietaction-topdoc }}
*/
.spectrum-Button--quiet--action {
  spectrum-button--quiet--action()
}
