@import 'abstract/components/dialog/index.styl'

// The full screen container in which the dialog resides
// Because of this contain, clicks will never fall though when a dialog is visible

/*! topdoc
{{ dialog-default-topdoc }}
*/
.spectrum-Dialog {
  spectrum-dialog()
}

.spectrum-Dialog.is-open {
  spectrum-dialog--open()
}

.spectrum-Dialog-header {
  spectrum-dialog-header()
}

.spectrum-Dialog-content {
  spectrum-dialog-content()
}

.spectrum-Dialog-footer {
  spectrum-dialog-footer()

  .spectrum-Button {
    spectrum-dialog-footer-button()
  }
}

.spectrum-Dialog-wrapper {
  spectrum-dialog-wrapper()
}

.spectrum-Dialog-title {
  spectrum-dialog-title()
}

.spectrum-Dialog-typeIcon {
  spectrum-dialog-typeIcon()
}

.spectrum-Dialog-closeButton {
  spectrum-dialog-closeButton()
}

.spectrum-Dialog--fullscreen {
  .spectrum-Dialog-wrapper {
    spectrum-dialog--fullscreen-wrapper()
  }

  .spectrum-Dialog-header {
    spectrum-dialog--fullscreen-header()
  }

  .spectrum-Dialog-typeIcon {
    spectrum-dialog--fullscreen-typeIcon()
  }

  .spectrum-Dialog-footer,
  .spectrum-Dialog-header {
    spectrum-dialog--fullscreen-footer()
  }

  .spectrum-Dialog-content {
    spectrum-dialog--fullscreen-content()
  }
}

@import 'skin.styl'
