@import '../commons/index.css';

:root {
  --spectrum-input-padding-top: 3px;
  --spectrum-input-padding-bottom: 5px;
}

.spectrum-Textfield {
  /* box */
  box-sizing: border-box;
  border: 1px solid;
  border-radius: var(--spectrum-border-radius);

  /* Apply padding by default to center text, giving consistency between input and textfield */
  padding: var(--spectrum-input-padding-top) var(--spectrum-padding) var(--spectrum-input-padding-bottom);
  /* Use padding instead of text-indent because text-indent does not left align the text in Edge browser  */
  text-indent: 0;

  min-width: 110px;
  height: var(--spectrum-input-height-default);
  width: var(--spectrum-component-single-line-width);

  vertical-align: top; /* used to align them correctly in forms. */

  font-family: inherit;
  font-size: var(--spectrum-font-size);
  line-height: var(--spectrum-text-body-line-height);
  text-overflow: ellipsis;

  transition: border-color var(--spectrum-transition-time) ease-in-out, box-shadow var(--spectrum-transition-time) ease-in-out;

  outline: none;

  /* removes the native spin buttons in firefox. -mox-appearance: none has no effect */
  /* http://stackoverflow.com/questions/23372903/hide-spinner-in-input-number-firefox-29 */
  -moz-appearance: textfield;

  /* Normalize is adding a specific selector that resets this, so be important */
  -webkit-appearance: none !important;

  &::placeholder {
    font-weight: var(--spectrum-input-placeholder-text-font-weight-default);
    font-style: var(--spectrum-input-placeholder-text-style-default);
    transition: color var(--spectrum-transition-time) ease-in-out;
  }

  &:hover {
    &::placeholder {
      font-weight: var(--spectrum-input-placeholder-text-font-weight-default);
    }
  }

  &:disabled {
    /* The opacity must be set to 1 */
    opacity: 1;
    &::placeholder {
      font-weight: var(--spectrum-input-placeholder-text-font-weight-default);
    }
  }

  /* Remove the native clear button in IE */
  /* http://stackoverflow.com/questions/14007655/remove-ie10s-clear-field-x-button-on-certain-inputs */
  &::-ms-clear {
    width: 0;
    height: 0;
  }

  /* removes the native spin buttons */
  /* http://stackoverflow.com/questions/23372903/hide-spinner-in-input-number-firefox-29 */
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* removes the red border that appears in Firefox */
  &:-moz-ui-invalid {
    box-shadow: none;
  }

  &.is-invalid,
  &:invalid {
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: calc(100% - 7px) 50%;
    padding-right: 30px;
  }
}

.spectrum-Textfield--quiet {
  border-radius: 0;
  text-indent: 0;

  border: none;
  border-bottom: 1px solid;

  /* removes the side padding to align the text properly */
  padding-left: 0;
  padding-right: 0;
}

.spectrum-Textfield--multiline {
  height: auto;
  padding: 4px 8px;
  text-indent: 0;

  &.is-invalid,
  &:invalid {
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: calc(100% - 7px) calc(100% - 7px);
    padding-right: 30px;
  }
}

/* Treat all quiet inputs and textareas the same */
.spectrum-Textfield--quiet {
  resize: none;
  overflow-y: hidden;
}
