@import '../commons/index.css';

/* topdoc
{{ toast/toast-default.yml }}
*/
.spectrum-Toast {
  position: relative;

  /* Ensure text vertical alignment matches the specs */
  padding: 13px 18px 15px 18px;

  border-radius: var(--spectrum-toast-border-radius-default);

  font-size: var(--spectrum-toast-font-size-default);
  font-weight: var(--spectrum-toast-font-weight-default);
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}

.spectrum-Toast-typeIcon {
  position: absolute;
  left: 16px;
  top: 15px;

  width: 18px;
  height: 18px;
  vertical-align: -4px;

  /* Support font icons */
  font-size: 18px;

  /* Support SVG icons */
  background-size: contain;
}

.spectrum-Toast-content {
  display: block;

  padding-right: 30px;
}

.spectrum-Toast--warning,
.spectrum-Toast--error,
.spectrum-Toast--info,
.spectrum-Toast--success {
  .spectrum-Toast-content {
    padding-left: 28px;
  }
}

.spectrum-Toast-closeButton {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 32px;
  height: 32px;

  border: none;
  border-radius: 18px;

  background-color: transparent;

  background-size: 8px;
  background-position: center center;
  background-repeat: no-repeat;

  transition: background-color var(--spectrum-transition-time) ease-in-out;

  cursor: pointer;

  &:focus {
    outline: none;
  }
}
