@import '../commons/index.css';

:root {
  --spectrum-toast-border-radius: 4px;
  --spectrum-toast-font-size: 14px;
}

/* topdoc
{{ toast/toast-default.yml }}
*/
.spectrum-Toast {
  position: relative;
  padding: 12px 18px;

  border-radius: var(--spectrum-toast-border-radius);
  font-size: var(--spectrum-toast-font-size);
}

.spectrum-Toast-typeIcon {
  position: absolute;
  left: 15px;
  top: 15px;

  width: 18px;
  height: 18px;
  vertical-align: -4px;
  margin-right: 4px;

  /* Support font icons */
  font-size: 18px;

  /* Support SVG icons */
  background-size: contain;
}

.spectrum-Toast-content {
  display: block;

  padding-right: 24px;
}

.spectrum-Toast--warning,
.spectrum-Toast--error,
.spectrum-Toast--info,
.spectrum-Toast--success {
  .spectrum-Toast-content {
    padding-left: 24px;
  }
}

.spectrum-Toast-closeButton {
  position: absolute;
  right: 8px;
  top: 8px;

  width: 32px;
  height: 32px;

  border: none;
  border-radius: 18px;

  background-color: transparent;

  background-image: url("embed/S_ToastClose_@1x.svg" param(--color white));

  background-size: 8px;
  background-position: center center;
  background-repeat: no-repeat;

  transition: background-color var(--spectrum-transition-time) ease-in-out;

  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.15);
  }

  &:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 1);
    background-image: url("embed/S_ToastClose_@1x.svg" param(--color black));
  }
}
