@import '../commons/index.css';

/* topdoc
{{ toast/toast-default.yml }}
*/
.spectrum-Toast {
  position: relative;

  /* Ensure text vertical alignment matches the specs */
  padding: 13px 18px 15px 18px;

  border-radius: var(--spectrum-toast-border-radius-default);

  font-size: var(--spectrum-toast-font-size-default);
  font-weight: var(--spectrum-toast-font-weight-default);
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}

.spectrum-Toast-typeIcon {
  position: absolute;
  left: 16px;
  top: 15px;

  width: 18px;
  height: 18px;
  vertical-align: -4px;
}

.spectrum-Toast-content {
  display: block;

  padding-right: 30px;
}

.spectrum-Toast--warning,
.spectrum-Toast--error,
.spectrum-Toast--info,
.spectrum-Toast--success {
  .spectrum-Toast-content {
    padding-left: 28px;
  }
}

.spectrum-Toast-closeButton {

  /* Change the font styles in all browsers */
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  
  /* Remove the button margin in Firefox and Safari. */
  margin: 0;
  
  /* Show button the overflow in Edge and IE. */
  overflow: visible;
  
  /* Remove the inheritance of text transform in Edge, Firefox, and IE. */
  text-transform: none;

  /* Correct the inability to style clickable types in iOS and Safari. */
  -webkit-appearance: button;


  position: absolute;
  right: 8px;
  top: 8px;

  padding: 0;

  width: 32px;
  height: 32px;

  border: none;
  border-radius: 18px;

  background-color: transparent;

  transition: background-color var(--spectrum-transition-time) ease-in-out;

  cursor: pointer;

  /* Remove the inner border and padding for button in Firefox. */
  &::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }

  /* Restore the focus styles unset by the previous rule. */
  &:-moz-focusring{
    outline: 1px dotted ButtonText;
  }

  .spectrum-Icon {
    position: absolute;
    left: 12px;
    top: 12px;
    width: 8px;
    height: 8px;
  }

  &:focus {
    outline: none;
  }
}
