@import '../commons/index.css';

/* topdoc
{{ radiogroup/radiogroup-default.yml }}
*/

.spectrum-RadioGroup {
  .spectrum-Radio {
    margin-right: 12px;
  }
}

/* topdoc
{{ radiogroup/radiogroup-vertical.yml }}
*/

.spectrum-RadioGroup--vertical {
  .spectrum-Radio {
    display: block;
    margin: 0;
  }
}

/* topdoc
{{ radiogroup/radiogroup-labelsbelow.yml }}
*/

.spectrum-RadioGroup--labelsBelow {
  .spectrum-Radio {
    height: 36px;
    margin: 0;
  }

  .spectrum-Radio-checkmark {
    margin-bottom: 18px;
  }

  .spectrum-Radio-label {
    position: relative;
    top: 12px;
    left: -17px;
  }
}
