@import '@spectrum/spectrum-abstract-stylus/dist/components/flyout/index.styl'

.spectrum-Flyout {
  spectrum-flyout()
}

.spectrum-Flyout-option {
  spectrum-flyout-option()

  &.is-selected {
    spectrum-flyout-option--selected()
  }
}

.spectrum-Flyout-divider {
  spectrum-flyout-divider()
}

@import 'skin.styl'
