@import '../../base/button/index.styl'

.coral-Button {
  @extends $spectrum-button

  .coral-Icon {
    @extends $spectrum-button-icon
  }
}

.coral-Button--square {
  @extends $spectrum-button--square

  .coral-Icon {
    @extends $spectrum-button--square-icon
  }
}

@import 'light.styl'
@import 'dark.styl'
