$spectrum-button-color-focus = $spectrum-color-245-focus

$spectrum-button-color-text = $spectrum-color-245-text

// CTA
$spectrum-button-color-cta = $spectrum-color-blue3
$spectrum-button-color-cta-hover = $spectrum-color-blue4
$spectrum-button-color-cta-active = $spectrum-color-blue5

// Primary
$spectrum-button-color-primary = $spectrum-color-245-grey9
$spectrum-button-color-primary-text = $spectrum-color-245-primary
$spectrum-button-color-primary-hover = $spectrum-color-245-grey9
$spectrum-button-color-primary-hover-text = $spectrum-color-245-background
$spectrum-button-color-primary-active = $spectrum-color-245-grey10
$spectrum-button-color-primary-active-text = $spectrum-color-245-background
$spectrum-button-color-primary-focus-text = white

// Primary - quiet
$spectrum-button-color-primaryquiet = $spectrum-color-245-grey9
$spectrum-button-color-primaryquiet-hover = $spectrum-color-245-grey10
$spectrum-button-color-primaryquiet-active = $spectrum-button-color-primaryquiet-hover
$spectrum-button-color-primaryquiet-disabled = $spectrum-color-245-grey6

// Secondary
$spectrum-button-color-secondary = $spectrum-color-245-grey8
$spectrum-button-color-secondary-text = $spectrum-color-245-secondary
$spectrum-button-color-secondary-hover = $spectrum-color-245-grey8
$spectrum-button-color-secondary-hover-text = $spectrum-color-245-background
$spectrum-button-color-secondary-active = $spectrum-color-245-grey9
$spectrum-button-color-secondary-active-text = $spectrum-color-245-background
$spectrum-button-color-secondary-focus-text = white

// Secondary - quiet
$spectrum-button-color-secondaryquiet = $spectrum-color-245-grey8
$spectrum-button-color-secondaryquiet-hover = $spectrum-color-245-grey9
$spectrum-button-color-secondaryquiet-active = $spectrum-button-color-secondaryquiet-hover
$spectrum-button-color-secondaryquiet-disabled = $spectrum-color-245-grey6

// Warning
$spectrum-button-color-warning = $spectrum-color-red2
$spectrum-button-color-warning-text = $spectrum-color-245-warning
$spectrum-button-color-warning-hover = $spectrum-color-red2
$spectrum-button-color-warning-hover-text = $spectrum-color-245-background
$spectrum-button-color-warning-active = $spectrum-color-red3
$spectrum-button-color-warning-active-text = $spectrum-color-245-background
$spectrum-button-color-warning-focus-text = white

// Disabled
$spectrum-button-color-disabled = $spectrum-color-245-disabled
$spectrum-button-color-disabled-text = $spectrum-color-245-disabled-text

@import '../../base/button/skin.styl'

.coral--light {
  @import 'skin.styl'
}
