.coral-Button--cta {
  @extends $spectrum-button--cta
}

.coral-Button--primary {
  @extends $spectrum-button--primary
}

.coral-Button--secondary {
  @extends $spectrum-button--secondary
}

.coral-Button--warning {
  @extends $spectrum-button--warning
}

// Quiet primary
.coral-Button--quiet {
  @extends $spectrum-button--quietPrimary
}

// Quiet secondary
.coral-Button--minimal {
  @extends $spectrum-button--quietSecondary
}
