.coral-Button {
  @extends $spectrum-button-skinned
}

.coral-Button--cta {
  @extends $spectrum-button-skinned--cta
}

.coral-Button--primary {
  @extends $spectrum-button-skinned--primary
}

.coral-Button--secondary {
  @extends $spectrum-button-skinned--secondary
}

.coral-Button--warning {
  @extends $spectrum-button-skinned--warning
}

// Quiet primary
.coral-Button--quiet {
  @extends $spectrum-button-skinned--quietPrimary
}

// Quiet secondary
.coral-Button--minimal {
  @extends $spectrum-button-skinned--quietSecondary
}
