@import 'button.styl'

.coral-Button {
  @extends $button

  .coral-Icon {
    @extends $button-icon
  }
}

.coral-Button--square {
  @extends $button--square

  .coral-Icon {
    @extends $button--square-icon
  }
}
