@import navigation-bar-mixin

/*
Navigation Bar
--------------

    <div class="topcoat-navigation-bar">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet">
              <span class="topcoat-icon topcoat-icon--menu-stack"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Header</h1>
        </div>
        <div class="topcoat-navigation-bar__item right quarter">
            <a class="topcoat-icon-button--quiet">
              <span class="topcoat-icon topcoat-icon--edit"></span>
            </a>
        </div>
    </div>
*/

.topcoat-navigation-bar
  navigation-bar()
  height: var-height--large
  padding-left var-padding--navigation-bar
  padding-right var-padding--navigation-bar
  background var-background-color
  color var-color--navigation-bar
  box-shadow var-box-shadow--navigation-bar

.topcoat-navigation-bar__item
  navigation-bar__item()
  margin var-margin
  line-height var-line-height--large
  vertical-align top

.topcoat-navigation-bar__title
  navigation-bar__title()
  font-size var-font-size--large
  font-weight var-font-weight--large
  color var-color--navigation-bar

