@import '../commons/index.css';

:root {
  --spectrum-alert-header-height: 38px;
  --spectrum-alert-corner-radius: 4px;
}

/* topdoc
{{ alert/alert-closeable.yml }}
*/
.spectrum-Alert {
  position: relative;

  display: inline-block;
  box-sizing: border-box;
  min-width: var(--spectrum-alert-min-width-default);
  min-height: var(--spectrum-alert-header-height);
  margin: 8px 0;
  padding: var(--spectrum-alert-padding-y-default) var(--spectrum-alert-padding-x-default);

  border-width: 2px;
  border-style: solid;
  border-radius: var(--spectrum-alert-corner-radius);
}

.spectrum-Alert-typeIcon {
  position: absolute;
  display: block;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 18px;
}

.spectrum-Alert-header {
  display: inline-block;
  height: auto;
  min-height: 0;
  margin: 0;
  padding: 0;

  /* Leave room for the icon */
  padding-right: 30px;

  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 14px;
  text-transform: none;
}

.spectrum-Alert-content {
  display: block;
  margin: var(--spectrum-alert-content-margin-top-default) 0 0 0;
  padding: 0;

  font-size: 14px;
  word-wrap: break-word;
}

.spectrum-Alert-footer {
  display: block;

  text-align: right;

  padding-top: 0.5rem;

  &:empty {
    display: none;
  }

  .spectrum-Button {
    margin-right: 0;

    /* Spacing between buttons */
    margin-left: 0.75rem;
  }
}
