@import 'abstract/progress/index.styl'

.spectrum-Progress {
  spectrum-progress()
}

.spectrum-Progress-bar {
  spectrum-progress-bar()
}

.spectrum-Progress-status {
  spectrum-progress-status()
}

.spectrum-Progress-label {
  spectrum-progress-label()
}

.spectrum-Progress--indeterminate {
  spectrum-progress--indeterminate()

  .spectrum-Progress-status {
    spectrum-progress--indeterminate-status()
  }

  .spectrum-Progress-bar {
    spectrum-progress--indeterminate-bar()
  }
}

.spectrum-Progress--leftLabel {
  spectrum-progress--leftLabel()

  .spectrum-Progress-label {
    spectrum-progress--leftLabel-label()
  }
  .spectrum-Progress-bar {
    spectrum-progress--leftLabel-bar()
  }
}

.spectrum-Progress--bottomLabel {
  spectrum-progress--bottomLabel()

  .spectrum-Progress-label {
    spectrum-progress--bottomLabel-label()
  }

  .spectrum-Progress-bar {
    spectrum-progress--bottomLabel-bar()
  }
}

.spectrum-Progress--noLabel {
  spectrum-progress--noLabel()

  .spectrum-Progress-label {
    spectrum-progress--noLabel-label()
  }

  .spectrum-Progress-bar {
    spectrum-progress--noLabel-bar()
  }
}

.spectrum-Progress--small {
  spectrum-progress--small()

  .spectrum-Progress-label {
    spectrum-progress--small-label()
  }

  .spectrum-Progress-status {
    spectrum-progress--small-label()
  }

  .spectrum-Progress-bar {
    spectrum-progress--small-bar()
  }

  &.spectrum-Progress--bottomLabel {
    spectrum-progress--small--bottomLabel()

    .spectrum-Progress-label {
      spectrum-progress--small--bottomLabel-label()
    }
  }

  &.spectrum-Progress--leftLabel,
  &.spectrum-Progress--rightLabel {
    spectrum-progress--leftLabel()

    // Move the bar to the vertical center
    .spectrum-Progress-bar {
      spectrum-progress--leftLabel-bar()
    }

    .spectrum-Progress-label {
      spectrum-progress--leftLabel-label()
    }
  }
}

.spectrum-Progress--medium {
  spectrum-progress--medium()
  .spectrum-Progress-bar {
    spectrum-progress--medium-bar()
  }

  &.spectrum-Progress--leftLabel,
  &.spectrum-Progress--rightLabel {
    spectrum-progress--medium--leftLabel()

    // Move the bar to the vertical center
    .spectrum-Progress-bar {
      spectrum-progress--medium--leftLabel-bar()
    }

    .spectrum-Progress-label {
      spectrum-progress--medium--leftLabel-label()
    }
  }
}

.spectrum-Progress--large {
  spectrum-progress--large()

  .spectrum-Progress-label {
    spectrum-progress--large-label()
  }

  .spectrum-Progress-status {
    spectrum-progress--large-status()
  }

  .spectrum-Progress-bar {
    spectrum-progress--large-bar()
  }

  &.spectrum-Progress--bottomLabel {
    spectrum-progress--large--bottomLabel()

    .spectrum-Progress-label {
      spectrum-progress--large--bottomLabel-label()
    }
  }

  &.spectrum-Progress--leftLabel,
  &.spectrum-Progress--rightLabel {
    spectrum-progress--large--leftLabel()

    // Move the bar to the vertical center
    .spectrum-Progress-bar {
      spectrum-progress--large--leftLabel-bar()
    }

    .spectrum-Progress-label {
      spectrum-progress--large--leftLabel-label()
    }
  }
}

@require 'light.styl'
@require 'dark.styl'
