// the content to assemble

@require 'components/page'

@require 'components/icon'
@require 'components/alert'
@require 'components/button'
@require 'components/checkbox'
@require 'components/dialog'
@require 'components/label'
@require 'components/link'
@require 'components/progress'
@require 'components/radio'
@require 'components/textfield'
@require 'components/tooltip'
@require 'components/wait'
@require 'components/wizard'
