// the colorstop to use
@import 'abstract/spectrum-origins/spectrum-dark.styl'

@import 'abstract/components/wait/dark.styl'

// the content to assemble
.spectrum {
  @require 'components/index.styl'
}


