@import '@spectrum/spectrum-abstract-stylus/dist/components/wizard/skin.styl'

.spectrum-Wizard {

  // Default Label Style is 'incomplete'
  .spectrum-WizardStep-label {
    spectrum-wizard-label--incomplete()
  }

  // Default Marker Style is 'incomplete'
  .spectrum-WizardStep-marker {
    spectrum-wizard-marker--incomplete()
  }

  // Default Line Style is 'incomplete'
  .spectrum-WizardStep-segment {
    spectrum-wizard-segment--incomplete()
  }

  .spectrum-WizardStep {

    // Step Completed
    &.is-complete {
      .spectrum-WizardStep-label {
        spectrum-wizard-label--complete()
      }
      .spectrum-WizardStep-marker {
        spectrum-wizard-marker--complete()
      }
      .spectrum-WizardStep-segment {
        spectrum-wizard-segment--complete()
      }
    }

    // Step Selected aka Current
    &.is-selected {
      .spectrum-WizardStep-label {
        spectrum-wizard-label--current()
      }
      .spectrum-WizardStep-marker {
        spectrum-wizard-marker--current()
      }
      .spectrum-WizardStep-segment {
        spectrum-wizard-segment--complete()
      }
    }
  }

  // Interactivity Styles
  &.spectrum-Wizard--interactive {
    .spectrum-WizardStep {

      // Step Hovered
      &:hover {
        .spectrum-WizardStep-marker {
          spectrum-wizard-marker--hover()
        }
      }

      // Step Focused
      &:focus {
        .spectrum-WizardStep-marker {
          spectrum-wizard-marker--focus()
        }
      }
    }
  }
}
