@import 'abstract/radio/index.styl'

.spectrum-Radio {
  spectrum-radio()
}

.spectrum-Radio-input {
  spectrum-radio-input()

  &:checked + .spectrum-Radio-checkmark {
    spectrum-radio--checked-checkmark()
  }
}

.spectrum-Radio-description {
  spectrum-radio-description()
}

.spectrum-Radio-checkmark {
  spectrum-radio-checkmark()
}

@import 'light.styl'
@import 'dark.styl'
