.spectrum-Radio-input {
  @extends $spectrum-radio-input

  &:checked + .spectrum-Radio-checkmark {
    @extends $spectrum-radio--checked-checkmark
  }

  &:focus + .spectrum-Radio-checkmark {
    @extends $spectrum-radio--focus-checkmark
  }

  &:disabled {
    @extends $spectrum-radio--disabled-checkmark
  }

  &:disabled ~ .spectrum-Radio-description {
    @extends $spectrum-radio--disabled-description
  }
}

.spectrum-Radio {
  @extends $spectrum-radio

  .spectrum-Radio-description {
    @extends $spectrum-radio-description
  }

  .spectrum-Radio-checkmark {
    @extends $spectrum-radio-checkmark
  }

  &:hover {
    .spectrum-Radio-checkmark {
      @extends $spectrum-radio-checkmark--hover
    }

    .spectrum-Radio-description {
      @extends $spectrum-radio-description--hover
    }
  }

  &:active {
    .spectrum-Radio-checkmark {
      @extends $spectrum-radio-checkmark--active
    }

    .spectrum-Radio-description {
      @extends $spectrum-radio-description--active
    }
  }

  &[disabled] {
    .spectrum-Radio-checkmark {
      @extends $spectrum-radio-checkmark--disabled
    }

    .spectrum-Radio-description {
      @extends $spectrum-radio-description--disabled
    }
  }
}
