.spectrum-Radio-input {
  spectrum-radio-input()

  &:checked + .spectrum-Radio-checkmark {
    spectrum-radio--checked-checkmark()
  }

  &:focus + .spectrum-Radio-checkmark {
    spectrum-radio--focus-checkmark()
  }

  &:disabled {
    spectrum-radio--disabled-checkmark()
  }

  &:disabled ~ .spectrum-Radio-description {
    spectrum-radio--disabled-description()
  }
}

.spectrum-Radio {
  spectrum-radio()

  .spectrum-Radio-description {
    spectrum-radio-description()
  }

  .spectrum-Radio-checkmark {
    spectrum-radio-checkmark()
  }

  &:hover {
    .spectrum-Radio-checkmark {
      spectrum-radio-checkmark--hover()
    }

    .spectrum-Radio-description {
      spectrum-radio-description--hover()
    }
  }

  &:active {
    .spectrum-Radio-checkmark {
      spectrum-radio-checkmark--active()
    }

    .spectrum-Radio-description {
      spectrum-radio-description--active()
    }
  }

  &[disabled] {
    .spectrum-Radio-checkmark {
      spectrum-radio-checkmark--disabled()
    }

    .spectrum-Radio-description {
      spectrum-radio-description--disabled()
    }
  }
}
