// importComponent('icon')

// Direct require to access functions
@require('../node_modules/spectrum-icons/font/FontIcon.styl')

/* No path, since CSS will be in the same folder as the 18/ and 24/ folders */
spectrum-FontIcon-fontface('icons/')

/* Create CSS classes from placeholders */
.coral-Icon {
  @extends $spectrum-FontIcon
}

.coral-Icon--sizeXXS {
  @extends $spectrum-FontIcon--sizeXXS
}

.coral-Icon--sizeXS {
  @extends $spectrum-FontIcon--sizeXS
}

.coral-Icon--sizeS {
  @extends $spectrum-FontIcon--sizeS
}

.coral-Icon--sizeM {
  @extends $spectrum-FontIcon--sizeM
}

.coral-Icon--sizeL {
  @extends $spectrum-FontIcon--sizeL
}

.coral-Icon--sizeXL {
  @extends $spectrum-FontIcon--sizeXL
}

.coral-Icon--sizeXXL {
  @extends $spectrum-FontIcon--sizeXXL
}

spectrum-FontIcon-iconclasses('.coral-Icon--')

