/* topdoc
{{ cyclebutton/cyclebutton-default.yml }}
*/

.spectrum-CycleButton {
  background-color: var(--spectrum-cyclebutton-button-background-color-default);

  .spectrum-Icon {
    color: var(--spectrum-cyclebutton-icon-color-default);
  }

  &:hover {
    .spectrum-Icon {
      color: var(--spectrum-cyclebutton-icon-color-hover);
    }
  }

  &:active {
    background-color: var(--spectrum-cyclebutton-button-background-color-active);
  }

  &:focus {
    /* we cannot achieve rounded corners with outline so we use box-shadow instead */
    box-shadow: 0px 0px 0px var(--spectrum-cyclebutton-button-box-shadow-spread-radius-focus) var(--spectrum-cyclebutton-button-box-shadow-color-focus) inset;

    .spectrum-Icon {
      color: var(--spectrum-cyclebutton-icon-color-hover);
    }
  }
}
