@import '../commons/index.css';

:root {
  --spectrum-splitbutton-icon-width-default: 10px;
  --spectrum-splitbutton-icon-height-default: 6px;
}

/* topdoc
{{ splitbutton/splitbutton-cta.yml }}
*/

/* topdoc
{{ splitbutton/splitbutton-primary.yml }}
*/

/* topdoc
{{ splitbutton/splitbutton-secondary.yml }}
*/

.spectrum-SplitButton {
  position: relative;
  display: inline-block;

  /* Spacing for buttons placed inline */
  & + .spectrum-SplitButton,
  & + .spectrum-Button {
    margin-left: var(--spectrum-margin);
  }
}

/* Spacing for buttons placed inline */
.spectrum-Button + .spectrum-SplitButton {
  margin-left: var(--spectrum-margin);
}

.spectrum-SplitButton-action {
  border-radius: var(--spectrum-button-border-radius-default) 0 0 var(--spectrum-button-border-radius-default);

  /* CTA is special and doesn't have a border between the buttons */
  &.spectrum-Button--cta {
    border-right: 0;
    margin-right: var(--spectrum-button-border-size-default);
  }
}

.spectrum-SplitButton-trigger {
  margin-left: 0 !important;

  border-radius: 0 var(--spectrum-button-border-radius-default) var(--spectrum-button-border-radius-default) 0;
  border-left-width: 0;
  padding-left: calc(var(--spectrum-padding) * calc(2 / 3));
  padding-right: calc(var(--spectrum-padding) - 2px);

  &:focus-ring {
    box-shadow: none;
  }
}

.spectrum-SplitButton-icon {
  display: block;
  width: var(--spectrum-splitbutton-icon-width-default);
  height: var(--spectrum-splitbutton-icon-height-default);
  margin-top: 1px;
}

.spectrum-SplitButton-action,
.spectrum-SplitButton-trigger {
  position: relative;

  display: block;
  float: left;

  &:focus {
    /* Be on top when focused or border leaks */
    z-index: 1;
  }
}
