@import '../commons/index.css';

.spectrum-SplitButton {
  position: relative;
  display: inline-block;
  margin-right: var(--spectrum-margin);
}

.spectrum-SplitButton-action {
  border-radius: var(--spectrum-button-border-corner-radius-default) 0 0 var(--spectrum-button-border-corner-radius-default);

  /* CTA is special and doesn't have a border between the buttons */
  &.spectrum-Button--cta {
    border-right: 0;
    margin-right: var(--spectrum-button-border-size-default);
  }
}

.spectrum-SplitButton-trigger {
  margin-left: 0 !important;

  border-radius: 0 var(--spectrum-button-border-corner-radius-default) var(--spectrum-button-border-corner-radius-default) 0;
  border-left-width: 0;
  padding-left: calc(var(--spectrum-padding) * calc(2 / 3));
  padding-right: var(--spectrum-padding);

  &::after {
    content: '';
    display: block;
    width: 10px;
    height: 6px;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.spectrum-SplitButton-action,
.spectrum-SplitButton-trigger {
  position: relative;

  display: block;
  float: left;

  &:focus {
    /* Be on top when focused or border leaks */
    z-index: 1;
  }
}
