// the colorstop to use
@import '@spectrum/spectrum-abstract-stylus/dist/spectrum-origins/spectrum-light.styl'

@import '@spectrum/spectrum-abstract-stylus/dist/components/wait/light.styl'

// the content to assemble
.spectrum {
  @require './elements-index.styl'
}

