// the colorstop to use
@import 'abstract/spectrum-origins/spectrum-light.styl'

@import 'abstract/components/wait/light.styl'

// the content to assemble
.spectrum {
  @require './elements-index.styl'
}

