// the colorstop to use
@import 'abstract/spectrum-origins/spectrum-darkest.styl'

@import 'abstract/components/wait/dark.styl'

// the content to assemble
.spectrum {
  @require './elements-index.styl'
}


