:root {
  --color            : hsla(180, 2%, 78%, 1);
  --background-color : hsla(180, 1%, 35%, 1);
  --background--body : hsla(200, 2%, 30%, 1);
  --highlight-color  : hsla(0, 100%, 100%, 1);
  --shadow-color     : hsla(0, 0%, 0%, 1);
  --color--cta       : hsla(0, 100%, 100%, 1);
  --notification-color: hsla(1, 81%, 62%, 1);
  --background-color--cta: hsla(207, 74%, 52%, 1);

  --border-thickness : 1px;

  --box-shadow--highlight : 0 -1px hsla(0, 0%, 0%, 0.69);
  --border-color : hsla(180, 1%, 20%, 1);
  --background-color--down : hsla(210, 2%, 25%, 1);
  --background-color--hover : hsla(200, 2%, 39%, 1);
  --border : var(--border-thickness) solid var(--border-color);
  --box-shadow : inset 0 var(--border-thickness) hsla(0, 0%, 45%, 1);
  --box-shadow--down : inset 0 var(--border-thickness) hsla(0, 0%, 0%, 0.05);
  --text-shadow : var(--box-shadow--highlight);
  --background-color--input : hsla(180, 1%, 27%, 1);
  --border--cta: 1px solid hsla(207, 74%, 29%, 1);
  --background-color--cta--down: hsla(206, 74%, 45%, 1);
  --background-color--cta--hover: hsla(206, 74%, 60%, 1);
  --box-shadow--cta: inset 0 1px hsla(0, 100%, 100%, 0.36);
  --box-shadow--cta--down: inset 0 1px hsla(0, 0%, 0%, 0.12);

  --text-shadow--cta: 0 -1px hsla(0, 0%, 0%, 0.36);

  --border--focus: 1px solid hsla(227, 100%, 50%, 1);
  --box-shadow--focus: 0 0 0 2px hsla(208, 82%, 69%, 1);
  --border--invalid: 1px solid var(--notification-color);

  --bg-color--notification: var(--notification-color);

  --color--placeholder: hsla(180, 2%, 78%, 1);
  --color--focus: hsla(0, 0%, 0%, 1);
  --menu-stack-icon : url("../img/hamburger_light.svg");

  --color--navigation-bar : var(--highlight-color);
  --box-shadow--navigation-bar : inset 0 -1px var(--border-color), 0 var(--border-thickness) hsla(180, 1%, 27%, 1);

  --color--focus : var(--highlight-color);
  --background-color--text-input : var(--background-color--input);
  --background-color--text-input--focus : var(--background-color);
  --box-shadow--text-input : inset 0 var(--border-thickness) 0 hsla(0, 0%, 0%, 0.23);

  --background-color--list : hsla(180, 1%, 27%, 1);
  --border-top--list-container : var(--border);
  --border-top--list : var(--border);
  --border-bottom--list : var(--border-thickness) solid hsla(180, 1%, 38%, 1);
  --border-top--list-item--first : var(--border-thickness) solid hsla(0, 0%, 0%, 0.05);
  --border-top--list-item : var(--border-bottom--list);
  --border-bottom--list-item : var(--border);
  --color--list-header : var(--color);
  --text-shadow--list-header : 0 var(--border-thickness) 0 hsla(0, 100%, 100%, 0.1);
  --border-top--list-header : var(--border-thickness) solid hsla(0, 100%, 100%, 0.1);
  --border-bottom--list-header : var(--border-thickness) solid hsla(0, 100%, 100%, 0.05);
  --background-color--list-header : var(--background-color--down);

  --modal-bg-color : var(--background-color);
  --overlay__header-border : var(--border);

  --bar-bg-color : var(--background-color--down);
  --progress-bg-color : var(--background-color);

  --border--checkmark : 7px solid var(--color);

  --range-background : var(--background-color--down);
  --range__slider-border : var(--border);
  --range__slider-background : var(--background-color);
  --range__slider-bg-size : 7px 18px;
  --range__slider-box-shadow : inset 0 var(--border-thickness) 0 hsla(0, 0%, 0%, 0.05);

  --border--radio-button : var(--border-thickness) solid hsla(0, 0%, 0%, 0.05);
  --background--radio-button : var(--color);
  --box-shadow--radio-button : 0 var(--border-thickness) hsla(0, 100%, 100%, 0.1);

  --color--tab-bar--active : var(--background-color--cta);
  --background-color--tab-bar--active : var(--background-color--down);
  --box-shadow--tab-bar--active : inset 0 0 var(--border-thickness);

  --color--switch__label--left : var(--background-color--cta);
  --background-color--switch__label--left : var(--background-color--down);
  --background-color--switch__label--right : var(--background-color--down);
}
