@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Light.otf");
  font-weight: 200;
}
@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Semibold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "source";
  src: url("../font/SourceSansPro-Regular.otf");
}
@font-face {
  font-family: "source-l";
  src: url("../font/SourceSansPro-Light.otf");
  font-weight: 200;
}
@font-face {
  font-family: "source-sb";
  src: url("../font/SourceSansPro-Semibold.otf");
  font-weight: 600;
}
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
  font: 16px "Source Sans", helvetica, arial, sans-serif;
  font-weight: 200;
  text-rendering: optimizeLegibility;
}
/*
  Buttons
  =======
*/
/*
 TopCoat Button
 --------------

 :active - Active state

 .is-active - Simulates an active state on mobile devices

 :disabled - Disabled state

 .is-disabled - Simulates a disabled state on mobile devices

    <a class="topcoat-button">Button</a>
    <a class="topcoat-button is-active">Button</a>
    <a class="topcoat-button is-disabled">Button</a>
*/
.topcoat-button,
.topcoat-button--large,
.topcoat-button--large--quiet,
.topcoat-button--cta,
.topcoat-button--quiet--cta,
.topcoat-button--large--quiet--cta,
.topcoat-button--large--quiet--cta {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font: inherit;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  border: none;
  box-sizing: border-box;
  background-clip: padding-box;
  user-select: none;
  padding: var-padding;
  margin: var-margin;
  font-size: var-font-size;
  line-height: var-line-height;
  letter-spacing: var-letter-spacing;
  color: #454545;
  text-shadow: 0 1px #fff;
  vertical-align: var-vertical-align;
  background-color: #e5e9e8;
  box-shadow: inset 0 1px #fff;
  border: 1px solid #a5a8a8;
  border-radius: var-border-radius;
}
.topcoat-button:active,
.topcoat-button.is-active {
  background-color: #d3d7d7;
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}
.topcoat-button:disabled,
.topcoat-button.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
 TopCoat Quiet Button
 -------------------

 :active - Quiet button active state

 .is-active - Simulates active state for a quiet button on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state

    <a class="topcoat-button--quiet">Button</a>
    <a class="topcoat-button--quiet is-active">Button</a>
    <a class="topcoat-button--quiet is-disabled">Button</a>
*/
.topcoat-button--quiet,
.topcoat-button--large--quiet,
.topcoat-button--quiet--cta,
.topcoat-button--large--quiet--cta {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font: inherit;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  border: none;
  box-sizing: border-box;
  background-clip: padding-box;
  user-select: none;
/* Border is added so button doesn't shift when clicked */
  border: 1px solid transparent;
  box-shadow: none;
}
.topcoat-button--quiet:active,
.topcoat-button--quiet.is-active {
  color: #454545;
  text-shadow: 0 1px #fff;
  background-color: #d3d7d7;
  border: 1px solid #a5a8a8;
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}
.topcoat-button--quiet:disabled,
.topcoat-button--quiet.is-disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
/*
 TopCoat Large Button
 --------------------

 :active - Active state

 .is-active - Simulates active state touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state

    <a class="topcoat-button--large" >Button</a>
    <a class="topcoat-button--large is-active" >Button</a>
    <a class="topcoat-button--large is-disabled" >Button</a>
*/
.topcoat-button--large,
.topcoat-button--large--quiet,
.topcoat-button--large--quiet--cta {
  font-size: var-font-size--large;
  line-height: var-line-height--large;
}
/*
 TopCoat Large Quiet Button
 --------------------------

 :active - Active state

 .is-pressed - Simulates active state on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state


    <a class="topcoat-button--large--quiet" >Button</a>
    <a class="topcoat-button--large--quiet is-active" >Button</a>
    <a class="topcoat-button--large--quiet is-disabled" >Button</a>
*/
/*
 TopCoat Call To Action Button
 -----------------------------

 :active - Active state

 .is-pressed - Simulates active state on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state


    <a class="topcoat-button--cta" >Button</a>
    <a class="topcoat-button--cta is-active" >Button</a>
    <a class="topcoat-button--cta is-disabled" >Button</a>

*/
.topcoat-button--cta,
.topcoat-button--quiet--cta,
.topcoat-button--large--quiet--cta {
  border: var-border--cta;
  background-color: var-background-color--cta;
  box-shadow: var-box-shadow--cta;
  color: var-color--cta;
  font-weight: var-font-weight--cta;
  text-shadow: var-text-shadow--cta;
}
.topcoat-button--cta:active,
.topcoat-button--cta.is_active {
  background-color: #0380e8;
  box-shadow: inset 0 1px rgba(0,0,0,0.12);
}
/*
 TopCoat Quiet Call To Action Button
 -----------------------------------

 :active - Active state

 .is-pressed - Simulates active state on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state


    <a class="topcoat-button--quiet--cta" >Button</a>
    <a class="topcoat-button--quiet--cta is-active" >Button</a>
    <a class="topcoat-button--quiet--cta is-disabled" >Button</a>
*/
/*
 TopCoat Large Quiet Call To Action Button
 -----------------------------------------

 :active - Active state

 .is-pressed - Simulates active state on touch interfaces

 :disabled - Disabled state

 .is-disabled - Simulates disabled state


    <a class="topcoat-button--large--quiet--cta" >Button</a>
    <a class="topcoat-button--large--quiet--cta is-active" >Button</a>
    <a class="topcoat-button--large--quiet--cta is-disabled" >Button</a>
*/
