@import 'docs/components/link/docs.styl'

@import 'abstract/components/link/index.styl'

.spectrum-Link {
  spectrum-link()
}

.spectrum-Link--subtle {
  spectrum-link--subtle()
}

@import 'light.styl'
@import 'dark.styl'
