// Variables for variant `quiet-warning` of button
$spectrum-button-quiet-warning-background-color-active=rgb(62, 62, 62);
$spectrum-button-quiet-warning-background-color-default=transparent;
$spectrum-button-quiet-warning-background-color-disabled=transparent
$spectrum-button-quiet-warning-background-color-focus=rgb(75, 156, 245);
$spectrum-button-quiet-warning-background-color-hover=rgb(57, 57, 57);
$spectrum-button-quiet-warning-border-color-active=rgb(62, 62, 62);
$spectrum-button-quiet-warning-border-color-default=transparent;
$spectrum-button-quiet-warning-border-color-disabled=transparent;
$spectrum-button-quiet-warning-border-color-focus=rgb(75, 156, 245);
$spectrum-button-quiet-warning-border-color-hover=rgb(57, 57, 57);
$spectrum-button-quiet-warning-text-color-active=rgb(247, 109, 116);
$spectrum-button-quiet-warning-text-color-default=rgb(215, 55, 63);
$spectrum-button-quiet-warning-text-color-disabled=rgb(92, 92, 92);
$spectrum-button-quiet-warning-text-color-focus=rgb(255, 255, 255);
$spectrum-button-quiet-warning-text-color-hover=rgb(247, 109, 116);