$spectrum-button-quiet-warning-background-color-active=rgb(225, 225, 225);
$spectrum-button-quiet-warning-background-color-default=transparent;
$spectrum-button-quiet-warning-background-color-disabled=transparent
$spectrum-button-quiet-warning-background-color-focus=rgb(13, 102, 208);
$spectrum-button-quiet-warning-background-color-hover=rgb(234, 234, 234);
$spectrum-button-quiet-warning-border-color-active=rgb(225, 225, 225);
$spectrum-button-quiet-warning-border-color-default=transparent;
$spectrum-button-quiet-warning-border-color-disabled=transparent;
$spectrum-button-quiet-warning-border-color-focus=rgb(13, 102, 208);
$spectrum-button-quiet-warning-border-color-hover=rgb(234, 234, 234);
$spectrum-button-quiet-warning-text-color-active=rgb(186, 48, 60);
$spectrum-button-quiet-warning-text-color-default=rgb(201, 37, 45);
$spectrum-button-quiet-warning-text-color-disabled=rgb(197, 197, 197);
$spectrum-button-quiet-warning-text-color-focus=rgb(255, 255, 255);
$spectrum-button-quiet-warning-text-color-hover=rgb(186, 48, 60);
