@import 'abstract/tooltip/skin.styl'

.spectrum-Tooltip {
  .spectrum-Tooltip-content,
  .spectrum-Tooltip-tip:after {
    spectrum-tooltip--default()
  }
}

.spectrum-Tooltip--error {
  .spectrum-Tooltip-content,
  .spectrum-Tooltip-tip:after {
    spectrum-tooltip--error()
  }
}

.spectrum-Tooltip--info {
  .spectrum-Tooltip-content,
  .spectrum-Tooltip-tip:after {
    spectrum-tooltip--info()
  }
}

.spectrum-Tooltip--success {
  .spectrum-Tooltip-content,
  .spectrum-Tooltip-tip:after {
    spectrum-tooltip--success()
  }
}
