@import '@spectrum/spectrum-abstract-stylus/dist/components/dropdown/index.styl'

.spectrum-Dropdown {
  spectrum-dropdown()

  &.is-disabled {
    spectrum-dropdown--disabled()

    .spectrum-Dropdown-trigger {
      spectrum-dropdown-trigger--disabled()
    }
  }

  &.is-open {
    spectrum-dropdown--open()

    .spectrum-Dropdown-menu {
      spectrum-dropdown-menu--open()
    }
  }

  &.has-error {
    .spectrum-Dropdown-open-icon {
      spectrum-dropdown-icon--chevron--error()
    }
    .spectrum-Dropdown-error-icon {
      spectrum-dropdown-icon--alert--error()
    }
    .spectrum-Dropdown-trigger {
      spectrum-dropdown-trigger--error()
    }
    .spectrum-Dropdown-trigger-label {
      spectrum-dropdown-trigger-label--error()
    }
  }
}

.spectrum-Dropdown-trigger {
  spectrum-dropdown-trigger()
}

.spectrum-Dropdown-trigger--placeholder {
  spectrum-dropdown-trigger--placeholder()
}

.spectrum-Dropdown-menu {
  spectrum-dropdown-menu()
}

.spectrum-Dropdown-options {
  spectrum-dropdown-options()
}

.spectrum-Dropdown-option {
  spectrum-dropdown-option()

  &.is-selected {
    spectrum-dropdown-option--selected()
  }
}

.spectrum-Dropdown-divider {
  spectrum-dropdown-divider()
}

.spectrum-Dropdown-error-icon {
  spectrum-dropdown-icon--alert()
}

.spectrum-Dropdown-open-icon {
  spectrum-dropdown-icon--chevron()
}

.spectrum-Dropdown--quiet {
  spectrum-dropdown--quiet()

  .spectrum-Dropdown-trigger {
    spectrum-dropdown-trigger--quiet()

    &:focus {
      spectrum-dropdown-trigger--quiet--focus()
    }
  }

  .spectrum-Dropdown-option {
    spectrum-dropdown-option--quiet()
  }

  &.is-open {
    spectrum-dropdown--quiet--open()

    .spectrum-Dropdown-menu {
      spectrum-dropdown-menu--quiet()
    }

    .spectrum-Dropdown-divider {
      spectrum-dropdown-divider--quiet()
    }
  }

  &.has-error {
    .spectrum-Dropdown-trigger-label {
      spectrum-dropdown-trigger-label--quiet--error()
    }
  }
}

// For demo purposes only -----------------------------
.spectrum-Dropdown-trigger--focus {
  spectrum-dropdown-trigger--focus()
}

.spectrum-Dropdown-option--focus {
  spectrum-dropdown-option--focus()
}

.spectrum-Dropdown--quiet {
  .spectrum-Dropdown-trigger--focus {
    spectrum-dropdown-trigger--quiet--focus()
  }
}

@import 'skin.styl'

